Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,mjs,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

fix: avoid flaky builds, ensure output dir exists
  packages/build-utils-css/src/index.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: restore missing CSS for HTML components
  .changeset/missing-in-action.md
  packages/build-utils-css/src/index.mjs
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: provide vanilla HTML implementation for Body and Root component
  .changeset/fuzzy-cats-cough.md
  .changeset/tasty-bees-marry.md
  components/body/src/html/_mixin.scss
  components/body/src/html/index.scss
  components/root/src/html/_mixin.scss
  components/root/src/html/index.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

feat: add Vue.js `HtmlContent` component
  .changeset/lemon-kiwis-sneeze.md
  packages/component-library-vue/package.json
  packages/component-library-vue/src/HtmlContent.test.ts
  packages/component-library-vue/src/HtmlContent.vue
  packages/component-library-vue/src/index.ts
  packages/storybook-vue/package.json
  packages/storybook-vue/src/stories/HtmlContent.stories.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add Contributing a Vue.js component docs
  packages/component-library-vue/CONTRIBUTING.md
  packages/storybook-vue/src/stories/contributing.stories.mdx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: move CSS files to dependencies for automatic semver bumps
  packages/component-library-vue/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/lemon-kiwis-sneeze.md
  packages/component-library-vue/CHANGELOG.md
  packages/component-library-vue/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: classname on tester block
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: semantic versioning instructions for React components
  packages/component-library-react/SEMVER.md
Due: markdownlint, prettier --check

fix: dependencies
  .changeset/large-lobsters-refuse.md
  packages/component-library-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/large-lobsters-refuse.md
  packages/component-library-design-tokens/CHANGELOG.md
  packages/component-library-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add button-group-react package
  .changeset/copy-cat-code.md
  README.md
  packages/component-library-react/package.json
  packages/component-library-react/src/ButtonGroup.tsx
  packages/component-library-react/src/css-module/ButtonGroup.tsx
  packages/components-react/button-group-react/.eslintrc.json
  packages/components-react/button-group-react/babel.config.cjs
  packages/components-react/button-group-react/jest.config.mjs
  packages/components-react/button-group-react/package.json
  packages/components-react/button-group-react/rollup.config.mjs
  packages/components-react/button-group-react/src/css.tsx
  packages/components-react/button-group-react/src/index.test.tsx
  packages/components-react/button-group-react/src/index.tsx
  packages/components-react/button-group-react/src/insert-style.ts
  packages/components-react/button-group-react/tsconfig.build.json
  packages/components-react/button-group-react/tsconfig.json
  packages/components-react/button-group-react/tsconfig.test.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore: use correct start version for button-group-react
  packages/components-react/button-group-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add button-group-react package (#2743)
  .changeset/copy-cat-code.md
  README.md
  packages/component-library-react/package.json
  packages/component-library-react/src/ButtonGroup.tsx
  packages/component-library-react/src/css-module/ButtonGroup.tsx
  packages/components-react/button-group-react/.eslintrc.json
  packages/components-react/button-group-react/babel.config.cjs
  packages/components-react/button-group-react/jest.config.mjs
  packages/components-react/button-group-react/package.json
  packages/components-react/button-group-react/rollup.config.mjs
  packages/components-react/button-group-react/src/css.tsx
  packages/components-react/button-group-react/src/index.test.tsx
  packages/components-react/button-group-react/src/index.tsx
  packages/components-react/button-group-react/src/insert-style.ts
  packages/components-react/button-group-react/tsconfig.build.json
  packages/components-react/button-group-react/tsconfig.json
  packages/components-react/button-group-react/tsconfig.test.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/copy-cat-code.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  packages/components-react/button-group-react/CHANGELOG.md
  packages/components-react/button-group-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages (#2747)
  .changeset/copy-cat-code.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  packages/components-react/button-group-react/CHANGELOG.md
  packages/components-react/button-group-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: better content pages
  packages/storybook-react/src/stories/font-examples/formulier.stories.tsx
  packages/storybook-react/src/stories/font-examples/webpagina.stories.tsx
  packages/storybook-react/src/stories/prototype-src/ContentWebpageEvent1.tsx
  packages/storybook-react/src/stories/prototype-src/ContentWebpageEvent2.tsx
  packages/storybook-react/src/stories/prototype-src/ContentWebpageEvent3.tsx
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
  packages/storybook-react/src/stories/prototype-src/index.css
  packages/storybook-react/src/stories/prototype-src/variables.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: added ibm flex sans
  packages/storybook-react/src/stories/prototype-src/ContentWebpageEvent2.tsx
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: copy settings link
  packages/storybook-react/src/stories/prototype-src/ContentWebpage.tsx
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: bugs in code for review
  packages/storybook-react/src/stories/prototype-src/ContentWebpage.tsx
  packages/storybook-react/src/stories/prototype-src/ContentWebpageEvent1.tsx
  packages/storybook-react/src/stories/prototype-src/ContentWebpageEvent2.tsx
  packages/storybook-react/src/stories/prototype-src/ContentWebpageEvent3.tsx
  packages/storybook-react/src/stories/prototype-src/FooterKlachtenFormulier.tsx
  packages/storybook-react/src/stories/prototype-src/IntroductieKlachtenFormulier.tsx
  packages/storybook-react/src/stories/prototype-src/ScenarioKlachtenFormulier.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: title noto sans
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: better slider in rem style and extra content
  packages/storybook-react/src/stories/font-examples/webpagina.stories.tsx
  packages/storybook-react/src/stories/prototype-src/ContentWebpage.tsx
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: sliders no toggles
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: added fira sans never forget a wizards advice
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: prototype fontTester
  packages/storybook-react/src/stories/font-examples/formulier.stories.tsx
  packages/storybook-react/src/stories/font-examples/webpagina.stories.tsx
  packages/storybook-react/src/stories/prototype-src/ContentWebpage.tsx
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: evenementenpaginas toegevoegd
  packages/storybook-react/src/stories/font-examples/webpagina-event-1.stories.tsx
  packages/storybook-react/src/stories/font-examples/webpagina-event-2.stories.tsx
  packages/storybook-react/src/stories/font-examples/webpagina-event-3.stories.tsx
  packages/storybook-react/src/stories/prototype-src/ContentWebpageEvent1.tsx
  packages/storybook-react/src/stories/prototype-src/ContentWebpageEvent2.tsx
  packages/storybook-react/src/stories/prototype-src/ContentWebpageEvent3.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: make font heading strong lighter and darker
  packages/storybook-react/src/stories/prototype-src/ContentWebpage.tsx
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: noto sans typo
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: font radios no dropdown
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input
