Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

chore: ignore .angular from lint
  .eslintignore
  .markdownlintignore
  .prettierignore
  .stylelintignore
Due: none

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs: add code snippet to the button stories
  packages/storybook-vue/src/stories/Button/Button.stories.mdx
  packages/storybook-vue/src/stories/Button/ButtonApearance.stories.mdx
  packages/storybook-vue/src/stories/Button/ButtonStates.stories.mdx
Due: none

docs: reuse the docs css button stories into vue
  packages/storybook-vue/src/stories/Button/docs/accessibility.stories.mdx
  packages/storybook-vue/src/stories/Button/docs/onderzoek.stories.mdx
  packages/storybook-vue/src/stories/Button/docs/ux-guidelines.stories.mdx
Due: none

docs: add vue heading stories
  packages/storybook-vue/config/.babelrc.json
  packages/storybook-vue/src/index.ts
  packages/storybook-vue/src/stories/Heading/Heading.stories.mdx
  packages/storybook-vue/src/stories/Heading/tokens.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

ci: add push to chromatic to continuous integration step
  .github/workflows/continuous-delivery.yml
Due: none

test: chromatic 🔥 button
  proprietary/design-tokens/src/component/utrecht/button.tokens.json
Due: none

docs: add vue checkbox component stories
  packages/storybook-vue/src/stories/Checkbox/Checkbox.stories.mdx
  packages/storybook-vue/src/stories/Checkbox/CheckboxStates.stories.mdx
  packages/storybook-vue/src/stories/Checkbox/argTypes.ts
  packages/storybook-vue/src/stories/Checkbox/docs.stories.mdx
  packages/storybook-vue/src/stories/Checkbox/tokens.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add vue Button group stories
  packages/storybook-vue/config/preview.js
  packages/storybook-vue/src/stories/ButtonGroup/ButtonGroup.stories.mdx
  packages/storybook-vue/src/stories/ButtonGroup/argsTypes.ts
  packages/storybook-vue/src/stories/ButtonGroup/tokens.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: fix the badge status class name
  packages/component-library-vue/src/UtrechtBadgeStatus.vue
Due: none

docs: add vue article stories
  packages/storybook-vue/config/preview.js
  packages/storybook-vue/src/stories/Article/Article.stories.mdx
  packages/storybook-vue/src/stories/Article/argsTypes.ts
  packages/storybook-vue/src/stories/Article/tokens.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add vue badge status stories
  packages/storybook-vue/config/preview.js
  packages/storybook-vue/src/stories/BadgeStatus/BadgeStatus.stories.mdx
  packages/storybook-vue/src/stories/BadgeStatus/BadgeStatusDefault.stories.mdx
  packages/storybook-vue/src/stories/BadgeStatus/argTypes.ts
  packages/storybook-vue/src/stories/BadgeStatus/tokens.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add vue button stories
  packages/storybook-vue/src/stories/Button/tokens.stories.mdx
Due: none

docs: use hardcoded text for badge status stories
  packages/storybook-vue/src/stories/BadgeStatus/BadgeStatus.stories.mdx
Due: none

chore: fix typos
  packages/storybook-vue/src/stories/Article/tokens.stories.mdx
  packages/storybook-vue/src/stories/BadgeStatus/BadgeStatus.stories.mdx
  packages/storybook-vue/src/stories/BadgeStatus/tokens.stories.mdx
  packages/storybook-vue/src/stories/Button/tokens.stories.mdx
  packages/storybook-vue/src/stories/ButtonGroup/ButtonGroup.stories.mdx
  packages/storybook-vue/src/stories/ButtonGroup/tokens.stories.mdx
  packages/storybook-vue/src/stories/Checkbox/tokens.stories.mdx
Due: none

docs: add checkbox with form field and label story
  packages/storybook-vue/config/preview.js
  packages/storybook-vue/src/stories/Checkbox/CheckboxWithLabel.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add the vue document stories
  packages/storybook-vue/src/stories/Document/Document.stories.mdx
  packages/storybook-vue/src/stories/Document/argsTypes.ts
  packages/storybook-vue/src/stories/Document/docs.stories.mdx
  packages/storybook-vue/src/stories/Document/tokens.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: upgrade node to 16.16.0
  .github/workflows/continuous-delivery.yml
  .nvmrc
  package.json
Due: npmPkgJsonLint --allowEmptyTargets
