Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs(release): design system packages
  packages/component-library-css/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: form labels for radio button and checkbox
  components/form-field-checkbox/bem.stories.mdx
  components/form-field-radio/bem.stories.mdx
  components/form-label/bem.css
  components/form-label/bem.stories.mdx
  components/form-label/html.scss
  components/form-label/html.stories.mdx
  components/form-label/modifier.style-dictionary.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: fieldset component
  components/form-fieldset/README.md
  components/form-fieldset/bem.css
  components/form-fieldset/bem.stories.mdx
  components/form-fieldset/block.style-dictionary.json
  components/form-fieldset/element.style-dictionary.json
  components/form-fieldset/html.scss
  components/form-fieldset/html.stories.mdx
  components/html-content/html.scss
Due: markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: no bold text for checkbox and radio label
  proprietary/design-tokens/src/component/utrecht/form-label/modifier.style-dictionary.json
Due: none

feat: link has underline by default (#181)
  proprietary/design-tokens/src/component/utrecht/link/block.style-dictionary.json
Due: none

Update bem.scss
  components/navigatie sidenav/bem.scss
Due: none

update
  components/navigatie sidenav/bem.scss
  components/navigatie/README.md
  components/navigatie/bem.css
  components/navigatie/bem.stories.mdx
  components/navigatie/docs/accessibility-guidelines.md
  components/navigatie/docs/content-guidelines.md
Due: markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Update bem.stories.mdx
  components/navigatie sidenav/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

feat: page footer component
  components/page-footer/README.md
  components/page-footer/bem.css
  components/page-footer/bem.stories.mdx
  components/page-footer/block.style-dictionary.json
  components/page-footer/stencil.stories.mdx
  components/page-footer/stencil.tsx
  proprietary/design-tokens/src/component/utrecht/page-footer/_custom.scss
  proprietary/design-tokens/src/component/utrecht/page-footer/block.style-dictionary.json
  proprietary/design-tokens/src/custom.scss
Due: markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

build: switch from `dist/` to `src/` import for hot reloading
  packages/storybook/.storybook/preview.js
Due: eslint --no-error-on-unmatched-pattern

feat: article component
  components/article/README.md
  components/article/bem.css
  components/article/bem.stories.mdx
  components/article/block.style-dictionary.json
  components/article/html.scss
  components/article/stencil.stories.mdx
  components/article/stencil.tsx
  components/html-content/html.scss
  packages/component-library-css/src/html.scss
  proprietary/design-tokens/src/component/utrecht/article/block.style-dictionary.json
Due: markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

build: make `@utrecht/design-tokens` package public
  package-lock.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: use `rimraf` to clean up build artifacts
  package-lock.json
  packages/web-component-library-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: output design tokens theme `.utrecht-theme`
  proprietary/design-tokens/style-dictionary.config.json
Due: none

ci: allow publication of proprietary packages
  proprietary/.npmpackagejsonlintrc.json
Due: none

feat: theme switcher addon for Storybook
  package-lock.json
  package.json
  packages/storybook/.storybook/main.js
  packages/storybook/.storybook/preview.js
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

fix: correct `heading-1-font-size`
  proprietary/design-tokens/src/component/utrecht/heading/block.style-dictionary.json
Due: none

docs(release): design system packages
  packages/component-library-css/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: include NL Design System community themes for comparison
  package-lock.json
  package.json
  packages/storybook/.storybook/preview.js
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

feat: telephone link
  components/link/bem.scss
  components/link/bem.stories.mdx
  components/link/html.scss
  components/link/html.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

💄 balkjes wat minder breed gemaakt
  components/menulijst/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

Poging tot underline weghalen van links
  components/menulijst/bem.css
  components/menulijst/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
