Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: move docusaurus out of npm workspace
  .prettierignore
  copy-build.js
  copy-docs.js
  package-lock.json
  package.json
  packages/docusaurus/copy-dir.js
  packages/storybook/copy-dir.js
  packages/storybook/package.json
  standalone/README.md
  standalone/docusaurus/.gitignore
  standalone/docusaurus/.npmrc
  standalone/docusaurus/README.md
  standalone/docusaurus/babel.config.js
  standalone/docusaurus/docusaurus.config.js
  standalone/docusaurus/package.json
  standalone/docusaurus/sidebars.js
  standalone/docusaurus/src/components/HomepageFeatures.js
  standalone/docusaurus/src/components/HomepageFeatures.module.css
  standalone/docusaurus/src/pages/index.js
  standalone/docusaurus/src/pages/index.module.css
  standalone/docusaurus/src/styles/custom.scss
  standalone/docusaurus/src/theme/Root.js
  standalone/docusaurus/static/.nojekyll
  standalone/docusaurus/static/img/bicycles.png
  standalone/docusaurus/static/img/favicon.ico
  standalone/docusaurus/static/img/laptop.png
  standalone/docusaurus/static/img/logo.svg
  standalone/docusaurus/static/img/map.png
  standalone/docusaurus/static/img/utrecht.png
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

build: docusaurus baseurl
  standalone/docusaurus/docusaurus.config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: only use light theme
  standalone/docusaurus/docusaurus.config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: fix homepage images and prefer light theme
  standalone/docusaurus/docusaurus.config.js
  standalone/docusaurus/src/components/HomepageFeatures.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: fix sidebar titles
  standalone/docusaurus/package.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: fix linting
  .eslintignore
  .stylelintignore
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs: update storybook url
  standalone/docusaurus/docusaurus.config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: restore multiple artifacts into website directory
  .github/workflows/continuous-delivery.yml
  package-lock.json
  packages/storybook/package.json
  standalone/docusaurus/package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: patch update npm dependencies
  components/package.json
  package-lock.json
  package.json
  packages/component-library-css/package.json
  packages/storybook/package.json
  packages/web-component-library-react/package.json
  proprietary/design-tokens/package.json
  standalone/docusaurus/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: minor update npm dependencies
  package-lock.json
  package.json
  standalone/docusaurus/package.json
Due: npmPkgJsonLint --allowEmptyTargets

style: fix web component sidenav hover
  components/navigatie sidenav/bem.scss
Due: prettier --check, stylelint --allow-empty-input

build: add serve scripts for docs and storybook
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs: remove unused catergories from documentation directories
  documentation/website/basis/_category_.json
  documentation/website/gebruikersonderzoek/_category_.json
  documentation/website/huisstijl/_category_.json
  documentation/website/ontwikkelaars/_category_.json
  documentation/website/redactie/_category_.json
Due: none

docs: separate css heading stories
  components/heading-1/bem.stories.mdx
  components/heading-2/bem.stories.mdx
  components/heading-3/bem.stories.mdx
  components/heading-4/bem.stories.mdx
  components/heading-5/bem.stories.mdx
  components/heading-6/bem.stories.mdx
  components/heading/bem.stories.mdx
Due: none

docs: add heading component to docusaurus
  .eslintignore
  .prettierignore
  documentation/website/gebruikersonderzoek/_category_.json
  documentation/website/ontwikkelaars/_category_.json
  documentation/website/redactie/_category_.json
  packages/storybook/config/preview-head.html
  packages/storybook/package.json
  packages/storybook/src/script/iframeResizer.contentWindow.min.js
  standalone/docusaurus/docs/componenten/Heading.mdx
  standalone/docusaurus/docusaurus.config.js
  standalone/docusaurus/package.json
  standalone/docusaurus/sidebars.js
  standalone/docusaurus/src/components/HomepageFeatures.js
  standalone/docusaurus/src/components/Markdown.js
  standalone/docusaurus/src/components/StoryTabs.js
  standalone/docusaurus/src/components/StoryTabs.module.css
  standalone/docusaurus/src/pages/index.js
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: fieldset example with fieldset and div
  components/form-fieldset/bem.js
  components/form-fieldset/bem.scss
  components/form-fieldset/bem.stories.mdx
  components/form-fieldset/html.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: improve readme for documentation in docusaurus
  standalone/docusaurus/README.md
Due: markdownlint, prettier --check

docs: improve docusaurus sidebar and navigation config
  standalone/docusaurus/docusaurus.config.js
  standalone/docusaurus/navigationConfig.js
  standalone/docusaurus/package.json
  standalone/docusaurus/sidebarConfig.js
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: rename docs:build to build:docs
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: more accurate connection length in sidenav component
  components/navigatie sidenav/bem.js
  components/navigatie sidenav/bem.scss
  components/navigatie sidenav/bem.stories.mdx
  components/navigatie sidenav/stencil.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add local search
  .eslintignore
  .prettierignore
  package-lock.json
  standalone/docusaurus/docusaurus.config.js
  standalone/docusaurus/package.json
  standalone/docusaurus/src/theme/SearchBar/algolia.css
  standalone/docusaurus/src/theme/SearchBar/index.js
  standalone/docusaurus/src/theme/SearchBar/lib/DocSearch.js
  standalone/docusaurus/src/theme/SearchBar/lib/lunar-search.js
  standalone/docusaurus/src/theme/SearchBar/lib/templates.js
  standalone/docusaurus/src/theme/SearchBar/lib/utils.js
  standalone/docusaurus/src/theme/SearchBar/styles.css
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
