Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

feat: add Image component to React
  packages/component-library-react/src/Image.tsx
  packages/component-library-react/src/index.ts
  packages/storybook-react/src/stories/Image/Image.stories.tsx
  packages/storybook-react/src/stories/Image/docs.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: correct path to `start-storybook` CLI script
  packages/storybook-react/bin/start-storybook.js
  packages/storybook-vue/bin/start-storybook.js
  packages/storybook/bin/start-storybook.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add heading group component
  components/heading-group/css/_mixin.scss
  components/heading-group/css/index.scss
  packages/component-library-react/src/HeadingGroup.tsx
  packages/component-library-react/src/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: heading group improvements
  components/heading-group/README.md
  components/heading-group/css/_mixin.scss
  components/heading-group/css/stories/default.stories.mdx
  components/heading-group/css/stories/pre-heading.stories.mdx
  components/heading-group/css/story-template.js
  components/heading-group/css/template.js
  components/heading-group/html/index.scss
  components/html-content/css/index.scss
  packages/component-library-css/src/index.scss
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add heading group design tokens
  proprietary/design-tokens/src/component/utrecht/heading-group.tokens.json
Due: none

docs: add css heading group stories
  components/heading-group/css/stories/01-default.stories.mdx
  components/heading-group/css/stories/tokens.stories.mdx
  components/heading-group/css/template.js
  components/heading-group/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: show HeadingGroup with PreHeading in React
  packages/storybook-react/src/stories/HeadingGroup/HeadingGroup.stories.tsx
  packages/storybook-react/src/stories/HeadingGroup/docs.stories.mdx
  packages/storybook-react/src/stories/HeadingGroup/tokens.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add PreHeading component for React
  components/pre-heading/css/index.scss
  packages/component-library-react/src/PreHeading.tsx
  packages/component-library-react/src/index.ts
  packages/storybook-react/src/stories/PreHeading/PreHeading.stories.tsx
  packages/storybook-react/src/stories/PreHeading/docs.stories.mdx
  packages/storybook-react/src/stories/PreHeading/tokens.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: enable `--watch` build on react-lib
  packages/component-library-react/package.json
  packages/component-library-react/project.json
Due: npmPkgJsonLint --allowEmptyTargets

docs: add react heading group stories
  packages/storybook-react/src/stories/HeadingGroup/HeadingGroup.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: use `*` workspace dependencies instead of `file:`
  packages/component-library-formio/package.json
  packages/component-library-vue/package.json
  packages/design-system-website/package.json
  packages/docusaurus/package.json
  packages/storybook-angular/package.json
  packages/storybook-react/package.json
  packages/storybook-vue/package.json
  packages/storybook/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: improve nx `lint-fix` target
  project.json
Due: none

ci: use `nx run-many` instead of `lerna run`
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: use renamed nx npm scripts
  .github/workflows/continuous-delivery.yml
Due: none

refactor: bundle CSS components in `@utrecht/components`
  components/index.scss
  packages/component-library-angular/package.json
  packages/component-library-angular/src/html-content/index.scss
  packages/component-library-css/src/index.scss
  packages/storybook-angular/package.json
  packages/storybook-react/config/preview.js
  packages/storybook-react/package.json
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: add missing type exports
  packages/component-library-react/src/ButtonLink.tsx
  packages/component-library-react/src/HeadingGroup.tsx
  packages/component-library-react/src/PreHeading.tsx
  packages/component-library-react/src/SkipLink.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: heading-group SCSS syntax error
  components/heading-group/css/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

ci: use pnpm to check lockfile
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: configure pnpm workspace
  .prettierignore
  pnpm-workspace.yaml
Due: none

fix: import of Docusaurus SearchBar
  packages/docusaurus/src/theme/SearchBar/index.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern
