Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

update to 10.0.0 #1
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Uodate to 10.0.0 #1
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Update
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Update MARK bg and color
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Dataset red
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Added purple
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

update 10.0.1
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: update typography scale values to use rem units and reorder weight scale
  proprietary/design-tokens/src/brand/utrecht/typography.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: rename font-weight key from 'regular' to 'normal' in typography tokens
  proprietary/design-tokens/src/brand/utrecht/typography.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: update font-size values for heading levels in design tokens
  proprietary/design-tokens/src/component/nl/heading.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: add missing line-height value for xs size in typography tokens
  proprietary/design-tokens/src/brand/utrecht/typography.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: changeset
  .changeset/plenty-jokes-smile.md
Due: markdownlint, prettier --check

feat: prototype webteksten huwelijk
  packages/storybook-react/src/stories/prototype-src/webpaginablokken/HulpEnContact.tsx
  packages/storybook-react/src/stories/prototype-src/webpaginablokken/HulpEnContact2.tsx
  packages/storybook-react/src/stories/prototype-webopbouw-trouwen/introductie.stories.tsx
  packages/storybook-react/src/stories/prototype-webopbouw-trouwen/navigatie.stories.tsx
  packages/storybook-react/src/stories/prototype-webopbouw-trouwen/regelen.stories.tsx
  packages/storybook-react/src/stories/prototype-webopbouw-trouwen/scenario.stories.tsx
  packages/storybook-react/src/stories/prototype-webopbouw-trouwen/soortenhuwelijk.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: update font-size and line-height values for heading levels in design tokens
  proprietary/design-tokens/src/component/nl/heading.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: extra content toegevoegd
  packages/storybook-react/src/stories/prototype-webopbouw-trouwen/introductie.stories.tsx
  packages/storybook-react/src/stories/prototype-webopbouw-trouwen/regelen.stories.tsx
  packages/storybook-react/src/stories/prototype-webopbouw-trouwen/scenario.stories.tsx
  packages/storybook-react/src/stories/prototype-webopbouw-trouwen/soortenhuwelijk.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(astro): add the storybook link to the footer
  packages/astro/src/layouts/Layout.astro
Due: none

feat: extra pagina en content toegevoegd
  packages/storybook-react/src/stories/prototype-webopbouw-trouwen/navigatie.stories.tsx
  packages/storybook-react/src/stories/prototype-webopbouw-trouwen/regelen.stories.tsx
  packages/storybook-react/src/stories/prototype-webopbouw-trouwen/soortenhuwelijk.stories.tsx
  packages/storybook-react/src/stories/prototype-webopbouw-trouwen/veelgesteldevragen.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: links toegevoegd
  packages/storybook-react/src/stories/prototype-src/variables.tsx
  packages/storybook-react/src/stories/prototype-webopbouw-trouwen/navigatie.stories.tsx
  packages/storybook-react/src/stories/prototype-webopbouw-trouwen/regelen.stories.tsx
  packages/storybook-react/src/stories/prototype-webopbouw-trouwen/soortentrouwen.stories.tsx
  packages/storybook-react/src/stories/prototype-webopbouw-trouwen/veelgesteldevragen.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade lint-staged to 16.2.7
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: add command to setup husky
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: setup lint-staged config and convert to ESM
  .lintstagedrc.json
  lint-staged.config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add link styles, transition properties, design tokens
  components/card/package.json
  components/card/src/_mixin.scss
  components/card/src/index.scss
  packages/components-react/card-react/global.d.ts
  packages/components-react/card-react/src/index.tsx
  packages/components-react/card-react/tsconfig.json
  packages/storybook-css/src/Card.stories.tsx
  pnpm-lock.yaml
  proprietary/design-tokens/src/component/utrecht/card.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

tile nav tokens
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: stappen input Suzana toegevoegd
  packages/storybook-react/src/stories/prototype-webopbouw-trouwen/regelen.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Nav tile gap edit
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

nav tile tokens added
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

update
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

added btand default color
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

update nav-tile colors
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Update icon color tokens
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: update card mixin and design tokens for border properties and image handling
  components/card/src/_mixin.scss
  proprietary/design-tokens/src/component/utrecht/card.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: fixes na feedback redactie en webmaster
  packages/storybook-react/src/stories/prototype-webopbouw-trouwen/navigatie.stories.tsx
  packages/storybook-react/src/stories/prototype-webopbouw-trouwen/regelen.stories.tsx
  packages/storybook-react/src/stories/prototype-webopbouw-trouwen/soortentrouwen.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: links van stappen in lijst naar headings gemaakt
  packages/storybook-react/src/stories/prototype-webopbouw-trouwen/regelen.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: enhance card component focus-visible styles and update design tokens
  components/card/src/_mixin.scss
  proprietary/design-tokens/src/component/utrecht/card.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: update card component image margin properties in design tokens
  components/card/src/_mixin.scss
  proprietary/design-tokens/src/component/utrecht/card.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: enhance card component tokens for hover, focus, and link states
  components/card/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/fifty-carpets-shop.md
  .changeset/tall-queens-beg.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/flo-legal-decision-tree/CHANGELOG.md
  components/flo-legal-decision-tree/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/flolegal-decision-tree-client/CHANGELOG.md
  packages/flolegal-decision-tree-client/package.json
  packages/storybook-helpers/CHANGELOG.md
  packages/storybook-helpers/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(astro): add existing documentation
  documentation/website/designrichtlijnen/richtlijnen-interne-applicaties.md
  packages/astro/docs/pages/designers/interne-applicaties.mdx
  packages/astro/docs/pages/designers/kleuren.mdx
  packages/astro/docs/pages/designers/prototypen-met-figma.md
  packages/astro/docs/pages/designers/typografie.mdx
  packages/astro/docs/pages/developer/aria.mdx
  packages/astro/docs/pages/developer/css.mdx
  packages/astro/docs/pages/developer/html.mdx
  packages/astro/docs/pages/developer/release-strategy.mdx
  packages/astro/docs/pages/developer/svg.mdx
  packages/astro/docs/pages/developer/tokens.md
  packages/astro/docs/pages/richtlijnen/content-vertalingen.mdx
  packages/astro/docs/pages/richtlijnen/richtlijnen-voor-iconen.mdx
  packages/astro/docs/pages/richtlijnen/richtlijnen-voor-leesbaarheid.mdx
  packages/astro/public/img/richtlijnen/alles-button.png
  packages/astro/public/img/richtlijnen/button-als-link.png
  packages/astro/public/img/richtlijnen/cyclus.png
  packages/astro/public/img/richtlijnen/inline-validatie.png
  packages/astro/public/img/richtlijnen/input-maatvoering.png
  packages/astro/public/img/richtlijnen/input.png
  packages/astro/public/img/richtlijnen/nesting-kader.png
  packages/astro/public/img/richtlijnen/nesting-lijnen.png
  packages/astro/public/img/richtlijnen/overbodig-bewerkt.png
  packages/astro/public/img/richtlijnen/overbodig.png
  packages/astro/public/img/richtlijnen/primair-secundair.png
  packages/astro/public/img/richtlijnen/responsive.png
  packages/astro/public/img/richtlijnen/responsive.svg
  packages/astro/public/img/richtlijnen/rood.png
  packages/astro/public/img/richtlijnen/selectie-zichtbaar.png
  packages/astro/public/img/richtlijnen/selectie.png
  packages/astro/public/img/richtlijnen/zoek-algemeen.png
  packages/astro/public/img/richtlijnen/zoek-detail.png
  packages/astro/public/img/richtlijnen/zoek-nooit.png
  packages/astro/src/pages/index.astro
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore: update heading class names to use 'nl' prefix
  packages/astro/plugins/rehype-nlds-components/heading.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
