Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: added tests for customizable text input
  packages/components-react/customizable-text-input/package.json
  packages/components-react/customizable-text-input/src/index.test.tsx
  packages/components-react/customizable-text-input/src/index.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: react docs
  packages/storybook-react/package.json
  packages/storybook-react/src/stories/CustomizableTextInput.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: style combobox example a little better
  packages/storybook-css/src/CustomizableTextInput.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: bump version
  components/customizable-text-input/CHANGELOG.md
  components/customizable-text-input/package.json
  packages/components-react/customizable-text-input/CHANGELOG.md
  packages/components-react/customizable-text-input/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: textbox-icon-size token
  components/customizable-text-input/src/_mixin.scss
  components/customizable-text-input/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: review changes
  components/customizable-text-input/design.md
  components/customizable-text-input/src/_mixin.scss
  components/customizable-text-input/src/index.scss
  components/index.css
  packages/storybook-css/src/CustomizableTextInput.stories.tsx
  packages/storybook-react/src/stories/CustomizableTextInput.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

customizable-text-input component (#3111) (#3130)
  components/customizable-text-input/CHANGELOG.md
  components/customizable-text-input/README.md
  components/customizable-text-input/_clickable.md
  components/customizable-text-input/_described-by.md
  components/customizable-text-input/_label.md
  components/customizable-text-input/_sizing-classes.md
  components/customizable-text-input/docs/anatomy.nl.md
  components/customizable-text-input/package.json
  components/customizable-text-input/src/_forward.scss
  components/customizable-text-input/src/_mixin.scss
  components/customizable-text-input/src/index.scss
  components/customizable-text-input/src/tokens.json
  components/index.css
  components/textbox/src/_mixin.scss
  packages/component-library-css/package.json
  packages/component-library-css/src/index.scss
  packages/components-react/customizable-text-input/.eslintrc.json
  packages/components-react/customizable-text-input/CHANGELOG.md
  packages/components-react/customizable-text-input/babel.config.cjs
  packages/components-react/customizable-text-input/jest.config.mjs
  packages/components-react/customizable-text-input/package.json
  packages/components-react/customizable-text-input/rollup.config.mjs
  packages/components-react/customizable-text-input/src/css.tsx
  packages/components-react/customizable-text-input/src/index.test.tsx
  packages/components-react/customizable-text-input/src/index.tsx
  packages/components-react/customizable-text-input/src/insert-style.ts
  packages/components-react/customizable-text-input/tsconfig.build.json
  packages/components-react/customizable-text-input/tsconfig.json
  packages/components-react/customizable-text-input/tsconfig.test.json
  packages/storybook-css/package.json
  packages/storybook-css/src/CustomizableTextInput.stories.tsx
  packages/storybook-react/package.json
  packages/storybook-react/src/stories/CustomizableTextInput.stories.tsx
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: protect CODEOWNERS file itself
  .github/CODEOWNERS
Due: none

chore: remove unused entries (protection is done through pnpm-workspace)
  .github/CODEOWNERS
Due: none

feat: update total column count range to include 1-12 in grid documentation
  components/grid/README.md
Due: markdownlint, prettier --check

feat: add total column count feature to grid layout
  components/grid/README.md
  components/grid/src/_mixin.scss
  packages/components-react/grid-react/src/index.tsx
  packages/storybook-css/src/Grid.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: update grid column prop type and adjust storybook options
  packages/components-react/grid-react/src/index.tsx
  packages/storybook-css/src/Grid.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add `cols` prop to `Grid` component for equal-width column count (1–12)
  .changeset/green-dogs-swim.md
  .changeset/purple-pumas-chew.md
Due: markdownlint, prettier --check

feat: update grid column count range to include 1-12
  components/grid/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

fix: update changeset col value
  .changeset/purple-pumas-chew.md
Due: markdownlint, prettier --check

ci: configure dependabot cooldown
  .github/dependabot.yml
Due: none

ci: explicitly set persist-credentials to true
  .github/workflows/publish.yml
Due: none

basis.form-control.padding-block start & end to md
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

lineheight XL update
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Add max-inline-size token for Page Header and Page Footer
  components/page-header/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Page Footer
  components/page-footer/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Add max-inline-size token for Page Header and Page Footer (#3162)
  components/page-footer/src/tokens.json
  components/page-header/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Root fix utrecht.root.font-size-adjust = 0.534
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Update File
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade vitest (resolves GHSA-g8mr-85jm-7xhm)
  packages/component-library-css/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Accordion typo README.md
  components/accordion/README.md
Due: markdownlint, prettier --check

fix: apply nesting-level modifier classes to React UnorderedList
  .changeset/silly-otters-march.md
  packages/component-library-react/src/UnorderedList.test.tsx
  packages/component-library-react/src/UnorderedList.tsx
  packages/component-library-react/src/index.ts
  packages/storybook-react/src/stories/UnorderedList.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: generate unordered-list level selectors with a Sass loop
  components/unordered-list/src/_mixin.scss
  components/unordered-list/src/html/_mixin.scss
  components/unordered-list/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: forceer shell-quote >=1.8.4 via pnpm override (GHSA-w7jw-789q-3m8p)
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat(accordion): add accordion button typography tokens
  .changeset/accordion-button-typography-tokens.md
  components/accordion/src/_mixin.scss
  components/accordion/src/tokens.json
  proprietary/design-tokens/src/component/utrecht/accordion.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix(accordion): apply accordion button icon size token
  .changeset/accordion-button-icon-size.md
  components/accordion/src/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

ci: setup zizmor
  .github/workflows/zizmor.yml
Due: none

Fix: basis.color.default.bg-document to hsl(0, 0%, 95%)
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Update
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
