Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Update siblings -s
  components/navigatie sidenav/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

wip
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs(release): monorepository packages
  packages/component-library/package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: rename `@utrecht/component-libary` to `@utrecht/component-library-css`
  package-lock.json
  packages/component-library-css/package.json
  packages/component-library-css/src/bem.scss
  packages/component-library-css/src/html.scss
  packages/component-library-css/src/index.scss
  packages/component-library-css/src/root-theme.scss
Due: npmPkgJsonLint --allowEmptyTargets

fix: avoid `version` for the `lerna version` command to prevent recursion
  .github/workflows/continuous-delivery.yml
Due: none

chore: rename `component-library-stencil` to `web-component-library-stencil`
  .eslintignore
  .prettierignore
  components/tsconfig.json
  package-lock.json
  packages/storybook/.storybook/preview.js
  packages/web-component-library-react/.gitignore
  packages/web-component-library-react/package.json
  packages/web-component-library-react/src/index.ts
  packages/web-component-library-react/tsconfig.json
  packages/web-component-library-stencil/.gitignore
  packages/web-component-library-stencil/package.json
  packages/web-component-library-stencil/stencil.config.ts
  packages/web-component-library-stencil/tsconfig.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

chore: rename `component-library-react` to `web-component-library-react`
  .eslintignore
  .prettierignore
  package-lock.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/stencil.config.ts
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

ci: rename `GH_TOKEN` to `GITHUB_TOKEN`
  .github/workflows/continuous-delivery.yml
Due: none

update
  components/navigatie sidenav/bem.scss
  components/navigatie sidenav/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

Update bem.scss
  components/navigatie sidenav/bem.scss
Due: none

feat: link has underline by default
  proprietary/design-tokens/src/component/utrecht/link/block.style-dictionary.json
Due: none

nav focus update
  components/focus/_bem.scss
  components/focus/block.style-dictionary.json
  components/navigatie sidenav/bem.scss
  components/navigatie sidenav/bem.stories.mdx
  proprietary/design-tokens/src/common/utrecht/border.style-dictionary.json
  proprietary/design-tokens/src/common/utrecht/feedback-variant.style-dictionary.json
  proprietary/design-tokens/src/common/utrecht/feedback.style-dictionary.json
  proprietary/design-tokens/src/common/utrecht/focus.style-dictionary.json
Due: eslint --no-error-on-unmatched-pattern

chore: temp disable slow scripts
  .github/workflows/continuous-delivery.yml
Due: none

wip
  .github/workflows/continuous-delivery.yml
Due: none

docs(release): monorepository packages
  packages/component-library-css/package.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: versioning on GitHub and deploy to npm
  .github/workflows/continuous-delivery.yml
  .npmpackagejsonlintrc.json
  lerna.json
  package.json
  packages/component-library/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: publish component library packages
  package-lock.json
  packages/component-library-css/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs(release): design system packages
  packages/component-library-css/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
Due: npmPkgJsonLint --allowEmptyTargets

New example side nav
  components/navigatie sidenav/bem.scss
  components/navigatie sidenav/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

chore: remove unneeded HTML version of Map Control Button
  components/mapcontrolbutton/html.scss
  components/mapcontrolbutton/html.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

feat: HTML Content web component
  components/html-content/README.md
  components/html-content/html.scss
  components/html-content/stencil.stories.mdx
  components/html-content/stencil.tsx
Due: markdownlint, eslint --no-error-on-unmatched-pattern

build: reformat package-lock
  package-lock.json
Due: none

feat: emphasis component
  components/emphasis/README.md
  components/emphasis/bem.css
  components/emphasis/bem.stories.mdx
  components/emphasis/html.scss
  components/emphasis/html.stories.mdx
  components/emphasis/modifier.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/emphasis/modifier.style-dictionary.json
Due: markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
