Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

refactor: migrate link list component from mdx to tsx
  components/link-list/css/stories/default.stories.mdx
  components/link-list/css/stories/tokens.stories.mdx
  packages/storybook/stories/components/LinkList.stories.tsx
  packages/storybook/stories/components/LinkList.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: migrate code block component from mdx to tsx
  components/code-block/css/stories/default.stories.mdx
  components/code-block/css/stories/tokens.stories.mdx
  components/code-block/css/story-template.jsx
  packages/storybook/stories/components/CodeBlock.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: migrate page component from mdx to tsx
  components/page/css/stories/default.stories.mdx
  components/page/css/stories/readme.stories.mdx
  components/page/css/stories/tokens.stories.mdx
  components/page/css/story-template.jsx
  packages/storybook/stories/components/Page.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: migrate image component from mdx to tsx
  components/img/css/stories/default.stories.mdx
  components/img/css/stories/photo.stories.mdx
  components/img/css/stories/readme.stories.mdx
  components/img/css/stories/text.stories.mdx
  components/img/css/story-template.jsx
  packages/storybook/stories/components/Image.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: migrate document component from mdx to tsx
  components/document/_lang.md
  components/document/css/stories/default.stories.mdx
  components/document/css/stories/language.stories.mdx
  components/document/css/stories/readme.stories.mdx
  components/document/css/stories/tokens.stories.mdx
  components/document/css/story-template.jsx
  packages/storybook/stories/components/Document.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: migrate skip link from mdx to tsx
  components/skip-link/css/stories/default.stories.mdx
  components/skip-link/css/stories/readme.stories.mdx
  components/skip-link/css/stories/rtl.stories.mdx
  components/skip-link/css/stories/tokens.stories.mdx
  components/skip-link/css/stories/visible-on-focus.stories.mdx
  components/skip-link/css/story-template.jsx
  packages/storybook/stories/components/SkipLink.stories.tsx
  packages/storybook/stories/components/util/ExampleViewport.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: migrate code component from mdx to tsx
  components/code/_ligatures.md
  components/code/css/stories/default.stories.mdx
  components/code/css/stories/ligatures.stories.mdx
  components/code/css/stories/link.stories.mdx
  components/code/css/stories/paragraph.stories.mdx
  components/code/css/stories/tokens.stories.mdx
  components/code/css/story-template.jsx
  packages/storybook/stories/components/Code.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: migrate form component from mdx to tsx
  components/form/css/stories/default.stories.mdx
  components/form/css/stories/readme.stories.mdx
  components/form/css/stories/tokens.stories.mdx
  components/form/css/story-template.jsx
  packages/storybook/stories/components/Form.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs: tweaks to the textarea stories
  packages/storybook/stories/components/Textarea.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: use tsx syntax for textarea css storybook story
  components/textarea/css/stories/default.stories.mdx
  components/textarea/css/stories/readme.stories.mdx
  components/textarea/css/stories/states.stories.mdx
  components/textarea/css/stories/tokens.stories.mdx
  packages/storybook/stories/components/Textarea.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(search-bar-react): reactivate searchbar react component
  packages/component-library-react/package.json
  packages/component-library-react/src/SearchBar.test.tsx
  packages/component-library-react/src/SearchBar.tsx
  packages/component-library-react/src/css-module/SearchBar.tsx
  packages/component-library-react/src/css-module/disabled.SearchBar
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/disabled.SearchBar
  packages/component-library-react/src/disabled.SearchBar.test
  packages/component-library-react/src/index.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs(react-searchbar-css): add css stories
  packages/storybook/stories/components/Searchbar.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(react-searchbar-storybook): add react stories
  packages/storybook-react/src/stories/SearchBar.stories.tsx
  packages/storybook-react/src/stories/disabled.SearchBar.stories
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: tweaks to the textbox stories
  components/textbox/_achternaam.md
  components/textbox/_email.md
  components/textbox/_huisletter.md
  components/textbox/_huisnummer.md
  components/textbox/_huistoevoeging.md
  components/textbox/_kiesWachtwoord.md
  components/textbox/_naam.md
  components/textbox/_organisatie.md
  components/textbox/_postcode.md
  components/textbox/_required.md
  components/textbox/_voornaam.md
  components/textbox/_voorvoegsel.md
  components/textbox/_wachtwoordVoorAuthentificatie.md
  components/textbox/_website.md
  components/textbox/_woonplaats.md
  packages/storybook/stories/components/Textbox.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: use .tsx syntax for textbox css story
  components/textbox/css/stories/autocomplete.stories.mdx
  components/textbox/css/stories/default.stories.mdx
  components/textbox/css/stories/readme.stories.mdx
  components/textbox/css/stories/tokens.stories.mdx
  packages/storybook/stories/components/Textbox.stories.tsx
  packages/storybook/stories/components/docs/autocomplete/_achternaam.md
  packages/storybook/stories/components/docs/autocomplete/_huisletter.md
  packages/storybook/stories/components/docs/autocomplete/_huisnummer.md
  packages/storybook/stories/components/docs/autocomplete/_huistoevoeging.md
  packages/storybook/stories/components/docs/autocomplete/_kiesWachtwoord.md
  packages/storybook/stories/components/docs/autocomplete/_naam.md
  packages/storybook/stories/components/docs/autocomplete/_organisatie.md
  packages/storybook/stories/components/docs/autocomplete/_postcode.md
  packages/storybook/stories/components/docs/autocomplete/_voornaam.md
  packages/storybook/stories/components/docs/autocomplete/_voorvoegsel.md
  packages/storybook/stories/components/docs/autocomplete/_wachtwoordVoorAuthentificatie.md
  packages/storybook/stories/components/docs/autocomplete/_website.md
  packages/storybook/stories/components/docs/autocomplete/_woonplaats.md
  packages/storybook/stories/components/docs/state/_required.md
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: tweaks to the radio button story
  packages/storybook/stories/components/RadioButton.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: migrate radio button story to tsx
  components/radio-button/css/stories/default.stories.mdx
  components/radio-button/css/stories/readme.stories.mdx
  components/radio-button/css/stories/states.stories.mdx
  components/radio-button/css/stories/tokens.stories.mdx
  packages/storybook/stories/components/RadioButton.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(search-bar-theme): update the searchbar theme
  proprietary/design-tokens/src/component/utrecht/search-bar.tokens.json
Due: none

feat(search-bar-css): reactivate search-bar css
  components/search-bar/css/_mixin.scss
  components/search-bar/tokens.json
Due: prettier --check, stylelint --allow-empty-input

WIP
  components/search-bar/README.md
  components/search-bar/_default.md
  components/search-bar/_expanded.md
  components/search-bar/_option-active.md
  components/search-bar/_option-selected.md
  components/search-bar/css/_mixin.scss
  components/search-bar/css/index.scss
  components/search-bar/css/story-template.jsx
  packages/component-library-react/src/SearchBar.test.tsx
  packages/component-library-react/src/SearchBar.tsx
  packages/storybook-react/src/stories/SearchBar.stories.tsx
  packages/storybook/stories/components/SearchBarCombobox.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fixup! WIP
  packages/component-library-react/src/SearchBar.tsx
  packages/component-library-react/src/SearchBarDownshift.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/storybook/stories/components/SearchBarCombobox.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fixup! WIP
  components/search-bar/README.md
  components/search-bar/_combobox.md
  components/search-bar/css/_mixin.scss
  components/search-bar/css/stories/default.stories.mdx
  components/search-bar/css/stories/readme.stories.mdx
  components/search-bar/css/stories/tokens.stories.mdx
  components/textbox/css/_mixin.scss
  packages/storybook-react/src/stories/SearchBar.stories.tsx
  packages/storybook/stories/components/SearchBar.stories.tsx
  packages/storybook/stories/components/SearchBar.tsx
  packages/storybook/stories/components/SearchBarCombobox.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fixup! WIP
  packages/storybook/stories/components/SearchBar.tsx
  packages/storybook/stories/components/SearchBarCombobox.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: remove `letter-spacing` tokens (except for badge)
  components/button/css/_mixin.scss
  components/button/tokens.json
  components/heading-1/css/_mixin.scss
  components/heading-2/css/_mixin.scss
  components/heading-3/css/_mixin.scss
  components/heading-4/css/_mixin.scss
  components/heading-5/css/_mixin.scss
  components/heading-6/css/_mixin.scss
  components/link-button/css/_mixin.scss
  components/pre-heading/css/_mixin.scss
  components/search-bar/css/_mixin.scss
  components/search-bar/tokens.json
  documentation/website/huisstijl/typography.md
  proprietary/design-tokens/src/brand/utrecht/typography.tokens.json
  proprietary/design-tokens/src/component/utrecht/heading-1.tokens.json
  proprietary/design-tokens/src/component/utrecht/heading-2.tokens.json
  proprietary/design-tokens/src/component/utrecht/heading-3.tokens.json
  proprietary/design-tokens/src/component/utrecht/heading-4.tokens.json
  proprietary/design-tokens/src/component/utrecht/heading-5.tokens.json
  proprietary/design-tokens/src/component/utrecht/heading-6.tokens.json
  proprietary/design-tokens/src/component/utrecht/search-bar.tokens.json
Due: markdownlint, prettier --check, stylelint --allow-empty-input

build: update minor versions
  components/package.json
  documentation/package.json
  package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/docusaurus/package.json
  packages/storybook-angular/package.json
  packages/storybook-helpers/package.json
  packages/storybook-react/package.json
  packages/storybook-vue/package.json
  packages/storybook/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

docs: aria-labelledby is visible, so less likely to break
  documentation/aria.md
Due: markdownlint, prettier --check

docs: avoid `aria-label` and `aria-description`
  documentation/aria.md
Due: markdownlint, prettier --check

style: new functional icons
  components/icon/src/svg/arrow.svg
  components/icon/src/svg/checkmark.svg
  components/icon/src/svg/chevron-down.svg
  components/icon/src/svg/chevron-left.svg
  components/icon/src/svg/chevron-right.svg
  components/icon/src/svg/chevron-up.svg
  components/icon/src/svg/close.svg
  components/icon/src/svg/cross.svg
  components/icon/src/svg/hamburger-menu.svg
  components/icon/src/svg/language.svg
  components/icon/src/svg/list-check.svg
  components/icon/src/svg/list-number.svg
  components/icon/src/svg/list.svg
  components/icon/src/svg/loupe.svg
  components/icon/src/svg/menu-dot-open.svg
  components/icon/src/svg/menu-dot.svg
  components/icon/src/svg/minus-vertical.svg
  components/icon/src/svg/minus.svg
  components/icon/src/svg/read-aloud.svg
  components/icon/src/svg/search.svg
  components/icon/src/svg/user.svg
  components/icon/src/svg/zoom-minus.svg
  components/icon/src/svg/zoom-plus.svg
  packages/storybook/stories/icon/icon-gallery-functional.stories.mdx
  packages/storybook/stories/icon/icon-gallery.stories.mdx
  packages/web-component-library-stencil/src/components.d.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern
