Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: text aangepast na taal check
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage2.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage3.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage2.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage3.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: remove background image from custom checkbox focus styles
  components/custom-checkbox/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

fix: remove background image from active custom checkbox styles
  components/custom-checkbox/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

chore(changeset): custom-checkbox focus styles
  .changeset/clean-sloths-lick.md
Due: markdownlint, prettier --check

Apply suggestions from code review
  .changeset/clean-sloths-lick.md
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/clean-sloths-lick.md
  components/custom-checkbox/CHANGELOG.md
  components/custom-checkbox/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: avoid "list" role elements in Listbox
  .changeset/twenty-bees-train.md
  packages/components-react/listbox-react/src/index.test.tsx
  packages/components-react/listbox-react/src/index.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/twenty-bees-train.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  packages/components-react/listbox-react/CHANGELOG.md
  packages/components-react/listbox-react/package.json
  packages/components-react/select-combobox-react/CHANGELOG.md
  packages/components-react/select-combobox-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: listbox size on small screens should not exceed screen width
  .changeset/neat-beers-travel.md
  components/listbox/src/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

fix: scroll Alert Dialog when viewport is small
  .changeset/shiny-seas-play.md
  components/alert-dialog/src/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

fix: avoid text overflowing button that is too small
  .changeset/popular-singers-own.md
  components/button/src/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

feat: support `utrecht.button.border-radius` for Link Button
  .changeset/large-laws-nail.md
  components/link-button/src/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

fix: use `role="img"` for VegaVisualisation
  .changeset/honest-tables-press.md
  apps/experiments/scaled-down.html
  packages/component-library-pdf/src/Logo.test.tsx
  packages/component-library-react/src/VegaVisualization.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add `utrecht.spotlight-section.border-radius` token
  .changeset/two-doors-dream.md
  components/spotlight-section/src/_mixin.scss
  components/spotlight-section/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: design tokens for radio button checked with focus
  components/radio-button/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

chore: add changeset
  .changeset/selfish-birds-wave.md
Due: markdownlint, prettier --check

feat: enable hypenation for the Root component
  .changeset/twelve-carrots-stare.md
  components/root/src/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

docs(release): design system packages
  .changeset/honest-tables-press.md
  .changeset/large-laws-nail.md
  .changeset/neat-beers-travel.md
  .changeset/selfish-birds-wave.md
  .changeset/shiny-seas-play.md
  .changeset/twelve-carrots-stare.md
  .changeset/two-doors-dream.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/alert-dialog/CHANGELOG.md
  components/alert-dialog/package.json
  components/link-button/CHANGELOG.md
  components/link-button/package.json
  components/listbox/CHANGELOG.md
  components/listbox/package.json
  components/radio-button/CHANGELOG.md
  components/radio-button/package.json
  components/root/CHANGELOG.md
  components/root/package.json
  components/spotlight-section/CHANGELOG.md
  components/spotlight-section/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  packages/components-react/listbox-react/CHANGELOG.md
  packages/components-react/listbox-react/package.json
  packages/components-react/select-combobox-react/CHANGELOG.md
  packages/components-react/select-combobox-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

build: declare CSS and React components as `dependencies`, not `devDependencies`
  .changeset/tender-masks-relax.md
  packages/component-library-react/package.json
  packages/components-react/body-react/package.json
  packages/components-react/button-react/package.json
  packages/components-react/checkbox-group-react/package.json
  packages/components-react/checkbox-react/package.json
  packages/components-react/combobox-react/package.json
  packages/components-react/data-badge-react/package.json
  packages/components-react/fieldset-react/package.json
  packages/components-react/form-field-description-react/package.json
  packages/components-react/form-field-error-message-react/package.json
  packages/components-react/form-field-react/package.json
  packages/components-react/form-label-react/package.json
  packages/components-react/link-react/package.json
  packages/components-react/listbox-react/package.json
  packages/components-react/nav-bar-react/package.json
  packages/components-react/page-body-react/package.json
  packages/components-react/page-footer-react/package.json
  packages/components-react/page-header-react/package.json
  packages/components-react/page-layout-react/package.json
  packages/components-react/radio-button-react/package.json
  packages/components-react/radio-group-react/package.json
  packages/components-react/root-react/package.json
  packages/components-react/textbox-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
