Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: improve the vue textbox component
  packages/component-library-vue/src/UtrechtTextbox.vue
Due: none

chore: fix the file extension in tsconfig
  packages/component-library-vue/tsconfig.lib.json
Due: none

docs: add vue textbox component stories
  packages/storybook-vue/src/stories/Textbox/Textbox.stories.mdx
  packages/storybook-vue/src/stories/Textbox/TextboxStates.stories.mdx
  packages/storybook-vue/src/stories/Textbox/TextboxTypes.stories.mdx
  packages/storybook-vue/src/stories/Textbox/TextboxWithFormBinding.stories.mdx
  packages/storybook-vue/src/stories/Textbox/TextboxWithLabel.stories.mdx
  packages/storybook-vue/src/stories/Textbox/argTypes.ts
  packages/storybook-vue/src/stories/Textbox/docs.stories.mdx
  packages/storybook-vue/src/stories/Textbox/tokens.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: remove the live textbox binding
  packages/storybook-vue/src/stories/Textbox/TextboxWithFormBinding.stories.mdx
Due: none

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: remove storybook composition configuration
  packages/storybook/config/main.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add vue table component stories
  packages/storybook-vue/config/preview.js
  packages/storybook-vue/src/stories/Table/Table.stories.mdx
  packages/storybook-vue/src/stories/Table/docs.stories.mdx
  packages/storybook-vue/src/stories/Table/tokens.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: export the vue table component
  packages/component-library-vue/src/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

ci: fix website build path
  packages/design-system-website/package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs: stories to show link distances in unordered list
  packages/storybook/stories/css-component/combining-components/inline-link.stories.mdx
Due: none

build: improve the icon script
  components/icon/src/build.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: fix icon stories
  packages/storybook/stories/icon/icon-gallery-toptask.stories.mdx
  packages/storybook/stories/icon/icon-gallery.stories.mdx
Due: none

feat: improve the vue textbox component (#1096)
  packages/component-library-vue/src/UtrechtTextbox.vue
  packages/component-library-vue/tsconfig.lib.json
  packages/storybook-vue/src/stories/Textbox/Textbox.stories.mdx
  packages/storybook-vue/src/stories/Textbox/TextboxStates.stories.mdx
  packages/storybook-vue/src/stories/Textbox/TextboxTypes.stories.mdx
  packages/storybook-vue/src/stories/Textbox/TextboxWithFormBinding.stories.mdx
  packages/storybook-vue/src/stories/Textbox/TextboxWithLabel.stories.mdx
  packages/storybook-vue/src/stories/Textbox/argTypes.ts
  packages/storybook-vue/src/stories/Textbox/docs.stories.mdx
  packages/storybook-vue/src/stories/Textbox/tokens.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: improve the vue textarea component (#1107)
  packages/component-library-vue/src/UtrechtTextarea.vue
  packages/storybook-vue/src/stories/Textarea/Textarea.stories.mdx
  packages/storybook-vue/src/stories/Textarea/TextareaBinding.stories.mdx
  packages/storybook-vue/src/stories/Textarea/TextareaStates.stories.mdx
  packages/storybook-vue/src/stories/Textarea/argTypes.ts
  packages/storybook-vue/src/stories/Textarea/docs.stories.mdx
  packages/storybook-vue/src/stories/Textarea/tokens.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: use `npx http-server` instead of dependency
  package-lock.json
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: use `main.js` to set the `staticDir`
  packages/storybook/config/main.js
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: logical tokens and minimum size for logo
  components/digid-button/css/index.scss
  components/digid-logo/web-component/index.scss
  components/eherkenning-logo/web-component/index.scss
  components/eidas-logo/web-component/index.scss
  components/logo-button/css/index.scss
  components/logo/css/_mixin.scss
  components/logo/tokens.json
  proprietary/design-tokens/src/component/utrecht/logo.tokens.json
Due: prettier --check, stylelint --allow-empty-input

docs: implement storybook composition
  packages/storybook-vue/config/main.js
  packages/storybook-vue/package.json
  packages/storybook/config/main.js
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: use relative URL for Storybook Composition
  packages/storybook/config/main.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: add storybook addons
  packages/storybook/config/main.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: add addon-a11y to storybook-vue
  packages/storybook-vue/config/main.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: render baseUrl relative links in Docusaurus nav
  .github/workflows/continuous-delivery.yml
  package-lock.json
  packages/docusaurus/docusaurus.config.js
  packages/docusaurus/navigationConfig.js
  packages/docusaurus/package.json
  packages/docusaurus/src/pages/storybook.mdx
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: remove placeholder Storybook page before adding actual Storybook
  packages/design-system-website/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
