Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group link-list implementation and rename bem to css
  components/link-list/css/index.scss
  components/link-list/css/stories/default.stories.mdx
  components/link-list/css/stories/tokens.stories.mdx
  components/link-list/css/template.js
  components/link-list/readme.stories.mdx
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group link-social implementation and rename bem to css
  components/link-social/css/index.scss
  components/link-social/css/stories/01-default.stories.mdx
  components/link-social/css/stories/02-list.stories.mdx
  components/link-social/css/stories/readme.stories.mdx
  components/link-social/css/stories/tokens.stories.mdx
  components/link-social/css/template.js
  components/link-social/readme.stories.mdx
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group textarea implementations and rename bem to css
  components/form-field-textarea/stencil.scss
  components/textarea/bem.stories.mdx
  components/textarea/css/index.scss
  components/textarea/css/stories/default.stories.mdx
  components/textarea/css/stories/readme.stories.mdx
  components/textarea/css/stories/states.stories.mdx
  components/textarea/css/stories/tokens.stories.mdx
  components/textarea/css/template.js
  components/textarea/html.stories.mdx
  components/textarea/html/index.scss
  components/textarea/html/stories/01-default.stories.mdx
  components/textarea/html/stories/02-placeholder.stories.mdx
  components/textarea/html/stories/readme.stories.mdx
  components/textarea/html/stories/states.stories.mdx
  components/textarea/html/stories/tokens.stories.mdx
  components/textarea/html/template.js
  components/textarea/readme.stories.mdx
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group map-control-button implementations and rename bem to css
  components/mapcontrolbutton/css/stories/01-default.stories.mdx
  components/mapcontrolbutton/css/stories/02-with-label.stories.mdx
  components/mapcontrolbutton/css/stories/default.stories.mdx
  components/mapcontrolbutton/css/stories/readme.stories.mdx
  components/mapcontrolbutton/css/stories/states.stories.mdx
  components/mapcontrolbutton/css/stories/tokens.stories.mdx
  packages/component-library-css/src/bem.scss
Due: prettier --check, stylelint --allow-empty-input

refactor: group page implementations and rename bem to css
  components/page/css/index.scss
  components/page/css/stories/default.stories.mdx
  components/page/css/stories/readme.stories.mdx
  components/page/css/stories/tokens.stories.mdx
  components/page/css/template.js
  components/page/readme.stories.mdx
  components/page/web-component/index.scss
  components/page/web-component/index.stencil.tsx
  components/page/web-component/stories/default.stories.mdx
  components/page/web-component/stories/readme.stories.mdx
  components/page/web-component/stories/tokens.stories.mdx
  components/page/web-component/template.js
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group pre-heading implementation and rename bem to css
  components/pre-heading/css/index.scss
  components/pre-heading/css/stories/default.stories.mdx
  components/pre-heading/css/stories/readme.stories.mdx
  components/pre-heading/css/stories/tokens.stories.mdx
  components/pre-heading/css/template.js
  components/pre-heading/readme.stories.mdx
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group process-steps react implementation
  components/process-steps/react/index.jsx
  components/process-steps/react/stories/default.stories.mdx
  components/process-steps/react/stories/readme.stories.mdx
  components/process-steps/react/stories/tokens.stories.mdx
  components/process-steps/readme.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: rename search-bar bem to css
  components/search-bar/css/index.scss
  components/search-bar/css/stories/default.stories.mdx
  components/search-bar/css/stories/readme.stories.mdx
  components/search-bar/css/stories/tokens.stories.mdx
  components/search-bar/css/template.js
  components/search-bar/readme.stories.mdx
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group unordered-list implementations and rename bem to css
  components/unordered-list/css/index.scss
  components/unordered-list/css/stories/01-default.stories.mdx
  components/unordered-list/css/stories/02-distanced.stories.mdx
  components/unordered-list/css/stories/03-nested.stories.mdx
  components/unordered-list/css/stories/readme.stories.mdx
  components/unordered-list/css/stories/tokens.stories.mdx
  components/unordered-list/css/template.js
  components/unordered-list/html.stories.mdx
  components/unordered-list/html/index.scss
  components/unordered-list/html/stories/01-default.stories.mdx
  components/unordered-list/html/stories/02-nested.stories.mdx
  components/unordered-list/html/stories/readme.stories.mdx
  components/unordered-list/html/stories/tokens.stories.mdx
  components/unordered-list/html/template.js
  components/unordered-list/readme.stories.mdx
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: badge-counter rename bem to css and group implementations
  components/badge-counter/bem.stories.mdx
  components/badge-counter/css/index.scss
  components/badge-counter/css/stories/default.stories.mdx
  components/badge-counter/css/stories/tokens.stories.mdx
  components/badge-counter/css/template.js
  components/badge-counter/readme.stories.mdx
  components/badge-counter/stencil.stories.mdx
  components/badge-counter/web-component/index.scss
  components/badge-counter/web-component/index.stencil.tsx
  components/badge-counter/web-component/stories/default.stories.mdx
  components/badge-counter/web-component/stories/formatted-text-content.stories.mdx
  components/badge-counter/web-component/stories/locale.stories.mdx
  components/badge-counter/web-component/stories/maximum-boundary.stories.mdx
  components/badge-counter/web-component/stories/readme.stories.mdx
  components/badge-counter/web-component/template.js
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group favicon stories in html component section
  components/favicon/html/stories/default.stories.mdx
  components/favicon/html/stories/readme.stories.mdx
  components/favicon/html/template.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: group custom checkbox implementations and rename bem to css
  components/custom-checkbox/bem.stories.mdx
  components/custom-checkbox/css/index.scss
  components/custom-checkbox/css/stories/default.stories.mdx
  components/custom-checkbox/css/stories/readme.stories.mdx
  components/custom-checkbox/css/stories/states.stories.mdx
  components/custom-checkbox/css/stories/tokens.stories.mdx
  components/custom-checkbox/css/template.js
  components/custom-checkbox/readme.stories.mdx
  components/custom-checkbox/stencil.stories.mdx
  components/custom-checkbox/web-component/index.scss
  components/custom-checkbox/web-component/index.stencil.tsx
  components/custom-checkbox/web-component/stories/default.stories.mdx
  components/custom-checkbox/web-component/stories/readme.stories.mdx
  components/custom-checkbox/web-component/stories/state.stories.mdx
  components/custom-checkbox/web-component/stories/tokens.stories.mdx
  components/custom-checkbox/web-component/template.js
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group badge component implementations and rename bem to css
  components/badge-counter/bem.scss
  components/badge-data/bem.scss
  components/badge-status/bem.scss
  components/badge/css/_index.scss
  components/badge/css/stories/readme.stories.mdx
  components/badge/css/stories/tokens.stories.mdx
  components/badge/readme.stories.mdx
Due: prettier --check, stylelint --allow-empty-input

refactor: group toptask-link implementation and rename bem to css
  components/textbox/html/template.js
  components/toptask-link/bem.stories.mdx
  components/toptask-link/css/index.scss
  components/toptask-link/css/stories/default.stories.mdx
  components/toptask-link/css/stories/readme.stories.mdx
  components/toptask-link/css/stories/states.stories.mdx
  components/toptask-link/css/stories/tokens.stories.mdx
  components/toptask-link/css/template.js
  components/toptask-link/readme.stories.mdx
  components/toptask-nav/bem.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group data-badge implementations and rename bem to css
  components/badge-data/css/index.scss
  components/badge-data/css/stories/default.stories.mdx
  components/badge-data/css/stories/tokens.stories.mdx
  components/badge-data/css/template.js
  components/badge-data/readme.stories.mdx
  components/badge-data/web-component/index.scss
  components/badge-data/web-component/index.stencil.tsx
  components/badge-data/web-component/stories/default.stories.mdx
  components/badge-data/web-component/stories/tokens.stories.mdx
  components/badge-data/web-component/template.js
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group texbox implementations and rename bem to css
  components/form-field-textbox/stencil.scss
  components/search-bar/css/stories/default.stories.mdx
  components/textbox/bem.stories.mdx
  components/textbox/css/index.scss
  components/textbox/css/stories/default.stories.mdx
  components/textbox/css/stories/readme.stories.mdx
  components/textbox/css/stories/states.stories.mdx
  components/textbox/css/stories/tokens.stories.mdx
  components/textbox/css/template.js
  components/textbox/html.stories.mdx
  components/textbox/html/index.scss
  components/textbox/html/stories/01-default.stories.mdx
  components/textbox/html/stories/02-number-input.stories.mdx
  components/textbox/html/stories/03-password-input.stories.mdx
  components/textbox/html/stories/04-url-input.stories.mdx
  components/textbox/html/stories/05-placeholder.stories.mdx
  components/textbox/html/stories/readme.stories.mdx
  components/textbox/html/stories/states.stories.mdx
  components/textbox/html/stories/tokens.stories.mdx
  components/textbox/html/template.js
  components/textbox/readme.stories.mdx
  components/textbox/web-component/index.scss
  components/textbox/web-component/index.stencil.tsx
  components/textbox/web-component/stories/01-default.stories.mdx
  components/textbox/web-component/stories/02-placeholder.stories.mdx
  components/textbox/web-component/stories/03-number-input.stories.mdx
  components/textbox/web-component/stories/readme.stories.mdx
  components/textbox/web-component/stories/states.stories.mdx
  components/textbox/web-component/stories/tokens.stories.mdx
  components/textbox/web-component/template.js
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: status-badge group badge component implementations and rename bem to css
  components/badge-status/bem.stories.mdx
  components/badge-status/css/index.scss
  components/badge-status/css/stories/01-default.stories.mdx
  components/badge-status/css/stories/02-neutral.stories.mdx
  components/badge-status/css/stories/03-danger.stories.mdx
  components/badge-status/css/stories/04-safe.stories.mdx
  components/badge-status/css/stories/05-invalid.stories.mdx
  components/badge-status/css/stories/06-valid.stories.mdx
  components/badge-status/css/stories/07-error.stories.mdx
  components/badge-status/css/stories/08-warning.stories.mdx
  components/badge-status/css/stories/09-success.stories.mdx
  components/badge-status/css/stories/10-inactive.stories.mdx
  components/badge-status/css/stories/11-active.stories.mdx
  components/badge-status/css/stories/readme.stories.mdx
  components/badge-status/css/stories/tokens.stories.mdx
  components/badge-status/css/template.js
  components/badge-status/readme.stories.mdx
  components/badge-status/stencil.stories.mdx
  components/badge-status/web-component/index.scss
  components/badge-status/web-component/index.stencil.tsx
  components/badge-status/web-component/stories/01-default.stories.mdx
  components/badge-status/web-component/stories/02-neutral.stories.mdx
  components/badge-status/web-component/stories/03-danger.stories.mdx
  components/badge-status/web-component/stories/04-safe.stories.mdx
  components/badge-status/web-component/stories/05-invalid.stories.mdx
  components/badge-status/web-component/stories/06-valid.stories.mdx
  components/badge-status/web-component/stories/07-error.stories.mdx
  components/badge-status/web-component/stories/08-warning.stories.mdx
  components/badge-status/web-component/stories/09-success.stories.mdx
  components/badge-status/web-component/stories/10-inactive.stories.mdx
  components/badge-status/web-component/stories/11-active.stories.mdx
  components/badge-status/web-component/stories/readme.stories.mdx
  components/badge-status/web-component/stories/tokens.stories copy.mdx
  components/badge-status/web-component/stories/tokens.stories.mdx
  components/badge-status/web-component/template.js
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group form-fieldset component implementations and rename bem to css
  components/form-fieldset/css/index.scss
  components/form-fieldset/css/stories/default.stories.mdx
  components/form-fieldset/css/stories/readme.stories.mdx
  components/form-fieldset/css/stories/tokens.stories.mdx
  components/form-fieldset/css/template.js
  components/form-fieldset/html/index.scss
  components/form-fieldset/html/stories/default.stories.mdx
  components/form-fieldset/html/stories/readme.stories.mdx
  components/form-fieldset/html/stories/tokens.stories.mdx
  components/form-fieldset/html/template.js
  components/form-fieldset/readme.stories.mdx
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group form-toggle implementations and rename bem to css
  components/form-toggle/bem.stories.mdx
  components/form-toggle/css/index.scss
  components/form-toggle/css/stories/01-default.stories.mdx
  components/form-toggle/css/stories/02-toggle-with-invisible-input.stories.mdx
  components/form-toggle/css/stories/readme.stories.mdx
  components/form-toggle/css/stories/states.stories.mdx
  components/form-toggle/css/stories/tokens.stories.mdx
  components/form-toggle/css/template.js
  components/form-toggle/readme.stories.mdx
  components/form-toggle/stencil.stories.mdx
  components/form-toggle/web-component/index.scss
  components/form-toggle/web-component/index.stencil.tsx
  components/form-toggle/web-component/stories/01-default.stories.mdx
  components/form-toggle/web-component/stories/readme.stories.mdx
  components/form-toggle/web-component/stories/states.stories.mdx
  components/form-toggle/web-component/stories/tokens.stories.mdx
  components/form-toggle/web-component/template.js
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group toptask-nav implementation and rename bem to css
  components/toptask-nav/bem.js
  components/toptask-nav/bem.stories.mdx
  components/toptask-nav/css/index.scss
  components/toptask-nav/css/stories/01-default.stories.mdx
  components/toptask-nav/css/stories/02-grid.stories.mdx
  components/toptask-nav/css/stories/readme.stories.mdx
  components/toptask-nav/css/stories/tokens.stories.mdx
  components/toptask-nav/css/template.js
  components/toptask-nav/readme.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group url implementation and rename bem to css
  components/url/css/index.scss
  components/url/css/stories/01-default.stories.mdx
  components/url/css/stories/02-rtl.stories.mdx
  components/url/css/stories/03-ligatures.stories.mdx
  components/url/css/template.js
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group digid-button implementations and rename bem to css
  components/digid-button/css/index.scss
  components/digid-button/css/stories/default.stories.mdx
  components/digid-button/css/stories/readme.stories.mdx
  components/digid-button/css/stories/rtl.stories.mdx
  components/digid-button/css/stories/tokens.stories.mdx
  components/digid-button/css/template.js
  components/digid-button/readme.stories.mdx
  components/digid-button/web-component/index.scss
  components/digid-button/web-component/index.stencil.tsx
  components/digid-button/web-component/stories/default.stories.mdx
  components/digid-button/web-component/stories/readme.stories.mdx
  components/digid-button/web-component/stories/tokens.stories.mdx
  components/digid-button/web-component/template.js
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group table implementations and rename bem to css
  components/surface/css/stories/tokens.stories.mdx
  components/table/css/index.scss
  components/table/html.stories.mdx
  components/table/html/index.scss
  components/table/html/stories/html.stories.mdx
  components/table/html/stories/readme.stories.mdx
  components/table/html/stories/tokens.stories.mdx
  components/table/html/template.js
  components/table/readme.stories.mdx
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group page-content implementations and rename bem to css
  components/page-content/bem.stories.mdx
  components/page-content/css/index.scss
  components/page-content/css/stories/01-default.stories.mdx
  components/page-content/css/stories/02-with-breadcrumb.stories.mdx
  components/page-content/css/stories/03-with-aside.stories.mdx
  components/page-content/css/stories/readme.stories.mdx
  components/page-content/css/stories/tokens.stories.mdx
  components/page-content/css/template.js
  components/page-content/readme.stories.mdx
  components/page-content/web-component/index.scss
  components/page-content/web-component/index.stencil.tsx
  components/page-content/web-component/stories/default.stories.mdx
  components/page-content/web-component/stories/readme.stories.mdx
  components/page-content/web-component/stories/tokens.stories.mdx
  components/page-content/web-component/template.js
  components/page/css/stories/default.stories.mdx
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: contact-card template
  components/table/html/template.js
  components/templates/contact-card-template/css/index.scss
  components/templates/contact-card-template/css/stories/default.stories.mdx
  components/templates/contact-card-template/css/template.js
  components/templates/contact-card-template/stencil.stories.mdx
  components/templates/contact-card-template/web-component/index.scss
  components/templates/contact-card-template/web-component/index.stencil.tsx
  components/templates/contact-card-template/web-component/stories/default.stories.mdx
  components/templates/contact-card-template/web-component/template.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group sidenav implementation and rename bem to css
  components/navigatie sidenav/README.md
  components/navigatie sidenav/bem.stories.mdx
  components/navigatie sidenav/css/index.scss
  components/navigatie sidenav/css/stories/01-default.stories.mdx
  components/navigatie sidenav/css/stories/02-children.stories.mdx
  components/navigatie sidenav/css/stories/03-siblings.stories.mdx
  components/navigatie sidenav/css/stories/04-siblings-children.stories.mdx
  components/navigatie sidenav/css/stories/readme.stories.mdx
  components/navigatie sidenav/css/stories/tokens.stories.mdx
  components/navigatie sidenav/css/template.js
  components/navigatie sidenav/readme.stories.mdx
  components/navigatie sidenav/web-component/index.scss
  components/navigatie sidenav/web-component/index.stencil.tsx
  components/navigatie sidenav/web-component/stories/default.stories.mdx
  components/navigatie sidenav/web-component/stories/readme.stories.mdx
  components/navigatie sidenav/web-component/stories/tokens.stories.mdx
  components/navigatie sidenav/web-component/template.js
  packages/component-library-css/src/bem.scss
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group ordered-list implementations and rename bem to css
  components/ordered-list/css/index.scss
  components/ordered-list/css/stories/01-default.stories.mdx
  components/ordered-list/css/stories/02-distanced.stories.mdx
  components/ordered-list/css/stories/readme.stories.mdx
  components/ordered-list/css/stories/tokens.stories.mdx
  components/ordered-list/css/template.js
  components/ordered-list/html.stories.mdx
  components/ordered-list/html/index.scss
  components/ordered-list/html/stories/01-default.stories.mdx
  components/ordered-list/html/stories/02-rtl.stories.mdx
  components/ordered-list/html/stories/readme.stories.mdx
  components/ordered-list/html/stories/tokens.stories.mdx
  components/ordered-list/html/template.js
  components/ordered-list/readme.stories.mdx
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group topnav implementation and rename bem to css
  components/navigatie topnav/README.md
  components/navigatie topnav/css/index.scss
  components/navigatie topnav/css/stories/01-default.stories.mdx
  components/navigatie topnav/css/stories/readme.stories.mdx
  components/navigatie topnav/css/stories/states.stories.mdx
  components/navigatie topnav/css/stories/tokens.stories.mdx
  components/navigatie topnav/css/template.js
  components/navigatie topnav/readme.stories.mdx
  packages/component-library-css/src/bem.scss
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group page-footer implementations and rename bem to css
  components/page-footer/css/index.scss
  components/page-footer/css/stories/default.stories.mdx
  components/page-footer/css/stories/readme.stories.mdx
  components/page-footer/css/stories/tokens.stories.mdx
  components/page-footer/css/template.js
  components/page-footer/readme.stories.mdx
  components/page-footer/web-component/index.scss
  components/page-footer/web-component/index.stencil.tsx
  components/page-footer/web-component/stories/default.stories.mdx
  components/page-footer/web-component/stories/readme.stories.mdx
  components/page-footer/web-component/stories/tokens.stories.mdx
  components/page-footer/web-component/template.js
  components/page/css/stories/default.stories.mdx
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group separator implementations and rename bem to css
  components/select/css/stories/default.stories.mdx
  components/select/css/template.js
  components/separator/css/index.scss
  components/separator/css/stories/01-default.stories.mdx
  components/separator/css/stories/02-distanced.stories.mdx
  components/separator/css/stories/readme.stories.mdx
  components/separator/css/stories/tokens.stories.mdx
  components/separator/css/template.js
  components/separator/html/index.scss
  components/separator/html/stories/default.stories.mdx
  components/separator/html/stories/readme.stories.mdx
  components/separator/html/stories/tokens.stories.mdx
  components/separator/html/template.js
  components/separator/readme.stories.mdx
  components/separator/web-component/index.scss
  components/separator/web-component/index.stencil.tsx
  components/separator/web-component/stories/default.stories.mdx
  components/separator/web-component/stories/readme.stories.mdx
  components/separator/web-component/stories/tokens.stories.mdx
  components/separator/web-component/template.js
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
