Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

🔨 Marker removed
  components/unordered-list/html.scss
Due: none

🔨 removed underline, added focus
  components/menulijst/bem.scss
  components/menulijst/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

💄 nu echt balkjes minder breed gemaakt
  components/menulijst/bem.scss
Due: none

🔨 Improved padding
  components/menulijst/bem.css
Due: stylelint --allow-empty-input

prettier
  components/menulijst/bem.scss
  components/unordered-list/html.scss
Due: none

chore: temporarily disable theme switcher, it is causing issues
  packages/storybook/.storybook/main.js
  packages/storybook/.storybook/preview.js
Due: eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  packages/component-library-css/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

optional `<ul>`
  components/navigatie sidenav/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

Update bem.stories.mdx
  components/navigatie sidenav/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

Update Badge for font size
  components/badge-counter/bem.scss
  proprietary/design-tokens/src/component/utrecht/badge-counter/block.style-dictionary.json
Due: none

styling update menu
  components/navigatie sidenav/bem.scss
  components/navigatie sidenav/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

fix: revert changes to HTML styling
  components/unordered-list/html.scss
Due: none

refactor: use decorator to define width
  components/menulijst/bem.scss
  components/menulijst/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

chore: remove unused disabled state for link
  components/menulijst/bem.scss
Due: none

chore: simplify story
  components/menulijst/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

refactor: use more existing variables
  components/menulijst/bem.scss
Due: none

fix: add arrow image
  components/menulijst/bem.scss
  components/menulijst/pijltje.svg
Due: none

Update index.css
  components/navigatie/index.css
Due: stylelint --allow-empty-input

:pencil: documentatie sidenav toegevoegd.
  components/navigatie/README.md
Due: markdownlint

Toevoegen navigatie.scss
  proprietary/design-tokens/src/component/_navigatie.scss
Due: none

update
  components/navigatie sidenav/bem.scss
  components/navigatie/README.md
  components/navigatie/bem.css
  components/navigatie/bem.stories.mdx
  components/navigatie/docs/accessibility-guidelines.md
  components/navigatie/docs/content-guidelines.md
Due: markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

nav focus update
  components/navigatie sidenav/bem.scss
  components/navigatie sidenav/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

update
  components/navigatie sidenav/bem.scss
  components/navigatie sidenav/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

Work work
  components/navigatie sidenav/bem.stories.mdx
  components/navigatie topnav/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

updates
  components/navigatie sidenav/bem.stories.mdx
  components/navigatie topnav/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

Update bem.scss
  components/navigatie sidenav/bem.scss
Due: none

start 2 sorts of nav
  components/navigatie sidenav/README.md
  components/navigatie sidenav/bem.css
  components/navigatie sidenav/bem.stories.mdx
  components/navigatie sidenav/docs/accessibility-guidelines.md
  components/navigatie sidenav/docs/content-guidelines.md
  components/navigatie topnav/README.md
  components/navigatie topnav/bem.css
  components/navigatie topnav/bem.stories.mdx
  components/navigatie topnav/docs/accessibility-guidelines.md
  components/navigatie topnav/docs/content-guidelines.md
Due: markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Add some lines
  components/navigatie/index.css
  components/navigatie/stories.mdx
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Refactor from CSS variables to Style Dictionary
  components/navigatie/bem.css
  components/navigatie/bem.stories.mdx
  proprietary/design-tokens/src/brand/utrecht/color.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/navigatie/element-modifier.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/navigatie/element.style-dictionary.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Navigatie menu toegevoegd
  components/navigatie/README.md
  components/navigatie/docs/accessibility-guidelines.md
  components/navigatie/docs/content-guidelines.md
  components/navigatie/index.css
  components/navigatie/stories.mdx
Due: markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Update lines
  components/navigatie/bem.css
  components/navigatie/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Siblings
  components/navigatie sidenav/bem.css
  components/navigatie sidenav/bem.stories.mdx
  components/navigatie/bem.css
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

update
  components/navigatie/index.css
  components/navigatie/stories.mdx
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

New example side nav
  components/navigatie sidenav/bem.scss
  components/navigatie sidenav/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

Update bem.css
  components/navigatie/bem.css
Due: stylelint --allow-empty-input

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
