Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,mjs,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

build: configure `static/` in `staticDirs` for every Storybook
  packages/storybook-angular/config/main.ts
  packages/storybook-css/config/main.ts
  packages/storybook-html/config/main.ts
  packages/storybook-pdf/config/main.ts
  packages/storybook-react/config/main.ts
  packages/storybook-vue/config/main.ts
  packages/storybook-web-component/config/main.ts
  packages/storybook/config/main.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: tekst fix en contact formullier
  packages/storybook-react/src/stories/prototype-contactformulier/FormPage1.stories.tsx
  packages/storybook-react/src/stories/prototype-src/contactformulier/FooterContactFormulier.tsx
  packages/storybook-react/src/stories/prototype-src/webpaginablokken/HulpEnContact2.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: contactgegevens icon size
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, stylelint --allow-empty-input

fix: tekst scenario verbeterd
  packages/storybook-react/src/stories/prototype-src/contactformulier/IntroductieContactFormulier.tsx
  packages/storybook-react/src/stories/prototype-src/contactformulier/ScenarioContactFormulier.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: font-size en spotlight
  packages/storybook-react/src/stories/prototype-src/index.css
  packages/storybook-react/src/stories/prototype-src/webpaginablokken/HulpEnContact.tsx
  packages/storybook-react/src/stories/prototype-src/webpaginablokken/HulpEnContact2.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: link naar e-mail notificatie toegevoegd
  packages/storybook-react/src/stories/prototype-contactformulier/email.stories.tsx
  packages/storybook-react/src/stories/prototype-src/contactformulier/EmailContactFormulier.tsx
  packages/storybook-react/src/stories/prototype-src/contactformulier/FooterContactFormulier.tsx
  packages/storybook-react/src/stories/prototype-src/variables.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: prototype contactformulier
  packages/storybook-react/src/stories/prototype-contactformulier/FormPage1.stories.tsx
  packages/storybook-react/src/stories/prototype-contactformulier/FormPage2.stories.tsx
  packages/storybook-react/src/stories/prototype-contactformulier/FormPage3.stories.tsx
  packages/storybook-react/src/stories/prototype-contactformulier/FormPage4.stories.tsx
  packages/storybook-react/src/stories/prototype-contactformulier/introductie.stories.tsx
  packages/storybook-react/src/stories/prototype-contactformulier/scenario.stories.tsx
  packages/storybook-react/src/stories/prototype-src/contactformulier/IntroductieContactFormulier.tsx
  packages/storybook-react/src/stories/prototype-src/index.css
  packages/storybook-react/src/stories/prototype-src/variables.tsx
  packages/storybook-react/src/stories/prototype-src/webpaginablokken/HulpEnContact.tsx
  packages/storybook-react/src/stories/prototype-src/webpaginablokken/HulpEnContact2.tsx
  packages/storybook-react/src/stories/prototype-src/webpaginablokken/KTO.tsx
  packages/storybook-react/static/prototype-contactformulier__amsterdamsestraatweg-headerimage.jpg
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: content van scenario aangepast
  packages/storybook-react/src/stories/prototype-contactformulier/FormPage1.stories.tsx
  packages/storybook-react/src/stories/prototype-src/contactformulier/ScenarioContactFormulier.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: page header brokje toegevoegd
  packages/storybook-react/src/stories/prototype-contactformulier/FormPage1.stories.tsx
  packages/storybook-react/src/stories/prototype-src/webpaginablokken/PageHeaderWithSearch.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: vinkje en input size
  packages/storybook-react/src/stories/prototype-src/index.css
  packages/storybook-react/src/stories/prototype-src/webpaginablokken/HulpEnContact2.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: chatbot toegevoegd
  packages/storybook-react/src/stories/prototype-contactformulier/FormPage1.stories.tsx
  packages/storybook-react/src/stories/prototype-src/contactformulier/Chatbot.tsx
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: plaatjes verplaatst naar proprietary map
  packages/storybook-react/src/stories/prototype-contactformulier/FormPage1.stories.tsx
  proprietary/assets/images/prototype-contactformulier__amsterdamsestraatweg-headerimage.jpg
  proprietary/assets/images/prototype-contactformulier__amsterdamsestraatweg.jpg
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: verwijzing naar static mapje verwijderd
  packages/storybook-angular/config/main.ts
  packages/storybook-css/config/main.ts
  packages/storybook-html/config/main.ts
  packages/storybook-pdf/config/main.ts
  packages/storybook-react/config/main.ts
  packages/storybook/config/main.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: verwijzing naar static mapje in storybook vue verwijderd
  packages/storybook-vue/config/main.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: removed reference to static folder in web components
  packages/storybook-web-component/config/main.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: contactformulier prototype (#2918)
  packages/storybook-react/src/stories/prototype-contactformulier/FormPage1.stories.tsx
  packages/storybook-react/src/stories/prototype-contactformulier/email.stories.tsx
  packages/storybook-react/src/stories/prototype-contactformulier/introductie.stories.tsx
  packages/storybook-react/src/stories/prototype-contactformulier/scenario.stories.tsx
  packages/storybook-react/src/stories/prototype-src/contactformulier/Chatbot.tsx
  packages/storybook-react/src/stories/prototype-src/contactformulier/EmailContactFormulier.tsx
  packages/storybook-react/src/stories/prototype-src/contactformulier/FooterContactFormulier.tsx
  packages/storybook-react/src/stories/prototype-src/contactformulier/IntroductieContactFormulier.tsx
  packages/storybook-react/src/stories/prototype-src/contactformulier/ScenarioContactFormulier.tsx
  packages/storybook-react/src/stories/prototype-src/index.css
  packages/storybook-react/src/stories/prototype-src/variables.tsx
  packages/storybook-react/src/stories/prototype-src/webpaginablokken/HoofdNavigatie.tsx
  packages/storybook-react/src/stories/prototype-src/webpaginablokken/HulpEnContact.tsx
  packages/storybook-react/src/stories/prototype-src/webpaginablokken/HulpEnContact2.tsx
  packages/storybook-react/src/stories/prototype-src/webpaginablokken/KTO.tsx
  packages/storybook-react/src/stories/prototype-src/webpaginablokken/PageHeaderWithSearch.tsx
  proprietary/assets/images/prototype-contactformulier__amsterdamsestraatweg-headerimage.jpg
  proprietary/assets/images/prototype-contactformulier__amsterdamsestraatweg.jpg
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat(FormFieldCheckbox): add checkboxInvalid prop
  .changeset/silent-guests-listen.md
  packages/components-react/form-field-checkbox-react/src/index.tsx
  packages/storybook-react/src/stories/FormFieldCheckbox.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat(astro): add navigation to astro
  packages/astro/package.json
  packages/astro/src/assets/styles.css
  packages/astro/src/layouts/Layout.astro
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

style(astro): update navigation item style
  packages/astro/package.json
  packages/astro/src/assets/styles.css
  packages/astro/src/layouts/Layout.astro
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add navigation-css package
  .changeset/mighty-trainers-breathe.md
  components/navigation/README.md
  components/navigation/package.json
  components/navigation/src/_mixin.scss
  components/navigation/src/index.scss
  components/navigation/src/tokens.json
  packages/component-library-css/package.json
  packages/component-library-css/src/index.scss
  packages/storybook-css/package.json
  packages/storybook-css/src/NavToggleButton.stories.tsx
  packages/storybook-css/src/Navigation.stories.tsx
  packages/storybook-css/src/Navigation/NavigationItem.tsx
  packages/storybook-css/src/Navigation/NavigationLink.tsx
  packages/storybook-css/src/Navigation/NavigationList.tsx
  packages/storybook-css/src/Navigation/NavigationMarker.tsx
  packages/storybook-css/src/Navigation/NavigationToggleButton.tsx
  packages/storybook-css/src/Navigation/index.tsx
  packages/storybook-css/src/Navigation/useClickOutside.ts
  packages/storybook-css/src/Navigation/useLockBody.ts
  packages/storybook-css/src/Navigation/useScreenSize.ts
  packages/storybook-css/src/NavigationItem.stories.tsx
  packages/storybook-css/src/NavigationLink.stories.tsx
  packages/storybook-css/src/NavigationList.stories.tsx
  packages/storybook-css/src/NavigationMarker.stories.tsx
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/design-tokens/src/component/utrecht/navigation.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs(release): design system packages
  .changeset/brave-pumpkins-hunt.md
  .changeset/mighty-trainers-breathe.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/figure/CHANGELOG.md
  components/figure/package.json
  components/navigation/CHANGELOG.md
  components/navigation/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/component-library-design-tokens/CHANGELOG.md
  packages/component-library-design-tokens/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat(astro): add design system page path
  packages/astro/astro.config.ts
  packages/astro/src/layouts/Layout.astro
  packages/astro/src/pages/design-system/index.astro
  packages/astro/src/pages/index.astro
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: astro blocking install step in design package release
  packages/astro/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: background color social icons
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, stylelint --allow-empty-input

feat: component tile
  components/index.css
  components/tile/README.md
  components/tile/package.json
  components/tile/src/_mixin.scss
  components/tile/src/index.scss
  components/tile/src/tokens.json
  packages/component-library-css/package.json
  packages/component-library-css/src/index.scss
  packages/storybook-css/package.json
  packages/storybook-css/src/Tile.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add dev page
  packages/astro/package.json
  packages/astro/src/layouts/Layout.astro
  packages/astro/src/pages/developers/index.astro
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix(astro): temporarily set utrecht deps back to npm versions
  packages/astro/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: render components within astro
  packages/astro/src/layouts/Layout.astro
  packages/astro/src/pages/componenten/index.astro
Due: none

docs(astro): add docs about why astro was chosen
  packages/astro/README.md
Due: markdownlint, prettier --check

feat(FormFieldCheckbox): renamed checkboxInvalid to inputInvalid
  packages/components-react/form-field-checkbox-react/src/index.tsx
  packages/storybook-react/src/stories/FormFieldCheckbox.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(FormFieldCheckbox): set invalid to true
  packages/storybook-react/src/stories/FormFieldCheckbox.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(FormFieldCheckbox): add inputInvalid prop
  .changeset/silent-guests-listen.md
  packages/components-react/form-field-checkbox-react/src/index.tsx
  packages/storybook-react/src/stories/FormFieldCheckbox.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern
