Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: blockquote border
  components/blockquote/src/_mixin.scss
  components/toptask-link/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add `border-width` and `row-gap` tokens to blockquote
  .changeset/metal-numbers-appear.md
  components/blockquote/src/_mixin.scss
  components/blockquote/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: aside and figure options for blockquote
  .changeset/shy-books-sell.md
  components/blockquote/README.md
  components/blockquote/src/_mixin.scss
  components/blockquote/src/html/_mixin.scss
  components/blockquote/src/index.scss
  components/blockquote/src/stories/attribution.stories.mdx
  components/blockquote/src/stories/default.stories.mdx
  components/blockquote/src/stories/distanced.stories.mdx
  components/blockquote/src/stories/language.stories.mdx
  components/blockquote/src/stories/readme.stories.mdx
  components/blockquote/src/stories/tokens.stories.mdx
  components/blockquote/src/story-template.jsx
  components/blockquote/src/tokens.json
  components/toptask-link/src/tokens.json
  packages/component-library-react/src/Blockquote.test.tsx
  packages/component-library-react/src/Blockquote.tsx
  packages/storybook-css/src/Blockquote.stories.tsx
  proprietary/design-tokens/src/component/utrecht/blockquote.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

build: upgrade to Style Dictionary v4 and experimental design token package layout
  .changeset/famous-knives-sparkle.md
  .changeset/popular-mugs-drop.md
  pnpm-lock.yaml
  proprietary/design-tokens/config.json
  proprietary/design-tokens/package.json
  proprietary/design-tokens/src/css-property-formatter.js
  proprietary/design-tokens/src/css-property-formatter.mjs
  proprietary/design-tokens/src/index.scss
  proprietary/design-tokens/src/style-dictionary-config-dark.js
  proprietary/design-tokens/src/style-dictionary-config.js
  proprietary/design-tokens/style-dictionary-build-dark.mjs
  proprietary/design-tokens/style-dictionary-build.mjs
  proprietary/design-tokens/style-dictionary-config.mjs
  proprietary/design-tokens/style-dictionary.config.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add FormFieldTextarea to the PDF component library
  .changeset/serious-tomatoes-shake.md
  packages/component-library-pdf/src/FormFieldTextarea.test.tsx
  packages/storybook-pdf/src/FormFieldTextarea.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add inputRequired property to React Textarea
  .changeset/rotten-crews-brake.md
  packages/component-library-react/src/Textarea.test.tsx
  packages/component-library-react/src/Textarea.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add FormFieldTextarea component in React
  .changeset/fuzzy-ears-occur.md
  packages/component-library-react/src/FormFieldTextarea.test.tsx
  packages/component-library-react/src/FormFieldTextarea.tsx
  packages/component-library-react/src/css-module/FormFieldTextarea.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/storybook-react/src/stories/FormFieldTextarea.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: use `<figure>` for the logo, with optional caption
  components/logo/src/_mixin.scss
  components/logo/src/index.scss
  packages/component-library-react/src/Logo.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add Image to component-library-pdf
  components/img/docs/technology-pdf.nl.md
  packages/component-library-pdf/src/Image.test.tsx
  packages/component-library-pdf/src/image.png
  packages/storybook-pdf/package.json
  packages/storybook-pdf/src/Image.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: split Logo README into multiple markdown files
  components/logo/README.md
  components/logo/docs/accessibility.nl.md
  components/logo/docs/references.nl.md
  components/logo/docs/technology-html.nl.md
  components/logo/docs/technology-img.nl.md
  components/logo/docs/wcag.nl.md
  packages/storybook-css/src/Logo.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add Logo to component-library-pdf
  components/logo/docs/technology-pdf.nl.md
  packages/component-library-pdf/src/Logo.test.tsx
  packages/storybook-pdf/package.json
  packages/storybook-pdf/src/Logo.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: split Image README into multiple markdown files
  components/img/README.md
  components/img/docs/references.nl.md
  components/img/docs/technology-html.nl.md
  components/img/docs/wcag.nl.md
  packages/storybook-css/src/Image.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add Column Layout to PDF component library
  .changeset/rare-numbers-explode.md
  components/column-layout/docs/technology-pdf.nl.md
  packages/component-library-pdf/src/ColumnLayout.test.tsx
  packages/storybook-pdf/src/ColumnLayout.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: support PDF rendering of Column Layout CSS
  .changeset/shaggy-roses-rescue.md
  components/column-layout/src/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

style: improve looks of PDF preview in Storybook
  packages/storybook-pdf/src/PdfPreview.css
  packages/storybook-pdf/src/PdfPreview.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: support `restProps` for React `ColumnLayout` component
  .changeset/gold-plums-burn.md
  packages/component-library-react/src/ColumnLayout.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

test: perform manual tests for PDF Link and Table of Contents
  packages/component-library-pdf/src/Link.test.tsx
  packages/component-library-pdf/src/TableOfContents.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: support explicit column count tokens for print
  .changeset/eleven-comics-fail.md
  components/column-layout/src/_mixin.scss
  components/column-layout/src/index.scss
  components/column-layout/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add inputRequired state to Checkbox component
  packages/component-library-react/src/Checkbox.test.tsx
  packages/component-library-react/src/Checkbox.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add `utrecht-form-field__error-message` class name
  .changeset/beige-yaks-tease.md
  components/form-field/src/_mixin.scss
  components/form-field/src/index.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

feat: form field checkbox component for React
  .changeset/tricky-guests-impress.md
  packages/component-library-react/src/FormFieldCheckbox.test.tsx
  packages/component-library-react/src/FormFieldCheckbox.tsx
  packages/component-library-react/src/css-module/FormFieldCheckbox.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/storybook-react/src/stories/FormFieldCheckbox.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add FormFieldCheckbox to PDF component library
  .changeset/short-gifts-rescue.md
  packages/component-library-pdf/src/FormFieldCheckbox.test.tsx
  packages/storybook-pdf/src/FormFieldCheckbox.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: restore missing React button CSS
  .changeset/young-taxis-invent.md
  packages/component-library-react/src/css-module/Accordion.tsx
  packages/component-library-react/src/css-module/Button.tsx
  packages/component-library-react/src/css-module/index.ts
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add links to various technologies on design system website homepage
  packages/docusaurus/package.json
  packages/docusaurus/src/components/Card.css
  packages/docusaurus/src/components/Card.js
  packages/docusaurus/src/components/CardList.css
  packages/docusaurus/src/components/CardList.js
  packages/docusaurus/src/components/HomepageFeatures.js
  packages/docusaurus/src/pages/global.css
  packages/docusaurus/src/pages/index.js
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: improve React component readme
  packages/component-library-react/README.md
  packages/component-library-react/README.nl.md
  packages/component-library-react/package.json
  packages/storybook-react/config/preview.tsx
  packages/storybook-react/src/stories/readme-nl.stories.mdx
  packages/storybook-react/src/stories/readme.stories.mdx
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: update link to gebruikersonderzoeken.nl
  packages/docusaurus/navigationConfig.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fixup! chore(component-library-react): add changeset
  .changeset/tiny-buckets-fail.md
Due: markdownlint, prettier --check

fixup! feat(component-library-react): deprecate and in favor of
  packages/component-library-react/src/Paragraph.tsx
  packages/storybook-react/src/stories/Paragraph.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: remove smallest font size options from scale (too small)
  documentation/website/huisstijl/typography.md
  packages/storybook/stories/design-tokens/typography.stories.mdx
  proprietary/design-tokens/src/brand/utrecht/typography.tokens.json
  proprietary/design-tokens/src/component/utrecht/blockquote.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add class name to `utrecht-theme` for responsive scales
  .changeset/new-chairs-know.md
  proprietary/design-tokens/src/index.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

fix: output font-size and line-height tokens as `rem` instead of `px`
  proprietary/design-tokens/style-dictionary-config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

ci: check the Style Dictionary CSS output with stylelint
  proprietary/design-tokens/.stylelintrc.json
  proprietary/design-tokens/package.json
  proprietary/design-tokens/src/component/of/progress-indicator.tokens.json
  proprietary/design-tokens/src/component/utrecht/backdrop.tokens.json
  proprietary/design-tokens/src/component/utrecht/form-toggle.tokens.json
  proprietary/design-tokens/src/dark/component/tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: consistently use the typography, base it on px
  .changeset/twenty-bags-pump.md
  proprietary/design-tokens/src/brand/utrecht/typography.tokens.json
  proprietary/design-tokens/src/component/utrecht/blockquote.tokens.json
  proprietary/design-tokens/src/component/utrecht/code-block.tokens.json
  proprietary/design-tokens/src/component/utrecht/figure.tokens.json
  proprietary/design-tokens/src/component/utrecht/form-fieldset.tokens.json
  proprietary/design-tokens/src/component/utrecht/pagination.tokens.json
  proprietary/design-tokens/src/component/utrecht/table.tokens.json
  proprietary/design-tokens/src/component/utrecht/toptask-link.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/beige-yaks-tease.md
  .changeset/eleven-comics-fail.md
  .changeset/famous-knives-sparkle.md
  .changeset/fuzzy-ears-occur.md
  .changeset/gold-plums-burn.md
  .changeset/metal-numbers-appear.md
  .changeset/popular-mugs-drop.md
  .changeset/rare-numbers-explode.md
  .changeset/rotten-crews-brake.md
  .changeset/serious-tomatoes-shake.md
  .changeset/shaggy-roses-rescue.md
  .changeset/short-gifts-rescue.md
  .changeset/shy-books-sell.md
  .changeset/tricky-guests-impress.md
  .changeset/twenty-bags-pump.md
  .changeset/young-taxis-invent.md
  components/CHANGELOG.md
  components/blockquote/CHANGELOG.md
  components/blockquote/package.json
  components/column-layout/CHANGELOG.md
  components/column-layout/package.json
  components/form-field/CHANGELOG.md
  components/form-field/package.json
  components/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/component-library-pdf/CHANGELOG.md
  packages/component-library-pdf/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

Feat/improve paragraph robbert (#2566)
  .changeset/tiny-buckets-fail.md
  packages/component-library-react/src/Paragraph.tsx
  packages/storybook-react/src/stories/Paragraph.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: changed support token for form toggle
  components/form-toggle/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/delay-mass-pole.md
Due: markdownlint, prettier --check

feat(component-library-react/paragraph): deprecate lead and small for appearance attribute (#2552)
  .changeset/tiny-buckets-fail.md
  packages/component-library-react/src/Paragraph.test.tsx
  packages/component-library-react/src/Paragraph.tsx
  packages/storybook-react/src/stories/Paragraph.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
