Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

docs: add form page step 1
  packages/storybook-react/src/stories/FormPagesStep/PageStep-1.stories.tsx
  packages/storybook-react/src/stories/FormPagesStep/PageStep-2.stories.tsx
  packages/storybook-react/src/stories/FormPagesStep/PageStep-3.stories.tsx
  packages/storybook-react/src/stories/FormPagesStep/PageStep-4.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(react-lib-custom-radio-button): add missing css class
  packages/component-library-react/src/CustomRadioButton.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add spacing to form pages
  packages/storybook-react/src/stories/FormPagesStep/PageStep-1.stories.tsx
  packages/storybook-react/src/stories/FormPagesStep/PageStep-2.stories.tsx
  packages/storybook-react/src/stories/FormPagesStep/PageStep-3.stories.tsx
  packages/storybook-react/src/stories/FormPagesStep/PageStep-4.stories.tsx
  packages/storybook-react/src/stories/FormPagesStep/PageStepLogin.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(react-storybook): re-category from components to template
  packages/storybook-react/src/stories/FormPagesStep/PageStep-1.stories.tsx
  packages/storybook-react/src/stories/FormPagesStep/PageStep-2.stories.tsx
  packages/storybook-react/src/stories/FormPagesStep/PageStep-3.stories.tsx
  packages/storybook-react/src/stories/FormPagesStep/PageStep-4.stories.tsx
  packages/storybook-react/src/stories/FormPagesStep/PageStepLogin.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages %v
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: extra missing icons
  components/icon/src/svg/blind-doof.svg
  components/icon/src/svg/brief-betalen.svg
  components/icon/src/svg/documenten.svg
  components/icon/src/svg/elektrisch-rijden.svg
  components/icon/src/svg/gebruiker-ingelogd.svg
  components/icon/src/svg/geluid.svg
  components/icon/src/svg/gemeente-locatie.svg
  components/icon/src/svg/gezicht.svg
  components/icon/src/svg/grafiek.svg
  components/icon/src/svg/grofvuil-ophalen.svg
  components/icon/src/svg/grofvuil.svg
  components/icon/src/svg/herdenking.svg
  components/icon/src/svg/hondenbelasting.svg
  components/icon/src/svg/hulpmiddelen-gezin.svg
  components/icon/src/svg/idee.svg
  components/icon/src/svg/inspraak-inwoners.svg
  components/icon/src/svg/kennis.svg
  components/icon/src/svg/lantaarnpaal-oud.svg
  components/icon/src/svg/melding-boom.svg
  components/icon/src/svg/melding-openbareruimte.svg
  components/icon/src/svg/melding-verlichting.svg
  components/icon/src/svg/om-het-huis.svg
  components/icon/src/svg/ondernemen.svg
  components/icon/src/svg/over-de-stad.svg
  components/icon/src/svg/overlijden.svg
  components/icon/src/svg/participatie-like.svg
  components/icon/src/svg/participatie-pitch.svg
  components/icon/src/svg/sport-en-cultuur.svg
  components/icon/src/svg/strand.svg
  components/icon/src/svg/subsidie.svg
  components/icon/src/svg/uw-wijk.svg
  components/icon/src/svg/vergaderen.svg
  components/icon/src/svg/verslaving.svg
Due: none

fix: renaming icon
  components/icon/src/svg/horecavergunning.svg
  components/icon/src/svg/slechtziende-hoordende.svg
Due: none

fix: addes extra icons
  components/icon/src/svg/toeslag.svg
  components/icon/src/svg/verslaving.svg
Due: none

feat: add hint colors to button component
  components/button/css/_mixin.scss
  components/button/css/index.scss
  components/button/css/stories/appearance.stories.mdx
  components/button/css/story-template.jsx
  components/data-list/css/_mixin.scss
  packages/component-library-react/src/Button.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

style: add button hint colors to the design tokens
  proprietary/design-tokens/src/component/utrecht/button.tokens.json
Due: none

fix(heading-theme): remove `color` value
  proprietary/design-tokens/src/component/utrecht/heading-1.tokens.json
  proprietary/design-tokens/src/component/utrecht/heading-2.tokens.json
  proprietary/design-tokens/src/component/utrecht/heading-3.tokens.json
  proprietary/design-tokens/src/component/utrecht/heading-4.tokens.json
  proprietary/design-tokens/src/component/utrecht/heading-5.tokens.json
  proprietary/design-tokens/src/component/utrecht/heading-6.tokens.json
Due: none

feat(link-social-css): add hover style & remove unnecessarily css properties
  components/link-social/css/index.scss
Due: prettier --check, stylelint --allow-empty-input

docs(link-social-css): improve the link social stories
  components/link-social/css/stories/default.stories.mdx
  components/link-social/css/stories/list.stories.mdx
  components/link-social/css/stories/readme.stories.mdx
  components/link-social/css/stories/tokens.stories.mdx
  components/link-social/css/story-template.jsx
  components/link-social/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(list-social-css): create list social css component
  components/index.scss
  components/list-social/css/_mixin.scss
  components/list-social/css/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: improve the custom checkbox component css
  components/custom-checkbox/css/_mixin.scss
  components/custom-checkbox/css/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: refactor the custom checkbox stencil
  packages/web-component-library-stencil/src/custom-checkbox/index.stencil.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: update the css stories with the new custom checkbox
  components/custom-checkbox/css/stories/states.stories.mdx
  components/custom-checkbox/css/story-template.jsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: provide new design tokens
  proprietary/design-tokens/src/component/utrecht/custom-checkbox.tokens.json
Due: none

docs(list-social-css): add list social stories
  components/list-social/README.md
  components/list-social/css/stories/default.stories.mdx
  components/list-social/css/stories/readme.stories.mdx
  components/list-social/css/stories/tokens.stories.mdx
  components/list-social/css/story-template.jsx
  components/list-social/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(link-social-react): add link social stories
  packages/storybook-react/src/stories/LinkSocial/LinkSocial.stories.tsx
  packages/storybook-react/src/stories/LinkSocial/docs.stories.mdx
  packages/storybook-react/src/stories/LinkSocial/tokens.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(list-social-design-tokens): add design tokens
  proprietary/design-tokens/src/component/utrecht/list-social.tokens.json
Due: none

feat(link-social-react): create link social component
  packages/component-library-react/src/LinkSocial.tsx
  packages/component-library-react/src/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(list-social-react): create list social component
  packages/component-library-react/src/ListSocial.tsx
  packages/component-library-react/src/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(link-social-design-tokens): add hover token
  proprietary/design-tokens/src/component/utrecht/link-social.tokens.json
Due: none

docs(list-social-react): add list social stories
  packages/storybook-react/src/stories/ListSocial/ListSocial.stories.tsx
  packages/storybook-react/src/stories/ListSocial/docs.stories.mdx
  packages/storybook-react/src/stories/ListSocial/tokens.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern
