Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: better content pages
  packages/storybook-react/src/stories/font-examples/formulier.stories.tsx
  packages/storybook-react/src/stories/font-examples/webpagina.stories.tsx
  packages/storybook-react/src/stories/prototype-src/ContentWebpageEvent1.tsx
  packages/storybook-react/src/stories/prototype-src/ContentWebpageEvent2.tsx
  packages/storybook-react/src/stories/prototype-src/ContentWebpageEvent3.tsx
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
  packages/storybook-react/src/stories/prototype-src/index.css
  packages/storybook-react/src/stories/prototype-src/variables.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: roboto en inter werken nu
  packages/storybook-react/src/stories/prototype-src/ContentWebpage.tsx
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix(utrecht/ordered-list-css): add `list-style-type` CSS property to `utrecht-ordered-list`
  .changeset/late-goats-perform.md
  components/ordered-list/src/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

docs(release): design system packages
  .changeset/late-goats-perform.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/ordered-list/CHANGELOG.md
  components/ordered-list/package.json
  packages/component-library-design-tokens/CHANGELOG.md
  packages/component-library-design-tokens/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore(component-library-css): move CSS packages from devDependencies to dependencies
  packages/component-library-css/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix(component-library-css): add `list-style-type` CSS property to `utrecht-ordered-list`
  .changeset/spotty-bikes-leave.md
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/spotty-bikes-leave.md
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix(@utrecht/component-library-css): move `build-utils-css` to devDependencies
  .changeset/purple-singers-rest.md
  packages/component-library-css/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix(build-utils-css): fix the `directory` in the `package.json`
  .changeset/neat-kiwis-admire.md
  packages/build-utils-css/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/neat-kiwis-admire.md
  .changeset/purple-singers-rest.md
  packages/build-utils-css/CHANGELOG.md
  packages/build-utils-css/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(react-storybook): fix the storybook templates spacing issue
  packages/storybook-react/src/stories/font-examples/formulier.stories.tsx
  packages/storybook-react/src/stories/font-examples/webpagina-event-1.stories.tsx
  packages/storybook-react/src/stories/font-examples/webpagina-event-2.stories.tsx
  packages/storybook-react/src/stories/font-examples/webpagina-event-3.stories.tsx
  packages/storybook-react/src/stories/font-examples/webpagina.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage1.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage2.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage3.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage4.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/introductie.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/scenario.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/speeltuin.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage1.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage2.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage3.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage4.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/introductie.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/scenario.stories.tsx
  packages/storybook-react/src/stories/prototype-src/ContentWebpageEvent1.tsx
  packages/storybook-react/src/stories/prototype-src/ContentWebpageEvent2.tsx
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
  packages/storybook-react/src/stories/prototype-src/index.css
  packages/storybook-react/src/stories/styles.css
  packages/storybook-react/src/stories/template/PageStep-1.stories.tsx
  packages/storybook-react/src/stories/template/PageStep-2.stories.tsx
  packages/storybook-react/src/stories/template/PageStep-3.stories.tsx
  packages/storybook-react/src/stories/template/PageStep-4.stories.tsx
  packages/storybook-react/src/stories/template/PageStepLogin.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: bug fixes
  packages/storybook-react/src/stories/font-examples/formulier.stories.tsx
  packages/storybook-react/src/stories/font-examples/webpagina-event-3.stories.tsx
  packages/storybook-react/src/stories/prototype-src/ContentWebpageEvent2.tsx
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
  packages/storybook-react/src/stories/prototype-src/index.css
  packages/storybook-react/src/stories/prototype-src/variables.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: letter-spacing option
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(design-tokens): update the backdrop background-color value
  .changeset/young-toes-smoke.md
  proprietary/design-tokens/src/component/utrecht/backdrop.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: utrecht.backdrop.color
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/young-toes-smoke.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: add checkbox test to accordion
  packages/component-library-react/src/Accordion.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: oude research door laten verwijzen
  documentation/website/gebruikersonderzoek/research.md
  documentation/website/gebruikersonderzoek/research_0001.md
  documentation/website/gebruikersonderzoek/research_0011.md
  documentation/website/gebruikersonderzoek/research_0012.md
  documentation/website/gebruikersonderzoek/research_0013.md
  documentation/website/gebruikersonderzoek/research_0014 copy.md
  documentation/website/gebruikersonderzoek/research_0022.md
Due: markdownlint, prettier --check

fix: fira sans update
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: work sans
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add boilerplate page
  apps/experiments/boilerplate-with-todo.html
Due: none

docs(storybook-react): add FormStep to storybook
  packages/storybook-react/package.json
  packages/storybook-react/src/stories/open-forms/FormStep.stories.tsx
  packages/storybook-react/src/stories/open-forms/StoryUtil.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs: new social icons
  packages/icon/src/svg/bluesky.svg
  packages/icon/src/svg/mastodon.svg
  packages/icon/src/svg/threads.svg
  packages/storybook/stories/icon/icon-gallery-socialmedia.stories.mdx
  packages/storybook/stories/icon/icon-gallery.stories.mdx
  packages/web-component-library-stencil/src/components.d.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: dubbele woorden verwijderd
  documentation/website/gebruikersonderzoek/research_0011.md
  documentation/website/gebruikersonderzoek/research_0012.md
  documentation/website/gebruikersonderzoek/research_0013.md
  documentation/website/gebruikersonderzoek/research_0014 copy.md
  documentation/website/gebruikersonderzoek/research_0022.md
Due: markdownlint, prettier --check

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
