Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add metadata for textarea tokens
  components/textarea/src/_mixin.scss
  components/textarea/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: add changeset
  .changeset/node-big-rock.md
Due: markdownlint, prettier --check

fix: border-block-end-width in mixin
  .changeset/textarea-quux-bar.md
  components/textarea/src/_mixin.scss
  proprietary/design-tokens/src/component/utrecht/textarea.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: renamed badge-list spacing tokens (#2490)
  .changeset/bee-baa-boop.md
  components/badge-list/src/_mixin.scss
  components/badge-list/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add metadata for mapcontrolbutton (#2420)
  .changeset/sheet-shock-round.md
  components/mapcontrolbutton/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add metadata for process-steps (#2434)
  components/process-steps/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add metadata for radio-button (#2440)
  .changeset/stir-lake-route.md
  components/radio-button/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add metadata for separator (#2451)
  .changeset/piano-arrow-level.md
  components/separator/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add metadata for surface (#2465)
  .changeset/load-agent-drink.md
  components/surface/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add metadata for table (#2466)
  .changeset/long-post-creed.md
  components/table/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add metadata for toptask-nav tokens (#2468)
  .changeset/worth-bird-suite.md
  components/toptask-nav/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add metadata for vega-visualization (#2469)
  .changeset/wake-craft-gun.md
  components/vega-visualization/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add metadata for spotlight section (#2464)
  .changeset/torch-air-rub.md
  components/spotlight-section/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add metadata for unordered-list (#2470)
  .changeset/salon-era-pest.md
  components/unordered-list/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add border-block-end-width token for invalid state (#2474)
  .changeset/idea-lie-shelf.md
  components/select/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add metadata for toptask-link tokens (#2467)
  .changeset/cheap-crown-linen.md
  components/toptask-link/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: fix link to number badge issues
  packages/storybook-css/src/NumberBadge.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: fix changeset syntax
  .changeset/bee-baa-boop.md
  .changeset/cheap-crown-linen.md
  .changeset/commission-nose-premium.md
  .changeset/worth-bird-suite.md
Due: markdownlint, prettier --check

build: upgrade github actions and use hash signatures
  .github/workflows/block-autosquash-commits.yml
  .github/workflows/commit-lint.yml
  .github/workflows/continuous-delivery.yml
  .github/workflows/semantic-pull-requests.yml
Due: none

feat: improve React NavList with restProps/forwardRef/className support
  .changeset/weak-olives-collect.md
  packages/component-library-react/src/NavList.test.tsx
  packages/component-library-react/src/NavList.tsx
  packages/component-library-react/src/NavListLink.test.tsx
  packages/component-library-react/src/NavListLinkButton.test.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add superscript CSS and React component
  .changeset/clever-houses-rescue.md
  .changeset/kind-chicken-look.md
  components/superscript/README.md
  components/superscript/package.json
  components/superscript/src/_mixin.scss
  components/superscript/src/html/_mixin.scss
  components/superscript/src/html/index.scss
  components/superscript/src/index.scss
  components/superscript/src/tokens.json
  packages/component-library-react/package.json
  packages/component-library-react/src/Superscript.tsx
  packages/component-library-react/src/css-module/Superscript.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/storybook-css/package.json
  packages/storybook-css/src/Superscript.stories.tsx
  packages/storybook-react/package.json
  packages/storybook-react/src/stories/Superscript.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add subscript CSS and React component
  .changeset/kind-rabbit-look.md
  .changeset/spooky-houses-rescue.md
  components/subscript/README.md
  components/subscript/package.json
  components/subscript/src/_mixin.scss
  components/subscript/src/html/_mixin.scss
  components/subscript/src/html/index.scss
  components/subscript/src/index.scss
  components/subscript/src/tokens.json
  packages/component-library-react/package.json
  packages/component-library-react/src/Subscript.tsx
  packages/component-library-react/src/css-module/Subscript.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/storybook-css/package.json
  packages/storybook-css/src/Subscript.stories.tsx
  packages/storybook-react/package.json
  packages/storybook-react/src/stories/Subscript.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: add missing bundled CSS for the React Button and Calendar components
  .changeset/chilly-mayflies-float.md
  packages/component-library-react/rollup-component-package.mjs
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: forced colors story for CSS unordered list
  components/unordered-list/src/_mixin.scss
  components/unordered-list/src/html/_mixin.scss
  components/unordered-list/src/index.scss
  packages/storybook-css/src/UnorderedList.stories.tsx
  packages/storybook-css/src/UnorderedList.tsx
  proprietary/design-tokens/src/component/utrecht/unordered-list.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: badge components now use CSS border-box sizing
  .changeset/fast-news-refuse.md
  components/badge/src/_mixin.scss
  components/number-badge/src/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

chore: remove `utrecht-link--icon-left` class name
  components/link/src/_mixin.scss
  components/link/src/index.scss
  components/link/src/story-template.jsx
  packages/docusaurus/docs/componenten/typografie/link.mdx
  proprietary/design-tokens/src/background-image-icon.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: do not use React + CSS components for CSS storybook
  packages/storybook-css/src/ColorSample.stories.tsx
  packages/storybook-css/src/Combobox.tsx
  packages/storybook-css/src/DataPlaceholder.stories.tsx
  packages/storybook-css/src/IndexCharNav.stories.tsx
  packages/storybook-css/src/Logo.stories.tsx
  packages/storybook-css/src/NavBar.stories.tsx
  packages/storybook-css/src/Subscript.stories.tsx
  packages/storybook-css/src/Superscript.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: start using `:focus-visible`, Safari support has caught up
  .changeset/three-emus-juggle.md
  components/button/src/index.scss
  components/checkbox/src/_mixin.scss
  components/checkbox/src/index.scss
  components/link/src/_mixin.scss
  components/link/src/html/_mixin.scss
  components/link/src/index.scss
  components/mapcontrolbutton/src/index.scss
  components/menulijst/src/index.scss
  components/navigatie sidenav/src/index.scss
  components/navigatie topnav/src/index.scss
  components/pagination/src/_mixin.scss
  components/pagination/src/index.scss
  components/select/src/_mixin.scss
  components/textarea/src/_mixin.scss
  components/textbox/src/_mixin.scss
  components/toptask-link/src/index.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

chore: remove SCSS code for `:focus-visible` polyfill
  .changeset/forty-months-dress.md
  components/focus-ring/src/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
