Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

build: use `cjs` and `mjs` files in Style Dictionary output
  components/surface/css/stories/readme.stories.mdx
  packages/storybook/config/manager.js
  packages/storybook/stories/web-component/surface/readme.stories.mdx
  proprietary/design-tokens/README.md
  proprietary/design-tokens/style-dictionary.config.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: `nl.nldesignsystem.hidden` annotation for design tokens
  components/button/tokens.json
  documentation/components/ComponentTokensTable.jsx
  documentation/components/ExampleTokensCSS.jsx
  documentation/components/ExampleTokensJSON.jsx
  documentation/components/design-tokens.js
  documentation/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

style: introduce subtle button design
  components/button/css/stories/appearance.stories.mdx
  proprietary/design-tokens/src/component/utrecht/button.tokens.json
Due: none

refactor: port NumberValue React Storybook entry to Storybook 7 syntax
  packages/storybook-react/src/stories/NumberValue.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: change to logo
  proprietary/assets/logo-lg-monochrome.svg
  proprietary/assets/logo-md-monochrome.svg
  proprietary/assets/logo-md.svg
  proprietary/assets/logo-monochrome.svg
  proprietary/assets/logo-sm-monochrome.svg
  proprietary/assets/logo-sm.svg
  proprietary/assets/logo-xs-monochrome.svg
  proprietary/assets/logo-xs.svg
  proprietary/assets/logo.svg
Due: none

refactor: convert mark component react story to storybook 7
  packages/storybook-react/src/stories/Mark.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: convert code component react story to storybook 7
  packages/storybook-react/src/stories/Code.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: convert article component react story to storybook 7
  packages/storybook-react/src/stories/Article.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: install patch updates
  components/icon/package.json
  components/package.json
  documentation/package.json
  package.json
  packages/component-library-angular/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/docusaurus/package.json
  packages/storybook-angular/package.json
  packages/storybook-react/package.json
  packages/storybook-vue/package.json
  packages/storybook/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  patches/@storybook__angular@7.0.0-beta.25.patch
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: update to TypeScript 4.9.5 for everything but Angular
  packages/storybook-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

docs: added icon research february
  documentation/website/gebruikersonderzoek/research_0014 copy.md
Due: markdownlint, prettier --check

docs: fixed style errors
  documentation/website/gebruikersonderzoek/research_0014 copy.md
Due: markdownlint, prettier --check

docs: iconen onderzoek 2023 feb (#1611)
  documentation/website/gebruikersonderzoek/research_0014 copy.md
  packages/docusaurus/static/img/onderzoek_afval.png
  packages/docusaurus/static/img/onderzoek_afvalcontainer.png
  packages/docusaurus/static/img/onderzoek_burgemeester.png
  packages/docusaurus/static/img/onderzoek_gemeenteraad.png
Due: markdownlint, prettier --check

build: improve Storybook React TypeScript config
  packages/storybook-react/package.json
  packages/storybook-react/src/markdown.d.ts
  packages/storybook-react/tsconfig.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fixup! refactor: port NumberValue React Storybook entry to Storybook 7 syntax
  packages/storybook-react/src/stories/NumberValue.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: update web component logo
  packages/web-component-library-stencil/src/logo/index.stencil.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: simplify fieldset story template and enable controls
  packages/storybook-angular/src/stories/FormFieldset.stories.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: extended angular fieldset component and added unit tests for it
  packages/component-library-angular/src/form-fieldset/FormFieldset.spec.ts
  packages/component-library-angular/src/form-fieldset/component.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern
