Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": "markdownlint",
  "*.{js,jsx,mdx,ts,tsx}": "eslint --no-error-on-unmatched-pattern",
  "*.css": "stylelint --allow-empty-input"
}

build: upgrade to Storybook 6.3
  package-lock.json
  package.json
  packages/storybook/package-lock.json
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets

refactor: migrate away from deprecated import path
  components/blockquote/html.stories.mdx
  components/blockquote/stories.mdx
  components/button/button-html.stories.mdx
  components/button/button.stories.mdx
  components/favicon/stories.mdx
  components/form-field-checkbox/stories.mdx
  components/form-field-radio-group/stories.mdx
  components/form-field-radio/stories.mdx
  components/form-label/html.stories.mdx
  components/form-label/stories.mdx
  components/heading/html.stories.mdx
  components/heading/stories.mdx
  components/link/link-html.stories.mdx
  components/link/link.stories.mdx
  components/logo/logo.stories.mdx
  components/menulijst/menulijst.stories.mdx
  components/paragraph/html.stories.mdx
  components/paragraph/stories.mdx
  components/separator/html.stories.mdx
  components/separator/stories.mdx
  components/textarea/html.stories.mdx
  components/textbox/html.stories.mdx
  components/unordered-list/html.stories.mdx
  components/unordered-list/stories.mdx
  documentation/colours.stories.mdx
  documentation/content.stories.mdx
  documentation/introduction.stories.mdx
  documentation/permission.stories.mdx
  documentation/research.stories.mdx
  documentation/research_0001.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

ci: dependabot should ignore webpack 5 until fully supported by Storybook
  .github/dependabot.yml
Due: none

build: remove unused mdx-embed plugin from Storybook
  package-lock.json
  package.json
  packages/storybook/.storybook/main.js
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

build: configure npm to store exact dependencies
  .npmrc
Due: none

build: upgrade to React 17
  package-lock.json
  package.json
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: remove pre-npm 7 package-lock.json files
  documentation/package-lock.json
  packages/component-library/package-lock.json
  packages/storybook/package-lock.json
  proprietary/design-tokens/package-lock.json
Due: none

ci: remove boostrap script
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: configure workspace root node_modules path
  packages/component-library/package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: bump status to "unstable" for headings and paragraph
  components/heading/stories.mdx
  components/paragraph/stories.mdx
Due: eslint --no-error-on-unmatched-pattern

chore: only track the npm 7 workspace root `package-lock.json`
  .gitignore
Due: none

ci: log npm dependency tree during builds
  .github/workflows/continuous-delivery.yml
  .github/workflows/continuous-integration.yml
Due: none

build: npm dedupe
  package-lock.json
Due: none

chore: remove unused npm `bootstrap` script
  .github/workflows/continuous-delivery.yml
  .github/workflows/continuous-integration.yml
  netlify.toml
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: use no version range prefix
  documentation/package.json
  package-lock.json
  package.json
  packages/component-library/package.json
  packages/storybook/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: disallow version range dependencies
  .npmpackagejsonlintrc.json
Due: none

chore: rename `.scss` file to allow importing `index.css` from SCSS too
  proprietary/design-tokens/style-dictionary.config.json
Due: none

build: do not clutter CSS build with source maps
  packages/component-library/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: update CSS collections with new components
  packages/component-library/src/bem.scss
  packages/component-library/src/html.scss
  packages/component-library/src/index.scss
  packages/component-library/src/root-theme.scss
  packages/component-library/src/utrecht-theme.scss
Due: none

fix: update to renamed radio-button class name
  components/radio-button/html.scss
Due: none
