Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat(storybook-css): add formio-renderer story for Open Forms token testing
  packages/storybook-css/config/main.ts
  packages/storybook-css/src/FormioRenderer.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore(storybook-css): add formio-renderer peer dependencies and CSS
  packages/storybook-css/config/preview.tsx
  packages/storybook-css/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix(storybook-css): remove unused eslint-disable directive
  packages/storybook-css/src/FormioRenderer.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: customizable-text-input hover specificity fix
  components/customizable-text-input/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

chore: changeset
  .changeset/big-bikes-whisper.md
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/big-bikes-whisper.md
  components/customizable-text-input/CHANGELOG.md
  components/customizable-text-input/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/components-react/customizable-text-input/CHANGELOG.md
  packages/components-react/customizable-text-input/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: headersearchbar
  components/search-bar/README.md
  components/search-bar/src/_mixin.scss
  components/search-bar/src/index.scss
  components/search-bar/src/tokens.json
  packages/component-library-react/src/HeaderSearchBar.test.tsx
  packages/component-library-react/src/HeaderSearchBar.tsx
  packages/component-library-react/src/index.ts
  packages/storybook-react/src/stories/HeaderSearchBar.stories.tsx
  proprietary/design-tokens/src/component/utrecht/search-bar.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix(storybook-css): scope formio-renderer CSS and IntlProvider to story
  packages/storybook-css/config/preview.tsx
  packages/storybook-css/src/FormioRenderer.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: better information icon
  packages/icon/src/svg/information.svg
Due: none

fix: information icon
  packages/icon/src/svg/information.svg
Due: none

fix: dubbele fill
  packages/icon/src/svg/information.svg
Due: none

fix: icon
  packages/icon/src/svg/information.svg
Due: none

fix: better information icon (#3218)
  packages/icon/src/svg/information.svg
Due: none

fix: focus en active
  components/search-bar/README.md
  components/search-bar/src/_mixin.scss
  components/search-bar/src/index.scss
  components/search-bar/src/tokens.json
  packages/storybook-react/src/stories/HeaderSearchBar.stories.tsx
  proprietary/design-tokens/src/component/utrecht/search-bar.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore(storybook): move formio-renderer build config to storybook-react
  packages/storybook-css/config/main.ts
  packages/storybook-css/package.json
  packages/storybook-react/config/main.ts
  packages/storybook-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat(storybook-react): merge Open Formulieren voorbeelden into one story page
  packages/storybook-react/src/stories/open-forms/OpenFormsVoorbeeld.stories.tsx
  packages/storybook-react/src/stories/open-forms/Voorbeelden.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Update
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(open-forms-container): add tooltip label styling tokens
  components/open-forms-container/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

fix(storybook-react): load OpenFormsContainer CSS via /css subpath import
  packages/storybook-react/src/stories/open-forms/StoryUtil.tsx
  packages/storybook-react/src/stories/open-forms/Voorbeelden.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: sync pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

build: restore pnpm pack/pnpm publish behavior to pre-pnpm@11.13 behavior
  .npmignore
Due: none

card as link update
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

utrecht-note update
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: css search
  components/search-bar/README.md
  components/search-bar/src/_mixin.scss
  components/search-bar/src/index.scss
  components/search-bar/src/tokens.json
  packages/storybook-react/src/stories/HeaderSearchBar.stories.tsx
  proprietary/design-tokens/src/component/utrecht/search-bar.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix(card): sort CSS properties alphabetically in link mixin
  components/card/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

feat(design-tokens): source src/figma as a token category
  proprietary/design-tokens/style-dictionary-build-dark.mjs
  proprietary/design-tokens/style-dictionary-build.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(design-tokens): sync space tokens from figma.tokens.json
  proprietary/design-tokens/figma-space-mapping-report.md
  proprietary/design-tokens/figma/figma.tokens.json
  proprietary/design-tokens/package.json
  proprietary/design-tokens/src/common/utrecht/space.tokens.json
  proprietary/design-tokens/src/figma/space-figma.tokens.json
  proprietary/design-tokens/sync-figma-space.mjs
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

font-weight default to 400
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

font-weight medium
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(design-tokens): source heading typography from Figma
  proprietary/design-tokens/figma-tokens.mjs
  proprietary/design-tokens/src/component/nl/heading.tokens.json
  proprietary/design-tokens/src/figma-bridge/heading.tokens.json
  proprietary/design-tokens/src/figma/figma.tokens.json
  proprietary/design-tokens/style-dictionary-build-dark.mjs
  proprietary/design-tokens/style-dictionary-build.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(design-tokens): source paragraph typography from Figma
  proprietary/design-tokens/figma-tokens.mjs
  proprietary/design-tokens/src/component/nl/paragraph.tokens.json
  proprietary/design-tokens/src/figma-bridge/paragraph.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(design-tokens): source link typography and color from Figma
  proprietary/design-tokens/figma-tokens.mjs
  proprietary/design-tokens/src/component/utrecht/link.tokens.json
  proprietary/design-tokens/src/figma-bridge/link.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Added "$value": "\"Noto Sans Variable\", \"Noto Sans\", sans-serif"
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(design-tokens): expand figma-bridge token files to multi-line JSON
  proprietary/design-tokens/src/figma-bridge/heading.tokens.json
  proprietary/design-tokens/src/figma-bridge/link.tokens.json
  proprietary/design-tokens/src/figma-bridge/paragraph.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(open-forms-container): add tooltip padding and arrow sizing tokens
  components/open-forms-container/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

feat: switch to Figma tokens
  proprietary/design-tokens/figma/figma.tokens.json
  proprietary/design-tokens/src/code-only.tokens.json
  proprietary/design-tokens/style-dictionary-build.mjs
  proprietary/design-tokens/style-dictionary-config.mjs
  proprietary/design-tokens/stylelint.config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: switch from `utrecht-surface` to `utrecht-root`
  components/surface/_surface-theme-color.md
  packages/storybook-css/src/Surface.stories.tsx
  packages/storybook-web-component/src/Surface.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
