Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

docs: add code block web component story
  packages/storybook-web-component/src/CodeBlock.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add number value web component story
  components/number-value/README.md
  components/number-value/tokens.json
  packages/storybook-web-component/src/NumberValue.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add link button web component story
  packages/storybook-web-component/src/LinkButton.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add code web component story
  packages/storybook-web-component/src/Code.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add spotlight section web component story
  packages/storybook-web-component/src/SpotlightSection.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add URL value web component story
  packages/storybook-web-component/src/URLValue.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add color sample web component story
  packages/storybook-web-component/src/ColorSample.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add IBAN data web component story
  packages/storybook-web-component/src/IBANData.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add link web component story
  packages/storybook-web-component/src/Link.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add skip link web component story
  packages/storybook-web-component/src/SkipLink.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add emphasis web component story
  packages/storybook-web-component/src/Emphasis.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add mark web component story
  packages/storybook-web-component/src/Mark.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add alert web component story
  packages/storybook-web-component/src/Alert.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: switch Chromatic to Storybook with only CSS components
  .github/workflows/continuous-delivery.yml
Due: none

docs: make web components docs more prominent
  packages/storybook-web-component/config/preview.tsx
  packages/storybook-web-component/src/web-component-library-angular.stories.mdx
  packages/storybook-web-component/src/web-component-library-react.stories.mdx
  packages/storybook-web-component/src/web-component-library-vue.stories.mdx
  packages/web-component-library-angular/README.md
  packages/web-component-library-react/README.md
  packages/web-component-library-vue/README.md
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add button link web component story
  packages/storybook-web-component/src/ButtonLink.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add button group web component story
  packages/storybook-web-component/src/ButtonGroup.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add badge list web component story
  packages/storybook-web-component/src/BadgeList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: improved API and styling of form web components
  .htmlvalidate.json
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/button.tsx
  packages/web-component-library-stencil/src/components/form-field-checkbox.scss
  packages/web-component-library-stencil/src/components/form-field-checkbox.tsx
  packages/web-component-library-stencil/src/components/form-field-textarea.scss
  packages/web-component-library-stencil/src/components/form-field-textarea.tsx
  packages/web-component-library-stencil/src/components/form-field-textbox.scss
  packages/web-component-library-stencil/src/components/form-field-textbox.tsx
  packages/web-component-library-stencil/src/index.html
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

build: publish Stencil demo on GitHub Pages too
  packages/design-system-website/package.json
Due: npmPkgJsonLint --allowEmptyTargets
