Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

update: changeset
  .changeset/delicate-dark-coin.md
Due: markdownlint, prettier --check

update: changeset
  components/link-social/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

update: changeset
  .changeset/dominant-first-poor.md
Due: markdownlint, prettier --check

Update components/map-marker/src/tokens.json
  components/map-marker/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add metadata for pre-heading (#2433)
  .changeset/union-pop-block.md
  components/pre-heading/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add metadata for paragraph (#2432)
  .changeset/ideal-shout-poll.md
  components/paragraph/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: metadata for pagination (#2431)
  .changeset/grain-break-joke.md
  components/page-header/src/tokens.json
  components/pagination/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add metadata for page-footer (#2429)
  .changeset/play-bag-tear.md
  components/page-footer/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add metadata for page (#2427)
  components/page/src/tokens.json
  tip-chin-sum.md
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: explicitly fallback to `background-color: transparent` to have a valid CSS value
  .changeset/nine-maps-check.md
  components/table/src/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

chore: fix changesets
  .changeset/good-sport-resource.md
  .changeset/halt-patrol-physical.md
  .changeset/path-formal-rotate.md
  .changeset/tip-chin-sum.md
  .changeset/war-seize-heat.md
Due: markdownlint, prettier --check

feat: add YouTube video CSS component
  .changeset/bright-monkeys-boil.md
  components/youtube-video/README.md
  components/youtube-video/package.json
  components/youtube-video/src/_mixin.scss
  components/youtube-video/src/index.scss
  components/youtube-video/src/tokens.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: fix changeset (#2438)
  .changeset/good-sport-resource.md
  .changeset/halt-patrol-physical.md
  .changeset/path-formal-rotate.md
  .changeset/tip-chin-sum.md
  .changeset/war-seize-heat.md
Due: markdownlint, prettier --check

feat: support styling of radio/checkbox form labels in vanilla HTML
  .changeset/tough-comics-live.md
  components/form-label/src/html/_mixin.scss
  packages/storybook-html/src/FormLabel.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

test: add button tests for label prop
  .changeset/slimy-roses-scream.md
  packages/components-react/button-react/src/index.test.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

style: changed the random added 4px gap to a normal gap
  components/accordion/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

docs: add changeset
  .changeset/proud-ants-sing.md
Due: markdownlint, prettier --check

style: add row gap tokens
  components/accordion/src/tokens.json
  proprietary/design-tokens/src/component/utrecht/accordion.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: add header margin block tokens
  components/accordion/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

feat: add metadata for radio-button
  components/radio-button/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/stir-lake-route.md
Due: markdownlint, prettier --check

Rename Bagde counter to Number badge
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: regression in `utrecht.button.font-family` support
  .changeset/perfect-masks-heal.md
  components/button/src/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

style: changed min block size to 44px
  components/digid-button/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

docs: add changeset
  .changeset/green-months-tickle.md
Due: markdownlint, prettier --check

feat: add 3 design tokens to breadcrumb navigation
  .changeset/forty-flowers-happen.md
  .changeset/itchy-mirrors-jam.md
  components/breadcrumb-nav/src/_mixin.scss
  components/breadcrumb-nav/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add Number badge as a replacement of Badge counter
  .changeset/new-impalas-wink.md
  components/index.scss
  components/number-badge/CHANGELOG.md
  components/number-badge/README.md
  components/number-badge/package.json
  components/number-badge/src/_mixin.scss
  components/number-badge/src/index.scss
  components/number-badge/src/tokens.json
  components/package.json
  packages/component-library-react/package.json
  packages/component-library-react/src/NumberBadge.test.tsx
  packages/component-library-react/src/NumberBadge.tsx
  packages/component-library-react/src/css-module/NumberBadge.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/component-library-vue/package.json
  packages/component-library-vue/src/NumberBadge.test.ts
  packages/component-library-vue/src/NumberBadge.vue
  packages/component-library-vue/src/index.ts
  packages/storybook-css/package.json
  packages/storybook-css/src/NumberBadge.stories.tsx
  packages/storybook-react/package.json
  packages/storybook-react/src/stories/NumberBadge.stories.tsx
  packages/storybook-vue/package.json
  packages/storybook-vue/src/stories/NumberBadge.stories.ts
  packages/storybook-web-component/src/NumberBadge.stories.tsx
  packages/web-component-library-stencil/package.json
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/number-badge.scss
  packages/web-component-library-stencil/src/components/number-badge.tsx
  pnpm-lock.yaml
  proprietary/design-tokens/src/component/utrecht/number-badge.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: metadata for button component
  components/button/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add first metadata for separator
  components/separator/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add metadata for select
  components/select/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/scrap-meal-heal.md
Due: markdownlint, prettier --check

docs: add changeset
  .changeset/text-even-stake.md
Due: markdownlint, prettier --check

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
