Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: added fira sans never forget a wizards advice
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: font radios no dropdown
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: better slider in rem style and extra content
  packages/storybook-react/src/stories/font-examples/webpagina.stories.tsx
  packages/storybook-react/src/stories/prototype-src/ContentWebpage.tsx
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: evenementenpaginas toegevoegd
  packages/storybook-react/src/stories/font-examples/webpagina-event-1.stories.tsx
  packages/storybook-react/src/stories/font-examples/webpagina-event-2.stories.tsx
  packages/storybook-react/src/stories/font-examples/webpagina-event-3.stories.tsx
  packages/storybook-react/src/stories/prototype-src/ContentWebpageEvent1.tsx
  packages/storybook-react/src/stories/prototype-src/ContentWebpageEvent2.tsx
  packages/storybook-react/src/stories/prototype-src/ContentWebpageEvent3.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: make font heading strong lighter and darker
  packages/storybook-react/src/stories/prototype-src/ContentWebpage.tsx
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: sliders no toggles
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: noto sans typo
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: title noto sans
  packages/storybook-react/src/stories/prototype-src/FontTester.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add stories for Body, Root and PageBody for React and Web Components
  packages/storybook-react/package.json
  packages/storybook-react/src/stories/Body.stories.tsx
  packages/storybook-react/src/stories/PageBody.stories.tsx
  packages/storybook-react/src/stories/Root.stories.tsx
  packages/storybook-web-component/package.json
  packages/storybook-web-component/src/Body.stories.tsx
  packages/storybook-web-component/src/PageBody.stories.tsx
  packages/storybook-web-component/src/Root.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add design tokens for Signalen components
  .changeset/proud-pumas-swim.md
  proprietary/design-tokens/src/component/signalen/signalen.tokens.json
  proprietary/design-tokens/src/component/utrecht/link-list.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add 4 components to CSS component library: root/body/page-layout/page-body
  .changeset/there-is-no-spoon.md
  packages/component-library-css/package.json
  packages/component-library-css/src/index.scss
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: add 4 components to CSS storybook: root/body/page-layout/page-body
  packages/storybook-css/package.json
  packages/storybook-css/src/Body.stories.tsx
  packages/storybook-css/src/PageBody.stories.tsx
  packages/storybook-css/src/PageFooter.stories.tsx
  packages/storybook-css/src/PageLayout.stories.tsx
  packages/storybook-css/src/Root.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

ci: add `pnpm run build-vercel`
  README.md
  package.json
  packages/storybook-angular/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

build: remove `next` dependency for the Jest configuration
  packages/component-library-react/jest.config.mjs
  packages/component-library-react/jest.config.ts
  packages/component-library-react/package.json
  packages/component-library-react/src/setupJest.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add 4 new web components: root/body/page-layout/page-body
  .changeset/flat-spoons-remember.md
  packages/web-component-library-stencil/package.json
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/body.scss
  packages/web-component-library-stencil/src/components/body.tsx
  packages/web-component-library-stencil/src/components/nav-bar.scss
  packages/web-component-library-stencil/src/components/nav-bar.tsx
  packages/web-component-library-stencil/src/components/page-body.scss
  packages/web-component-library-stencil/src/components/page-body.tsx
  packages/web-component-library-stencil/src/components/page-content.scss
  packages/web-component-library-stencil/src/components/page-footer.scss
  packages/web-component-library-stencil/src/components/page-header.tsx
  packages/web-component-library-stencil/src/components/page-layout.scss
  packages/web-component-library-stencil/src/components/page-layout.tsx
  packages/web-component-library-stencil/src/components/root.scss
  packages/web-component-library-stencil/src/components/root.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add styling for `body`, `nav-bar`, `page-body`, `page-footer`, `page-header` and `root`
  .changeset/fair-impalas-sort.md
  proprietary/design-tokens/src/component/utrecht/body.tokens.json
  proprietary/design-tokens/src/component/utrecht/nav-bar.tokens.json
  proprietary/design-tokens/src/component/utrecht/page-body.tokens.json
  proprietary/design-tokens/src/component/utrecht/page-footer.tokens.json
  proprietary/design-tokens/src/component/utrecht/page.tokens.json
  proprietary/design-tokens/src/component/utrecht/root.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: page structure experiments
  apps/experiments/utrecht.html
  apps/experiments/web-components.html
Due: none

chore: update experiments
  apps/experiments/amsterdam-theme.css
  apps/experiments/purmerend-theme.css
  apps/experiments/rijkshuisstijl-theme.css
  apps/experiments/rods-theme.css
  apps/experiments/style.css
  apps/experiments/utrecht-theme.css
  apps/experiments/utrecht.html
Due: prettier --check, stylelint --allow-empty-input

fix: ignore combinations of lead and small
  .changeset/curvy-phones-itch.md
  packages/component-library-react/src/Paragraph.test.tsx
  packages/component-library-react/src/Paragraph.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add `isParagraphAppearance` utility and disallow any random `string`
  .changeset/orange-dragons-begin.md
  packages/component-library-react/src/Paragraph.test.tsx
  packages/component-library-react/src/Paragraph.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/angry-terms-compete.md
  .changeset/curvy-phones-itch.md
  .changeset/fair-impalas-sort.md
  .changeset/flat-spoons-remember.md
  .changeset/orange-dragons-begin.md
  .changeset/proud-pumas-swim.md
  .changeset/there-is-no-spoon.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/icon/CHANGELOG.md
  components/icon/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/component-library-design-tokens/CHANGELOG.md
  packages/component-library-design-tokens/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  packages/icon/CHANGELOG.md
  packages/icon/package.json
  packages/web-component-library-react/CHANGELOG.md
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/CHANGELOG.md
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/CHANGELOG.md
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/delay-mass-pole.md
Due: markdownlint, prettier --check

fix: changed support token for form toggle
  components/form-toggle/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: add metadata for `utrecht.radio-button.color` token
  .changeset/young-yaks-decide.md
  components/radio-button/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/delay-mass-pole.md
  .changeset/young-yaks-decide.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/form-toggle/CHANGELOG.md
  components/form-toggle/package.json
  components/radio-button/CHANGELOG.md
  components/radio-button/package.json
  packages/component-library-design-tokens/CHANGELOG.md
  packages/component-library-design-tokens/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  packages/components-react/radio-button-react/CHANGELOG.md
  packages/components-react/radio-button-react/package.json
  packages/components-react/radio-group-react/CHANGELOG.md
  packages/components-react/radio-group-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: reran "pnpm run --recursive init" (excluding packages/component-library-react)
  packages/components-react/button-react/package.json
  packages/components-react/checkbox-group-react/package.json
  packages/components-react/data-badge-react/package.json
  packages/components-react/select-combobox-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: script to include `README.md` (and other docs) in `package.json` exports
  .changeset/eighty-days-kiss.md
  packages/build-utils-react/src/lib/configure.mjs
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: consistently support the main import, and include `.md` exports for development
  .changeset/seven-toys-jam.md
  packages/component-library-react/package.json
  packages/components-react/body-react/package.json
  packages/components-react/button-react/package.json
  packages/components-react/calendar-react/package.json
  packages/components-react/checkbox-group-react/package.json
  packages/components-react/checkbox-react/package.json
  packages/components-react/combobox-react/package.json
  packages/components-react/data-badge-react/package.json
  packages/components-react/fieldset-react/package.json
  packages/components-react/form-field-checkbox-react/package.json
  packages/components-react/form-field-description-react/package.json
  packages/components-react/form-field-error-message-react/package.json
  packages/components-react/form-field-react/package.json
  packages/components-react/form-label-react/package.json
  packages/components-react/link-react/package.json
  packages/components-react/listbox-react/package.json
  packages/components-react/nav-bar-react/package.json
  packages/components-react/page-body-react/package.json
  packages/components-react/page-footer-react/package.json
  packages/components-react/page-header-react/package.json
  packages/components-react/page-layout-react/package.json
  packages/components-react/radio-button-react/package.json
  packages/components-react/radio-group-react/package.json
  packages/components-react/root-react/package.json
  packages/components-react/select-combobox-react/package.json
  packages/components-react/textbox-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: avoid flaky builds, ensure output dir exists
  packages/build-utils-css/src/index.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: provide vanilla HTML implementation for Body and Root component
  .changeset/fuzzy-cats-cough.md
  .changeset/tasty-bees-marry.md
  components/body/src/html/_mixin.scss
  components/body/src/html/index.scss
  components/root/src/html/_mixin.scss
  components/root/src/html/index.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

fix: restore missing CSS for HTML components
  .changeset/missing-in-action.md
  packages/build-utils-css/src/index.mjs
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
