Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,mjs,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

fix: update changeset col value
  .changeset/purple-pumas-chew.md
Due: markdownlint, prettier --check

feat: update total column count range to include 1-12 in grid documentation
  components/grid/README.md
Due: markdownlint, prettier --check

feat: add combobox to customizable-text-input stories
  packages/storybook-css/package.json
  packages/storybook-css/src/CustomizableTextInput.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: make combobox work in customizable-text-input
  components/customizable-text-input/src/index.scss
  packages/components-react/customizable-text-input/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: switch from lodash to es-toolkit
  .changeset/shiny-hornets-listen.md
  packages/component-library-angular/package.json
  packages/component-library-angular/test-exports.mjs
  packages/component-library-design-tokens/package.json
  packages/component-library-design-tokens/src/build-property.mjs
  packages/component-library-design-tokens/src/lib.mjs
  packages/component-library-design-tokens/src/lint-build.mjs
  packages/component-library-design-tokens/src/lint-theme.mjs
  packages/components-react/calendar-react/package.json
  packages/components-react/calendar-react/src/index.tsx
  packages/docusaurus/docusaurus.config.js
  packages/docusaurus/package.json
  packages/icon/package.json
  packages/icon/src/build.js
  packages/icon/src/component_templates.js
  packages/storybook-css/package.json
  packages/storybook-css/src/Table.stories.tsx
  packages/storybook-react/package.json
  packages/storybook-react/src/stories/open-forms/StoryUtil.tsx
  pnpm-lock.yaml
  proprietary/design-tokens/build-stylelint.mjs
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore: cleanup
  components/customizable-text-input/src/index.scss
  packages/storybook-css/src/CustomizableTextInput.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: cleanup stories
  packages/storybook-css/src/CustomizableTextInput.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: switch from `utrecht-surface` to `utrecht-root`
  components/surface/_surface-theme-color.md
  packages/storybook-css/src/Surface.stories.tsx
  packages/storybook-web-component/src/Surface.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: documentation
  components/customizable-text-input/CHANGELOG.md
  components/customizable-text-input/README.md
  components/customizable-text-input/_clickable.md
  components/customizable-text-input/_described-by.md
  components/customizable-text-input/_sizing-classes.md
  components/customizable-text-input/docs/anatomy.nl.md
  components/customizable-text-input/package.json
  packages/storybook-css/src/CustomizableTextInput.stories.tsx
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

Breadcrumb update
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: sort CSS and SCSS variables alphabetically in design-tokens/dist/ folder
  .changeset/perfect-kiwis-occur.md
  proprietary/design-tokens/style-dictionary-config.mjs
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

ci: allow `1s` in CSS, `s` unit was disallowed
  stylelint.config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: customizable-text-input in storybook-react
  packages/component-library-css/package.json
  packages/storybook-react/package.json
  packages/storybook-react/src/stories/CustomizableTextInput.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

style: font-weight design token toevoegen aan Toptask Link
  components/toptask-link/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Add font-weight css
  components/toptask-link/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Add border-radius and font-family properties to tokens.json
  components/toptask-link/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Add border-radius and font-family to styles
  components/toptask-link/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Change figma-implementation value to false
  components/toptask-link/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Add changeset
  .changeset/top-task-tokens.md
Due: markdownlint, prettier --check

docs: input-id docs
  components/customizable-text-input/docs/anatomy.nl.md
Due: markdownlint, prettier --check

mark color upodate
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: code review comments
  components/customizable-text-input/_clickable.md
  components/customizable-text-input/src/index.scss
  packages/components-react/customizable-text-input/src/insert-style.ts
  packages/storybook-css/src/CustomizableTextInput.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: purposefull slots & styling update
  components/customizable-text-input/_clickable.md
  components/customizable-text-input/_described-by.md
  components/customizable-text-input/_label.md
  components/customizable-text-input/docs/anatomy.nl.md
  components/customizable-text-input/src/index.scss
  components/customizable-text-input/src/tokens.json
  packages/components-react/customizable-text-input/src/index.tsx
  packages/storybook-css/src/CustomizableTextInput.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: move styles to mixins
  components/customizable-text-input/src/_mixin.scss
  components/customizable-text-input/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: react storybook docs update
  packages/storybook-css/src/CustomizableTextInput.stories.tsx
  packages/storybook-react/src/stories/CustomizableTextInput.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: remove figma links
  packages/storybook-css/src/CustomizableTextInput.stories.tsx
  packages/storybook-react/src/stories/CustomizableTextInput.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: update packages for storybook
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

ci: don't persist credentials in actions/checkout
  .github/workflows/codecov.yml
  .github/workflows/publish.yml
Due: none

Apply suggestions from code review
  components/customizable-text-input/_clickable.md
  components/customizable-text-input/_label.md
  components/customizable-text-input/src/_mixin.scss
  components/textbox/src/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

fix: correct --basis variable name
  components/textbox/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input
