Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: checkbox/radio hover tokens
  components/custom-checkbox/css/_mixin.scss
  components/custom-checkbox/css/index.scss
  components/custom-checkbox/css/stories/states.stories.mdx
  components/custom-checkbox/tokens.json
  components/custom-radio-button/css/_mixin.scss
  components/custom-radio-button/css/stories/states.stories.mdx
  components/custom-radio-button/css/story-template.jsx
  components/custom-radio-button/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: font-height/line-height for (un)ordered-list/table
  components/ordered-list/css/_mixin.scss
  components/ordered-list/tokens.json
  components/table/css/_mixin.scss
  components/table/tokens.json
  components/unordered-list/css/_mixin.scss
  components/unordered-list/tokens.json
Due: prettier --check, stylelint --allow-empty-input

docs(release): design system packages %v
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

style: new icons
  components/icon/src/svg/container-glas.svg
  components/icon/src/svg/container-papier.svg
  components/icon/src/svg/container-restafval.svg
  components/icon/src/svg/container-textiel.svg
  components/icon/src/svg/glas-afval.svg
  components/icon/src/svg/schild-gemeente-utrecht.svg
  components/icon/src/svg/t-shirt.svg
  components/icon/src/svg/verkeerslicht.svg
  components/icon/src/svg/verslaving.svg
  components/icon/src/svg/vuilnisbak.svg
  components/icon/src/svg/vuilniszak.svg
  components/icon/src/svg/zweefpaal.svg
Due: none

style: new icons (#1375)
  components/icon/src/svg/container-glas.svg
  components/icon/src/svg/container-papier.svg
  components/icon/src/svg/container-restafval.svg
  components/icon/src/svg/container-textiel.svg
  components/icon/src/svg/glas-afval.svg
  components/icon/src/svg/schild-gemeente-utrecht.svg
  components/icon/src/svg/t-shirt.svg
  components/icon/src/svg/verkeerslicht.svg
  components/icon/src/svg/verslaving.svg
  components/icon/src/svg/vuilnisbak.svg
  components/icon/src/svg/vuilniszak.svg
  components/icon/src/svg/zweefpaal.svg
Due: none

feat: mark component
  components/html-content/css/_mixin.scss
  components/mark/README.md
  components/mark/css/_mixin.scss
  components/mark/css/index.scss
  components/mark/css/stories/default.stories.mdx
  components/mark/css/stories/readme.stories.mdx
  components/mark/css/stories/tokens.stories.mdx
  components/mark/css/story-template.jsx
  components/mark/html/_mixin.scss
  components/mark/html/index.scss
  components/mark/html/stories/default.stories.mdx
  components/mark/html/story-template.jsx
  components/mark/tokens.json
  packages/component-library-react/src/Mark.tsx
  packages/component-library-react/src/css-module/Mark.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/storybook-react/src/stories/Mark/Mark.stories.tsx
  packages/storybook-react/src/stories/Mark/argTypes.ts
  packages/storybook-react/src/stories/Mark/docs.stories.mdx
  packages/storybook-react/src/stories/Mark/tokens.stories.mdx
  proprietary/design-tokens/src/component/utrecht/mark.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add border tokens to alert
  components/alert/css/_mixin.scss
  components/alert/tokens.json
Due: prettier --check, stylelint --allow-empty-input

docs: improve article story (use components, not HTML)
  components/article/css/story-template.jsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: add high contrast and print version of marked text
  components/mark/README.md
  components/mark/css/_mixin.scss
  components/mark/css/index.scss
  components/mark/css/stories/media.stories.mdx
  components/mark/css/story-template.jsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: wrap `<div>` around `<fieldset>` to support background color
  components/form-fieldset/README.md
  components/form-fieldset/css/_mixin.scss
  components/form-fieldset/css/_reset.scss
  components/form-fieldset/css/index.scss
  components/form-fieldset/css/story-template.jsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

style: darkmode Styling update
  proprietary/design-tokens/src/dark/common/tokens.json
  proprietary/design-tokens/src/dark/component/tokens.json
Due: none

feat: render extra `<div>` around Vue `<fieldset>`
  packages/component-library-vue/src/FormFieldset.test.ts
  packages/component-library-vue/src/FormFieldset.vue
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: render extra `<div>` around React `<fieldset>`
  packages/component-library-react/src/Fieldset.test.tsx
  packages/component-library-react/src/Fieldset.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: class name to style `<li>` inside `<ol>`/`<ul>`
  components/ordered-list/css/index.scss
  components/ordered-list/css/stories/html-content.stories.mdx
  components/ordered-list/css/story-template.jsx
  components/unordered-list/css/index.scss
  components/unordered-list/css/stories/html-content.stories.mdx
  components/unordered-list/css/story-template.jsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: spotlight section component
  components/index.scss
  components/spotlight-section/README.md
  components/spotlight-section/css/_mixin.scss
  components/spotlight-section/css/index.scss
  components/spotlight-section/css/stories/default.stories.mdx
  components/spotlight-section/css/stories/readme.stories.mdx
  components/spotlight-section/css/stories/tokens.stories.mdx
  components/spotlight-section/css/stories/type.stories.mdx
  components/spotlight-section/css/story-template.jsx
  components/spotlight-section/tokens.json
  packages/component-library-react/src/SpotlightSection.tsx
  packages/component-library-react/src/css-module/SpotlightSection.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/storybook-react/src/stories/SpotlightSection/SpotlightSection.stories.tsx
  packages/storybook-react/src/stories/SpotlightSection/argTypes.ts
  packages/storybook-react/src/stories/SpotlightSection/tokens.stories.mdx
  proprietary/design-tokens/src/component/utrecht/spotlight-section.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: custom class name for React alert component
  packages/component-library-react/src/Alert.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add npm package for assets (favicon)
  proprietary/assets/package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs(release): design system packages %v
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: create combobox react component
  packages/component-library-react/package.json
  packages/component-library-react/src/Combobox/index.tsx
  packages/component-library-react/src/index.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
