Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": "markdownlint",
  "*.{js,json,jsx,mdx,ts,tsx}": "eslint --no-error-on-unmatched-pattern",
  "*.{css,scss}": "stylelint --allow-empty-input"
}

fix: incorrect `:invalid` state in shadow DOM
  components/form-field-textbox/stencil.tsx
  components/textbox/stencil.tsx
Due: eslint --no-error-on-unmatched-pattern

fix: web component focus styles
  components/form-field-textarea/stencil.tsx
  components/form-field-textbox/stencil.tsx
  components/textbox/stencil.tsx
Due: eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  components/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

update icon
  components/form-field-textbox/bem.css
  components/form-field-textbox/stencil.tsx
  components/icon/arrow.stencil.tsx
  components/icon/cross.stencil.tsx
  components/icon/filter.stencil.tsx
  components/icon/instagram.stencil.tsx
  components/icon/list.stencil.tsx
  components/icon/loupe.stencil.tsx
  components/icon/stencil.stories.mdx
  components/icon/zoomin.stencil.tsx
  components/icon/zoomout.stencil.tsx
  components/mapcontrolbutton/bem.stories.mdx
  components/pages/verhuizen/bem.scss
  proprietary/design-tokens/src/component/utrecht/form-field/block.style-dictionary.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

icon and label for mapcontrolbutton
  components/icon/icon-set.json
  components/icon/stencil.scss
  components/mapcontrolbutton/bem.scss
  components/mapcontrolbutton/bem.stories.mdx
  components/mapcontrolbutton/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/mapcontrolbutton/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/mapcontrolbutton/element.style-dictionary.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Update
  components/icon/icon-set.json
  components/mapcontrolbutton/bem.scss
  proprietary/design-tokens/src/component/utrecht/mapcontrolbutton/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/mapcontrolbutton/element.style-dictionary.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: form toggle component
  components/form-toggle/bem.scss
  components/form-toggle/bem.stories.mdx
  components/form-toggle/block.style-dictionary.json
  components/form-toggle/element-modifier.style-dictionary.json
  components/form-toggle/element.style-dictionary.json
  components/form-toggle/modifier.style-dictionary.json
  components/form-toggle/stencil.scss
  components/form-toggle/stencil.stories.mdx
  components/form-toggle/stencil.tsx
  package-lock.json
  packages/web-component-library-angular/src/index.module.ts
  packages/web-component-library-stencil/stencil.config.ts
  proprietary/design-tokens/src/component/utrecht/form-toggle/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/form-toggle/element-modifier.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/form-toggle/element.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/form-toggle/modifier.style-dictionary.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: no-JavaScript template for Form toggle
  components/form-toggle/bem.scss
  components/form-toggle/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: support `hidden` attribute on web components
  components/article/stencil.scss
  components/badge-counter/stencil.scss
  components/badge-data/stencil.scss
  components/badge-status/stencil.scss
  components/breadcrumb/stencil.scss
  components/button/stencil.scss
  components/document/stencil.scss
  components/form-field-checkbox/stencil.scss
  components/form-field-description/stencil.scss
  components/form-field-textarea/stencil.scss
  components/form-field-textbox/stencil.scss
  components/form-toggle/stencil.scss
  components/heading-1/stencil.scss
  components/heading-2/stencil.scss
  components/heading-3/stencil.scss
  components/heading-4/stencil.scss
  components/heading-5/stencil.scss
  components/heading-6/stencil.scss
  components/heading/stencil.scss
  components/html-content/stencil.scss
  components/icon/stencil.scss
  components/logo/stencil.scss
  components/page-footer/stencil.scss
  components/pagination/stencil.scss
  components/paragraph/stencil.scss
  components/separator/stencil.scss
  components/textbox/stencil.scss
Due: stylelint --allow-empty-input

Update map controle
  components/mapcontrolbutton/bem.scss
  proprietary/design-tokens/src/component/utrecht/mapcontrolbutton/element.style-dictionary.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: label for map control button
  components/icon/stencil.scss
  components/mapcontrolbutton/bem.scss
  components/mapcontrolbutton/bem.stories.mdx
  components/mapcontrolbutton/block.tokens.json
  proprietary/design-tokens/src/component/utrecht/mapcontrolbutton/block.tokens.json
  proprietary/design-tokens/src/component/utrecht/mapcontrolbutton/element.tokens.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

update icon set with map icons
  components/icon/arrow.stencil.tsx
  components/icon/cross.stencil.tsx
  components/icon/filter.stencil.tsx
  components/icon/list.stencil.tsx
  components/icon/loupe.stencil.tsx
  components/icon/stencil.stories.mdx
  components/icon/zoomin.stencil.tsx
  components/icon/zoomout.stencil.tsx
  packages/web-component-library-angular/src/index.module.ts
Due: eslint --no-error-on-unmatched-pattern

build(deps): patch updates
  package-lock.json
  package.json
  packages/component-library-css/package.json
  packages/storybook/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

build(deps): minor updates
  package-lock.json
  package.json
  packages/component-library-css/package.json
  packages/web-component-library-react/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

build: install some missing dependencies from workspaces
  components/package.json
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

build: install `clsx` as dependency instead of devDependency
  components/package.json
  package-lock.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

update
  components/form-field-textbox/bem.css
  components/icon/error.stencil.tsx
  components/icon/icon-set.json
  components/icon/information.stencil.tsx
  components/icon/stencil.stories.mdx
  components/icon/warning.stencil.tsx
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input
