Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

chore: remove LICENSE.txt (#2129)
  LICENSE.txt
Due: none

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: update dependabot schedule
  .github/dependabot.yml
Due: none

build: update dependabot schedule (#2132)
  .github/dependabot.yml
Due: none

build: update package.json#engines
  .nvmrc
  package.json
  packages/component-library-vue/package.json
  packages/storybook-angular/package.json
  packages/storybook-vue/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

build: update package.json#engines (#2135)
  .nvmrc
  package.json
  packages/component-library-vue/package.json
  packages/storybook-angular/package.json
  packages/storybook-vue/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  pnpm-lock.yaml
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: bump actions/download-artifact
  .github/dependabot.yml
  .github/workflows/continuous-delivery.yml
Due: none

feat: add custom className to AccordionSection
  packages/component-library-react/src/Accordion.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: remove interface 'className' from AccordionSectionProps
  packages/component-library-react/src/Accordion.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: bump actions/download-artifact (#2138)
  .github/dependabot.yml
  .github/workflows/continuous-delivery.yml
Due: none

style: read-only styling added on form-control
  proprietary/design-tokens/src/component/utrecht/form-control.tokens.json
  proprietary/design-tokens/src/dark/component/tokens.json
Due: none

refactor: rename `ScrollToTopButton` to `ScrollToStartButton`
  packages/component-library-react/src/ScrollToStartButton.test.tsx
  packages/component-library-react/src/ScrollToStartButton.tsx
  packages/component-library-react/src/index.ts
  packages/storybook-react/src/stories/ScrollToStartButton.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: changed render args to render meta
  packages/storybook/stories/open-forms/Email.stories.tsx
  packages/storybook/stories/open-forms/FieldSet.stories.tsx
  packages/storybook/stories/open-forms/IBANField.stories.tsx
  packages/storybook/stories/open-forms/LicensePlate.stories.tsx
  packages/storybook/stories/open-forms/Number.stories.tsx
  packages/storybook/stories/open-forms/PhoneNumberField.stories.tsx
  packages/storybook/stories/open-forms/PostcodeField.stories.tsx
  packages/storybook/stories/open-forms/Radio.stories.tsx
  packages/storybook/stories/open-forms/Select.stories.tsx
  packages/storybook/stories/open-forms/Selectboxes.stories.tsx
  packages/storybook/stories/open-forms/Signature.stories.tsx
  packages/storybook/stories/open-forms/Textarea.stories.tsx
  packages/storybook/stories/open-forms/Textfield.stories.tsx
  packages/storybook/stories/open-forms/TimeField.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: added open form package
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

build: add package react-fromio
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

feat: add stories for open form components
  packages/storybook/stories/open-forms/BSN.stories.tsx
  packages/storybook/stories/open-forms/Checkbox.stories.tsx
  packages/storybook/stories/open-forms/Columns.stories.tsx
  packages/storybook/stories/open-forms/Content.stories.tsx
  packages/storybook/stories/open-forms/Currency.stories.tsx
  packages/storybook/stories/open-forms/DateField.stories.tsx
  packages/storybook/stories/open-forms/DateTimeField.stories.tsx
  packages/storybook/stories/open-forms/EditGrid.stories.tsx
  packages/storybook/stories/open-forms/Email.stories.tsx
  packages/storybook/stories/open-forms/FieldSet.stories.tsx
  packages/storybook/stories/open-forms/IBANField.stories.tsx
  packages/storybook/stories/open-forms/LicensePlate.stories.tsx
  packages/storybook/stories/open-forms/Number.stories.tsx
  packages/storybook/stories/open-forms/PhoneNumberField.stories.tsx
  packages/storybook/stories/open-forms/PostcodeField.stories.tsx
  packages/storybook/stories/open-forms/Radio.stories.tsx
  packages/storybook/stories/open-forms/Select.stories.tsx
  packages/storybook/stories/open-forms/Selectboxes.stories.tsx
  packages/storybook/stories/open-forms/Signature.stories.tsx
  packages/storybook/stories/open-forms/StoryUtil.tsx
  packages/storybook/stories/open-forms/Textarea.stories.tsx
  packages/storybook/stories/open-forms/Textfield.stories.tsx
  packages/storybook/stories/open-forms/TimeField.stories.tsx
  packages/storybook/stories/open-forms/cosign.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: changed storyObj to Meta
  packages/storybook/stories/open-forms/BSN.stories.tsx
  packages/storybook/stories/open-forms/Checkbox.stories.tsx
  packages/storybook/stories/open-forms/Columns.stories.tsx
  packages/storybook/stories/open-forms/Content.stories.tsx
  packages/storybook/stories/open-forms/Currency.stories.tsx
  packages/storybook/stories/open-forms/DateField.stories.tsx
  packages/storybook/stories/open-forms/DateTimeField.stories.tsx
  packages/storybook/stories/open-forms/EditGrid.stories.tsx
  packages/storybook/stories/open-forms/Email.stories.tsx
  packages/storybook/stories/open-forms/FieldSet.stories.tsx
  packages/storybook/stories/open-forms/IBANField.stories.tsx
  packages/storybook/stories/open-forms/LicensePlate.stories.tsx
  packages/storybook/stories/open-forms/Number.stories.tsx
  packages/storybook/stories/open-forms/PhoneNumberField.stories.tsx
  packages/storybook/stories/open-forms/PostcodeField.stories.tsx
  packages/storybook/stories/open-forms/Radio.stories.tsx
  packages/storybook/stories/open-forms/Select.stories.tsx
  packages/storybook/stories/open-forms/Selectboxes.stories.tsx
  packages/storybook/stories/open-forms/Signature.stories.tsx
  packages/storybook/stories/open-forms/StoryUtil.tsx
  packages/storybook/stories/open-forms/Textarea.stories.tsx
  packages/storybook/stories/open-forms/Textfield.stories.tsx
  packages/storybook/stories/open-forms/TimeField.stories.tsx
  packages/storybook/stories/open-forms/cosign.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

perf: changed the default arguments
  packages/storybook/stories/open-forms/BSN.stories.tsx
  packages/storybook/stories/open-forms/Checkbox.stories.tsx
  packages/storybook/stories/open-forms/Columns.stories.tsx
  packages/storybook/stories/open-forms/Content.stories.tsx
  packages/storybook/stories/open-forms/Currency.stories.tsx
  packages/storybook/stories/open-forms/DateField.stories.tsx
  packages/storybook/stories/open-forms/DateTimeField.stories.tsx
  packages/storybook/stories/open-forms/EditGrid.stories.tsx
  packages/storybook/stories/open-forms/Email.stories.tsx
  packages/storybook/stories/open-forms/IBANField.stories.tsx
  packages/storybook/stories/open-forms/LicensePlate.stories.tsx
  packages/storybook/stories/open-forms/Number.stories.tsx
  packages/storybook/stories/open-forms/PhoneNumberField.stories.tsx
  packages/storybook/stories/open-forms/PostcodeField.stories.tsx
  packages/storybook/stories/open-forms/Radio.stories.tsx
  packages/storybook/stories/open-forms/Select.stories.tsx
  packages/storybook/stories/open-forms/Selectboxes.stories.tsx
  packages/storybook/stories/open-forms/Signature.stories.tsx
  packages/storybook/stories/open-forms/Textarea.stories.tsx
  packages/storybook/stories/open-forms/Textfield.stories.tsx
  packages/storybook/stories/open-forms/TimeField.stories.tsx
  packages/storybook/stories/open-forms/cosign.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: removed react.fc
  packages/storybook/stories/open-forms/StoryUtil.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: add missing http-server in packages
  packages/storybook-css/package.json
  packages/storybook-html/package.json
  packages/storybook-vue/package.json
  packages/storybook-web-component/package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

chore: simplify npm-check-updates configuration
  .ncurc.major.js
  .ncurc.minor.js
  .ncurc.patch.js
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: add missing @types/prettier
  packages/storybook-css/package.json
  packages/storybook-html/package.json
  packages/storybook-web-component/package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

chore: simplify npm-check-updates configuration (#2163)
  .ncurc.major.js
  .ncurc.minor.js
  .ncurc.patch.js
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern
