Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

build: remove placeholder Storybook page before adding actual Storybook
  packages/design-system-website/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: render baseUrl relative links in Docusaurus nav
  .github/workflows/continuous-delivery.yml
  package-lock.json
  packages/docusaurus/docusaurus.config.js
  packages/docusaurus/navigationConfig.js
  packages/docusaurus/package.json
  packages/docusaurus/src/pages/storybook.mdx
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: include addons in each Storybook in `devDependencies`
  package-lock.json
  packages/storybook-vue/package.json
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: add addon-a11y to storybook-vue
  packages/storybook-vue/config/main.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: add storybook addons
  packages/storybook/config/main.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: change the way of export the vue component from index
  packages/component-library-vue/src/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: textbox support `type` and `inputmode` attrs
  components/textbox/css/index.scss
  components/textbox/html/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: remove type modifier classes from the react textbox
  packages/component-library-react/src/Textbox.test.tsx
  packages/component-library-react/src/Textbox.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: add react storybook to storybook composition
  packages/storybook/config/main.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: add react storybook
  .eslintrc.json
  package-lock.json
  packages/storybook-react/config/main.js
  packages/storybook-react/config/manager.js
  packages/storybook-react/config/preview.js
  packages/storybook-react/package.json
  packages/storybook-react/src/stories/Article/Article.stories.tsx
  packages/storybook-react/src/stories/Article/docs.stories.mdx
  packages/storybook-react/src/stories/Article/tokens.stories.mdx
  packages/storybook-react/src/stories/Introduction.stories.mdx
  packages/storybook-react/tsconfig.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: update patch versions
  .patches/@stencil+core+2.17.3.patch
  components/package.json
  documentation/package.json
  package-lock.json
  package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/docusaurus/package.json
  packages/storybook-react/package.json
  packages/storybook-vue/package.json
  packages/storybook/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: include storybook into ds website
  package-lock.json
  packages/design-system-website/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: fix Storybook `staticDirs` to fix logo image
  packages/storybook/config/main.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: use official logo from static assets
  packages/storybook/config/customTheme.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: more icons added and icons fix
  components/icon/src/svg/afval-containerpas.svg
  components/icon/src/svg/alleen.svg
  components/icon/src/svg/bouwproject.svg
  components/icon/src/svg/dakloos.svg
  components/icon/src/svg/dementie.svg
  components/icon/src/svg/facebook.svg
  components/icon/src/svg/gebruiker-centraal.svg
  components/icon/src/svg/gegevenswoordenboek.svg
  components/icon/src/svg/hulp-zorg.svg
  components/icon/src/svg/hulpverlening.svg
  components/icon/src/svg/innovatie.svg
  components/icon/src/svg/instagram.svg
  components/icon/src/svg/lantaarnpaal.svg
  components/icon/src/svg/leren.svg
  components/icon/src/svg/linkedin.svg
  components/icon/src/svg/milieu-ontheffing.svg
  components/icon/src/svg/natuur.svg
  components/icon/src/svg/nummerbord.svg
  components/icon/src/svg/omgevingswet.svg
  components/icon/src/svg/openingstijden.svg
  components/icon/src/svg/parken.svg
  components/icon/src/svg/subsidie-gezin.svg
  components/icon/src/svg/twitter.svg
  components/icon/src/svg/veilige-wijk.svg
  components/icon/src/svg/verkiezingen.svg
  components/icon/src/svg/voorzieningen-vervoer.svg
  components/icon/src/svg/vuurwerk.svg
  components/icon/src/svg/wandelstok.svg
  components/icon/src/svg/whatsapp.svg
  components/icon/src/svg/wonen-kosten.svg
  components/icon/src/svg/youtube.svg
  components/icon/src/svg/zelfstandig-wonen.svg
  components/icon/src/svg/zorg-huis.svg
  components/icon/src/svg/zwemmen.svg
  packages/storybook/stories/icon/icon-gallery.stories.mdx
Due: none

fix: youtube typo
  packages/storybook/stories/icon/icon-gallery.stories.mdx
Due: none

fix: improve social media icons (by @olling)
  components/icon/src/svg/facebook.svg
  components/icon/src/svg/instagram.svg
  components/icon/src/svg/linkedin.svg
  components/icon/src/svg/twitter.svg
  components/icon/src/svg/whatsapp.svg
Due: none

fix: revert social media icon changes temporarily
  components/icon/src/svg/facebook.svg
  components/icon/src/svg/instagram.svg
  components/icon/src/svg/linkedin.svg
  components/icon/src/svg/twitter.svg
  components/icon/src/svg/whatsapp.svg
Due: none

fix: more icons added and icons fix (#1151)
  components/icon/src/svg/afval-containerpas.svg
  components/icon/src/svg/alleen.svg
  components/icon/src/svg/bouwproject.svg
  components/icon/src/svg/dakloos.svg
  components/icon/src/svg/dementie.svg
  components/icon/src/svg/gebruiker-centraal.svg
  components/icon/src/svg/gegevenswoordenboek.svg
  components/icon/src/svg/hulp-zorg.svg
  components/icon/src/svg/hulpverlening.svg
  components/icon/src/svg/innovatie.svg
  components/icon/src/svg/lantaarnpaal.svg
  components/icon/src/svg/leren.svg
  components/icon/src/svg/milieu-ontheffing.svg
  components/icon/src/svg/natuur.svg
  components/icon/src/svg/nummerbord.svg
  components/icon/src/svg/omgevingswet.svg
  components/icon/src/svg/openingstijden.svg
  components/icon/src/svg/parken.svg
  components/icon/src/svg/subsidie-gezin.svg
  components/icon/src/svg/veilige-wijk.svg
  components/icon/src/svg/verkiezingen.svg
  components/icon/src/svg/voorzieningen-vervoer.svg
  components/icon/src/svg/vuurwerk.svg
  components/icon/src/svg/wandelstok.svg
  components/icon/src/svg/wonen-kosten.svg
  components/icon/src/svg/youtube.svg
  components/icon/src/svg/zelfstandig-wonen.svg
  components/icon/src/svg/zorg-huis.svg
  components/icon/src/svg/zwemmen.svg
  packages/storybook/stories/icon/icon-gallery.stories.mdx
Due: none

docs: show code snippets by default for React and Vue
  packages/storybook-react/config/preview.js
  packages/storybook-vue/config/preview.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern
