Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,mjs,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

refactor: changed values to design tokens
  components/card-list/css/_mixin.scss
  proprietary/design-tokens/src/component/utrecht/card-list.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: fixed missing css in import
  packages/component-library-react/src/css-module/CardList.tsx
  packages/component-library-react/src/css-module/CardListItem.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: changed heading level to 2
  packages/storybook-react/src/stories/CardList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: changed css to src map
  components/card-list/src/_mixin.scss
  components/card-list/src/index.scss
  packages/component-library-react/src/css-module/CardList.tsx
  packages/component-library-react/src/css-module/CardListItem.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add image to story
  packages/storybook-react/src/stories/CardList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: import added to component index.scss
  components/index.scss
Due: prettier --check, stylelint --allow-empty-input

style: add more custom css tokens
  components/card-list/css/_mixin.scss
  components/card-list/css/index.scss
Due: prettier --check, stylelint --allow-empty-input

refactor: content paragraph made smaller
  packages/storybook-react/src/stories/CardList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: apply suggestions from code review
  .changeset/twelve-trees-visit.md
Due: markdownlint, prettier --check

refactor: removed unused tokens
  components/card-list/src/tokens.json
  proprietary/design-tokens/src/component/utrecht/card-list.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: changed link color to token
  components/card-list/src/_mixin.scss
  components/card-list/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

build(storybook-react): add missing dependencies
  packages/storybook-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

style: add gap for spacing instead of margin
  components/card-list/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

fix: removed unnececary any
  packages/component-library-react/src/CardListItem.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: pnpm install
  pnpm-lock.yaml
Due: none

fix: add missing repo
  components/card-list/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: :wheelchair: feat(added aria-hidden="true" to svg icons for better accessibility purposes)
  components/icon/svgo.config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add richtext component
  components/index.scss
  components/rich-text/README.md
  components/rich-text/package.json
  components/rich-text/src/_mixin.scss
  components/rich-text/src/index.scss
  packages/component-library-react/package.json
  packages/component-library-react/src/RichText.tsx
  packages/component-library-react/src/css-module/RichText.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/storybook-react/package.json
  packages/storybook-react/src/stories/RichText.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: remove <title> elements from SVG icons
  components/icon/src/svg/error.svg
  components/icon/src/svg/filter.svg
  components/icon/src/svg/information.svg
  components/icon/src/svg/warning.svg
  components/icon/src/svg/zoomin.svg
  components/icon/src/svg/zoomout.svg
Due: none

feat: add support for bidirection icons
  .changeset/blue-countries-suffer.md
  components/icon/package.json
  components/icon/src/build.js
  components/icon/src/component_templates.js
  components/icon/src/svg/chevron-left.svg
  components/icon/src/svg/chevron-right.svg
  components/icon/unicode-bidi.en.md
  components/icon/unicode-bidi.nl.md
  packages/storybook/stories/icon/icon-unicode-bidi.stories.mdx
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/icon/generated-direction-inherit.scss
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: include icons changelog in Storybook
  packages/storybook/stories/icon/icon-changelog.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: switch Breadcrumb navigation separator to correct bidi icon
  packages/storybook-css/src/BreadcrumbNav.stories.tsx
  packages/storybook-css/src/BreadcrumbNavAlternate.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/blue-countries-suffer.md
  components/icon/CHANGELOG.md
  components/icon/package.json
  packages/web-component-library-angular/CHANGELOG.md
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/CHANGELOG.md
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/CHANGELOG.md
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/CHANGELOG.md
  packages/web-component-library-vue/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

build: added missing packages
  components/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add stories to rich text component
  packages/storybook-react/src/stories/RichText.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: add fist child styling
  components/rich-text/src/_mixin.scss
  components/rich-text/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: add function that renders components in rich text story
  packages/storybook-react/src/stories/RichText.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add rich-text component with spacing matrix
  components/index.scss
  components/rich-text/README.md
  components/rich-text/getSpacingCSS.js
  components/rich-text/package.json
  components/rich-text/src/_mixin.scss
  components/rich-text/src/index.scss
  components/rich-text/src/spacing-matrix.json
  components/rich-text/src/tokens.json
  packages/component-library-react/package.json
  packages/component-library-react/src/RichText.tsx
  packages/component-library-react/src/css-module/RichText.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/storybook-css/package.json
  packages/storybook-css/src/rich-text/RichText.stories.tsx
  packages/storybook-css/src/rich-text/RichText.utils.tsx
  pnpm-lock.yaml
  proprietary/design-tokens/src/component/utrecht/rich-text.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: changeset for rich text component
  .changeset/chilled-pianos-grin.md
  .changeset/neat-buttons-give.md
Due: markdownlint, prettier --check
