Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

chore: switch to complex CSS :not syntax
  components/button/css/index.scss
  components/button/html/_mixin.scss
  components/mapcontrolbutton/css/index.scss
  components/navigatie sidenav/css/index.scss
Due: prettier --check, stylelint --allow-empty-input

refactor: use ES Modules for component-library-react
  packages/component-library-react/babel.config.mjs
  packages/component-library-react/jest.config.mjs
  packages/component-library-react/rollup.config.mjs
  packages/web-component-library-react/babel.config.mjs
  packages/web-component-library-react/rollup.config.mjs
Due: none

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: upgrade Storybook to MDX2 syntax
  components/package.json
  documentation/package.json
  packages/storybook-angular/config/main.js
  packages/storybook-angular/package.json
  packages/storybook-react/config/main.js
  packages/storybook-react/package.json
  packages/storybook-vue/config/main.js
  packages/storybook-vue/package.json
  packages/storybook/config/main.js
  packages/storybook/config/preview.js
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: typescript 4.8 for Angular 14 and typescript 4.9 for the rest
  components/package.json
  documentation/package.json
  package.json
  packages/component-library-angular/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/docusaurus/package.json
  packages/storybook-angular/package.json
  packages/storybook-vue/package.json
  packages/storybook/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-vue/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

build: update to Node.js 18
  .github/workflows/continuous-delivery.yml
  .nvmrc
  package.json
  packages/component-library-vue/package.json
  packages/storybook-angular/package.json
  packages/storybook-vue/package.json
  packages/web-component-library-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

build: configure Angular to use pnpm instead of npm
  packages/component-library-angular/angular.json
  packages/storybook-angular/angular.json
  packages/web-component-library-angular/angular.json
Due: none

refactor: rename `tsconfig.lib.json` to `tsconfig.json`
  .eslintrc.json
  packages/component-library-angular/angular.json
  packages/component-library-angular/tsconfig.json
  packages/component-library-angular/tsconfig.prod.json
  packages/storybook-angular/angular.json
  packages/web-component-library-angular/angular.json
  packages/web-component-library-angular/tsconfig.json
  packages/web-component-library-angular/tsconfig.prod.json
Due: none

build: update to Angular 15
  packages/component-library-angular/package.json
  packages/storybook-angular/package.json
  packages/web-component-library-angular/.browserslistrc
  packages/web-component-library-angular/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

build: fix breaking change in vite-plugin-dts 1.7.1
  packages/web-component-library-vue/vite.config.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: use es2020 as build target
  packages/component-library-react/tsconfig.json
  packages/web-component-library-react/tsconfig.json
  packages/web-component-library-stencil/package.json
  tsconfig.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: import path with relative path in Angular SCSS
  packages/component-library-angular/src/html-content/index.scss
Due: prettier --check, stylelint --allow-empty-input

chore: fix Markdown syntax
  documentation/website/basis/introductie.md
Due: markdownlint, prettier --check

refactor: use explicit Babel config for Storybook
  documentation/.babelrc.json
  documentation/package.json
  packages/component-library-react/babel.config.mjs
  packages/component-library-react/package.json
  packages/storybook-angular/babel.config.mjs
  packages/storybook-angular/config/main.js
  packages/storybook-angular/package.json
  packages/storybook-react/babel.config.mjs
  packages/storybook-react/config/main.js
  packages/storybook-react/package.json
  packages/storybook-vue/babel.config.mjs
  packages/storybook-vue/config/.babelrc.json
  packages/storybook-vue/config/main.js
  packages/storybook-vue/package.json
  packages/storybook/babel.config.mjs
  packages/storybook/config/main.js
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: use Storybook v7 store for performance
  packages/storybook-angular/config/main.js
  packages/storybook-react/config/main.js
  packages/storybook-vue/config/main.js
  packages/storybook/config/main.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: update to eslint-plugin-mdx@2
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

build: stop ignoring updates for many packages
  .eslintrc.json
  .github/dependabot.yml
  .ncurc.major.js
  package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/docusaurus/package.json
  packages/storybook-angular/package.json
  packages/storybook-react/package.json
  packages/storybook-vue/package.json
  packages/storybook/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-vue/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add Jest tests to Storybook for Vue.js
  packages/component-library-vue/package.json
  packages/storybook-vue/config/main.js
  packages/storybook-vue/config/preview.js
  packages/storybook-vue/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern
