Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: refactor calendar tokens and navigation sizing
  components/calendar/css/_mixin.scss
  proprietary/design-tokens/src/component/utrecht/calendar.tokens.json
Due: prettier --check, stylelint --allow-empty-input

feat: index.ts status badge toegevoegd
  packages/component-library-react/src/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: background colors fixed
  components/badge-status/css/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: datepicker navigation styling
  components/calendar/css/_mixin.scss
  packages/component-library-react/src/Calendar/CalendarNavigationLabel.tsx
  packages/component-library-react/src/Calendar/index.tsx
  proprietary/design-tokens/src/component/utrecht/calendar.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: fix NX commands to use correct project names
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

refactor: setup for named slots, wip
  packages/component-library-vue/src/Alert.vue
  packages/component-library-vue/src/BreadcrumbNav.vue
  packages/component-library-vue/src/Code.vue
  packages/component-library-vue/src/CodeBlock.vue
  packages/component-library-vue/src/DataBadge.test.ts
  packages/component-library-vue/src/DataBadge.vue
  packages/storybook-vue/src/stories/Alert.stories.ts
  packages/storybook-vue/src/stories/DataBadge.stories.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: setup for named slots
  packages/component-library-vue/src/Alert.vue
  packages/component-library-vue/src/DataBadge.test.ts
  packages/component-library-vue/src/DataBadge.vue
  packages/storybook-vue/src/stories/Alert.stories.ts
  packages/storybook-vue/src/stories/DataBadge.stories.ts
  packages/storybook-vue/src/stories/util.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: fix story IDs
  packages/storybook-vue/src/stories/Alert.stories.ts
  packages/storybook-vue/src/stories/DataListValue.stories.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add today styling to calendar days
  components/calendar/css/_mixin.scss
  proprietary/design-tokens/src/component/utrecht/calendar.tokens.json
Due: prettier --check, stylelint --allow-empty-input

feat: add selected day styling
  packages/component-library-react/src/Calendar/index.tsx
  proprietary/design-tokens/src/component/utrecht/calendar.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

ci: add optional TypeScript linting step to Storybook Vue
  packages/storybook-vue/package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: allow importing `*.md?raw` files in Storybook Vue
  packages/storybook-vue/src/markdown.d.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: use default slot for Alert message in Vue.js
  packages/component-library-vue/src/Alert.vue
Due: none

refactor: improve TypeScript types for Vue storybook utils
  packages/storybook-vue/src/stories/util.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: use named slots for Vue Alert stories
  packages/storybook-vue/src/stories/Alert.stories.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add WCAG 1280x1024px at 400% zoom viewport to Storybook
  packages/storybook-angular/config/preview.js
  packages/storybook-helpers/src/addon-viewport.js
  packages/storybook-react/config/preview.jsx
  packages/storybook-vue/config/preview.jsx
  packages/storybook/config/preview.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: update npm-check-updates first
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

build: install patch updates
  components/package.json
  package.json
  packages/component-library-angular/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/docusaurus/package.json
  packages/storybook-angular/package.json
  packages/storybook-react/package.json
  packages/storybook-vue/package.json
  packages/storybook/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

build: install minor updates
  packages/storybook-angular/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: install minor updates
  components/package.json
  documentation/package.json
  package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/docusaurus/package.json
  packages/storybook-react/package.json
  packages/storybook-vue/package.json
  packages/storybook/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  patches/@stencil__core@2.20.0.patch
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: created setup for handling named slots and implemented it for alert vue story
  packages/storybook-vue/src/stories/Alert.stories.ts
  packages/storybook-vue/src/stories/util.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: design system from ARIA/CSS/HTML perspective
  documentation/aria.md
  documentation/css.md
  documentation/html.md
  packages/storybook/stories/developers/aria.stories.mdx
  packages/storybook/stories/developers/css.stories.mdx
  packages/storybook/stories/developers/html.stories.mdx
Due: markdownlint, prettier --check

docs: remarks on accessibility
  components/link/README.md
  components/pagination/README.md
Due: markdownlint, prettier --check

style: add secondary color tokens
  documentation/website/huisstijl/_kleuren.mdx
  proprietary/design-tokens/src/brand/utrecht/color.tokens.json
Due: none

style: revert CSS overrides for Storybook doc pages
  packages/storybook-helpers/src/storybook-docs.scss
Due: prettier --check, stylelint --allow-empty-input

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
