Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,mjs,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

feat(accordion-css): add support for Utrecht Municipality's new accordion style
  .changeset/witty-trainers-fry.md
  components/accordion/src/_mixin.scss
  components/accordion/src/index.scss
  components/accordion/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix(component-library-react): add `currentColor` to the accordion icon component
  .changeset/sweet-rings-join.md
  packages/component-library-react/src/Accordion.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add the new Accordion style design tokens
  .changeset/giant-mirrors-cover.md
  proprietary/design-tokens/src/component/utrecht/accordion.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: remove deprecated `utrecht-accordion__button--utrecht` class
  .changeset/fuzzy-bats-rest.md
  .changeset/nervous-rats-speak.md
  components/accordion/src/_mixin.scss
  components/accordion/src/index.scss
  components/accordion/src/tokens.json
  packages/component-library-react/src/Accordion.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: remove `appearance` prop from Accordion component
  packages/storybook-react/src/stories/Accordion.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: heading h2 vs h3
  packages/storybook-react/src/stories/prototype-src/ContentPaspoort.tsx
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: heading h2 vs h3 (#2819)
  packages/storybook-react/src/stories/prototype-src/ContentPaspoort.tsx
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add YouTubeVideo component for React
  .changeset/like-and-subscribe.md
  .changeset/plenty-fans-boil.md
  components/youtube-video/package.json
  components/youtube-video/src/_mixin.scss
  components/youtube-video/src/index.scss
  packages/component-library-css/package.json
  packages/component-library-css/src/index.scss
  packages/components-react/youtube-video-react/.eslintrc.json
  packages/components-react/youtube-video-react/CHANGELOG.md
  packages/components-react/youtube-video-react/README.md
  packages/components-react/youtube-video-react/babel.config.cjs
  packages/components-react/youtube-video-react/jest.config.mjs
  packages/components-react/youtube-video-react/package.json
  packages/components-react/youtube-video-react/rollup.config.mjs
  packages/components-react/youtube-video-react/src/css.tsx
  packages/components-react/youtube-video-react/src/index.test.tsx
  packages/components-react/youtube-video-react/src/index.tsx
  packages/components-react/youtube-video-react/src/insert-style.ts
  packages/components-react/youtube-video-react/src/util.test.ts
  packages/components-react/youtube-video-react/src/util.ts
  packages/components-react/youtube-video-react/tsconfig.build.json
  packages/components-react/youtube-video-react/tsconfig.json
  packages/components-react/youtube-video-react/tsconfig.test.json
  packages/storybook-react/package.json
  packages/storybook-react/src/stories/YouTubeVideo.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add YouTube video CSS component
  .changeset/bright-monkeys-boil.md
  components/youtube-video/README.md
  components/youtube-video/package.json
  components/youtube-video/src/_mixin.scss
  components/youtube-video/src/index.scss
  components/youtube-video/src/tokens.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs(release): design system packages
  .changeset/bright-monkeys-boil.md
  .changeset/like-and-subscribe.md
  .changeset/plenty-fans-boil.md
  components/youtube-video/CHANGELOG.md
  components/youtube-video/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/components-react/youtube-video-react/CHANGELOG.md
  packages/components-react/youtube-video-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: alert component zou role="status" moeten hebben voor type="info" (#2742)
  components/alert/docs/technology-html.nl.md
  documentation/aria.md
  packages/component-library-react/src/Alert.tsx
  packages/storybook-css/src/Alert.stories.tsx
  packages/storybook-css/src/Alert.tsx
  packages/storybook-react/src/stories/Alert.stories.tsx
  packages/storybook-web-component/src/Alert.stories.tsx
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/alert.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: extend alert with role note option
  components/alert/docs/technology-html.nl.md
  documentation/aria.md
Due: markdownlint, prettier --check

feat: restrict roles and types for alert and provide default values
  packages/component-library-react/src/Alert.tsx
  packages/storybook-css/src/Alert.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: storybook alert doesnt require argTypes for native role attribute
  packages/storybook-css/src/Alert.stories.tsx
  packages/storybook-react/src/stories/Alert.stories.tsx
  packages/storybook-web-component/src/Alert.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: only use computed role in webcomponent due to role attribute conflict
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/alert.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: return the removed props in stories
  packages/storybook-css/src/Alert.stories.tsx
  packages/storybook-react/src/stories/Alert.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(card-css): create new card-css npm package
  .changeset/mean-guests-repeat.md
  components/card/README.md
  components/card/package.json
  components/card/src/_mixin.scss
  components/card/src/index.scss
  components/card/src/tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: alert component should only use role status or role alert
  components/alert/docs/technology-html.nl.md
  documentation/aria.md
  packages/component-library-react/src/Alert.tsx
  packages/storybook-css/src/Alert.tsx
  packages/web-component-library-stencil/src/components/alert.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/cyan-ladybugs-fly.md
  .changeset/cyan-ladybugs-run.md
  .changeset/cyan-ladybugs-walk.md
Due: markdownlint, prettier --check

feat(card-react): create react card component npm package
  packages/components-react/card-react/.eslintrc.json
  packages/components-react/card-react/babel.config.cjs
  packages/components-react/card-react/jest.config.mjs
  packages/components-react/card-react/package.json
  packages/components-react/card-react/rollup.config.mjs
  packages/components-react/card-react/src/css.tsx
  packages/components-react/card-react/src/index.test.tsx
  packages/components-react/card-react/src/index.tsx
  packages/components-react/card-react/src/insert-style.ts
  packages/components-react/card-react/tsconfig.build.json
  packages/components-react/card-react/tsconfig.json
  packages/components-react/card-react/tsconfig.test.json
  packages/storybook-react/package.json
  packages/storybook-react/src/stories/Card.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat(component-library-react): add React Card component
  packages/component-library-react/package.json
  packages/component-library-react/src/Card.tsx
  packages/component-library-react/src/css-module/Card.tsx
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat(design-tokens): add the card design tokens
  .changeset/pretty-beds-occur.md
  proprietary/assets/images/erfgoed-image-waterput-op-de-neude.png
  proprietary/assets/images/erfgoed-merwedekanaalzone-archeologische-ontdekkingen-romeins-utrecht.png
  proprietary/assets/images/erfgoed-veeartsenijroute.png
  proprietary/design-tokens/src/component/utrecht/card.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(storybook-css): add Card component stories
  packages/storybook-css/package.json
  packages/storybook-css/src/Card.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern
