Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": "markdownlint",
  "*.{js,jsx,mdx,ts,tsx}": "eslint --no-error-on-unmatched-pattern",
  "*.css": "stylelint --allow-empty-input"
}

docs: group textbox states
  components/textbox/html.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

feat: support `autocomplete` attribute for textbox component
  components/textbox/html.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

build(deps-dev): install @angular/forms
  package-lock.json
  packages/web-component-library-angular/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: clean up all Stencil generated files
  packages/web-component-library-stencil/package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs(release): design system packages
  components/package.json
  packages/component-library-css/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

refactor: move Utrecht icons to design tokens as assets
  components/menulijst/bem.scss
  components/search-bar/bem.scss
  proprietary/design-tokens/src/custom.scss
  proprietary/design-tokens/src/icoon-zoek-rood.svg
  proprietary/design-tokens/src/pijltje.svg
Due: none

🎉 UX documentatie toegevoegd
  components/link/README.md
  package-lock.json
Due: markdownlint

build(deps-dev): remove storybook-design-token addon
  packages/storybook/.storybook/preview.js
Due: eslint --no-error-on-unmatched-pattern

docs: remove custom `previewTabs` configuration
  documentation/angular-component.stories.mdx
  documentation/colours.stories.mdx
  documentation/content.stories.mdx
  documentation/css-component.stories.mdx
  documentation/design-tokens.stories.mdx
  documentation/html-component.stories.mdx
  documentation/introduction.stories.mdx
  documentation/permission.stories.mdx
  documentation/react-component.stories.mdx
  documentation/readme.stories.mdx
  documentation/release-strategy.stories.mdx
  documentation/research.stories.mdx
  documentation/research_0001.stories.mdx
  documentation/utils.js
  documentation/web-component.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

build(deps-dev): uninstall storybook-design-token
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

build(deps-dev): add lodash.defaultsdeep
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs: fix component category
  components/pagination/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

feat: improve Storybook configuration
  packages/storybook/.storybook/preview.js
Due: eslint --no-error-on-unmatched-pattern

docs: choose for non-essential stories to close code block
  components/mapcontrolbutton/bem.stories.mdx
  components/navigatie sidenav/bem.stories.mdx
  components/navigatie topnav/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

docs: remove unused demo components
  components/button/docs/content-guidelines.md
  components/link/docs/content-guidelines.md
  components/mapcontrolbutton/docs/content-guidelines.md
  components/menulijst/docs/accessibility-guidelines.md
  components/menulijst/docs/content-guidelines.md
  components/navigatie sidenav/docs/accessibility-guidelines.md
  components/navigatie sidenav/docs/content-guidelines.md
  components/navigatie topnav/docs/accessibility-guidelines.md
  components/navigatie topnav/docs/content-guidelines.md
Due: markdownlint

fix: remove `storybook-design-token` configuration
  packages/storybook/.storybook/main.js
Due: eslint --no-error-on-unmatched-pattern

docs: restore content from `@storybook/addon-docs` in the Sidebar
  components/button/bem.stories.mdx
  components/button/docs/accessibility.md
  components/button/docs/accessibility.stories.mdx
  components/button/docs/onderzoek.stories.mdx
  components/button/html.stories.mdx
  components/button/stencil.stories.mdx
  components/link/bem.stories.mdx
  components/link/docs/accessibility.md
  components/link/docs/accessibility.stories.mdx
  components/link/html.stories.mdx
Due: markdownlint, eslint --no-error-on-unmatched-pattern

feat: more states for `form-field-checkbox` component
  components/form-field-checkbox/stencil.stories.mdx
  components/form-field-checkbox/stencil.tsx
Due: eslint --no-error-on-unmatched-pattern

docs: npm badges in README
  README.md
Due: markdownlint
