Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: output each React component separately too
  packages/component-library-react/package.json
  packages/component-library-react/rollup-components.config.mjs
  packages/component-library-react/rollup-index.config.mjs
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

refactor: spell `visualization` consistently
  components/vega-visualization/css/index.scss
  packages/component-library-react/src/VegaVisualization.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

build: output `Calendar` and `VegaVisualization` separately with optional `peerDependencies`
  packages/component-library-react/package.json
  packages/component-library-react/rollup-components.config.mjs
  packages/component-library-react/src/Calendar.tsx
  packages/component-library-react/src/Calendar/index.tsx
  packages/component-library-react/src/css-module/Calendar.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/storybook-react/src/stories/Calendar.stories.tsx
  packages/storybook-react/src/stories/VegaVisualization.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: rename "URL" and "URL value" to "URL data"
  components/data-list/README.md
  components/index.scss
  components/textbox/README.md
  components/url-data/README.md
  components/url-data/css/_mixin.scss
  components/url-data/css/index.scss
  components/url-data/tokens.json
  packages/component-library-react/README.md
  packages/component-library-react/src/URLData.test.tsx
  packages/component-library-react/src/URLData.tsx
  packages/component-library-react/src/URLValue.tsx
  packages/component-library-react/src/css-module/URLData.tsx
  packages/component-library-react/src/css-module/URLValue.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/component-library-vue/src/URLData.test.ts
  packages/component-library-vue/src/URLData.vue
  packages/component-library-vue/src/index.ts
  packages/storybook-css/src/Link.stories.tsx
  packages/storybook-css/src/Table.stories.tsx
  packages/storybook-css/src/URLData.stories.tsx
  packages/storybook-react/src/stories/DataListValue.stories.tsx
  packages/storybook-react/src/stories/template/PageStep-4.stories.tsx
  packages/storybook-vue/src/stories/DataListValue.stories.ts
  packages/storybook-vue/src/stories/URLData.stories.ts
  packages/storybook-web-component/src/DataList.stories.tsx
  packages/storybook-web-component/src/URLData.stories.tsx
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/url-data.scss
  packages/web-component-library-stencil/src/components/url-data.tsx
  packages/web-component-library-stencil/src/index.html
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  pnpm-lock.yaml
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

refactor: rename the component value-number to number-data
  components/index.scss
  components/number-data/README.md
  components/number-data/additional-markup.txt
  components/number-data/css/_mixin.scss
  components/number-data/css/index.scss
  components/number-data/tokens.json
  components/number-value/README.md
  components/number-value/tokens.json
  components/value-number/css/index.scss
  packages/component-library-react/src/NumberData.tsx
  packages/component-library-react/src/css-module/NumberData.tsx
  packages/component-library-react/src/css-module/NumberValue.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/component-library-vue/src/NumberData.vue
  packages/component-library-vue/src/index.ts
  packages/storybook-css/src/NumberData.stories.tsx
  packages/storybook-react/src/stories/NumberData.stories.tsx
  packages/storybook-vue/src/stories/NumberData.stories.ts
  packages/storybook-web-component/src/DataList.stories.tsx
  packages/storybook-web-component/src/NumberData.stories.tsx
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/number-data.scss
  packages/web-component-library-stencil/src/components/number-data.tsx
  packages/web-component-library-stencil/src/index.html
  proprietary/design-tokens/src/component/utrecht/number-data.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: preserve data component
  components/preserve-data/README.md
  components/preserve-data/css/_mixin.scss
  components/preserve-data/css/index.scss
  components/preserve-data/tokens.json
  packages/component-library-react/src/PreserveData.tsx
  packages/component-library-react/src/css-module/PreserveData.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/storybook-css/src/PreserveData.stories.tsx
  packages/storybook-react/src/stories/PreserveData.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: progress list web component PoC
  packages/web-component-library-stencil/package.json
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/progress-list-item.tsx
  packages/web-component-library-stencil/src/components/progress-list.scss
  packages/web-component-library-stencil/src/components/progress-list.tsx
  packages/web-component-library-stencil/src/components/progress-sublist-item.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: add missing file for web components build
  packages/web-component-library-stencil/src/components.d.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: form field error message component
  components/form-field-error-message/README.md
  components/form-field-error-message/css/_mixin.scss
  components/form-field-error-message/css/index.scss
  components/form-field-error-message/tokens.json
  components/index.scss
  packages/component-library-react/src/FormFieldErrorMessage.tsx
  packages/component-library-react/src/css-module/FormFieldErrorMessage.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/storybook-css/src/FormFieldErrorMessage.stories.tsx
  packages/storybook-react/src/stories/FormFieldErrorMessage.stories.tsx
  packages/storybook-web-component/src/FormFieldErrorMessage.stories.tsx
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/form-field-error-message.scss
  packages/web-component-library-stencil/src/components/form-field-error-message.tsx
  proprietary/design-tokens/src/component/utrecht/form-field-error-message.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: form web component with heading slot
  components/form/css/_mixin.scss
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/form.scss
  packages/web-component-library-stencil/src/components/form.tsx
  packages/web-component-library-stencil/src/index.html
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: set `aria-invalid` in form field web components
  packages/web-component-library-stencil/src/components/form-field-textarea.tsx
  packages/web-component-library-stencil/src/components/form-field-textbox.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: avoid a form-field border when design tokens are not set
  components/form-field/css/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

style: avoid displaying secret button by external stylesheets
  packages/web-component-library-stencil/src/components/button.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: support padding and background color in error message, to look like an alert
  components/form-field-error-message/css/_mixin.scss
  components/form-field-error-message/tokens.json
Due: prettier --check, stylelint --allow-empty-input
