Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: add postcss depedency to match version of new stylelint peer dependency
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: add @types/node to ncurc and dependabot to prevent major updates
  .github/dependabot.yml
  .ncurc.major.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: major update for npm dependencies
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs: Meerdere uitleg aanpassingen
  components/heading/README.md
  documentation/colours.md
  documentation/logo.stories.mdx
  documentation/typography.stories.mdx
Due: markdownlint, prettier --check

docs: Meerdere uitleg aanpassingen (#657)
  components/heading/README.md
  documentation/colours.md
  documentation/logo.stories.mdx
  documentation/typography.stories.mdx
Due: markdownlint, prettier --check

build: patch updates
  components/package.json
  documentation/package.json
  package-lock.json
  package.json
  packages/storybook/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: configure stylelint `value-keyword-case` rule
  .stylelintrc.json
Due: none

build: minor updates
  components/package.json
  package-lock.json
  package.json
  packages/component-library-css/package.json
  packages/storybook/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-stencil/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs(link): Documentatie uitgebreid
  components/link/bem.stories.mdx
  components/link/docs/soorten-links.md
  components/link/docs/ux-guidelines.md
  components/link/docs/ux-guidelines.stories.mdx
Due: markdownlint, prettier --check

docs(links): LINT issues gefixt
  components/link/bem.stories.mdx
  components/link/docs/ux-guidelines.stories.mdx
Due: none

docs(link): Fixed lint
  components/link/bem.scss
Due: prettier --check, stylelint --allow-empty-input

Link alpha (#620)
  components/link/README.md
  components/link/bem.js
  components/link/bem.scss
  components/link/bem.stories.mdx
  components/link/docs/accessibility.stories.mdx
  components/link/docs/soorten-links.md
  components/link/docs/ux-guidelines.md
  components/link/docs/ux-guidelines.stories.mdx
  components/link/readme.stories.mdx
  documentation/logo.stories.mdx
  documentation/release-strategy.md
  documentation/toegankelijkheid.md
  documentation/toegankelijkheid.stories.mdx
  proprietary/design-tokens/src/custom.scss
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

build: fix patch for new @stencil/core version
  .patches/@stencil+core+2.13.0.patch
Due: none

new sidebar nav
  components/navigatie sidenav/bem.js
  components/navigatie sidenav/bem.scss
  components/navigatie sidenav/bem.stories.mdx
  components/navigatie sidenav/stencil.stories.mdx
  components/navigatie sidenav/stencil.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: restore "Lucida Grande" as default font
  proprietary/design-tokens/src/brand/utrecht/typography.tokens.json
Due: none

Update color tokens, headings & paragraph
  proprietary/design-tokens/src/component/utrecht/heading-1.tokens.json
  proprietary/design-tokens/src/component/utrecht/heading-2.tokens.json
  proprietary/design-tokens/src/component/utrecht/heading-3.tokens.json
  proprietary/design-tokens/src/component/utrecht/heading-4.tokens.json
  proprietary/design-tokens/src/component/utrecht/heading-5.tokens.json
  proprietary/design-tokens/src/component/utrecht/heading-6.tokens.json
Due: none

feat: add docusaurus poc
  package-lock.json
  packages/docusaurus/.gitignore
  packages/docusaurus/README.md
  packages/docusaurus/babel.config.js
  packages/docusaurus/docs/content.md
  packages/docusaurus/docs/huisstijl.md
  packages/docusaurus/docs/intro.md
  packages/docusaurus/docs/robbert/yay.md
  packages/docusaurus/docusaurus.config.js
  packages/docusaurus/package.json
  packages/docusaurus/sidebars.js
  packages/docusaurus/src/components/HomepageFeatures.js
  packages/docusaurus/src/components/HomepageFeatures.module.css
  packages/docusaurus/src/pages/index.js
  packages/docusaurus/src/pages/index.module.css
  packages/docusaurus/src/styles/custom.scss
  packages/docusaurus/src/theme/Root.js
  packages/docusaurus/static/.nojekyll
  packages/docusaurus/static/img/bicycles.png
  packages/docusaurus/static/img/favicon.ico
  packages/docusaurus/static/img/laptop.png
  packages/docusaurus/static/img/logo.svg
  packages/docusaurus/static/img/map.png
  packages/docusaurus/static/img/utrecht.png
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

build: add docusaurus to github pages
  .github/workflows/continuous-delivery.yml
  copy-build.js
  package-lock.json
  package.json
  packages/docusaurus/copy-dir.js
  packages/docusaurus/copy-docs.js
  packages/docusaurus/package.json
  packages/docusaurus/src/pages/index.js
  packages/storybook/copy-dir.js
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: use documentation pages in both storybook and docusaurus
  documentation/angular-component.stories.mdx
  documentation/colours.stories.mdx
  documentation/components/Markdown.jsx
  documentation/content.stories.mdx
  documentation/introduction.stories.mdx
  documentation/logo.mdx
  documentation/logo.stories.mdx
  documentation/release-strategy.stories.mdx
  documentation/research.stories.mdx
  documentation/research_0001.stories.mdx
  documentation/typography.stories.mdx
  documentation/vue-component.stories.mdx
  documentation/web-component.stories.mdx
  documentation/website/basis/_category_.json
  documentation/website/basis/introductie.md
  documentation/website/gebruikersonderzoek/_category_.json
  documentation/website/gebruikersonderzoek/research.md
  documentation/website/gebruikersonderzoek/research_0001.md
  documentation/website/huisstijl/_category_.json
  documentation/website/huisstijl/colours.md
  documentation/website/huisstijl/typography.md
  documentation/website/ontwikkelaars/_category_.json
  documentation/website/ontwikkelaars/release-strategy.md
  documentation/website/redactie/_category_.json
  documentation/website/redactie/content-richtlijnen.md
  package.json
  packages/docusaurus/copy-docs.js
  packages/docusaurus/docs/content.md
  packages/docusaurus/docs/huisstijl.md
  packages/docusaurus/docs/intro.md
  packages/docusaurus/docs/robbert/yay.md
  packages/docusaurus/docusaurus.config.js
  packages/docusaurus/package.json
  packages/docusaurus/sidebars.js
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore: fix all linting
  .markdownlint.json
  .stylelintignore
  copy-build.js
  copy-docs.js
  documentation/angular-component.stories.mdx
  documentation/colours.stories.mdx
  documentation/components/Markdown.jsx
  documentation/introduction.stories.mdx
  documentation/logo.mdx
  documentation/logo.stories.mdx
  documentation/release-strategy.stories.mdx
  documentation/research.stories.mdx
  documentation/research_0001.stories.mdx
  documentation/typography.stories.mdx
  documentation/vue-component.stories.mdx
  documentation/web-component.stories.mdx
  documentation/website/basis/introductie.md
  documentation/website/gebruikersonderzoek/research.md
  documentation/website/gebruikersonderzoek/research_0001.md
  documentation/website/huisstijl/colours.md
  documentation/website/huisstijl/typography.md
  documentation/website/ontwikkelaars/release-strategy.md
  documentation/website/redactie/content-richtlijnen.md
  packages/docusaurus/README.md
  packages/docusaurus/babel.config.js
  packages/docusaurus/copy-dir.js
  packages/docusaurus/docusaurus.config.js
  packages/docusaurus/package.json
  packages/docusaurus/sidebars.js
  packages/docusaurus/src/components/HomepageFeatures.js
  packages/docusaurus/src/pages/index.js
  packages/docusaurus/src/theme/Root.js
  packages/storybook/copy-dir.js
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

build: use correct yargs install
  package-lock.json
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: add package-lock
  package-lock.json
Due: none
