Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: fix color variable notation
  documentation/website/huisstijl/_kleuren.mdx
Due: none

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

fixup! style: tweak style of counter badge
  components/badge-counter/css/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

style: temp disable Storybook style overrides for some pages
  packages/storybook-helpers/src/storybook-docs.scss
Due: prettier --check, stylelint --allow-empty-input

refactor: upgrade 10 further stories to storybook7
  packages/storybook-react/src/stories/AlertDialog.stories.tsx
  packages/storybook-react/src/stories/Backdrop.stories.tsx
  packages/storybook-react/src/stories/BadgeCounter.stories.tsx
  packages/storybook-react/src/stories/Button.stories.tsx
  packages/storybook-react/src/stories/ButtonLink.stories.tsx
  packages/storybook-react/src/stories/Checkbox.stories.tsx
  packages/storybook-react/src/stories/DataBadge.stories.tsx
  packages/storybook-react/src/stories/DataList.stories.tsx
  packages/storybook-react/src/stories/DataListValue.stories.tsx
  packages/storybook-react/src/stories/Document.stories.tsx
  packages/storybook-react/src/stories/Emphasis.stories.tsx
  packages/storybook-react/src/stories/Figure.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: storybook 7 upgrade for another 10 components
  packages/storybook-react/src/stories/AlternateLangNav.stories.tsx
  packages/storybook-react/src/stories/BreadcrumbNav.stories.tsx
  packages/storybook-react/src/stories/FormField.stories.tsx
  packages/storybook-react/src/stories/FormFieldCheckbox.stories.tsx
  packages/storybook-react/src/stories/FormFieldCheckboxGroup.stories.tsx
  packages/storybook-react/src/stories/FormFieldRadioGroup.stories.tsx
  packages/storybook-react/src/stories/FormFieldText.stories.tsx
  packages/storybook-react/src/stories/FormLabel.stories.tsx
  packages/storybook-react/src/stories/Icon.stories.tsx
  packages/storybook-react/src/stories/Image.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: allow `aria-pressed` to be set on Button
  packages/component-library-react/src/Button.test.tsx
  packages/component-library-react/src/Button.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add react-emails & nodemailer app
  .eslintignore
  .eslintrc.json
  .gitignore
  .prettierignore
  .stylelintignore
  packages/react-emails/emails/aanvrager-email.tsx
  packages/react-emails/emails/email-reservation-success.tsx
  packages/react-emails/emails/invitation-email-partner.tsx
  packages/react-emails/nodemailer/index.ts
  packages/react-emails/nodemon.json
  packages/react-emails/package.json
  packages/react-emails/project.json
  packages/react-emails/readme.md
  packages/react-emails/static/vercel-logo.png
  packages/react-emails/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: move emails to src/
  packages/react-emails/package.json
  packages/react-emails/src/emails/aanvrager-email.tsx
  packages/react-emails/src/emails/email-reservation-success.tsx
  packages/react-emails/src/emails/invitation-email-partner.tsx
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: fix tsconfig.json to support React for email templates
  packages/react-emails/tsconfig.json
Due: none

style: fix margin-inline for mail Heading1
  packages/react-emails/src/emails/invitation-email-partner.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: fix code review comments
  packages/storybook-react/src/stories/Button.stories.tsx
  packages/storybook-react/src/stories/ButtonLink.stories.tsx
  packages/storybook-react/src/stories/Checkbox.stories.tsx
  packages/storybook-react/src/stories/DataList.stories.tsx
  packages/storybook-react/src/stories/Figure.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add `photo` to Image ArgsTable
  packages/storybook-react/src/stories/Image.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: upgrade headings, formlabel and html-content react stories to storybook7
  packages/storybook-react/src/stories/HTMLContent.stories.tsx
  packages/storybook-react/src/stories/Heading.stories.tsx
  packages/storybook-react/src/stories/Heading1.stories.tsx
  packages/storybook-react/src/stories/Heading2.stories.tsx
  packages/storybook-react/src/stories/Heading3.stories.tsx
  packages/storybook-react/src/stories/Heading4.stories.tsx
  packages/storybook-react/src/stories/Heading5.stories.tsx
  packages/storybook-react/src/stories/Heading6.stories.tsx
  packages/storybook-react/src/stories/HeadingGroup.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: apply code review feedback
  packages/storybook-react/src/stories/HeadingGroup.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: resolved some pr comments
  packages/storybook-react/src/stories/Paragraph.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: move storybook-blocks to dev dependendies and add name attribute to paragraph stories
  packages/storybook-react/config/main.js
  packages/storybook-react/package.json
  packages/storybook-react/src/stories/Paragraph.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: remove `@storybook/addon-blocks`, does not exist
  packages/storybook-react/config/main.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: install and use storybook/blocks add-on instead of addon-docs
  packages/storybook-react/config/main.js
  packages/storybook-react/package.json
  packages/storybook-react/src/stories/Alert.stories.tsx
  packages/storybook-react/src/stories/Article.stories.tsx
  packages/storybook-react/src/stories/Backdrop.stories.tsx
  packages/storybook-react/src/stories/ButtonGroup.stories.tsx
  packages/storybook-react/src/stories/Code.stories.tsx
  packages/storybook-react/src/stories/CodeBlock.stories.tsx
  packages/storybook-react/src/stories/Mark.stories.tsx
  packages/storybook-react/src/stories/NumberValue.stories.tsx
  packages/storybook-react/src/stories/Paragraph.stories.tsx
  packages/storybook-react/src/stories/PreHeading.stories.tsx
  packages/storybook-react/src/stories/Separator.stories.tsx
  packages/storybook-react/src/stories/Strong.stories.tsx
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: use format 3 on react paragraph story
  packages/storybook-react/src/stories/Paragraph.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: use blocks for docs page of react paragraph story
  packages/storybook-react/src/stories/Paragraph.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: wip opzet docs component as tsx
  packages/storybook-react/src/stories/CustomDocumentationComponent.tsx
  packages/storybook-react/src/stories/Paragraph.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: ensuring that the build succeeds by introducing a default export
  packages/storybook-react/src/stories/Paragraph.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: use Description block to render documentation markdown
  packages/storybook-react/src/stories/Paragraph.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: remove dummy component
  packages/storybook-react/src/stories/CustomDocumentationComponent.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: resolved 2 previously missed comments
  packages/storybook-react/src/stories/Paragraph.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: improve Storybook React TypeScript usage for Paragraph component
  packages/storybook-react/src/stories/Paragraph.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
