Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fixup! chore: pnpm file
  pnpm-lock.yaml
Due: none

Button tokens bug solved
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: ensure @vue/test-utils can access its transitive dependencies on Vercel
  packages/component-library-vue/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: update pnpm versie (#3056)
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: implement function for nested unordered lists
  packages/storybook-css/src/UnorderedList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade stylelint to 17
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: autofix lint issues
  components/data-list/src/_mixin.scss
  components/form-field/src/_mixin.scss
  components/form-fieldset/src/_mixin.scss
  components/heading-1/src/_mixin.scss
  components/heading-2/src/_mixin.scss
  components/heading-3/src/_mixin.scss
  components/heading-4/src/_mixin.scss
  components/heading-5/src/_mixin.scss
  components/heading-6/src/_mixin.scss
  components/heading/src/_mixin.scss
  components/table-of-contents/src/_mixin.scss
  components/table/src/_mixin.scss
  components/url-data/src/_mixin.scss
  packages/storybook-react/src/stories/prototype-src/index.css
  packages/web-component-library-stencil/src/components/table-caption.scss
Due: prettier --check, stylelint --allow-empty-input

refactor: remove redundant nested style rule
  components/backdrop/src/_mixin.scss
  components/checkbox/src/_mixin.scss
  components/color-sample/src/_mixin.scss
  components/data-placeholder/src/_mixin.scss
  components/listbox/src/_mixin.scss
  components/mark/src/_mixin.scss
  components/radio-button/src/_mixin.scss
  components/select/src/_mixin.scss
  components/textarea/src/_mixin.scss
  components/textbox/src/_mixin.scss
  components/tooltip/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

chore: skip no-invalid-position-declaration when a mixin declares it
  .stylelintrc.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: replace deprecated "word-break: break-word" with modern equivalent
  components/root/src/_mixin.scss
  documentation/components/CustomIcomGallery/index.scss
  packages/storybook/stories/icon/CustomIconGallery.css
Due: prettier --check, stylelint --allow-empty-input

refactor: remove deprecated propertly
  components/form-toggle/src/_mixin.scss
  components/form-toggle/src/index.scss
  components/number-data/src/_mixin.scss
  components/table/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

refactor: remove deprecated propertly
  components/form-toggle/src/_mixin.scss
  components/number-data/src/_mixin.scss
  components/table/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

chore: upgrade typescript to ^5
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: remove unused eslint-ignore comment
  packages/component-library-pdf/src/Page.test.tsx
  packages/storybook-css/src/Blockquote.stories.tsx
  packages/storybook-css/src/Subscript.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: inline the Numberish type
  packages/component-library-vue/src/Image.vue
Due: none

fix: ensure alert role is valid
  packages/web-component-library-stencil/src/components/alert.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade @typescript-eslint packages to ^8
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: remove duplicate eslint config
  .eslintrc.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: replace extended tsconfig with correct one
  packages/component-library-vue/tsconfig.vite-config.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade vite-plugin-dts
  packages/component-library-vue/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade Node.js to 24
  .nvmrc
Due: none

chore: update vue-tsc for node 24
  packages/web-component-library-vue/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: fix tsconfig
  packages/component-library-vue/tsconfig.jest.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: update component-library-react test utils
  packages/component-library-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: update vue-tsc for node 24
  packages/component-library-vue/package.json
  packages/storybook-vue/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
