Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": "markdownlint",
  "*.{js,json,jsx,mdx,ts,tsx}": "eslint --no-error-on-unmatched-pattern",
  "*.{css,scss}": "stylelint --allow-empty-input"
}

fix: no margins on headings and paragraphs by default
  components/heading-1/bem.css
  components/heading-2/bem.css
  components/heading-3/bem.css
  components/heading-4/bem.css
  components/heading-5/bem.css
  components/heading-6/bem.css
  components/paragraph/bem.css
Due: stylelint --allow-empty-input

docs(release): design system packages
  components/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

feat: link list component
  components/link-list/README.md
  components/link-list/bem.scss
  components/link-list/bem.stories.mdx
  components/link-list/block.style-dictionary.json
  components/link-list/element.style-dictionary.json
  components/link-list/readme.stories.mdx
  components/page-footer/bem.stories.mdx
  proprietary/design-tokens/src/component/utrecht/link-list/element.style-dictionary.json
  proprietary/design-tokens/src/custom.scss
  proprietary/design-tokens/src/pijltje-wit.svg
  proprietary/design-tokens/src/pijltje-zwart.svg
Due: markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: link focus color
  components/link/bem.scss
Due: stylelint --allow-empty-input

fix: button focus style
  components/button/bem.scss
  components/button/modifier.style-dictionary.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: badge font-size
  components/badge/_bem.scss
  components/badge/block.style-dictionary.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: unordered list design tokens for padding and distanced variant
  components/unordered-list/bem.css
  components/unordered-list/bem.stories.mdx
  components/unordered-list/block.style-dictionary.json
  components/unordered-list/element.style-dictionary.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: extra form-label tokens
  components/form-field-checkbox-group/bem.stories.mdx
  components/form-field-radio-group/bem.stories.mdx
  components/form-label/bem.css
  components/form-label/bem.stories.mdx
  components/form-label/block.style-dictionary.json
  components/form-label/modifier.style-dictionary.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: fallback to feedback colors for form field description
  components/form-field-description/bem.scss
Due: stylelint --allow-empty-input

feat: neutral badge
  components/badge-status/bem.scss
Due: stylelint --allow-empty-input

feat: distanced variant of separator
  components/separator/bem.css
  components/separator/bem.stories.mdx
  components/separator/block.style-dictionary.json
  components/separator/html.scss
  proprietary/design-tokens/src/component/utrecht/separator/block.style-dictionary.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: ordered list design tokens for padding and distanced variant
  components/ordered-list/bem.css
  components/ordered-list/bem.stories.mdx
  components/ordered-list/block.style-dictionary.json
  components/ordered-list/element.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/ordered-list/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/ordered-list/element.style-dictionary.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: replace `max-width` with `max-inline-size`
  components/form-input/block.style-dictionary.json
  components/textarea/README.md
  components/textarea/bem.scss
  components/textarea/block.style-dictionary.json
  components/textbox/README.md
  components/textbox/bem.scss
  components/textbox/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/form-input/block.style-dictionary.json
Due: markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: remove read-only state from form select component
  components/select/bem.scss
  components/select/bem.stories.mdx
  components/select/html.stories.mdx
  components/select/modifier.style-dictionary.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: common design tokens for select/textbox/textarea
  components/form-input/block.style-dictionary.json
  components/form-input/element.style-dictionary.json
  components/form-input/modifier.style-dictionary.json
  components/select/bem.scss
  components/textarea/bem.scss
  components/textarea/html.stories.mdx
  components/textarea/modifier.style-dictionary.json
  components/textbox/bem.scss
  components/textbox/block.style-dictionary.json
  components/textbox/modifier.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/form-input/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/form-input/modifier.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/select/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/select/modifier.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/textarea/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/textarea/modifier.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/textbox/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/textbox/modifier.style-dictionary.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add placeholder design tokens
  components/textarea/bem.scss
  components/textarea/element.style-dictionary.json
  components/textarea/html.stories.mdx
  components/textbox/bem.scss
  components/textbox/element.style-dictionary.json
  components/textbox/html.stories.mdx
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: table tokens
  components/table/bem.css
  components/table/block.style-dictionary.json
  components/table/element.style-dictionary.json
  components/table/html.stories.mdx
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

build: update packages
  components/package.json
  documentation/package.json
  package-lock.json
  package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/storybook/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

ci: check `npm ls` as linting step
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern
