Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,mjs,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Update figma.tokens.json
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Update
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

add brand colors
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: refactor how classNames are applied to Alert
  packages/component-library-react/src/Alert.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: use token utrecht-alert-color
  components/alert/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

chore: simplify classNames declaration in Alert
  packages/component-library-react/src/Alert.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: deploy previous chore (simplifying classNames declaration) in other Alert component instances
  packages/storybook-css/src/Alert.tsx
  packages/web-component-library-stencil/src/components/alert.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: use alert text color token (#2855)
  components/alert/src/_mixin.scss
  packages/component-library-react/src/Alert.tsx
  packages/storybook-css/src/Alert.tsx
  packages/web-component-library-stencil/src/components/alert.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: remove HTML form validation from textbox
  components/textbox/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

fix: added changeset
  .changeset/strong-pumas-draw.md
Due: markdownlint, prettier --check

update kleuren
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

update button
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: add changeset
  .changeset/hungry-lemons-look.md
  .changeset/small-seahorses-watch.md
Due: markdownlint, prettier --check

fix: add changeset (#2858)
  .changeset/hungry-lemons-look.md
  .changeset/small-seahorses-watch.md
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/hungry-lemons-look.md
  .changeset/small-seahorses-watch.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/alert/CHANGELOG.md
  components/alert/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/component-library-design-tokens/CHANGELOG.md
  packages/component-library-design-tokens/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  packages/web-component-library-react/CHANGELOG.md
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/CHANGELOG.md
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/CHANGELOG.md
  packages/web-component-library-vue/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages (#2859)
  .changeset/hungry-lemons-look.md
  .changeset/small-seahorses-watch.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/alert/CHANGELOG.md
  components/alert/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/component-library-design-tokens/CHANGELOG.md
  packages/component-library-design-tokens/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  packages/web-component-library-react/CHANGELOG.md
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/CHANGELOG.md
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/CHANGELOG.md
  packages/web-component-library-vue/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: contactformulier eerste commit
  packages/storybook-react/src/stories/prototype-contactformulier/FormPage1.stories.tsx
  packages/storybook-react/src/stories/prototype-contactformulier/FormPage2.stories.tsx
  packages/storybook-react/src/stories/prototype-contactformulier/FormPage3.stories.tsx
  packages/storybook-react/src/stories/prototype-contactformulier/FormPage4.stories.tsx
  packages/storybook-react/src/stories/prototype-contactformulier/introductie.stories.tsx
  packages/storybook-react/src/stories/prototype-contactformulier/scenario.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: fix typo in link docs
  components/link/docs/failure-no-lang.nl.md
Due: markdownlint, prettier --check

chore: fix typo in link docs (#2860)
  components/link/docs/failure-no-lang.nl.md
Due: markdownlint, prettier --check

fix: changed to user-invalid
  .changeset/strong-pumas-draw.md
  components/textbox/src/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

fix: change invalid selector to user-invalid in textbox
  .changeset/strong-pumas-draw.md
  components/textbox/src/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

docs(release): design system packages
  .changeset/strong-pumas-draw.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/open-forms-container/CHANGELOG.md
  components/open-forms-container/package.json
  components/textbox/CHANGELOG.md
  components/textbox/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/component-library-design-tokens/CHANGELOG.md
  packages/component-library-design-tokens/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  packages/components-react/open-forms-container-react/CHANGELOG.md
  packages/components-react/open-forms-container-react/package.json
  packages/components-react/select-combobox-react/CHANGELOG.md
  packages/components-react/select-combobox-react/package.json
  packages/components-react/textbox-react/CHANGELOG.md
  packages/components-react/textbox-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages (#2861)
  .changeset/strong-pumas-draw.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/open-forms-container/CHANGELOG.md
  components/open-forms-container/package.json
  components/textbox/CHANGELOG.md
  components/textbox/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/component-library-design-tokens/CHANGELOG.md
  packages/component-library-design-tokens/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  packages/components-react/open-forms-container-react/CHANGELOG.md
  packages/components-react/open-forms-container-react/package.json
  packages/components-react/select-combobox-react/CHANGELOG.md
  packages/components-react/select-combobox-react/package.json
  packages/components-react/textbox-react/CHANGELOG.md
  packages/components-react/textbox-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

Update colors button
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

test: link wrap text
  packages/storybook-react/src/stories/Link.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: configure `static/` in `staticDirs` for every Storybook
  packages/storybook-angular/config/main.ts
  packages/storybook-css/config/main.ts
  packages/storybook-html/config/main.ts
  packages/storybook-pdf/config/main.ts
  packages/storybook-react/config/main.ts
  packages/storybook-vue/config/main.ts
  packages/storybook-web-component/config/main.ts
  packages/storybook/config/main.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: duplicate button group component to action group
  components/action-group/README.md
  components/action-group/package.json
  components/action-group/src/_mixin.scss
  components/action-group/src/index.scss
  components/action-group/src/tokens.json
  packages/component-library-angular/src/action-group/ActionGroup.spec.ts
  packages/component-library-angular/src/action-group/component.ts
  packages/component-library-angular/src/action-group/index.html
  packages/component-library-angular/src/action-group/index.scss
  packages/component-library-angular/src/action-group/public-api.ts
  packages/component-library-react/src/ActionGroup.tsx
  packages/component-library-react/src/css-module/ActionGroup.tsx
  packages/component-library-vue/src/ActionGroup.vue
  packages/components-react/action-group-react/.eslintrc.json
  packages/components-react/action-group-react/babel.config.cjs
  packages/components-react/action-group-react/jest.config.mjs
  packages/components-react/action-group-react/package.json
  packages/components-react/action-group-react/rollup.config.mjs
  packages/components-react/action-group-react/src/css.tsx
  packages/components-react/action-group-react/src/index.test.tsx
  packages/components-react/action-group-react/src/index.tsx
  packages/components-react/action-group-react/src/insert-style.ts
  packages/components-react/action-group-react/tsconfig.build.json
  packages/components-react/action-group-react/tsconfig.json
  packages/components-react/action-group-react/tsconfig.test.json
  packages/web-component-library-stencil/src/components/action-group.scss
  packages/web-component-library-stencil/src/components/action-group.tsx
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: rename contents of action group component from button group action group
  components/action-group/README.md
  components/action-group/package.json
  components/action-group/src/_mixin.scss
  components/action-group/src/index.scss
  components/action-group/src/tokens.json
  packages/component-library-angular/src/action-group/ActionGroup.spec.ts
  packages/component-library-angular/src/action-group/component.ts
  packages/component-library-angular/src/action-group/index.html
  packages/component-library-angular/src/action-group/index.scss
  packages/component-library-react/src/ActionGroup.tsx
  packages/component-library-react/src/css-module/ActionGroup.tsx
  packages/component-library-vue/src/ActionGroup.vue
  packages/components-react/action-group-react/package.json
  packages/components-react/action-group-react/src/css.tsx
  packages/components-react/action-group-react/src/index.test.tsx
  packages/components-react/action-group-react/src/index.tsx
  packages/web-component-library-stencil/src/components/action-group.scss
  packages/web-component-library-stencil/src/components/action-group.tsx
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: rename ButtonGroup stories to ActionGroup stories
  packages/storybook-angular/src/stories/ActionGroup.stories.ts
  packages/storybook-css/src/ActionGroup.stories.tsx
  packages/storybook-react/src/stories/ActionGroup.stories.tsx
  packages/storybook-vue/src/stories/ActionGroup.stories.ts
  packages/storybook-web-component/src/ActionGroup.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

update
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: rename contents of action group stories from button group to action group
  packages/storybook-angular/src/stories/ActionGroup.stories.ts
  packages/storybook-css/src/ActionGroup.stories.tsx
  packages/storybook-react/src/stories/ActionGroup.stories.tsx
  packages/storybook-vue/src/stories/ActionGroup.stories.ts
  packages/storybook-web-component/src/ActionGroup.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: update dependencies in packages
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-design-tokens/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/storybook-css/package.json
  packages/storybook-react/package.json
  packages/storybook-vue/package.json
  packages/storybook-web-component/package.json
  packages/web-component-library-stencil/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: import export UtrechtActionGroup in packages
  packages/component-library-angular/src/index.module.ts
  packages/component-library-css/src/index.scss
  packages/component-library-react/src/index.ts
  packages/component-library-vue/src/index.ts
  packages/components-react/action-group-react/src/index.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: import export UtrechtActionGroup in packages
  packages/component-library-angular/src/components.ts
  packages/component-library-react/src/css-module/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: build web-component-library-stencil
  packages/web-component-library-stencil/src/components.d.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: include CHANGELOGs from deprecated component
  components/action-group/CHANGELOG.md
  packages/components-react/action-group-react/CHANGELOG.md
Due: markdownlint, prettier --check

docs: add changesets
  .changeset/shaggy-apricots-shake.md
  .changeset/shaggy-apricots-shakey.md
Due: markdownlint, prettier --check
