Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,mjs,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

feat: create npm package for `PageFooter` React component
  .changeset/red-cars-battle.md
  packages/components-react/page-footer-react/.eslintrc.json
  packages/components-react/page-footer-react/babel.config.cjs
  packages/components-react/page-footer-react/jest.config.mjs
  packages/components-react/page-footer-react/package.json
  packages/components-react/page-footer-react/rollup.config.mjs
  packages/components-react/page-footer-react/src/css.tsx
  packages/components-react/page-footer-react/src/index.tsx
  packages/components-react/page-footer-react/tsconfig.build.json
  packages/components-react/page-footer-react/tsconfig.json
  packages/components-react/page-footer-react/tsconfig.test.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: new `Root` React component
  .changeset/popular-cameras-fly.md
  packages/components-react/root-react/.eslintrc.json
  packages/components-react/root-react/babel.config.cjs
  packages/components-react/root-react/jest.config.mjs
  packages/components-react/root-react/package.json
  packages/components-react/root-react/rollup.config.mjs
  packages/components-react/root-react/src/css.tsx
  packages/components-react/root-react/src/index.tsx
  packages/components-react/root-react/tsconfig.build.json
  packages/components-react/root-react/tsconfig.json
  packages/components-react/root-react/tsconfig.test.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: npm package for `PageBody` React component
  .changeset/late-rules-sin.md
  packages/components-react/page-body-react/.eslintrc.json
  packages/components-react/page-body-react/babel.config.cjs
  packages/components-react/page-body-react/jest.config.mjs
  packages/components-react/page-body-react/package.json
  packages/components-react/page-body-react/rollup.config.mjs
  packages/components-react/page-body-react/src/css.tsx
  packages/components-react/page-body-react/src/index.tsx
  packages/components-react/page-body-react/tsconfig.build.json
  packages/components-react/page-body-react/tsconfig.json
  packages/components-react/page-body-react/tsconfig.test.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

style: breaking changes for Page Layout components
  .changeset/warm-worms-stare.md
  .changeset/witty-pumpkins-teach.md
  .changeset/young-cherries-share.md
  components/nav-bar/src/_mixin.scss
  components/nav-bar/src/index.scss
  components/nav-bar/src/tokens.json
  components/page-footer/src/_mixin.scss
  components/page-footer/src/index.scss
  components/page-footer/src/tokens.json
  components/page-header/src/_mixin.scss
  components/page-header/src/tokens.json
  pnpm-lock.yaml
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

ci: allow `--basis-` design tokens
  .stylelintrc.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

test: add placeholder test for new React components
  packages/components-react/body-react/src/index.test.tsx
  packages/components-react/nav-bar-react/src/index.test.tsx
  packages/components-react/page-body-react/src/index.test.tsx
  packages/components-react/page-footer-react/src/index.test.tsx
  packages/components-react/page-header-react/src/index.test.tsx
  packages/components-react/page-layout-react/src/index.test.tsx
  packages/components-react/root-react/src/index.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: page structure experiments
  apps/experiments/.stylelintrc.json
  apps/experiments/a0e31a7b0de22c8989df.woff2
  apps/experiments/ams-logo.svg
  apps/experiments/amsterdam-theme.css
  apps/experiments/purmerend-logo.svg
  apps/experiments/purmerend-theme.css
  apps/experiments/render-template.mjs
  apps/experiments/rijkshuisstijl-logo.svg
  apps/experiments/rijkshuisstijl-theme.css
  apps/experiments/rods-logo.svg
  apps/experiments/rods-theme.css
  apps/experiments/scaled-down.html
  apps/experiments/slideshow.css
  apps/experiments/slideshow.html
  apps/experiments/slideshow.mjs
  apps/experiments/style.css
  apps/experiments/test.html
  apps/experiments/theme.mjs
  apps/experiments/utrecht-logo.svg
  apps/experiments/utrecht-theme.css
  apps/experiments/utrecht.html
  components/index.css
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: 100% wide navigation bar
  .changeset/flat-jeans-teach.md
  components/nav-bar/src/index.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

test: temporarily disable Calendar test
  packages/components-react/calendar-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/short-chefs-hope.md
Due: markdownlint, prettier --check

feat: create demo app with Preact
  apps/preact/index.html
  apps/preact/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add React build utils
  packages/build-utils-react/package.json
  packages/build-utils-react/rollup-config.mjs
  packages/build-utils-react/src/insert-style.ts
  packages/build-utils-react/src/rollup.mjs
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: use `lodash-es` for ES Modules support
  packages/components-react/calendar-react/package.json
  packages/components-react/calendar-react/src/index.tsx
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: switch to new React build config
  packages/components-react/button-react/package.json
  packages/components-react/button-react/rollup.config.mjs
  packages/components-react/button-react/src/css.tsx
  packages/components-react/button-react/src/inject.ts
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: buttonlink focus color
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, stylelint --allow-empty-input

fix: buttonlink focus bg color
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, stylelint --allow-empty-input

fix: removed nbsp in bottonlink
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage1.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage2.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage3.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage4.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage1.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage2.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage3.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage4.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/scenario.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: spotlight
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage4.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: css update
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, stylelint --allow-empty-input

fix: link formulier 1
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage1.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: borders background and form input styling
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage1.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage2.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage3.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage4.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/introductie.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/scenario.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/speeltuin.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage1.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage2.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage3.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage4.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/introductie.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/scenario.stories.tsx
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: workaround invalid textarea styling
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, stylelint --allow-empty-input

fix: form field description max inline size
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, stylelint --allow-empty-input

fix: form field description max inline size (#2644)
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, stylelint --allow-empty-input

build: enable verbose logging for Style Dictionary
  proprietary/design-tokens/style-dictionary-build.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

WIP
  apps/preact/package.json
  apps/preact/page.tsx
  apps/preact/server-side-rendering.html
  apps/preact/server-side-rendering.html.br
  apps/preact/tsconfig.json
  apps/preact/web-components.html
  components/heading-1/src/index.scss
  components/paragraph/src/index.scss
  packages/build-utils-web-component/package.json
  packages/web-components/paragraph-element/package.json
  packages/web-components/paragraph-element/src/define.mjs
  packages/web-components/paragraph-element/src/element.mjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
  proprietary/design-tokens/package.json
  proprietary/design-tokens/src/component/utrecht/page-body.tokens.json
  proprietary/design-tokens/src/component/utrecht/page-footer.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

WIP
  apps/preact/gql.json
  apps/preact/graphql.html
  apps/preact/graphql.html.br
  apps/preact/graphql.tsx
  apps/preact/package.json
  apps/preact/page.tsx
  apps/preact/page2.tsx
  apps/preact/server-side-rendering.html
  apps/preact/server-side-rendering.html.br
  pnpm-lock.yaml
  proprietary/design-tokens/src/component/utrecht/body.tokens.json
  proprietary/design-tokens/src/component/utrecht/page-footer.tokens.json
  proprietary/design-tokens/src/component/utrecht/root.tokens.json
  proprietary/design-tokens/style-dictionary-build-components.mjs
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern
