Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,mjs,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

ci: allow `1s` in CSS, `s` unit was disallowed
  stylelint.config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: sort CSS and SCSS variables alphabetically in design-tokens/dist/ folder
  .changeset/perfect-kiwis-occur.md
  proprietary/design-tokens/style-dictionary-config.mjs
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

None to none for beter CSS
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: align the `figma.tokens.json`` with figma-branch
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Change text-decoration value from 'None' to 'none'
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(open-forms-container): style tooltip positioning and use design tokens for spacing
  components/open-forms-container/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

Change 'none' to 'None' in figma.tokens.json
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(open-forms-container): style tooltip, fieldset legend heading, and form label weights
  components/open-forms-container/package.json
  components/open-forms-container/src/_mixin.scss
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

build: restore pnpm pack/pnpm publish behavior to pre-pnpm@11.13 behavior
  .npmignore
Due: none

chore: upgrade to changesets v3 (and changesets/action@v2)
  .changeset/config.json
  .github/workflows/publish.yml
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade to changesets v3 (and changesets/action@v2) (#3222)
  .changeset/config.json
  .github/workflows/publish.yml
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Upate color separator
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Design tokens hernoemd van Community component ‘Accordion’ van Utrecht
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Design tokens hernoemd van Community component Text Area van Utrecht
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: switch to basis focus tokens
  components/focus-ring/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

fix(storybook-css): set the background color of the utrecht-root in the preview story to white
  packages/storybook-css/config/preview.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(storybook-css): update Accordion stories to use Paragraph component instead of <p> tag
  packages/storybook-css/src/Accordion.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

icon size fix
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

ams tabs basis border witdth update
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

basis.border-width.lg update
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add normalize-none-preprocessor for design tokens
  proprietary/design-tokens/src/normalize-none-preprocessor.md
  proprietary/design-tokens/src/normalize-none-preprocessor.mjs
  proprietary/design-tokens/style-dictionary-config.mjs
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore: update figma tokens to match latest design system changes
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade Astro from 5.16.16 to 7.3.3
  packages/astro/package.json
  packages/astro/src/pages/componenten/index.astro
  packages/astro/src/pages/index.astro
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade Next.js from 13.5.11 to 15.5.24
  packages/component-library-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

icon only button deleted
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(design-tokens): resolve lint/build errors from Figma exports
  proprietary/design-tokens/src/normalize-none-preprocessor.md
  proprietary/design-tokens/src/normalize-none-preprocessor.mjs
  proprietary/design-tokens/style-dictionary-config.mjs
  proprietary/design-tokens/stylelint.config.mjs
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: switch to Figma tokens
  proprietary/design-tokens/figma/figma.tokens.json
  proprietary/design-tokens/src/code-only.tokens.json
  proprietary/design-tokens/style-dictionary-build.mjs
  proprietary/design-tokens/style-dictionary-config.mjs
  proprietary/design-tokens/stylelint.config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: switch from `utrecht-surface` to `utrecht-root`
  components/surface/_surface-theme-color.md
  packages/storybook-css/src/Surface.stories.tsx
  packages/storybook-web-component/src/Surface.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix(design-tokens): resolve lint/build errors from Figma exports
  proprietary/design-tokens/stylelint.config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: fix lint build errors from figma export
  packages/component-library-angular/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern
