Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: migrate Husky configuration to Husky 8
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.json
Due: none

docs: fix typo in icons documenation (#1008)
  components/icon/UXguidelines.md
Due: markdownlint, prettier --check

fix: more icons
  components/icon/svg/horeca.svg
  components/icon/svg/lantaarnpaal.svg
  components/icon/svg/parkerenbedrijven.svg
Due: none

docs: onderzoek pds component toegevoegd
  documentation/website/gebruikersonderzoek/research_0022.md
  package-lock.json
  standalone/docusaurus/static/img/pds_email.png
  standalone/docusaurus/static/img/pds_mijnomgeving.png
  standalone/docusaurus/static/img/pds_prototype_01.png
  standalone/docusaurus/static/img/pds_prototype_02.png
  standalone/docusaurus/static/img/pds_prototype_03.png
Due: markdownlint, prettier --check

docs: prettier gemaakt
  documentation/website/gebruikersonderzoek/research_0022.md
Due: markdownlint, prettier --check

docs: linting fix
  documentation/website/gebruikersonderzoek/research_0022.md
Due: markdownlint, prettier --check

docs: onderzoek pds component toegevoegd (#1010)
  documentation/website/gebruikersonderzoek/research_0022.md
  package-lock.json
  standalone/docusaurus/static/img/pds_email.png
  standalone/docusaurus/static/img/pds_mijnomgeving.png
  standalone/docusaurus/static/img/pds_prototype_01.png
  standalone/docusaurus/static/img/pds_prototype_02.png
  standalone/docusaurus/static/img/pds_prototype_03.png
Due: markdownlint, prettier --check

docs: updated after review
  documentation/website/gebruikersonderzoek/research_0022.md
  package-lock.json
  standalone/docusaurus/static/img/pds_prototype_04.png
Due: markdownlint, prettier --check

docs: updated after review (#1015)
  documentation/website/gebruikersonderzoek/research_0022.md
  package-lock.json
  standalone/docusaurus/static/img/pds_prototype_04.png
Due: markdownlint, prettier --check

refactor: change the way of register your web components
  package-lock.json
  packages/web-component-library-vue/package.json
  packages/web-component-library-vue/src/index.ts
  packages/web-component-library-vue/src/plugin.ts
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: install web-component-library-stencil as dependency
  package-lock.json
  packages/web-component-library-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: add the new icons to @utrecht/web-component-library-angular
  packages/web-component-library-angular/src/index.module.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: fix the patch files and some typescript issues
  packages/web-component-library-stencil/package.json
  packages/web-component-library-stencil/patch-angular.ts
  packages/web-component-library-stencil/patch-vue.ts
  packages/web-component-library-stencil/sequential-output-targets.ts
  packages/web-component-library-stencil/stencil.config.ts
  packages/web-component-library-stencil/tsconfig.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs: update storybook with the new iconset
  packages/storybook/config/preview.js
  packages/storybook/stories/icon/icon-gallery.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: update mapcontrolbutton & toptask-link stories with new icons
  components/mapcontrolbutton/css/stories/01-default.stories.mdx
  components/toptask-link/css/stories/default.stories.mdx
Due: none

docs: add the icons name & make the icons size 48px
  packages/storybook/stories/icon/icon-gallery.stories.mdx
  proprietary/design-tokens/src/component/utrecht/icon.tokens.json
Due: none

fix: correct the svgs name & remove unnecessarily .gitignore
  components/icon/.gitignore
  components/icon/src/svg/HulpVervoer.svg
  components/icon/src/svg/afspraakMaken.svg
  components/icon/src/svg/afvalScheiden.svg
  components/icon/src/svg/bestemmingsplan.svg
  components/icon/src/svg/collegeBW.svg
  components/icon/src/svg/hulpHuishouden.svg
  components/icon/src/svg/letOp.svg
  components/icon/src/svg/meldingKlacht.svg
  components/icon/src/svg/nieuwHuis.svg
  components/icon/src/svg/parkerenBedrijven.svg
  components/icon/src/svg/parkerenBetalen.svg
  components/icon/src/svg/wonenKosten.svg
  components/icon/src/svg/woningZoeken.svg
Due: none

fixup! fix: correct the svgs name & remove unnecessarily .gitignore
  components/icon/src/svg/afspraak-maken.svg
  components/icon/src/svg/afspraakmaken.svg
  components/icon/src/svg/afval-scheiden.svg
  components/icon/src/svg/afvalscheiden.svg
  components/icon/src/svg/college-b-w.svg
  components/icon/src/svg/hulp-huishouden.svg
  components/icon/src/svg/hulp-vervoer.svg
  components/icon/src/svg/hulphuishouden.svg
  components/icon/src/svg/hulpvervoer.svg
  components/icon/src/svg/let-op.svg
  components/icon/src/svg/letop.svg
  components/icon/src/svg/melding-klacht.svg
  components/icon/src/svg/nieuw-huis.svg
  components/icon/src/svg/nieuwhuis.svg
  components/icon/src/svg/parkeren-bedrijven.svg
  components/icon/src/svg/parkeren-betalen.svg
  components/icon/src/svg/parkerenbedrijven.svg
  components/icon/src/svg/parkerenbetalen.svg
  components/icon/src/svg/wonen-kosten.svg
  components/icon/src/svg/wonenkosten.svg
  components/icon/src/svg/woning-zoeken.svg
  components/icon/src/svg/woningzoeken.svg
  packages/web-component-library-angular/src/index.module.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: correct the iconset name on web-component-library-angular
  packages/web-component-library-angular/src/index.module.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

ci: log `lint` and `build` steps in GitHub Actions
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: fix package-lock.json
  package-lock.json
Due: none

fixup! build: fix package-lock.json
  components/icon/package.json
  package-lock.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: add the build:typescript & update tsconfig
  packages/web-component-library-stencil/package.json
  packages/web-component-library-stencil/tsconfig.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: avoid setting React RadioButton `checked` directly
  packages/component-library-react/src/RadioButton.test.tsx
  packages/component-library-react/src/RadioButton.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: add line-height to the icon container
  components/icon/src/build.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: checkmark icon
  components/icon/src/svg/checkmark.svg
Due: none

fix: icon names update
  components/icon/svg/SVG/bouwproject.svg
  components/icon/svg/SVG/college-b-w.svg
  components/icon/svg/SVG/let-op.svg
  components/icon/svg/SVG/omgevingsvisie.svg
  components/icon/svg/SVG/parkeren-betalen.svg
Due: none

fix: sizing of some icons
  components/icon/svg/SVG/afval-scheiden.svg
  components/icon/svg/SVG/eikenprocessie.svg
  components/icon/svg/SVG/markt.svg
Due: none

fix: update parkeren-betalen icon
  components/icon/svg/SVG/parkeren-betalen.svg
Due: none
