Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: restrict roles and types for alert and provide default values
  packages/component-library-react/src/Alert.tsx
  packages/storybook-css/src/Alert.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: alert component zou role="status" moeten hebben voor type="info" (#2742)
  components/alert/docs/technology-html.nl.md
  documentation/aria.md
  packages/component-library-react/src/Alert.tsx
  packages/storybook-css/src/Alert.stories.tsx
  packages/storybook-css/src/Alert.tsx
  packages/storybook-react/src/stories/Alert.stories.tsx
  packages/storybook-web-component/src/Alert.stories.tsx
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/alert.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/cyan-ladybugs-fly.md
  .changeset/cyan-ladybugs-run.md
  .changeset/cyan-ladybugs-walk.md
Due: markdownlint, prettier --check

docs: storybook alert doesnt require argTypes for native role attribute
  packages/storybook-css/src/Alert.stories.tsx
  packages/storybook-react/src/stories/Alert.stories.tsx
  packages/storybook-web-component/src/Alert.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: only use computed role in webcomponent due to role attribute conflict
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/alert.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/cyan-ladybugs-fly.md
  .changeset/cyan-ladybugs-run.md
  .changeset/cyan-ladybugs-walk.md
  .changeset/mean-guests-repeat.md
  .changeset/pretty-beds-occur.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/alert/CHANGELOG.md
  components/alert/package.json
  components/card/CHANGELOG.md
  components/card/package.json
  documentation/CHANGELOG.md
  documentation/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/component-library-design-tokens/CHANGELOG.md
  packages/component-library-design-tokens/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  packages/components-react/card-react/CHANGELOG.md
  packages/components-react/card-react/package.json
  packages/web-component-library-react/CHANGELOG.md
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/CHANGELOG.md
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/CHANGELOG.md
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages (#2829)
  .changeset/cyan-ladybugs-fly.md
  .changeset/cyan-ladybugs-run.md
  .changeset/cyan-ladybugs-walk.md
  .changeset/mean-guests-repeat.md
  .changeset/pretty-beds-occur.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/alert/CHANGELOG.md
  components/alert/package.json
  components/card/CHANGELOG.md
  components/card/package.json
  documentation/CHANGELOG.md
  documentation/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/component-library-design-tokens/CHANGELOG.md
  packages/component-library-design-tokens/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  packages/components-react/card-react/CHANGELOG.md
  packages/components-react/card-react/package.json
  packages/web-component-library-react/CHANGELOG.md
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/CHANGELOG.md
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/CHANGELOG.md
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix(card): resolve image display issue in Storybook
  packages/storybook-css/src/Card.stories.tsx
  packages/storybook-react/src/stories/Card.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fixup! feat: add YouTubeVideo component for React
  components/youtube-video/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

feat: add token to breadcrumb-nav to align first link
  .changeset/six-rivers-care.md
  components/breadcrumb-nav/src/_mixin.scss
  components/breadcrumb-nav/src/index.scss
  components/breadcrumb-nav/src/tokens.json
  packages/component-library-react/src/BreadcrumbNav.test.tsx
  packages/component-library-react/src/BreadcrumbNav.tsx
  proprietary/design-tokens/src/component/utrecht/breadcrumb-nav.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: removed story for unused Arrows Breadcrumb Nav
  packages/storybook-react/src/stories/BreadcrumbNav.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/six-rivers-care.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/breadcrumb-nav/CHANGELOG.md
  components/breadcrumb-nav/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/component-library-design-tokens/CHANGELOG.md
  packages/component-library-design-tokens/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: make the empty state reactive in DataListValue.vue
  .changeset/angry-carpets-arrive.md
  packages/component-library-vue/src/DataListValue.vue
Due: markdownlint, prettier --check

feat: tooltip component
  .changeset/nasty-baboons-swim.md
  components/tooltip/CHANGELOG.md
  components/tooltip/README.md
  components/tooltip/package.json
  components/tooltip/src/_mixin.scss
  components/tooltip/src/index.scss
  components/tooltip/src/tokens.json
  packages/component-library-css/package.json
  packages/component-library-css/src/index.scss
  packages/components-react/tooltip-react/CHANGELOG.md
  packages/components-react/tooltip-react/babel.config.cjs
  packages/components-react/tooltip-react/jest.config.mjs
  packages/components-react/tooltip-react/package.json
  packages/components-react/tooltip-react/rollup.config.mjs
  packages/components-react/tooltip-react/src/css.tsx
  packages/components-react/tooltip-react/src/index.test.tsx
  packages/components-react/tooltip-react/src/index.tsx
  packages/components-react/tooltip-react/src/insert-style.ts
  packages/components-react/tooltip-react/tsconfig.build.json
  packages/components-react/tooltip-react/tsconfig.json
  packages/components-react/tooltip-react/tsconfig.test.json
  packages/storybook-react/package.json
  packages/storybook-react/src/stories/Tooltip.stories.tsx
  pnpm-lock.yaml
  proprietary/design-tokens/src/component/utrecht/tooltip.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: remove not functioning optional element based on slot
  packages/component-library-angular/src/button-link/component.ts
  packages/component-library-angular/src/button-link/index.html
  packages/component-library-angular/src/link-button/component.ts
  packages/component-library-angular/src/link-button/index.html
  packages/component-library-angular/src/link/component.ts
  packages/component-library-angular/src/link/index.html
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: remove not functioning optional element based on slot
  .changeset/consistent-l-b-slots.md
  packages/web-component-library-stencil/src/components/button-link.tsx
  packages/web-component-library-stencil/src/components/button.tsx
  packages/web-component-library-stencil/src/components/link-button.tsx
  packages/web-component-library-stencil/src/components/link.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: run prettier --write
  packages/component-library-angular/src/button-link/index.html
  packages/component-library-angular/src/link-button/index.html
  packages/component-library-angular/src/link/index.html
Due: none

Font added Noto Sans
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: fix typo
  packages/storybook-web-component/src/Button.stories.tsx
  packages/storybook-web-component/src/ButtonLink.stories.tsx
  packages/storybook-web-component/src/Link.stories.tsx
  packages/storybook-web-component/src/LinkButton.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: use `createElement` instead of `cloneElement`
  packages/storybook-web-component/src/Button.stories.tsx
  packages/storybook-web-component/src/ButtonLink.stories.tsx
  packages/storybook-web-component/src/LinkButton.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: update changeset from major to minor
  .changeset/yellow-meals-invite.md
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/angry-carpets-arrive.md
  packages/component-library-vue/CHANGELOG.md
  packages/component-library-vue/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: rename tooltip `animation` tokens to `transition`
  components/tooltip/src/_mixin.scss
  components/tooltip/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs(release): design system packages
  .changeset/nasty-baboons-swim.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/tooltip/CHANGELOG.md
  components/tooltip/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/components-react/tooltip-react/CHANGELOG.md
  packages/components-react/tooltip-react/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

Noto Sans and SemiBold
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

update
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Rename figma.tokens.json to figma.tokens-OLD.json
  proprietary/design-tokens/figma/figma.tokens-OLD.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Create figma.tokens.json
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
