Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": "markdownlint",
  "*.{js,jsx,mdx,ts,tsx}": "eslint --no-error-on-unmatched-pattern",
  "*.css": "stylelint --allow-empty-input"
}

tests for stencil
  components/heading/stencil.e2e.ts
  components/heading/stencil.spec.ts
Due: eslint --no-error-on-unmatched-pattern

Update bem.css
  components/navigatie/bem.css
Due: stylelint --allow-empty-input

:hammer: mapcontrolbutton refers to focus tokens
  proprietary/design-tokens/src/common/utrecht/focus.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/mapcontrolbutton/state.style-dictionary.json
Due: none

feat: create design token template
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: table component
  components/table/README.md
  components/table/bem.css
  components/table/block.style-dictionary.json
  components/table/element-modifier.style-dictionary.json
  components/table/element.style-dictionary.json
  components/table/html.scss
  components/table/html.stories.mdx
  proprietary/design-tokens/src/component/utrecht/table/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/table/element.style-dictionary.json
Due: markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

review ollie
  components/mapcontrolbutton/bem.css
  components/mapcontrolbutton/html.scss
Due: stylelint --allow-empty-input

:wrench: Removed distanced
  components/button/bem.css
Due: stylelint --allow-empty-input

:wrench: fixed no-descending-specificity error
  components/button/bem.css
  components/mapcontrolbutton/bem.css
Due: stylelint --allow-empty-input

:lipstick: So pretty.
  components/mapcontrolbutton/bem.css
Due: stylelint --allow-empty-input

Mapcontrolbutton (#155)
  components/mapcontrolbutton/README.md
  components/mapcontrolbutton/bem.css
  components/mapcontrolbutton/bem.stories.mdx
  components/mapcontrolbutton/block.style-dictionary.json
  components/mapcontrolbutton/docs/content-guidelines.md
  components/mapcontrolbutton/html.scss
  components/mapcontrolbutton/html.stories.mdx
  components/mapcontrolbutton/modifier.style-dictionary.json
  proprietary/design-tokens/src/common/utrecht/border.style-dictionary.json
  proprietary/design-tokens/src/common/utrecht/focus.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/mapcontrolbutton/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/mapcontrolbutton/modifier-state.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/mapcontrolbutton/modifier.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/mapcontrolbutton/state.style-dictionary.json
Due: markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Update html.stories.mdx
  components/table/html.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

start 2 sorts of nav
  components/navigatie sidenav/README.md
  components/navigatie sidenav/bem.css
  components/navigatie sidenav/bem.stories.mdx
  components/navigatie sidenav/docs/accessibility-guidelines.md
  components/navigatie sidenav/docs/content-guidelines.md
  components/navigatie topnav/README.md
  components/navigatie topnav/bem.css
  components/navigatie topnav/bem.stories.mdx
  components/navigatie topnav/docs/accessibility-guidelines.md
  components/navigatie topnav/docs/content-guidelines.md
Due: markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

move top nav to own component
  components/nav-top/README.md
  components/nav-top/bem.css
  components/nav-top/bem.stories.mdx
Due: markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

table tweaks
  components/table/bem.css
  components/table/element.style-dictionary.json
  components/table/html.scss
  components/table/html.stories.mdx
  proprietary/design-tokens/src/component/utrecht/table/element-modifier.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/table/element.style-dictionary.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: include all paths from style-dictionary.config.json in watcher
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

updates
  components/navigatie sidenav/bem.stories.mdx
  components/navigatie topnav/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

:hammer: Added focus state for link
  components/link/bem.css
  proprietary/design-tokens/src/component/utrecht/link/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/link/modifier.style-dictionary.json
Due: stylelint --allow-empty-input

:lipstick: prettier
  components/link/bem.css
Due: stylelint --allow-empty-input

:hammer: Made title of svg more accessible
  components/mapcontrolbutton/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

:hammer: Made title of svg more accessible (#173)
  components/mapcontrolbutton/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

Work work
  components/navigatie sidenav/bem.stories.mdx
  components/navigatie topnav/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

Update bem.stories.mdx
  components/navigatie sidenav/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

feat: create `@utrecht/components` npm package
  components/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: component-library-stencil
  packages/component-library-stencil/.gitignore
  packages/component-library-stencil/package.json
  packages/component-library-stencil/stencil.config.ts
  packages/component-library-stencil/tsconfig.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

feat: button web component
  components/button/stencil.stories.mdx
  components/button/stencil.tsx
Due: eslint --no-error-on-unmatched-pattern

ci: enable TypeScript linting
  .eslintignore
  .eslintrc.json
  .prettierignore
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: separator web component
  components/separator/stencil.stories.mdx
  components/separator/stencil.tsx
Due: eslint --no-error-on-unmatched-pattern

fix: component status "UNSTABLE" has been renamed to "WORK IN PROGRESS"
  components/heading/bem.stories.mdx
  components/paragraph/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

refactor: simplify npm config
  .npmrc
Due: none

refactor: configure ESLint MDX and JSON linting via overrides
  .eslintrc.json
Due: none

feat: stencil
  .prettierignore
  components/.gitignore
  components/package.json
  components/tsconfig.json
  package-lock.json
  package.json
  packages/component-library-react/.gitignore
  packages/component-library-react/package.json
  packages/component-library-react/src/index.ts
  packages/component-library-react/tsconfig.json
  packages/component-library-stencil/package.json
  packages/component-library-stencil/stencil.config.ts
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

feat: paragraph web component
  components/paragraph/stencil.stories.mdx
  components/paragraph/stencil.tsx
Due: eslint --no-error-on-unmatched-pattern

feat: heading stencil component
  components/heading/stencil.stories.mdx
  components/heading/stencil.tsx
Due: eslint --no-error-on-unmatched-pattern

feat: add web component library to Storybook
  packages/storybook/.storybook/preview.js
Due: eslint --no-error-on-unmatched-pattern

feat: document web component
  components/document/README.md
  components/document/stencil.stories.mdx
  components/document/stencil.tsx
Due: markdownlint, eslint --no-error-on-unmatched-pattern
