Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: migrate RadioGroup from mdx to tsx story
  packages/storybook-css/src/RadioGroup.stories.tsx
  packages/storybook-css/src/old-form-fieldstories/radio-group.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: migrate CheckboxGroup from mdx to tsx
  packages/storybook-css/src/CheckboxGroup.stories.tsx
  packages/storybook-css/src/old-form-fieldstories/checkbox-group.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: remove old MDX docs from Storybook
  packages/storybook-css/src/accordion-readme.mdx
  packages/storybook-css/src/old-button-stories/accessibility.mdx
  packages/storybook-css/src/old-button-stories/onderzoek.mdx
  packages/storybook-css/src/old-button-stories/ux-guidelines.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: move some docs to textbox component
  components/textbox/_email.md
  components/textbox/_new-password.md
  components/textbox/_tel.md
  packages/storybook-css/src/old-form-fieldstories/_email.md
Due: markdownlint, prettier --check

docs: new icons
  .changeset/twelve-cycles-jam.md
  packages/icon/CHANGELOG.md
  packages/icon/src/svg/digitale-weerbaarheid.svg
  packages/icon/src/svg/mensenhandel.svg
  packages/icon/src/svg/polarisatie.svg
  packages/icon/src/svg/straatintimidatie.svg
  packages/icon/src/svg/weerbaarheid.svg
  packages/icon/src/svg/wijk-dialoog.svg
  packages/icon/src/svg/wijk-gesprek.svg
  packages/icon/src/svg/wijk-groepsgesprek.svg
  packages/icon/src/svg/wijk-inspraak.svg
  packages/storybook/stories/icon/icon-gallery-theme.mdx
  packages/storybook/stories/icon/icon-gallery.mdx
  packages/web-component-library-stencil/src/components.d.ts
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

build: install stylelint-use-logical
  components/icon/src/_mixin.scss
  components/img/src/_mixin.scss
  components/table-of-contents/src/_mixin.scss
  components/tooltip/src/_mixin.scss
  components/youtube-video/src/_mixin.scss
  package.json
  packages/astro/src/assets/styles.css
  packages/storybook-react/src/stories/prototype-src/index.css
  pnpm-lock.yaml
  stylelint.config.mjs
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: migrate FormFieldCheckbox from mdx to tsx story
  packages/storybook-css/src/FormFieldCheckbox.stories.tsx
  packages/storybook-css/src/old-form-fieldstories/checkbox.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(page-header, page-footer): align available design tokens for padding
  components/page-header/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: migrate FormFieldTextbox and Textarea from mdx to tsx story
  packages/storybook-css/src/FormFieldTextarea.stories.tsx
  packages/storybook-css/src/FormFieldTextbox.stories.tsx
  packages/storybook-css/src/FormFieldTextboxRTL.stories.tsx
  packages/storybook-css/src/old-form-fieldstories/example.mdx
  packages/storybook-css/src/old-form-fieldstories/readme.mdx
  packages/storybook-css/src/old-form-fieldstories/rtl.mdx
  packages/storybook-css/src/old-form-fieldstories/story-template.jsx
  packages/storybook-css/src/old-form-fieldstories/textbox.mdx
  packages/storybook-css/src/voorvoegsels-tabel-36.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/curly-sloths-shop.md
  .changeset/green-bags-rush.md
  .changeset/plenty-coins-judge.md
  .changeset/sharp-rats-double.md
  .changeset/weak-rats-swim.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/page-body/CHANGELOG.md
  components/page-body/package.json
  components/page-footer/CHANGELOG.md
  components/page-footer/package.json
  components/page-header/CHANGELOG.md
  components/page-header/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/component-library-design-tokens/CHANGELOG.md
  packages/component-library-design-tokens/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  packages/components-react/page-body-react/CHANGELOG.md
  packages/components-react/page-body-react/package.json
  packages/components-react/page-footer-react/CHANGELOG.md
  packages/components-react/page-footer-react/package.json
  packages/components-react/page-header-react/CHANGELOG.md
  packages/components-react/page-header-react/package.json
  packages/components-react/vega-visualization-react/CHANGELOG.md
  packages/components-react/vega-visualization-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

ci: configure explicit `border` properties order
  stylelint.config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: use `.mjs` for stylelint config
  .stylelintrc.json
  apps/experiments/.stylelintrc.json
  apps/experiments/stylelint.config.mjs
  proprietary/design-tokens/.stylelintrc.json
  proprietary/design-tokens/stylelint.config.mjs
  stylelint.config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: upgrade storybook-vue from 9 to 10
  packages/storybook-vue/config/main.ts
  packages/storybook-vue/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: upgrade storybook-web-components from 9 to 10
  packages/storybook-web-component/config/main.ts
  packages/storybook-web-component/config/preview.tsx
  packages/storybook-web-component/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/stale-moose-wait.md
Due: markdownlint, prettier --check

refactor: use node:path instead of path
  packages/storybook-html/config/main.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: upgrade to storybook 10
  packages/storybook-react/config/main.ts
  packages/storybook-react/package.json
  packages/storybook/config/main.ts
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: remove unused code
  packages/storybook-html/config/preview.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: upgrade storybook-pdf from 9 to 10
  packages/storybook-pdf/config/main.ts
  packages/storybook-pdf/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: skip changeset for private packages
  .changeset/config.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: upgrade storybook-html from 9 to 10
  packages/storybook-html/babel.config.mjs
  packages/storybook-html/config/main.ts
  packages/storybook-html/config/preview.tsx
  packages/storybook-html/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: remove SCSS dependency on `@utrecht/heading-css` mixin
  .changeset/hungry-moles-repeat.md
  .changeset/olive-waves-hide.md
  components/heading-1/package.json
  components/heading-1/src/_mixin.scss
  components/heading-2/package.json
  components/heading-2/src/_mixin.scss
  components/heading-3/package.json
  components/heading-3/src/_mixin.scss
  components/heading-4/package.json
  components/heading-4/src/_mixin.scss
  components/heading-5/package.json
  components/heading-5/src/_mixin.scss
  components/heading-6/package.json
  components/heading-6/src/_mixin.scss
  components/heading/src/_forward.scss
  components/heading/src/_mixin.scss
  components/heading/src/index.scss
  components/html-content/package.json
  packages/component-library-vue/package.json
  packages/storybook-css/package.json
  packages/storybook/package.json
  packages/web-component-library-stencil/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

build: upgrade storybook-css from 9 to 10
  packages/storybook-css/config/main.ts
  packages/storybook-css/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: upgrade storybook-helpers
  packages/storybook-helpers/package.json
  packages/storybook-helpers/src/storybook-theme.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: switch to Figma tokens
  proprietary/design-tokens/figma/figma.tokens.json
  proprietary/design-tokens/src/code-only.tokens.json
  proprietary/design-tokens/style-dictionary-build.mjs
  proprietary/design-tokens/style-dictionary-config.mjs
  proprietary/design-tokens/stylelint.config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: switch to Figma tokens
  proprietary/design-tokens/figma/figma.tokens.json
  proprietary/design-tokens/style-dictionary-build.mjs
  proprietary/design-tokens/style-dictionary-config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: cleanup
  packages/components-react/customizable-text-input/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: provide instructions to use the MCP server
  .mcp.json
  README.md
  package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: prepare use of CFS factories in storybook-react
  packages/storybook-react/config/main.ts
  packages/storybook-react/config/preview.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add `/src/` to exports of React packages
  packages/build-utils-react/src/lib/configure.mjs
  packages/component-library-react/package.json
  packages/components-react/action-group-react/package.json
  packages/components-react/body-react/package.json
  packages/components-react/button-group-react/package.json
  packages/components-react/button-react/package.json
  packages/components-react/calendar-react/package.json
  packages/components-react/card-react/package.json
  packages/components-react/checkbox-group-react/package.json
  packages/components-react/checkbox-react/package.json
  packages/components-react/combobox-react/package.json
  packages/components-react/data-badge-react/package.json
  packages/components-react/fieldset-react/package.json
  packages/components-react/form-field-checkbox-react/package.json
  packages/components-react/form-field-description-react/package.json
  packages/components-react/form-field-error-message-react/package.json
  packages/components-react/form-field-react/package.json
  packages/components-react/form-label-react/package.json
  packages/components-react/grid-react/package.json
  packages/components-react/link-react/package.json
  packages/components-react/listbox-react/package.json
  packages/components-react/nav-bar-react/package.json
  packages/components-react/open-forms-container-react/package.json
  packages/components-react/page-body-react/package.json
  packages/components-react/page-footer-react/package.json
  packages/components-react/page-header-react/package.json
  packages/components-react/page-layout-react/package.json
  packages/components-react/radio-button-react/package.json
  packages/components-react/radio-group-react/package.json
  packages/components-react/root-react/package.json
  packages/components-react/select-combobox-react/package.json
  packages/components-react/textbox-react/package.json
  packages/components-react/tooltip-react/package.json
  packages/components-react/vega-visualization-react/package.json
  packages/components-react/youtube-video-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add Storybook MCP to React Storybook
  packages/storybook-react/config/main.ts
  packages/storybook-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: remove deprecated TypeScript option
  tsconfig.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: remove old caveat
  README.md
Due: markdownlint, prettier --check

build: patch react-docgen-typescript to include all files in rootDir
  package.json
  patches/@joshwooding__vite-plugin-react-docgen-typescript.patch
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add total column count feature to grid layout
  components/grid/README.md
  components/grid/src/_mixin.scss
  packages/components-react/grid-react/src/index.tsx
  packages/storybook-css/src/Grid.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: update grid column prop type and adjust storybook options
  packages/components-react/grid-react/src/index.tsx
  packages/storybook-css/src/Grid.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: update grid column count range to include 1-12
  components/grid/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

feat: add `cols` prop to `Grid` component for equal-width column count (1–12)
  .changeset/green-dogs-swim.md
  .changeset/purple-pumas-chew.md
Due: markdownlint, prettier --check

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
