Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: rename common focus bem to _index.scss
  components/button/bem.scss
  components/checkbox/css/index.scss
  components/common/focus/_index.scss
  components/custom-checkbox/css/index.scss
  components/link/css/index.scss
  components/mapcontrolbutton/css/index.scss
  components/menulijst/css/index.scss
  components/navigatie sidenav/css/index.scss
  components/navigatie topnav/css/index.scss
  components/pagination/css/index.scss
  components/radio-button/css/index.scss
  components/search-bar/css/index.scss
  components/select/css/index.scss
  components/textarea/css/index.scss
  components/textbox/css/index.scss
  components/toptask-link/css/index.scss
Due: prettier --check, stylelint --allow-empty-input

docs: update docs to refer to new directory structure
  documentation/nl-design-system/contributing-css.md
Due: markdownlint, prettier --check

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

refactor: remove root-theme from the css component library package
  packages/component-library-css/src/root-theme.scss
Due: prettier --check, stylelint --allow-empty-input

docs: fix storybook links in docusaurus
  components/heading-1/web-component/stories/default.stories.mdx
  components/heading-2/web-component/stories/default.stories.mdx
  components/heading-3/html/stories/html.stories.mdx
  components/heading-3/web-component/stories/default.stories.mdx
  components/heading-4/web-component/stories/default.stories.mdx
  components/heading-5/web-component/stories/default.stories.mdx
  components/heading-6/web-component/stories/default.stories.mdx
  components/unordered-list/html/stories/01-default.stories.mdx
  components/unordered-list/html/stories/02-nested.stories.mdx
  standalone/docusaurus/docs/componenten/data display/ordered-list.mdx
  standalone/docusaurus/docs/componenten/data display/unordered-list.mdx
  standalone/docusaurus/docs/componenten/typografie/heading.mdx
Due: none

refactor: use css includes for the component library index file
  packages/component-library-css/README.md
  packages/component-library-css/src/bem.scss
  packages/component-library-css/src/index.scss
  packages/component-library-react/README.md
  standalone/docusaurus/src/styles/custom.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

docs: add HTML panel for Storybook
  package-lock.json
  packages/storybook/config/main.js
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: configure main for css component library
  packages/component-library-css/README.md
  packages/component-library-css/package.json
  packages/component-library-react/README.md
  standalone/docusaurus/src/styles/custom.scss
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, stylelint --allow-empty-input

feat(button): separate primary-action tokens from default button
  components/button/bem.scss
Due: prettier --check, stylelint --allow-empty-input

refactor(button): add support for primary, secondary and subtle
  components/button-group/css/stories/01-default.stories.mdx
  components/button-group/css/stories/02-vertical.stories.mdx
  components/button-link/css/index.scss
  components/button/bem.js
  components/button/css/index.scss
  components/button/css/stories/01-default.stories.mdx
  components/button/css/stories/02-appearance.js
  components/button/css/stories/02-appearance.stories.mdx
  components/button/css/stories/readme.stories.mdx
  components/button/css/stories/state.stories.mdx
  components/button/css/stories/tokens.stories.mdx
  components/button/css/template.js
  components/button/html/index.scss
  components/button/html/stories/01-default.stories.mdx
  components/button/html/stories/02-submit.stories.mdx
  components/button/html/stories/03-disabled.stories.mdx
  components/button/html/stories/04-busy.stories.mdx
  components/button/html/stories/tokens.stories.mdx
  components/button/html/template.js
  components/button/readme.stories.mdx
  components/button/tokens.json
  components/button/web-component/index.scss
  components/button/web-component/index.stencil.tsx
  components/button/web-component/stories/01-default.stories.mdx
  components/button/web-component/stories/tokens.stories.mdx
  components/button/web-component/template.js
  components/link/css/index.scss
  components/search-bar/css/stories/default.stories.mdx
  documentation/button-types.stories.mdx
  packages/component-library-css/src/index.scss
  packages/component-library-react/src/Button.tsx
  proprietary/design-tokens/src/component/utrecht/button.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

style: use primary-action and secondary-action in button-group story
  components/button-group/css/stories/01-default.stories.mdx
  components/button-group/css/stories/02-vertical.stories.mdx
Due: none

style: use primary button design tokens for toptask link
  proprietary/design-tokens/src/component/utrecht/toptask-link.tokens.json
Due: none

fix: comply with WCAG with 44x44px as minimum button size
  components/button/css/index.scss
  components/link-button/css/index.scss
  proprietary/design-tokens/src/component/utrecht/button.tokens.json
Due: prettier --check, stylelint --allow-empty-input

style: use primary action in DigiD button, Logo button and Search Bar
  components/digid-button/css/template.js
  components/digid-button/web-component/index.stencil.tsx
  components/logo-button/css/template.js
  components/search-bar/css/template.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: fix rel=alternate in link template
  components/link/css/template.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fixup! docs(release): design system packages
  components/link/css/stories/06-alternate-lang.stories.mdx
  components/link/css/template.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: Button appearance shorthands
  packages/component-library-react/src/Button.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add Button appearance shorthands to index
  packages/component-library-react/src/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: TypeScript compatibility of type exports
  packages/component-library-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
