Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,mjs,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

feat: new card list react component added
  packages/component-library-react/src/CardList.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: headinglevel added to test
  packages/component-library-react/src/CardList.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: card list item added
  packages/component-library-react/src/CardListItem.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: card list item module added
  packages/component-library-react/src/css-module/CardListItem.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: new card list css module
  packages/component-library-react/src/css-module/CardList.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added card list and card list item to index css module
  packages/component-library-react/src/css-module/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: changed class names
  packages/component-library-react/src/CardListItem.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: new scss files added for card
  components/card-list/css/_mixin.scss
  components/card-list/css/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: card list item page added
  packages/component-library-react/src/CardListItem.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

test: added test for card list
  packages/component-library-react/src/CardList.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: new tokens.json file added for card list
  components/card-list/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: card list stories added to react storybook
  packages/storybook-react/src/stories/CardList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: component scss package.json added
  components/card-list/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add readme
  components/card-list/README.md
Due: markdownlint, prettier --check

feat: added to index.scss classes
  components/card-list/css/index.scss
Due: prettier --check, stylelint --allow-empty-input

style: add card-list.tokens.json
  proprietary/design-tokens/src/component/utrecht/card-list.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/twelve-trees-visit.md
Due: markdownlint, prettier --check

feat: add card to index.ts src
  packages/component-library-react/src/CardListItem.tsx
  packages/component-library-react/src/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: changed copyright
  packages/component-library-react/src/CardListItem.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: changed flex to a grid layout
  components/card-list/css/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

refactor: moved tokens.json
  components/card-list/src/tokens.json
  packages/storybook-react/src/stories/CardList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: add styling for the cards
  components/card-list/css/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

feat: new styles added for card list item
  components/card-list/css/_mixin.scss
  components/card-list/css/index.scss
Due: prettier --check, stylelint --allow-empty-input

style: removed 350px
  components/card-list/css/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

refactor: deleted token.json
  components/card-list/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: changed image so you can use different type of images
  packages/component-library-react/src/CardListItem.tsx
  packages/storybook-react/src/stories/CardList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: changed link to be the same as others
  packages/component-library-react/src/css-module/CardList.tsx
  packages/component-library-react/src/css-module/CardListItem.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: add tokens.json
  components/card-list/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: deleted mark in card list scss
  components/card-list/css/_mixin.scss
  components/card-list/css/index.scss
Due: prettier --check, stylelint --allow-empty-input

chore: changed title so you can put youre own link in it
  packages/component-library-react/src/CardListItem.tsx
  packages/storybook-react/src/stories/CardList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add missing props
  packages/component-library-react/src/css-module/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: deleted unsused code
  packages/storybook-react/src/stories/CardList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add worspace card list to package.json
  packages/component-library-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add readme import
  packages/storybook-react/src/stories/CardList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: removed import css file
  packages/component-library-react/src/CardListItem.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: fix typo's
  packages/component-library-react/src/CardList.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: work in progress
  components/card-list/css/_mixin.scss
  packages/storybook-react/src/stories/CardList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: fixed tokens loading in
  packages/storybook-react/src/stories/CardList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: changed content in story
  packages/storybook-react/src/stories/CardList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: use HTML img instead of Next.js Image
  packages/component-library-react/src/CardListItem.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern
