Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group link-list implementation and rename bem to css
  components/link-list/css/index.scss
  components/link-list/css/stories/default.stories.mdx
  components/link-list/css/stories/tokens.stories.mdx
  components/link-list/css/template.js
  components/link-list/readme.stories.mdx
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group menulijst implementation and rename bem to css
  components/menulijst/css/index.scss
  components/menulijst/css/stories/default.stories.mdx
  components/menulijst/css/stories/readme.stories.mdx
  components/menulijst/css/stories/tokens.stories.mdx
  components/menulijst/css/template.js
  components/menulijst/readme.stories.mdx
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: delete duplicate nav-top component
  components/nav-top/README.md
  components/nav-top/bem.js
  components/nav-top/bem.scss
  components/nav-top/bem.stories.mdx
  components/nav-top/readme.stories.mdx
  components/navigatie sidenav/README.md
  components/navigatie topnav/README.md
  packages/component-library-css/src/bem.scss
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group surface implementations and rename bem to css
  components/surface/css/index.scss
  components/surface/css/stories/readme.stories.mdx
  components/surface/css/stories/surface.stories.mdx
  components/surface/css/stories/tokens.stories.mdx
  components/surface/css/template.js
  components/surface/web-component/stencil.scss
  components/surface/web-component/stories/default.stories.mdx
  components/surface/web-component/stories/readme.stories.mdx
  components/surface/web-component/stories/tokens.stories.mdx
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group select implementations and rename bem to css
  components/select/css/index.scss
  components/select/css/stories/default.stories.mdx
  components/select/css/stories/readme.stories.mdx
  components/select/css/stories/states.stories.mdx
  components/select/css/stories/tokens.stories.mdx
  components/select/css/template.js
  components/select/html.stories.mdx
  components/select/html/index.scss
  components/select/html/stories/default.stories.mdx
  components/select/html/stories/readme.stories.mdx
  components/select/html/stories/states.stories.mdx
  components/select/html/stories/tokens.stories.mdx
  components/select/html/template.js
  components/select/readme.stories.mdx
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group logo implementation and rename bem to css
  components/logo/css/index.scss
  components/logo/css/stories/default.stories.mdx
  components/logo/css/stories/readme.stories.mdx
  components/logo/css/stories/tokens.stories.mdx
  components/logo/css/template.js
  components/logo/readme.stories.mdx
  components/logo/web-component/index.scss
  components/logo/web-component/index.stencil.tsx
  components/logo/web-component/stories/default.stories.mdx
  components/logo/web-component/stories/readme.stories.mdx
  components/logo/web-component/stories/tokens.stories.mdx
  components/logo/web-component/template.js
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group logo-button implementations and rename bem to css
  components/logo-button/css/index.scss
  components/logo-button/css/stories/default.stories.mdx
  components/logo-button/css/stories/rtl.stories.mdx
  components/logo-button/css/stories/tokens.stories.mdx
  components/logo-button/css/template.js
  components/logo-button/tokens.json
  components/logo-button/web-component/index.scss
  components/logo-button/web-component/index.stencil.tsx
  components/logo-button/web-component/stories/default.stories.mdx
  components/logo-button/web-component/stories/tokens.stories.mdx
  components/logo-button/web-component/template.js
  components/mapcontrolbutton/css/index.scss
  components/mapcontrolbutton/css/stories/default.stories.mdx
  components/mapcontrolbutton/css/stories/readme.stories.mdx
  components/mapcontrolbutton/css/stories/tokens.stories.mdx
  components/mapcontrolbutton/css/template.js
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group page implementations and rename bem to css
  components/page/css/index.scss
  components/page/css/stories/default.stories.mdx
  components/page/css/stories/readme.stories.mdx
  components/page/css/stories/tokens.stories.mdx
  components/page/css/template.js
  components/page/readme.stories.mdx
  components/page/web-component/index.scss
  components/page/web-component/index.stencil.tsx
  components/page/web-component/stories/default.stories.mdx
  components/page/web-component/stories/readme.stories.mdx
  components/page/web-component/stories/tokens.stories.mdx
  components/page/web-component/template.js
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group process-steps react implementation
  components/process-steps/react/index.jsx
  components/process-steps/react/stories/default.stories.mdx
  components/process-steps/react/stories/readme.stories.mdx
  components/process-steps/react/stories/tokens.stories.mdx
  components/process-steps/readme.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: group digid-button implementations and rename bem to css
  components/digid-button/css/index.scss
  components/digid-button/css/stories/default.stories.mdx
  components/digid-button/css/stories/readme.stories.mdx
  components/digid-button/css/stories/rtl.stories.mdx
  components/digid-button/css/stories/tokens.stories.mdx
  components/digid-button/css/template.js
  components/digid-button/readme.stories.mdx
  components/digid-button/web-component/index.scss
  components/digid-button/web-component/index.stencil.tsx
  components/digid-button/web-component/stories/default.stories.mdx
  components/digid-button/web-component/stories/readme.stories.mdx
  components/digid-button/web-component/stories/tokens.stories.mdx
  components/digid-button/web-component/template.js
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group badge component implementations and rename bem to css
  components/badge-counter/bem.scss
  components/badge-data/bem.scss
  components/badge-status/bem.scss
  components/badge/css/_index.scss
  components/badge/css/stories/readme.stories.mdx
  components/badge/css/stories/tokens.stories.mdx
  components/badge/readme.stories.mdx
Due: prettier --check, stylelint --allow-empty-input

refactor: group form-toggle implementations and rename bem to css
  components/form-toggle/bem.stories.mdx
  components/form-toggle/css/index.scss
  components/form-toggle/css/stories/01-default.stories.mdx
  components/form-toggle/css/stories/02-toggle-with-invisible-input.stories.mdx
  components/form-toggle/css/stories/readme.stories.mdx
  components/form-toggle/css/stories/states.stories.mdx
  components/form-toggle/css/stories/tokens.stories.mdx
  components/form-toggle/css/template.js
  components/form-toggle/readme.stories.mdx
  components/form-toggle/stencil.stories.mdx
  components/form-toggle/web-component/index.scss
  components/form-toggle/web-component/index.stencil.tsx
  components/form-toggle/web-component/stories/01-default.stories.mdx
  components/form-toggle/web-component/stories/readme.stories.mdx
  components/form-toggle/web-component/stories/states.stories.mdx
  components/form-toggle/web-component/stories/tokens.stories.mdx
  components/form-toggle/web-component/template.js
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group page-header implementations and rename bem to css
  components/page-header/css/index.scss
  components/page-header/css/stories/default.stories.mdx
  components/page-header/css/stories/readme.stories.mdx
  components/page-header/css/stories/tokens.stories.mdx
  components/page-header/css/template.js
  components/page-header/readme.stories.mdx
  components/page-header/web-component/index.scss
  components/page-header/web-component/stencil.tsx
  components/page-header/web-component/stories/default.stories.mdx
  components/page-header/web-component/stories/readme.stories.mdx
  components/page-header/web-component/stories/tokens.stories.mdx
  components/page-header/web-component/template.js
  components/page/css/stories/default.stories.mdx
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: rename search-bar bem to css
  components/search-bar/css/index.scss
  components/search-bar/css/stories/default.stories.mdx
  components/search-bar/css/stories/readme.stories.mdx
  components/search-bar/css/stories/tokens.stories.mdx
  components/search-bar/css/template.js
  components/search-bar/readme.stories.mdx
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group unordered-list implementations and rename bem to css
  components/unordered-list/css/index.scss
  components/unordered-list/css/stories/01-default.stories.mdx
  components/unordered-list/css/stories/02-distanced.stories.mdx
  components/unordered-list/css/stories/03-nested.stories.mdx
  components/unordered-list/css/stories/readme.stories.mdx
  components/unordered-list/css/stories/tokens.stories.mdx
  components/unordered-list/css/template.js
  components/unordered-list/html.stories.mdx
  components/unordered-list/html/index.scss
  components/unordered-list/html/stories/01-default.stories.mdx
  components/unordered-list/html/stories/02-nested.stories.mdx
  components/unordered-list/html/stories/readme.stories.mdx
  components/unordered-list/html/stories/tokens.stories.mdx
  components/unordered-list/html/template.js
  components/unordered-list/readme.stories.mdx
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group texbox implementations and rename bem to css
  components/form-field-textbox/stencil.scss
  components/search-bar/css/stories/default.stories.mdx
  components/textbox/bem.stories.mdx
  components/textbox/css/index.scss
  components/textbox/css/stories/default.stories.mdx
  components/textbox/css/stories/readme.stories.mdx
  components/textbox/css/stories/states.stories.mdx
  components/textbox/css/stories/tokens.stories.mdx
  components/textbox/css/template.js
  components/textbox/html.stories.mdx
  components/textbox/html/index.scss
  components/textbox/html/stories/01-default.stories.mdx
  components/textbox/html/stories/02-number-input.stories.mdx
  components/textbox/html/stories/03-password-input.stories.mdx
  components/textbox/html/stories/04-url-input.stories.mdx
  components/textbox/html/stories/05-placeholder.stories.mdx
  components/textbox/html/stories/readme.stories.mdx
  components/textbox/html/stories/states.stories.mdx
  components/textbox/html/stories/tokens.stories.mdx
  components/textbox/html/template.js
  components/textbox/readme.stories.mdx
  components/textbox/web-component/index.scss
  components/textbox/web-component/index.stencil.tsx
  components/textbox/web-component/stories/01-default.stories.mdx
  components/textbox/web-component/stories/02-placeholder.stories.mdx
  components/textbox/web-component/stories/03-number-input.stories.mdx
  components/textbox/web-component/stories/readme.stories.mdx
  components/textbox/web-component/stories/states.stories.mdx
  components/textbox/web-component/stories/tokens.stories.mdx
  components/textbox/web-component/template.js
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: status-badge group badge component implementations and rename bem to css
  components/badge-status/bem.stories.mdx
  components/badge-status/css/index.scss
  components/badge-status/css/stories/01-default.stories.mdx
  components/badge-status/css/stories/02-neutral.stories.mdx
  components/badge-status/css/stories/03-danger.stories.mdx
  components/badge-status/css/stories/04-safe.stories.mdx
  components/badge-status/css/stories/05-invalid.stories.mdx
  components/badge-status/css/stories/06-valid.stories.mdx
  components/badge-status/css/stories/07-error.stories.mdx
  components/badge-status/css/stories/08-warning.stories.mdx
  components/badge-status/css/stories/09-success.stories.mdx
  components/badge-status/css/stories/10-inactive.stories.mdx
  components/badge-status/css/stories/11-active.stories.mdx
  components/badge-status/css/stories/readme.stories.mdx
  components/badge-status/css/stories/tokens.stories.mdx
  components/badge-status/css/template.js
  components/badge-status/readme.stories.mdx
  components/badge-status/stencil.stories.mdx
  components/badge-status/web-component/index.scss
  components/badge-status/web-component/index.stencil.tsx
  components/badge-status/web-component/stories/01-default.stories.mdx
  components/badge-status/web-component/stories/02-neutral.stories.mdx
  components/badge-status/web-component/stories/03-danger.stories.mdx
  components/badge-status/web-component/stories/04-safe.stories.mdx
  components/badge-status/web-component/stories/05-invalid.stories.mdx
  components/badge-status/web-component/stories/06-valid.stories.mdx
  components/badge-status/web-component/stories/07-error.stories.mdx
  components/badge-status/web-component/stories/08-warning.stories.mdx
  components/badge-status/web-component/stories/09-success.stories.mdx
  components/badge-status/web-component/stories/10-inactive.stories.mdx
  components/badge-status/web-component/stories/11-active.stories.mdx
  components/badge-status/web-component/stories/readme.stories.mdx
  components/badge-status/web-component/stories/tokens.stories copy.mdx
  components/badge-status/web-component/stories/tokens.stories.mdx
  components/badge-status/web-component/template.js
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: badge-counter rename bem to css and group implementations
  components/badge-counter/bem.stories.mdx
  components/badge-counter/css/index.scss
  components/badge-counter/css/stories/default.stories.mdx
  components/badge-counter/css/stories/tokens.stories.mdx
  components/badge-counter/css/template.js
  components/badge-counter/readme.stories.mdx
  components/badge-counter/stencil.stories.mdx
  components/badge-counter/web-component/index.scss
  components/badge-counter/web-component/index.stencil.tsx
  components/badge-counter/web-component/stories/default.stories.mdx
  components/badge-counter/web-component/stories/formatted-text-content.stories.mdx
  components/badge-counter/web-component/stories/locale.stories.mdx
  components/badge-counter/web-component/stories/maximum-boundary.stories.mdx
  components/badge-counter/web-component/stories/readme.stories.mdx
  components/badge-counter/web-component/template.js
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group pagination implementations and rename bem to css
  components/pagination/css/index.scss
  components/pagination/css/stories/default.stories.mdx
  components/pagination/css/stories/readme.stories.mdx
  components/pagination/css/stories/tokens.stories.mdx
  components/pagination/css/template.js
  components/pagination/readme.stories.mdx
  components/pagination/web-component/index.scss
  components/pagination/web-component/index.stencil.tsx
  components/pagination/web-component/stories/default.stories.mdx
  components/pagination/web-component/stories/readme.stories.mdx
  components/pagination/web-component/stories/tokens.stories.mdx
  components/pagination/web-component/template.js
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group toptask-link implementation and rename bem to css
  components/textbox/html/template.js
  components/toptask-link/bem.stories.mdx
  components/toptask-link/css/index.scss
  components/toptask-link/css/stories/default.stories.mdx
  components/toptask-link/css/stories/readme.stories.mdx
  components/toptask-link/css/stories/states.stories.mdx
  components/toptask-link/css/stories/tokens.stories.mdx
  components/toptask-link/css/template.js
  components/toptask-link/readme.stories.mdx
  components/toptask-nav/bem.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: group radio-button implementations and rename bem to css
  components/form-field-radio-group/bem.stories.mdx
  components/form-field-radio/bem.stories.mdx
  components/radio-button/bem.stories.mdx
  components/radio-button/css/index.scss
  components/radio-button/css/stories/default.stories.mdx
  components/radio-button/css/stories/readme.stories.mdx
  components/radio-button/css/stories/states.stories.mdx
  components/radio-button/css/stories/tokens.stories.mdx
  components/radio-button/css/template.js
  components/radio-button/html.stories.mdx
  components/radio-button/html/index.scss
  components/radio-button/html/stories/default.stories.mdx
  components/radio-button/html/stories/readme.stories.mdx
  components/radio-button/html/stories/states.stories.mdx
  components/radio-button/html/stories/tokens.stories.mdx
  components/radio-button/html/template.js
  components/radio-button/readme.stories.mdx
  packages/component-library-css/src/bem.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: Button group
  components/button-group/README.md
  components/button-group/css/index.scss
  components/button-group/css/stories/01-default.stories.mdx
  components/button-group/css/stories/02-vertical.stories.mdx
  components/button-group/css/stories/readme.stories.mdx
  components/button-group/css/stories/tokens.stories.mdx
  components/button-group/css/template.js
  components/button-group/tokens.json
  packages/component-library-css/src/bem.scss
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: design token for the cursor of navigate actions
  components/button-link/css/index.scss
  components/common/action/tokens.json
  proprietary/design-tokens/src/common/utrecht/action.tokens.json
Due: prettier --check, stylelint --allow-empty-input

feat: Button link - link that looks like a button
  components/button-link/README.md
  components/button-link/css/index.scss
  components/button-link/css/stories/01-default.stories.mdx
  components/button-link/css/stories/readme.stories.mdx
  components/button-link/css/template.js
  components/button-link/react/index.stories.mdx
  packages/component-library-css/src/bem.scss
  packages/component-library-react/package.json
  packages/component-library-react/src/ButtonLink.test.tsx
  packages/component-library-react/src/ButtonLink.tsx
  packages/component-library-react/src/index.ts
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

test: support `npm run watch:test` for the React components
  packages/component-library-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: Link button - button that looks like a link
  components/link-button/README.md
  components/link-button/css/index.scss
  components/link-button/css/stories/01-default.stories.mdx
  components/link-button/css/stories/readme.stories.mdx
  components/link-button/css/stories/state.stories.mdx
  components/link-button/css/template.js
  packages/component-library-css/src/bem.scss
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

build: compile React components before starting storybook
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: reggresions from recent refactoring in HTML component stories
  components/radio-button/html/template.js
  components/select/html/template.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: install minor updates
  components/package.json
  package-lock.json
  package.json
  packages/component-library-css/package.json
  packages/component-library-react/package.json
  packages/storybook/package.json
  packages/web-component-library-angular/package.json
  proprietary/design-tokens/package.json
  standalone/docusaurus/package-lock.json
  standalone/docusaurus/package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: workaround for required pages/ directory for `next/jest`
  packages/component-library-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: install patch updates
  .patches/@stencil+core+2.15.2.patch
  components/icon/package.json
  components/package.json
  package-lock.json
  package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/storybook/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  standalone/docusaurus/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
