Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": "markdownlint",
  "*.{js,json,jsx,mdx,ts,tsx}": "eslint --no-error-on-unmatched-pattern",
  "*.{css,scss}": "stylelint --allow-empty-input"
}

fix: calculate width for textarea and textbox in the same way
  components/textarea/bem.scss
Due: stylelint --allow-empty-input

fix: avoid default `outset` border styling for button
  components/button/bem.scss
Due: stylelint --allow-empty-input

feat: table heading background color design token
  components/table/bem.scss
  components/table/element.tokens.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: style <input> element buttons too
  components/button/html.scss
Due: stylelint --allow-empty-input

feat: allow explanatory text of input placeholder to be italic like form-field-description
  components/form-input/block.tokens.json
  components/textarea/bem.scss
  components/textbox/bem.scss
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: table cells and number inputs more readable using numeric font variants
  components/table/bem.scss
  components/table/html.scss
  components/textbox/bem.scss
  components/textbox/html.scss
Due: stylelint --allow-empty-input

feat: warning variant of form-field-description
  components/form-field-description/bem.js
  components/form-field-description/bem.scss
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

ci: include web-components again in prestorybook script
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

feat: e-mail link modifier class name
  components/link/bem.scss
  components/link/bem.stories.mdx
  components/link/html.scss
  components/link/html.stories.mdx
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: use slashed zeroes for password inputs when the font supports it
  components/textbox/bem.scss
  components/textbox/html.scss
Due: stylelint --allow-empty-input

fix: style date and time inputs too
  components/textbox/html.scss
Due: stylelint --allow-empty-input

fix: case-insensitive HTML attribute match in CSS selector
  components/button/html.scss
  components/checkbox/html.scss
  components/form-label/html.scss
  components/radio-button/bem.scss
  components/radio-button/html.scss
  components/textbox/html.scss
Due: stylelint --allow-empty-input

refactor: change `block-size` to `min-block-size` for button
  components/button/bem.scss
  components/button/block.tokens.json
  components/digid-button/bem.scss
  components/logo-button/bem.scss
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs(release): design system packages
  components/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

fix: add missing components to CSS component library
  packages/component-library-css/src/bem.scss
Due: stylelint --allow-empty-input

docs: guidelines for aiding automatic content translation
  documentation/content-translation.md
  documentation/content-translation.stories.mdx
Due: markdownlint, eslint --no-error-on-unmatched-pattern

feat: URL component
  components/url/README.md
  components/url/bem.js
  components/url/bem.scss
  components/url/bem.stories.mdx
  packages/component-library-css/src/bem.scss
Due: markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: avoid ligatures in password inputs too
  components/textbox/bem.scss
Due: stylelint --allow-empty-input

feat: avoid ligatures in URL input
  components/textbox/bem.scss
  components/textbox/html.scss
  components/textbox/html.stories.mdx
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: correct title for page footer readme
  components/page-footer/stencil.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

docs: fix typo in textarea story
  components/textarea/readme.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

build: install patch updates
  components/package.json
  documentation/package.json
  package-lock.json
  package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

build: install minor updates
  components/package.json
  package-lock.json
  package.json
  packages/component-library-css/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

ci: check for unused eslint disable directives
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

refactor: do not use global extends for eslint
  .eslintrc.json
Due: eslint --no-error-on-unmatched-pattern

build: update to ESLint 8
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

docs: copy over NL Design System contributing docs
  documentation/nl-design-system/contributing-a11y.md
  documentation/nl-design-system/contributing-a11y.stories.mdx
  documentation/nl-design-system/contributing-css.md
  documentation/nl-design-system/contributing-css.stories.mdx
  documentation/nl-design-system/contributing-design-token.md
  documentation/nl-design-system/contributing-design-token.stories.mdx
  documentation/nl-design-system/contributing-html.md
  documentation/nl-design-system/contributing-html.stories.mdx
  documentation/nl-design-system/contributing-npm-package.md
  documentation/nl-design-system/contributing-npm-package.stories.mdx
  documentation/nl-design-system/contributing-storybook.md
  documentation/nl-design-system/contributing-storybook.stories.mdx
  packages/storybook/.storybook/preview.js
Due: markdownlint, eslint --no-error-on-unmatched-pattern

refactor: remove `color` and `background-color` from default focus styling
  components/focus/_bem.scss
Due: stylelint --allow-empty-input

feat: support both `:focus` and `:focus-visible`
  components/breadcrumb/bem.scss
  components/button/bem.js
  components/button/bem.scss
  components/button/bem.stories.mdx
  components/checkbox/bem.scss
  components/checkbox/html.scss
  components/common/focus/README.md
  components/common/focus/_bem.scss
  components/common/focus/block.tokens.json
  components/common/focus/readme.stories.mdx
  components/custom-checkbox/bem.scss
  components/focus/_bem.scss
  components/link/bem.js
  components/link/bem.scss
  components/link/bem.stories.mdx
  components/link/html.scss
  components/mapcontrolbutton/bem.js
  components/mapcontrolbutton/bem.scss
  components/mapcontrolbutton/bem.stories.mdx
  components/menulijst/bem.scss
  components/nav-top/bem.js
  components/nav-top/bem.scss
  components/nav-top/bem.stories.mdx
  components/navigatie sidenav/bem.js
  components/navigatie sidenav/bem.scss
  components/navigatie sidenav/bem.stories.mdx
  components/navigatie topnav/bem.js
  components/navigatie topnav/bem.scss
  components/navigatie topnav/bem.stories.mdx
  components/pagination/bem.scss
  components/radio-button/bem.scss
  components/radio-button/html.scss
  components/search-bar/bem.scss
  components/select/bem.js
  components/select/bem.scss
  components/textarea/bem.js
  components/textarea/bem.scss
  components/textbox/bem.js
  components/textbox/bem.scss
Due: markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: disabled state for HTML checkbox and radio button
  components/checkbox/bem.scss
  components/checkbox/html.scss
  components/checkbox/html.stories.mdx
  components/radio-button/bem.scss
  components/radio-button/bem.stories.mdx
  components/radio-button/html.scss
  components/radio-button/html.stories.mdx
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input
