Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs: fix MDX error in "Developers/SVG" page
  packages/storybook/stories/developers/svg.stories.mdx
Due: none

Fix copy paste error for --distanced button group
  components/button-group/css/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: include missing code for --distanced button group (#1973)
  components/button-group/css/index.scss
Due: prettier --check, stylelint --allow-empty-input

build: type definitions for `<data value="">` and global `inert` and `translate` attributes in Stencil
  package.json
  patches/@stencil__core@4.5.0.patch
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

build: update to Stencil 4
  packages/web-component-library-stencil/package.json
  packages/web-component-library-stencil/stencil.config.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: support `<data>` in color-sample web component
  packages/web-component-library-stencil/src/components/color-sample.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add group role to button groups with many buttons
  packages/component-library-react/src/ButtonGroup.test.tsx
  packages/component-library-react/src/ButtonGroup.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add group role to button groups with many buttons (#1974)
  packages/component-library-react/src/ButtonGroup.test.tsx
  packages/component-library-react/src/ButtonGroup.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: render `<data>` element for iban-data web component
  packages/web-component-library-stencil/src/components/iban-data.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add `autocomplete` and `spellcheck` properties to textarea web component
  packages/storybook-web-component/src/Textarea.stories.tsx
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/textarea.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: update to Stencil 4 (#1970)
  package.json
  packages/storybook-web-component/src/Textarea.stories.tsx
  packages/web-component-library-stencil/package.json
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/color-sample.tsx
  packages/web-component-library-stencil/src/components/iban-data.tsx
  packages/web-component-library-stencil/src/components/textarea.tsx
  packages/web-component-library-stencil/stencil.config.ts
  patches/@stencil__core@4.5.0.patch
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  pnpm-lock.yaml
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: update breadcrumb style
  components/breadcrumb-nav/css/_mixin.scss
  components/breadcrumb-nav/tokens.json
  proprietary/design-tokens/src/component/utrecht/breadcrumb-nav.tokens.json
Due: prettier --check, stylelint --allow-empty-input

ci: add changeset publishing infrastructure
  .changeset/config.json
  .github/workflows/continuous-delivery.yml
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

fix: correct syntax for changeset GitHub Action
  .github/workflows/continuous-delivery.yml
Due: none

ci: move changeset publish script to npm script
  .github/workflows/continuous-delivery.yml
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: test assets patch
  .changeset/test-assets-patch.md
Due: markdownlint, prettier --check

ci: no longer enforce H1 for markdown files
  .markdownlint.json
Due: none

ci: for now, always publish pre-release versions
  .github/workflows/continuous-delivery.yml
Due: none

docs(release): design system packages
  .changeset/test-assets-patch.md
  proprietary/assets/CHANGELOG.md
  proprietary/assets/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs(storybook-html): correct the `utrecht-html` css class
  packages/component-library-css/html-component.md
Due: markdownlint, prettier --check

WIP
  packages/web-component-library-stencil/src/index.html
Due: none

style: allow word wrap for URL data
  .changeset/cyan-doors-shop.md
  components/url-data/css/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

docs: fix typo in postal code docs
  components/textbox/_postcode.md
Due: markdownlint, prettier --check

style: support `multiple` select, but discourage using it
  .changeset/shiny-berries-greet.md
  components/select/_multiple.md
  components/select/css/_mixin.scss
  components/select/css/index.scss
  packages/storybook-css/src/Select.stories.tsx
  packages/storybook-html/src/Select.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: avoid rendering `aria-required="false"` for `<select>`
  .changeset/wicked-pans-pay.md
  packages/component-library-react/src/Select.test.tsx
  packages/component-library-react/src/Select.tsx
  packages/storybook-css/src/Select.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

ci: explicitly configure main branch in env variable
  .github/workflows/continuous-delivery.yml
Due: none
