Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,mjs,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

chore: set minimum version of pnpm to 10.17
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: client load voor accordion
  packages/astro/docs/components/accordion.mdx
  packages/astro/public/component-previews/accordion.png
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: accordion toegevoegd
  packages/astro/docs/components/accordion.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: nieuwe pagina toegevoegd
  packages/astro/docs/pages/designers/nieuwe-pagina.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Accordion white BG
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: update card component with new appearance variants and aspect ratios
  components/card/src/_mixin.scss
  components/card/src/index.scss
  packages/components-react/card-react/src/index.tsx
  packages/storybook-css/src/Card.stories.tsx
  proprietary/design-tokens/src/component/utrecht/card.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: update card component styles and adjust design tokens for improved layout
  components/card/src/_mixin.scss
  packages/components-react/card-react/src/index.tsx
  packages/storybook-css/src/Card.stories.tsx
  proprietary/design-tokens/src/component/utrecht/card.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: update card stories to use componentContainerStyle for consistent layout
  packages/storybook-css/src/Card.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

bug: fix extra `.color` suffix in form-fieldset token
  components/form-fieldset/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Update to 8.2.0
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

update to 8.3.0
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Update accordion border to 2px
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Form field border to 2px all
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Al text field and Area bottom line to {basis.form-control.border-width}
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Select also to 2px border
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: apply W3C DTCG format
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: apply W3C DTCG format to tokens
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade Node.js to 24
  .nvmrc
Due: none

chore: increase allowed Node.js version range to 24-25
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade @types/node to match the used Node.js version
  packages/component-library-pdf/package.json
  packages/component-library-vue/package.json
  packages/flolegal-decision-tree-client/package.json
  packages/storybook-angular/package.json
  packages/storybook-html/package.json
  packages/storybook-pdf/package.json
  packages/storybook-vue/package.json
  packages/storybook-web-component/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: update vue-tsc for node 24
  packages/web-component-library-vue/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: update component-library-react test utils
  packages/component-library-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: update vue-tsc for node 24
  packages/component-library-vue/package.json
  packages/storybook-vue/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: update @vue/tsconfig
  .changeset/quick-mayflies-chew.md
  packages/component-library-vue/package.json
  packages/component-library-vue/src/Image.vue
  packages/component-library-vue/tsconfig.jest.json
  packages/component-library-vue/tsconfig.lib.json
  packages/web-component-library-vue/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

ci: cleanup workaround
  .github/workflows/publish.yml
Due: none

build: use astro as main docs site
  packages/astro/astro.config.ts
  packages/astro/src/components/ComponentCard.astro
  packages/astro/src/components/MobileNavDrawer.tsx
  packages/astro/src/layouts/ContentPage.astro
  packages/astro/src/layouts/Layout.astro
  packages/astro/src/layouts/NavigationPage.astro
  packages/astro/src/pages/componenten/[slug].astro
  packages/astro/src/pages/componenten/index.astro
  packages/astro/src/pages/index.astro
  packages/astro/src/utils/url.ts
  packages/design-system-website/package.json
  packages/docusaurus/docusaurus.config.js
  packages/docusaurus/navigationConfig.js
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

update to 8.4.0
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: component tile navigation
  components/index.css
  components/tile/README.md
  components/tile/package.json
  components/tile/src/_mixin.scss
  components/tile/src/index.scss
  components/tile/src/tokens.json
  packages/component-library-css/package.json
  packages/storybook-css/package.json
  packages/storybook-css/src/Tile.stories.tsx
  packages/storybook-css/src/Tile.tsx
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/design-tokens/src/component/utrecht/tile.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Update Accordion spacings
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Update to 9.0.0
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Update to 9.1.0
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: updated tokens to properly apply the listbox option selected pseudo states
  .changeset/fuzzy-camels-attend.md
  components/listbox/src/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

feat: add tile CSS module to component library
  packages/component-library-css/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: enhance tile mixin with transition and arrow container sizing
  components/tile/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

fix: add disabled selected state
  components/listbox/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

docs: updated semver
  .changeset/fuzzy-camels-attend.md
Due: markdownlint, prettier --check

Update
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern
