Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

build: improve Style Dictionary config
  proprietary/design-tokens/style-dictionary.config.json
Due: none

feat: add figma tokens JSON output for design tokens
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
  proprietary/design-tokens/src/style-dictionary-config.js
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: errors in design tokens JSON
  components/heading/tokens.json
  components/search-bar/tokens.json
  proprietary/design-tokens/src/component/den-haag/process-steps.tokens.json
  proprietary/design-tokens/src/component/utrecht/custom-checkbox.tokens.json
  proprietary/design-tokens/src/component/utrecht/icon.tokens.json
  proprietary/design-tokens/src/component/utrecht/list-social.tokens.json
  proprietary/design-tokens/src/component/utrecht/unordered-list/block.tokens.json
  proprietary/design-tokens/src/component/utrecht/unordered-list/element.tokens.json
Due: none

docs(release): design system packages %v
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

refactor: switch to logical border properties
  .stylelintrc.json
  components/button/css/_mixin.scss
  components/menulijst/css/index.scss
  components/textarea/css/_mixin.scss
  components/textbox/css/_mixin.scss
  proprietary/design-tokens/src/component/utrecht/textarea.tokens.json
  proprietary/design-tokens/src/component/utrecht/textbox.tokens.json
Due: prettier --check, stylelint --allow-empty-input

feat: add emphasis/strong react components
  packages/component-library-react/src/Emphasis.tsx
  packages/component-library-react/src/Strong.tsx
  packages/component-library-react/src/index.ts
  packages/storybook-react/src/stories/Emphasis/Emphasis.stories.tsx
  packages/storybook-react/src/stories/Strong/Strong.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: no distanced as default React form field description
  packages/component-library-react/src/FormField.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: syntax errors in design tokens
  proprietary/design-tokens/src/component/den-haag/process-steps.tokens.json
  proprietary/design-tokens/src/component/utrecht/blockquote.tokens.json
Due: none

feat: new design tokens for blockquote
  components/blockquote/css/_mixin.scss
  components/blockquote/tokens.json
  proprietary/design-tokens/src/component/utrecht/blockquote.tokens.json
Due: prettier --check, stylelint --allow-empty-input

fix: incorrect design tokens JSON format
  proprietary/design-tokens/src/style-dictionary-config.js
  proprietary/design-tokens/style-dictionary.config.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: document `font-style` for placeholder texts
  components/form-input/tokens.json
Due: none

feat: placeholder for link
  components/button-link/css/_mixin.scss
  components/button-link/css/index.scss
  components/button-link/css/stories/placeholder.stories.mdx
  components/button-link/css/story-template.jsx
  components/link/css/_mixin.scss
  components/link/css/index.scss
  components/link/css/stories/placeholder.stories.mdx
  components/link/css/story-template.jsx
  components/link/tokens.json
  packages/component-library-react/src/ButtonLink.tsx
  packages/component-library-react/src/Link.tsx
  packages/storybook-react/src/stories/ButtonLink/ButtonLinkPlaceholder.stories.tsx
  packages/storybook-react/src/stories/ButtonLink/argTypes.ts
  packages/storybook-react/src/stories/Link/LinkTypes.stories.tsx
  packages/storybook-react/src/stories/Link/argTypes.ts
  proprietary/design-tokens/src/component/utrecht/link.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: support `font-weight` design token to button
  components/button/css/_mixin.scss
  components/button/tokens.json
Due: prettier --check, stylelint --allow-empty-input

feat: figure component
  components/figure/css/_mixin.scss
  components/figure/css/index.scss
  components/figure/css/stories/default.stories.mdx
  components/figure/css/stories/tokens.stories.mdx
  components/figure/css/story-template.jsx
  components/figure/html/_mixin.scss
  components/figure/html/index.scss
  components/figure/tokens.json
  components/html-content/css/_mixin.scss
  components/link/css/story-template.jsx
  packages/component-library-react/src/Figure.tsx
  packages/component-library-react/src/FigureCaption.tsx
  packages/component-library-react/src/index.ts
  packages/storybook-react/src/stories/Figure/Figure.stories.tsx
  packages/storybook-react/src/stories/Figure/argTypes.ts
  proprietary/design-tokens/src/component/utrecht/figure.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: class name of React fieldset component
  packages/component-library-react/src/Fieldset.tsx
  packages/component-library-react/src/FieldsetLegend.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

ci: do not require PropTypes for React Storybook templates
  packages/storybook-react/.eslintrc.json
Due: none

feat: design tokens for disabled fieldset
  components/form-fieldset/css/_mixin.scss
  components/form-fieldset/css/index.scss
  components/form-fieldset/css/stories/disabled.stories.mdx
  components/form-fieldset/css/story-template.jsx
  components/form-fieldset/html/_mixin.scss
  components/form-fieldset/html/stories/disabled.stories.mdx
  components/form-fieldset/html/story-template.jsx
  components/form-fieldset/tokens.json
  proprietary/design-tokens/src/component/utrecht/form-fieldset.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: add missing `exampleArgs` to stories
  components/custom-radio-button/css/story-template.jsx
  components/form-toggle/css/story-template.jsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: use native heading sizes when unspecified
  components/heading-1/css/_mixin.scss
  components/heading-2/css/_mixin.scss
  components/heading-3/css/_mixin.scss
  components/heading-4/css/_mixin.scss
  components/heading-5/css/_mixin.scss
  components/heading-6/css/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

feat: add small print paragraph
  components/components.d.ts
  components/paragraph/css/_mixin.scss
  components/paragraph/css/index.scss
  components/paragraph/css/stories/small.stories.mdx
  components/paragraph/css/story-template.jsx
  components/paragraph/html/_mixin.scss
  components/paragraph/html/stories/small.stories.mdx
  components/paragraph/html/story-template.jsx
  packages/component-library-react/src/Paragraph.tsx
  packages/storybook-react/src/stories/Paragraph/Paragraph.stories.tsx
  proprietary/design-tokens/src/component/utrecht/paragraph.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
