Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,mjs,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

feat: metadata for button-group
  components/button-group/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add metadata for alert
  components/alert/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/vier-vijf-zes.md
Due: markdownlint, prettier --check

feat: added metadata for new tokens
  components/alert/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/approval-acquaintance-degree.md
Due: markdownlint, prettier --check

feat: metadata for backdrop
  components/backdrop/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/attitude-belt-cross.md
Due: markdownlint, prettier --check

docs: updated changeset
  .changeset/attitude-belt-cross.md
Due: markdownlint, prettier --check

update-metadata-via-github-ui
  components/backdrop/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: split Link docs into multiple markdown files
  components/link/README.md
  components/link/design.md
  components/link/docs/alternate-lang.en.md
  components/link/docs/anatomy.nl.md
  components/link/docs/article.nl.md
  components/link/docs/content.nl.md
  components/link/docs/diacritics.nl.md
  components/link/docs/external.en.md
  components/link/docs/failure-no-aria-current.nl.md
  components/link/docs/failure-no-context-goal.nl.md
  components/link/docs/failure-no-href.nl.md
  components/link/docs/failure-no-lang.md
  components/link/docs/failure-perceivable-focus.nl.md
  components/link/docs/failure-unecessary-home-link.md
  components/link/docs/interaction.nl.md
  components/link/docs/placeholder.nl.md
  components/link/docs/privacy.md
  components/link/docs/references.nl.md
  components/link/docs/related-components.nl.md
  components/link/docs/technology-html.nl.md
  components/link/docs/usage.nl.md
  components/link/docs/visual-design.nl.md
  components/link/docs/wcag.nl.md
  packages/storybook-css/src/ArticleLink.stories.tsx
  packages/storybook-css/src/Link.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: reorganise docs for ordered and unordered list
  components/ordered-list/README.md
  components/unordered-list/README.md
  components/unordered-list/docs/anatomy.nl.md
  components/unordered-list/docs/technology-html.nl.md
  packages/storybook-css/src/UnorderedList.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: split Alert docs into multiple markdown files
  components/alert/README.md
  components/alert/docs/content.nl.md
  components/alert/docs/related-components.nl.md
  components/alert/docs/technology-html.nl.md
  components/alert/docs/usage.nl.md
  components/alert/docs/wcag.nl.md
  packages/storybook-css/src/Alert.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: improvements to link documentation
  components/link/docs/external.en.md
  components/link/docs/failure-no-lang.nl.md
  components/link/docs/interaction.nl.md
  components/link/docs/references.nl.md
  components/link/docs/technology-html.nl.md
  packages/storybook-css/src/Link.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add NL Design System goal to paragraph
  components/paragraph/README.md
Due: markdownlint, prettier --check

fix: metadata for backdrop
  components/backdrop/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/good-sport-resource.md
Due: markdownlint, prettier --check

feat: metadata for button
  components/button/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/invasion-shell-confine.md
Due: markdownlint, prettier --check

feat: add metadata for button group
  components/button-group/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/bed-warrant-doubt.md
Due: markdownlint, prettier --check

feat: add metadata for calendar
  components/calendar/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/april-maart-mei.md
Due: markdownlint, prettier --check

fix: metadata alert tokens
  components/alert/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: metadata for accordion
  components/accordion/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/helpless-listen-perfect.md
Due: markdownlint, prettier --check

fix: token metadata syntax border-radius
  components/alert/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: token metadata syntax border-radius
  components/alert-dialog/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: token metadata syntax line-height
  components/badge/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: token metadata syntax border-radius
  components/button/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add metadata for checkbox
  components/checkbox/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/safari-criminal-percent.md
Due: markdownlint, prettier --check

feat: add metadata for code
  components/code/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/page-talk-enter.md
Due: markdownlint, prettier --check

feat: add metadata for code-block
  components/code-block/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/halt-patrol-physical
Due: none

feat: add metadata for color sample
  components/color-sample/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/cute-lane-amuse.md
Due: markdownlint, prettier --check

feat: add metadata for column-layout
  components/column-layout/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern
