Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs(astro): update astro/readme.md
  packages/astro/README.md
Due: markdownlint, prettier --check

feat: add hero and card list
  packages/astro/src/components/CardAsLink/CardList.astro
  packages/astro/src/pages/index.astro
  packages/astro/tsconfig.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add astro designer page
  packages/astro/src/layouts/Layout.astro
  packages/astro/src/pages/designers/index.astro
  packages/astro/src/pages/index.astro
Due: none

feat(astro): add component page
  packages/astro/docs/components/button.md
  packages/astro/src/content.config.ts
  packages/astro/src/pages/componenten/button/index.astro
  packages/astro/src/pages/componenten/index.astro
  packages/astro/src/pages/index.astro
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

style: add nl candidate component css imports
  packages/astro/src/assets/styles.css
Due: prettier --check, stylelint --allow-empty-input

chore(astro): refactor tile navigation into separate component
  packages/astro/src/components/TileList.astro
  packages/astro/src/components/TileNavigation.astro
  packages/astro/src/pages/componenten/iconen/icon-categories.ts
  packages/astro/src/pages/componenten/iconen/index.astro
  packages/astro/src/pages/designers/index.astro
  packages/astro/src/pages/developers/index.astro
  packages/astro/src/pages/index.astro
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(astro): hero color and content
  packages/astro/src/pages/index.astro
Due: none

feat: add tile navigation to components page
  packages/astro/src/pages/componenten/index.astro
Due: none

docs(astro): fill in button docs
  packages/astro/docs/components/button.md
Due: markdownlint, prettier --check

feat(astro): improve component docs
  packages/astro/docs/components/button.md
  packages/astro/docs/components/link.md
  packages/astro/src/pages/componenten/index.astro
  packages/astro/src/pages/componenten/link/index.astro
Due: markdownlint, prettier --check

feat(astro): improve component docs
  packages/astro/docs/components/button.md
  packages/astro/docs/components/link.md
  packages/astro/src/components/ComponentCard.astro
  packages/astro/src/pages/componenten/index.astro
  packages/astro/src/pages/componenten/link/index.astro
Due: markdownlint, prettier --check

refactor: badge status design tokens
  components/badge-status/src/_mixin.scss
  proprietary/design-tokens/src/component/utrecht/badge-status.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

style: update basis-token values and sync json with start-thema
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: add NL Design System to trusted packages
  pnpm-workspace.yaml
Due: none

fix: rename headingId to labelId in MyLandmarkComponent
  packages/component-library-react/CONTRIBUTING.md
Due: markdownlint, prettier --check

fix: rename headingId to labelId in MyLandmarkComponent (#2969)
  packages/component-library-react/CONTRIBUTING.md
Due: markdownlint, prettier --check

fix(storybook): resolve flo-client-plugin.js 404 in deployed version
  .changeset/wild-feet-play.md
  packages/flolegal-decision-tree-client/src/index.ts
  packages/storybook-css/config/main.ts
  packages/storybook-css/src/FloDecision/index.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: improve the flo-legal style
  .changeset/perfect-weeks-smell.md
  components/flo-legal-decision-tree/package.json
  components/flo-legal-decision-tree/src/_mixin.scss
  components/flo-legal-decision-tree/src/index.scss
  components/flo-legal-decision-tree/src/tokens.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs(release): design system packages
  .changeset/dull-drinks-cheat.md
  .changeset/six-paths-speak.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/grid/CHANGELOG.md
  components/grid/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/components-react/grid-react/CHANGELOG.md
  packages/components-react/grid-react/package.json
  packages/storybook-helpers/CHANGELOG.md
  packages/storybook-helpers/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/dull-drinks-cheat.md
  .changeset/perfect-weeks-smell.md
  .changeset/six-paths-speak.md
  .changeset/wild-feet-play.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/flo-legal-decision-tree/CHANGELOG.md
  components/flo-legal-decision-tree/package.json
  components/grid/CHANGELOG.md
  components/grid/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/components-react/grid-react/CHANGELOG.md
  packages/components-react/grid-react/package.json
  packages/flolegal-decision-tree-client/CHANGELOG.md
  packages/flolegal-decision-tree-client/package.json
  packages/storybook-helpers/CHANGELOG.md
  packages/storybook-helpers/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: new separator color
  proprietary/design-tokens/src/component/utrecht/separator.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: changeset edit
  .changeset/six-cars-whisper.md
Due: markdownlint, prettier --check

fix: new separator color (#2970)
  .changeset/six-cars-whisper.md
  proprietary/design-tokens/src/component/utrecht/separator.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: added margin to breadcrumb-nav
  components/breadcrumb-nav/src/_mixin.scss
  components/breadcrumb-nav/src/tokens.json
  proprietary/design-tokens/src/component/utrecht/breadcrumb-nav.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: rich-text token values fix
  proprietary/design-tokens/src/component/utrecht/rich-text.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: added stricter typing to the button
  packages/components-react/button-react/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: add changeset
  .changeset/warm-pianos-type.md
Due: markdownlint, prettier --check

feat: add dynamic slugs for component docs
  packages/astro/astro.config.ts
  packages/astro/docs/components/button.mdx
  packages/astro/docs/components/link.mdx
  packages/astro/package.json
  packages/astro/src/content.config.ts
  packages/astro/src/pages/componenten/[slug].astro
  packages/astro/src/pages/componenten/button/index.astro
  packages/astro/src/pages/componenten/iconen/index.astro
  packages/astro/src/pages/componenten/index.astro
  packages/astro/src/pages/componenten/link/index.astro
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs(astro): add docs on adding icons and components to astro
  packages/astro/README.md
  packages/astro/src/pages/componenten/iconen/index.astro
Due: markdownlint, prettier --check

docs(astro): support preview in component overview
  packages/astro/src/components/ComponentCard.astro
  packages/astro/src/pages/componenten/index.astro
Due: none

docs(astro): add add slugs for developer content page
  packages/astro/docs/developer/tokens.md
  packages/astro/src/content.config.ts
  packages/astro/src/pages/developers/[slug].astro
  packages/astro/src/pages/developers/index.astro
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: tie prop types directly to css classes
  packages/components-react/button-react/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: badge status design tokens
  .changeset/brown-rabbits-fail.md
  components/badge-status/src/_mixin.scss
  proprietary/design-tokens/src/component/utrecht/badge-status.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: align the flo-legal style with Figma
  .changeset/sixty-worms-roll.md
  components/flo-legal-decision-tree/package.json
  components/flo-legal-decision-tree/src/_mixin.scss
  components/flo-legal-decision-tree/src/index.scss
  components/flo-legal-decision-tree/src/tokens.json
  packages/storybook-css/src/FloDecision/afval-beslisboom-regelhulp.json
  packages/storybook-css/src/FloDecision/index.tsx
  pnpm-lock.yaml
  proprietary/design-tokens/src/component/utrecht/flo-legal-decision-tree-container.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: update the button `font-weight` from 700 to 600 (semibold)
  .changeset/yellow-zoos-float.md
  proprietary/design-tokens/src/component/utrecht/button.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

style: add dark-mode colors
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
