Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: clean up broken/unused docs
  packages/storybook-angular/src/stories/link-docs.mdx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: fix import
  packages/storybook-angular/src/stories/button-accessibility.mdx
  packages/storybook-angular/src/stories/button-onderzoek.mdx
  packages/storybook-angular/src/stories/button-ux-guidelines.mdx
  packages/storybook-angular/src/stories/changelog.mdx
  packages/storybook-angular/src/stories/readme.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade html-react-parser to 5 (compatibility with React 19)
  packages/storybook-css/package.json
  packages/storybook-html/package.json
  packages/storybook-web-component/package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: update list-style-type and marker properties
  components/unordered-list/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: default focus ring for Root component contents
  .changeset/eleven-steaks-pretend.md
  .changeset/shy-wasps-tan.md
  .changeset/silver-days-build.md
  components/focus-ring/src/_mixin.scss
  components/html-content/src/_mixin.scss
  components/root/package.json
  components/root/src/_mixin.scss
  components/root/src/html/_mixin.scss
  components/root/src/index.scss
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: remove unused dependency
  packages/storybook-pdf/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add realistic content to accordion
  packages/storybook-react/src/stories/prototype-volgorde-content/volgorde.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: fix typo in component name
  packages/web-component-library-stencil/src/components/body.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: avoid rendering html/body tags in stories
  packages/storybook-css/src/Body.stories.tsx
  packages/storybook-css/src/Document.stories.tsx
  packages/storybook-css/src/Root.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: avoid security vulnerability in handlebars
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: use `font-size-adjust: 0.5` by default for Root
  .changeset/slimy-pens-roll.md
  .changeset/small-suits-rush.md
  components/root/src/_mixin.scss
  components/root/src/tokens.json
  proprietary/design-tokens/src/component/utrecht/root.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs(release): design system packages
  .changeset/eleven-steaks-pretend.md
  .changeset/shy-wasps-tan.md
  .changeset/silver-days-build.md
  .changeset/slimy-pens-roll.md
  .changeset/small-suits-rush.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/focus-ring/CHANGELOG.md
  components/focus-ring/package.json
  components/html-content/CHANGELOG.md
  components/html-content/package.json
  components/open-forms-container/CHANGELOG.md
  components/open-forms-container/package.json
  components/root/CHANGELOG.md
  components/root/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/component-library-design-tokens/CHANGELOG.md
  packages/component-library-design-tokens/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  packages/components-react/open-forms-container-react/CHANGELOG.md
  packages/components-react/open-forms-container-react/package.json
  packages/components-react/root-react/CHANGELOG.md
  packages/components-react/root-react/package.json
  packages/storybook-helpers/CHANGELOG.md
  packages/storybook-helpers/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

build: update packages
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
  proprietary/design-tokens/style-dictionary-build-dark.mjs
  proprietary/design-tokens/style-dictionary-build.mjs
  proprietary/design-tokens/style-dictionary-config.mjs
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: support new DTCG tokens format in build scripts
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
  proprietary/design-tokens/style-dictionary-build-dark.mjs
  proprietary/design-tokens/style-dictionary-build.mjs
  proprietary/design-tokens/style-dictionary-config.mjs
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

wip
  proprietary/design-tokens/style-dictionary-build-dark.mjs
  proprietary/design-tokens/style-dictionary-build.mjs
  proprietary/design-tokens/style-dictionary-config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: move typography tokens from Body to Root component
  .changeset/calm-masks-look.md
  .changeset/light-glasses-carry.md
  components/body/src/_mixin.scss
  components/body/src/tokens.json
  components/root/src/_mixin.scss
  components/root/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add system colors as fallback for Root component
  .changeset/chatty-readers-destroy.md
  components/root/src/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

style: add new design tokens for Root component
  .changeset/soft-doors-work.md
  proprietary/design-tokens/src/component/utrecht/root.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: use `utrecht-root` instead of `utrecht-document` in Storybook
  packages/storybook-angular/config/preview.ts
  packages/storybook-css/config/preview.tsx
  packages/storybook-html/config/preview.tsx
  packages/storybook-react/config/preview.tsx
  packages/storybook-vue/config/preview.tsx
  packages/storybook-web-component/config/preview.tsx
  packages/storybook/config/preview.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: scroll-behavior: smooth for Root component
  .changeset/dry-dancers-lick.md
  components/root/src/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

feat: background color for fullscreen components inside Root
  .changeset/dry-olives-clean.md
  components/root/src/_mixin.scss
  components/root/src/index.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

chore: fix old page layout experiment
  apps/experiments/scaled-down.html
  apps/experiments/test.html
  components/index.css
Due: prettier --check, stylelint --allow-empty-input

docs(release): design system packages
  .changeset/calm-masks-look.md
  .changeset/chatty-readers-destroy.md
  .changeset/dry-dancers-lick.md
  .changeset/dry-olives-clean.md
  .changeset/light-glasses-carry.md
  .changeset/soft-doors-work.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/body/CHANGELOG.md
  components/body/package.json
  components/root/CHANGELOG.md
  components/root/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/components-react/body-react/CHANGELOG.md
  packages/components-react/body-react/package.json
  packages/components-react/root-react/CHANGELOG.md
  packages/components-react/root-react/package.json
  packages/storybook-helpers/CHANGELOG.md
  packages/storybook-helpers/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
