Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

feat: table components for Vue
  packages/component-library-vue/src/UtrechtTable.test.ts
  packages/component-library-vue/src/UtrechtTable.vue
  packages/component-library-vue/src/UtrechtTableBody.test.ts
  packages/component-library-vue/src/UtrechtTableBody.vue
  packages/component-library-vue/src/UtrechtTableCaption.test.ts
  packages/component-library-vue/src/UtrechtTableCaption.vue
  packages/component-library-vue/src/UtrechtTableCell.test.ts
  packages/component-library-vue/src/UtrechtTableCell.vue
  packages/component-library-vue/src/UtrechtTableFooter.test.ts
  packages/component-library-vue/src/UtrechtTableFooter.vue
  packages/component-library-vue/src/UtrechtTableHeader.test.ts
  packages/component-library-vue/src/UtrechtTableHeader.vue
  packages/component-library-vue/src/UtrechtTableHeaderCell.test.ts
  packages/component-library-vue/src/UtrechtTableHeaderCell.vue
  packages/component-library-vue/src/UtrechtTableRow.test.ts
  packages/component-library-vue/src/UtrechtTableRow.vue
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: use "button" as default type for Vue UtrechtButton
  packages/component-library-vue/src/UtrechtButton.vue
Due: none

test: add more unit tests for Vue components
  packages/component-library-vue/src/UtrechtArticle.test.ts
  packages/component-library-vue/src/UtrechtButton.test.ts
  packages/component-library-vue/src/UtrechtDocument.test.ts
  packages/component-library-vue/src/UtrechtHeading2.test.ts
  packages/component-library-vue/src/UtrechtHeading3.test.ts
  packages/component-library-vue/src/UtrechtHeading4.test.ts
  packages/component-library-vue/src/UtrechtHeading5.test.ts
  packages/component-library-vue/src/UtrechtHeading6.test.ts
  packages/component-library-vue/src/UtrechtParagraph.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: add indeterminate state to Vue checkbox
  packages/component-library-vue/src/UtrechtCheckbox.test.ts
  packages/component-library-vue/src/UtrechtCheckbox.vue
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: add `Content-Security-Policy` to Docusaurus
  standalone/docusaurus/docusaurus.config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: create heading component for vuejs
  packages/component-library-vue/src/UtrechtHeading.test.ts
  packages/component-library-vue/src/UtrechtHeading.vue
  packages/component-library-vue/src/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: add `clean` script to Vue component library
  package-lock.json
  packages/component-library-vue/package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: enable build types for vuejs
  package-lock.json
  packages/component-library-vue/package.json
  packages/component-library-vue/vite.config.ts
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: fix the test tesconfig
  packages/component-library-vue/tsconfig.jest.json
  packages/component-library-vue/tsconfig.vite-config.json
Due: none

build: install patch updates
  components/icon/package.json
  components/package.json
  package-lock.json
  package.json
  packages/component-library-vue/package.json
  packages/storybook/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-vue/package.json
  standalone/docusaurus/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: create react custom radio button component
  packages/component-library-react/package.json
  packages/component-library-react/src/CustomRadioButton.test.tsx
  packages/component-library-react/src/CustomRadioButton.tsx
  packages/component-library-react/src/index.ts
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: create custom radio button style & storybook
  components/custom-radio-button/README.md
  components/custom-radio-button/css/_mixin.scss
  components/custom-radio-button/css/index.scss
  components/custom-radio-button/css/stories/default.stories.mdx
  components/custom-radio-button/css/stories/readme.stories.mdx
  components/custom-radio-button/css/stories/states.stories.mdx
  components/custom-radio-button/css/stories/tokens.stories.mdx
  components/custom-radio-button/css/template.js
  components/custom-radio-button/design.md
  components/custom-radio-button/tokens.json
  packages/component-library-css/src/index.scss
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add custom radio button theme to utrecht
  proprietary/design-tokens/src/component/utrecht/custom-radio-button.tokens.json
Due: none

fixup! feat: create custom radio button style & storybook
  components/custom-radio-button/css/stories/default.stories.mdx
  components/custom-radio-button/css/stories/states.stories.mdx
Due: none

fixup! feat: create custom radio button style & storybook
  components/custom-radio-button/css/template.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: add states BEM classes
  components/custom-radio-button/css/_mixin.scss
  components/custom-radio-button/css/index.scss
  components/custom-radio-button/css/stories/states.stories.mdx
  components/custom-radio-button/css/template.js
  components/custom-radio-button/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: remove indeterminate from theme
  proprietary/design-tokens/src/component/utrecht/custom-radio-button.tokens.json
Due: none

fixup! fix: add states BEM classes
  components/custom-radio-button/css/_mixin.scss
  components/custom-radio-button/css/index.scss
  components/custom-radio-button/css/template.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fixup! feat: create custom radio button style & storybook
  components/custom-radio-button/css/_mixin.scss
  components/custom-radio-button/css/index.scss
Due: prettier --check, stylelint --allow-empty-input

fixup! feat: create custom radio button style & storybook
  components/custom-radio-button/css/stories/tokens.stories.mdx
Due: none

feat: create custom radio button react
  components/custom-radio-button/README.md
  components/custom-radio-button/css/_mixin.scss
  components/custom-radio-button/css/index.scss
  components/custom-radio-button/css/stories/default.stories.mdx
  components/custom-radio-button/css/stories/readme.stories.mdx
  components/custom-radio-button/css/stories/states.stories.mdx
  components/custom-radio-button/css/stories/tokens.stories.mdx
  components/custom-radio-button/css/template.js
  components/custom-radio-button/design.md
  components/custom-radio-button/tokens.json
  packages/component-library-css/src/index.scss
  packages/component-library-react/package.json
  packages/component-library-react/src/CustomRadioButton.test.tsx
  packages/component-library-react/src/CustomRadioButton.tsx
  packages/component-library-react/src/index.ts
  proprietary/design-tokens/src/component/utrecht/custom-radio-button.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

DOCS: Typo iconen(e)
  .gitignore
  components/icon/UXguidelines.md
Due: markdownlint, prettier --check

docs: typo iconen(e)
  .gitignore
  components/icon/UXguidelines.md
Due: markdownlint, prettier --check

docs: edit in icons guideline
  components/icon/UXguidelines.md
Due: markdownlint, prettier --check

fix: huishouden icon
  components/icon/svg/hulphuishouden.svg
Due: none

fix: pixels movement sport icon
  components/icon/svg/sport.svg
Due: none

fix: more icons
  components/icon/svg/Vervoersvoorziening.svg
  components/icon/svg/eikenprocessie.svg
  components/icon/svg/gegevenswoordenboek.svg
  components/icon/svg/innovatie.svg
  components/icon/svg/letop.svg
  components/icon/svg/nieuwhuis.svg
  components/icon/svg/parken.svg
  components/icon/svg/warm.svg
  components/icon/svg/wonenkosten.svg
Due: none
