Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

docs: enable form binding on action penal
  packages/storybook-vue/src/stories/Select/Select.stories.mdx
  packages/storybook-vue/src/stories/Select/SelectStates.stories.mdx
  packages/storybook-vue/src/stories/Select/SelectWithFieldsetAndLegend.stories.mdx
  packages/storybook-vue/src/stories/Select/SelectWithLabel.stories.mdx
  packages/storybook-vue/src/stories/Select/argTypes.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: refactor vue select component
  packages/component-library-vue/src/UtrechtSelect.vue
  packages/component-library-vue/src/UtrechtSelectOption.vue
  packages/component-library-vue/src/helpers/index.ts
  packages/component-library-vue/src/helpers/modelWrapper.ts
  packages/component-library-vue/src/index.ts
  packages/component-library-vue/tsconfig.lib.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: enable eslint check on component library vue
  .eslintrc.json
Due: none

docs: add vue select component stories
  packages/storybook-vue/config/preview.js
  packages/storybook-vue/src/stories/Select/Select.stories.mdx
  packages/storybook-vue/src/stories/Select/SelectStates.stories.mdx
  packages/storybook-vue/src/stories/Select/SelectWithFieldsetAndLegend.stories.mdx
  packages/storybook-vue/src/stories/Select/SelectWithLabel.stories.mdx
  packages/storybook-vue/src/stories/Select/argTypes.ts
  packages/storybook-vue/src/stories/Select/docs.stories.mdx
  packages/storybook-vue/src/stories/Select/tokens.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: enable showing `select` even if there is no options
  .eslintrc.json
  packages/component-library-vue/src/UtrechtSelect.vue
  packages/component-library-vue/src/helpers/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: upgrade commit lint dependencies
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs: refactor heading with level stories
  packages/storybook-vue/src/stories/Heading/Heading.stories.mdx
  packages/storybook-vue/src/stories/Heading/HeadingLevel1.stories.mdx
  packages/storybook-vue/src/stories/Heading/HeadingLevel2.stories.mdx
  packages/storybook-vue/src/stories/Heading/HeadingLevel3.stories.mdx
  packages/storybook-vue/src/stories/Heading/HeadingLevel4.stories.mdx
  packages/storybook-vue/src/stories/Heading/HeadingLevel5.stories.mdx
  packages/storybook-vue/src/stories/Heading/HeadingLevel6.stories.mdx
  packages/storybook-vue/src/stories/Heading/tokens.stories.mdx
  packages/storybook-vue/src/stories/Heading/tokensHeadingLevel1.stories.mdx
  packages/storybook-vue/src/stories/Heading/tokensHeadingLevel2.stories.mdx
  packages/storybook-vue/src/stories/Heading/tokensHeadingLevel3.stories.mdx
  packages/storybook-vue/src/stories/Heading/tokensHeadingLevel4.stories.mdx
  packages/storybook-vue/src/stories/Heading/tokensHeadingLevel5.stories.mdx
  packages/storybook-vue/src/stories/Heading/tokensHeadingLevel6.stories.mdx
Due: none

build: enable storybook composition
  packages/storybook-vue/package.json
  packages/storybook/config/main.js
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: fix the storybook console warning issue
  packages/storybook-vue/src/stories/Link/Link.stories.mdx
  packages/storybook-vue/src/stories/Paragraph/argTypes.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add vue heading1 - heading6 components stories
  packages/storybook-vue/src/stories/Heading1/Heading1.stories.mdx
  packages/storybook-vue/src/stories/Heading1/tokens.stories.mdx
  packages/storybook-vue/src/stories/Heading2/Heading2.stories.mdx
  packages/storybook-vue/src/stories/Heading2/tokens.stories.mdx
  packages/storybook-vue/src/stories/Heading3/Heading3.stories.mdx
  packages/storybook-vue/src/stories/Heading3/tokens.stories.mdx
  packages/storybook-vue/src/stories/Heading4/Heading4.stories.mdx
  packages/storybook-vue/src/stories/Heading4/tokens.stories.mdx
  packages/storybook-vue/src/stories/Heading5/Heading5.stories.mdx
  packages/storybook-vue/src/stories/Heading5/tokens.stories.mdx
  packages/storybook-vue/src/stories/Heading6/Heading6.stories.mdx
  packages/storybook-vue/src/stories/Heading6/tokens.stories.mdx
Due: none

build: fix the storybook url issue
  packages/storybook/config/main.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: remove update rule exception for `@angular-devkit/build-angular`
  .ncurc.patch.js
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: update minor versions
  components/package.json
  documentation/package.json
  package-lock.json
  package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/storybook-vue/package.json
  packages/storybook/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
  standalone/docusaurus/package-lock.json
  standalone/docusaurus/package.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: use custom Docusaurus path for GitHub Pages only, not for Vercel CI
  .github/workflows/continuous-delivery.yml
  standalone/docusaurus/docusaurus.config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: use same build settings for both Storybook configs
  packages/storybook-vue/config/main.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

ci: deploy website from own npm package
  .github/workflows/continuous-delivery.yml
  package-lock.json
  packages/design-system-website/README.md
  packages/design-system-website/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs: add the vue textarea component stories
  packages/storybook-vue/src/stories/Textarea/Textarea.stories.mdx
  packages/storybook-vue/src/stories/Textarea/TextareaBinding.stories.mdx
  packages/storybook-vue/src/stories/Textarea/TextareaStates.stories.mdx
  packages/storybook-vue/src/stories/Textarea/argTypes.ts
  packages/storybook-vue/src/stories/Textarea/docs.stories.mdx
  packages/storybook-vue/src/stories/Textarea/tokens.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: improve the vue textarea component
  packages/component-library-vue/src/UtrechtTextarea.vue
Due: none

docs: remove live textarea binding
  packages/storybook-vue/src/stories/Textarea/TextareaBinding.stories.mdx
Due: none

docs: add more textbox types & improve the from binding
  packages/storybook-vue/src/stories/Textbox/TextboxTypes.stories.mdx
  packages/storybook-vue/src/stories/Textbox/TextboxWithFormBinding.stories.mdx
  packages/storybook-vue/src/stories/Textbox/argTypes.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern
