Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": "markdownlint",
  "*.{js,jsx,mdx,ts,tsx}": "eslint --no-error-on-unmatched-pattern",
  "*.css": "stylelint --allow-empty-input"
}

feat: heading stencil component
  components/heading/stencil.stories.mdx
  components/heading/stencil.tsx
Due: eslint --no-error-on-unmatched-pattern

feat: stencil
  .prettierignore
  components/.gitignore
  components/package.json
  components/tsconfig.json
  package-lock.json
  package.json
  packages/component-library-react/.gitignore
  packages/component-library-react/package.json
  packages/component-library-react/src/index.ts
  packages/component-library-react/tsconfig.json
  packages/component-library-stencil/package.json
  packages/component-library-stencil/stencil.config.ts
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

feat: separator web component
  components/separator/stencil.stories.mdx
  components/separator/stencil.tsx
Due: eslint --no-error-on-unmatched-pattern

fix: component status "UNSTABLE" has been renamed to "WORK IN PROGRESS"
  components/heading/bem.stories.mdx
  components/paragraph/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

feat: paragraph web component
  components/paragraph/stencil.stories.mdx
  components/paragraph/stencil.tsx
Due: eslint --no-error-on-unmatched-pattern

refactor: simplify npm config
  .npmrc
Due: none

feat: document web component
  components/document/README.md
  components/document/stencil.stories.mdx
  components/document/stencil.tsx
Due: markdownlint, eslint --no-error-on-unmatched-pattern

feat: add web component library to Storybook
  packages/storybook/.storybook/preview.js
Due: eslint --no-error-on-unmatched-pattern

feat: create `@utrecht/components` npm package
  components/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: button web component
  components/button/stencil.stories.mdx
  components/button/stencil.tsx
Due: eslint --no-error-on-unmatched-pattern

refactor: configure ESLint MDX and JSON linting via overrides
  .eslintrc.json
Due: none

feat: component-library-stencil
  packages/component-library-stencil/.gitignore
  packages/component-library-stencil/package.json
  packages/component-library-stencil/stencil.config.ts
  packages/component-library-stencil/tsconfig.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

ci: enable TypeScript linting
  .eslintignore
  .eslintrc.json
  .prettierignore
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: counter badge
  components/badge-counter/README.md
  components/badge-counter/bem.scss
  components/badge-counter/bem.stories.mdx
  components/badge-counter/stencil.stories.mdx
  components/badge-counter/stencil.tsx
  proprietary/design-tokens/src/component/utrecht/badge-counter/block.style-dictionary.json
Due: markdownlint, eslint --no-error-on-unmatched-pattern

feat: data badge
  components/badge-data/README.md
  components/badge-data/bem.scss
  components/badge-data/bem.stories.mdx
  components/badge-data/block.style-dictionary.json
  components/badge-data/stencil.tsx
  proprietary/design-tokens/src/component/utrecht/badge-data/block.style-dictionary.json
Due: markdownlint, eslint --no-error-on-unmatched-pattern

feat: abstract badge component
  components/badge/_bem.scss
  components/badge/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/badge/block.style-dictionary.json
Due: none

feat: extended feedback color design tokens
  proprietary/design-tokens/src/common/utrecht/feedback-variant.style-dictionary.json
  proprietary/design-tokens/src/common/utrecht/feedback.style-dictionary.json
Due: none

feat: status badge
  components/badge-status/README.md
  components/badge-status/bem.scss
  components/badge-status/bem.stories.mdx
  components/badge-status/block.style-dictionary.json
  components/badge-status/stencil.stories.mdx
  components/badge-status/stencil.tsx
  proprietary/design-tokens/src/component/utrecht/badge-status/block.style-dictionary.json
Due: markdownlint, eslint --no-error-on-unmatched-pattern

Siblings
  components/navigatie sidenav/bem.css
  components/navigatie sidenav/bem.stories.mdx
  components/navigatie/bem.css
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

build: enable SCSS support for Stencil components
  package-lock.json
  packages/component-library-stencil/package.json
  packages/component-library-stencil/stencil.config.ts
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

build: upgrade Storybook 6.3.3
  package-lock.json
  package.json
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets

🔨 focus scss
  components/button/bem.scss
  components/button/bem.stories.mdx
  components/focus/_bem.scss
Due: eslint --no-error-on-unmatched-pattern

:hammer: upgraded focus state to button
  components/button/bem.css
  proprietary/design-tokens/src/component/utrecht/button/state.style-dictionary.json
Due: stylelint --allow-empty-input

more focus
  components/button/bem.scss
  components/button/stencil.stories.mdx
  components/button/stencil.tsx
  components/focus/_bem.scss
  components/focus/block.style-dictionary.json
  components/link/bem.scss
  components/link/bem.stories.mdx
  components/mapcontrolbutton/bem.scss
  components/mapcontrolbutton/bem.stories.mdx
  proprietary/design-tokens/src/common/utrecht/focus.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/button/state.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/mapcontrolbutton/state.style-dictionary.json
Due: eslint --no-error-on-unmatched-pattern

remove link focus underline
  proprietary/design-tokens/src/component/utrecht/link/modifier.style-dictionary.json
Due: none

Update bem.stories.mdx
  components/navigatie sidenav/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

feat: link has underline by default
  proprietary/design-tokens/src/component/utrecht/link/block.style-dictionary.json
Due: none

ci: versioning on GitHub and deploy to npm
  .github/workflows/continuous-delivery.yml
  .npmpackagejsonlintrc.json
  lerna.json
  package.json
  packages/component-library/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Sibling fix
  components/navigatie sidenav/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern
