Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: color/background-color for default button
  components/button/bem.scss
  components/button/block.tokens.json
  proprietary/design-tokens/src/component/utrecht/button/block.tokens.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: distanced option for paragraph template
  components/paragraph/bem.js
Due: eslint --no-error-on-unmatched-pattern

feat: active state for button component
  components/button/bem.js
  components/button/bem.scss
  components/button/bem.stories.mdx
  components/button/modifier.tokens.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: templates for textarea component
  components/textarea/bem.js
  components/textarea/bem.stories.mdx
  components/textarea/html.js
Due: eslint --no-error-on-unmatched-pattern

feat: placeholder option for textbox template
  components/textbox/bem.js
Due: eslint --no-error-on-unmatched-pattern

feat: fallback colors for button hover and disabled state
  components/button/bem.scss
Due: stylelint --allow-empty-input

refactor: create templates for ordered/undered lists
  components/ordered-list/bem.js
  components/ordered-list/bem.stories.mdx
  components/unordered-list/bem.js
  components/unordered-list/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  components/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

⚡️ first commit
  components/eherkenning-logo/stencil.scss
  components/eherkenning-logo/stencil.stories.mdx
  components/eherkenning-logo/stencil.tsx
  components/eidas-logo/stencil.scss
  components/eidas-logo/stencil.stories.mdx
  components/eidas-logo/stencil.tsx
  components/logo-button/bem.js
  components/logo-button/bem.scss
  components/logo-button/bem.stories.mdx
  components/logo-button/block.tokens.json
  components/logo-button/stencil.scss
  components/logo-button/stencil.stories.mdx
  components/logo-button/stencil.tsx
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

🔨 Alle logos toegevoegd
  components/eherkenning-logo/stencil.tsx
  components/eidas-logo/stencil.tsx
Due: eslint --no-error-on-unmatched-pattern

Update eIDAS logo
  components/eidas-logo/stencil.tsx
Due: eslint --no-error-on-unmatched-pattern

Style name update logo button
  components/logo-button/bem.scss
Due: stylelint --allow-empty-input

🔨 logo naam bij right-to-left aangepast
  components/logo-button/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

Update controle options
  components/logo-button/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

Prettier
  components/eherkenning-logo/stencil.tsx
Due: eslint --no-error-on-unmatched-pattern

refactor: remove `color` and `background-color` from default focus styling
  components/focus/_bem.scss
Due: stylelint --allow-empty-input

💄 prettier
  components/button/docs/ux-guidelines.md
Due: markdownlint

🔨 Added angular components
  packages/web-component-library-angular/src/index.module.ts
Due: eslint --no-error-on-unmatched-pattern

links gefixt
  components/button/docs/ux-guidelines.md
Due: markdownlint

🔨 Added UtrechtLogoButton to components
  packages/web-component-library-angular/src/index.module.ts
Due: eslint --no-error-on-unmatched-pattern

Logobuttons (#400)
  components/eherkenning-logo/stencil.scss
  components/eherkenning-logo/stencil.stories.mdx
  components/eherkenning-logo/stencil.tsx
  components/eidas-logo/stencil.scss
  components/eidas-logo/stencil.stories.mdx
  components/eidas-logo/stencil.tsx
  components/logo-button/bem.js
  components/logo-button/bem.scss
  components/logo-button/bem.stories.mdx
  components/logo-button/block.tokens.json
  components/logo-button/stencil.scss
  components/logo-button/stencil.stories.mdx
  components/logo-button/stencil.tsx
  packages/web-component-library-angular/src/index.module.ts
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

🔨 linkjes gefixt
  components/form-field-radio-group/docs/ux-guidelines.md
Due: markdownlint

⚡️ documentatie voor buttons en radio buttons (#401)
  components/button/docs/ux-guidelines.md
  components/button/docs/ux-guidelines.stories.mdx
  components/form-field-radio-group/docs/ux-guidelines.md
  components/form-field-radio-group/docs/ux-guidelines.stories.mdx
Due: markdownlint, eslint --no-error-on-unmatched-pattern

Grey 95 update
  proprietary/design-tokens/src/brand/utrecht/color.tokens.json
Due: eslint --no-error-on-unmatched-pattern

Grey 95 update (#402)
  proprietary/design-tokens/src/brand/utrecht/color.tokens.json
Due: eslint --no-error-on-unmatched-pattern

Update blauw
  proprietary/design-tokens/src/brand/utrecht/color.tokens.json
Due: eslint --no-error-on-unmatched-pattern

Color grey (#403)
  proprietary/design-tokens/src/brand/utrecht/color.tokens.json
Due: eslint --no-error-on-unmatched-pattern

WIP
  components/accordion/bem.js
  components/accordion/bem.scss
  components/accordion/bem.stories.mdx
  components/accordion/block.tokens.json
  components/accordion/heading.stencil.tsx
  components/accordion/panel.stencil.tsx
  components/accordion/section.stencil.tsx
  components/accordion/stencil.scss
  components/accordion/stencil.stories.mdx
  components/accordion/stencil.tsx
  components/button/bem.scss
  components/button/stencil.stories.mdx
  components/icon/arrow-left.stencil.tsx
  components/icon/arrow-right.stencil.tsx
  components/icon/block-close.stencil.tsx
  components/icon/block-open.tsx
  components/icon/stencil.scss
  components/icon/stencil.stories.mdx
  packages/web-component-library-angular/src/index.module.ts
  proprietary/design-tokens/src/brand/utrecht/color.tokens.json
  proprietary/design-tokens/src/component/utrecht/accordion/accordion.tokens.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: rename separator `width` to `block-size`
  components/separator/bem.scss
  components/separator/block.tokens.json
  proprietary/design-tokens/src/component/utrecht/separator/block.tokens.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: include missing components in CSS component library
  packages/component-library-css/src/bem.scss
  packages/component-library-css/src/html.scss
Due: stylelint --allow-empty-input

fix: syntax error in design token JSON
  proprietary/design-tokens/src/brand/utrecht/color.tokens.json
Due: eslint --no-error-on-unmatched-pattern

feat: color for lead paragraph
  components/paragraph/bem.scss
  components/paragraph/modifier.tokens.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: `min-block-size` for textarea
  components/textarea/bem.scss
  components/textarea/block.tokens.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: replace form select focus `border-width` with `color`
  components/select/bem.scss
  components/select/modifier.tokens.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: focus styles for form-input/select/textarea/textbox
  components/form-input/modifier.tokens.json
  components/select/bem.scss
  components/select/modifier.tokens.json
  components/textarea/bem.scss
  components/textarea/modifier.tokens.json
  components/textbox/bem.scss
  components/textbox/modifier.tokens.json
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,json,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
