Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

fixup! ci: dry run of semantic-release
  .github/workflows/continuous-delivery.yml
Due: none

fixup! ci: dry run of semantic-release
  .github/workflows/continuous-delivery.yml
  .releaserc.json
Due: none

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: try running workflow on windows
  .github/workflows/continuous-delivery.yml
Due: none

ci: specify LF as line ending in Git
  .gitattributes
Due: none

ci: tmp windows workarounds
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

fixup! ci: tmp windows workarounds
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: use make-dir utility instead of Linux mkdir
  components/icon/package.json
  package-lock.json
Due: npmPkgJsonLint --allowEmptyTargets

tmp
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: rename `table-heading` to `table-header-cell`
  components/table/bem.scss
  components/table/html.scss
  components/table/tokens.json
  proprietary/design-tokens/src/component/utrecht/table.tokens.json
Due: prettier --check, stylelint --allow-empty-input

build: install patch updates
  .patches/@stencil+core+2.14.2.patch
  components/package.json
  package-lock.json
  package.json
  packages/component-library-formio/package.json
  packages/storybook/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  standalone/docusaurus/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: minor updates
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs: remove custom searchbar
  standalone/docusaurus/src/theme/SearchBar/algolia.css
  standalone/docusaurus/src/theme/SearchBar/index.js
  standalone/docusaurus/src/theme/SearchBar/lib/DocSearch.js
  standalone/docusaurus/src/theme/SearchBar/lib/lunar-search.js
  standalone/docusaurus/src/theme/SearchBar/lib/templates.js
  standalone/docusaurus/src/theme/SearchBar/lib/utils.js
  standalone/docusaurus/src/theme/SearchBar/styles.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: use docsearch instead of lunrsearch
  standalone/docusaurus/docusaurus.config.js
  standalone/docusaurus/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs: simplify searchbar
  standalone/docusaurus/docusaurus.config.js
  standalone/docusaurus/src/theme/SearchBar/index.d.ts
  standalone/docusaurus/src/theme/SearchBar/index.js
  standalone/docusaurus/src/theme/SearchBar/styles.css
  standalone/docusaurus/src/theme/SearchBar/styles.module.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: introduce `@utrecht/component-library-react` package
  .eslintrc.json
  package-lock.json
  packages/component-library-react/README.md
  packages/component-library-react/jest.config.js
  packages/component-library-react/package.json
  packages/component-library-react/tsconfig.json
  packages/component-library-react/tsconfig.test.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

ci: tweak ESLint rules for React component library
  packages/component-library-react/.eslintrc.json
Due: none

test: cover change and input events for textbox and textarea
  packages/component-library-react/src/Textarea.test.tsx
  packages/component-library-react/src/Textbox.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

ci: ignore unused-vars starting with _
  .eslintrc.js.json
Due: none

ci: install Jest plugin for ESLint
  .eslintrc.json
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: patch and minor updates for npm packages including storybook
  .ncurc.minor.js
  components/favicon/stories.mdx
  components/package.json
  documentation/package.json
  package-lock.json
  package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/storybook/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-stencil/package.json
  proprietary/design-tokens/package.json
  standalone/docusaurus/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern
