Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,mjs,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

build: add missing dependency for Storybook types
  packages/storybook-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: switch to modern ES modules for Storybook React
  packages/storybook-react/babel.config.mjs
  packages/storybook-react/package.json
  packages/storybook-react/tsconfig.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add `iconset.mjs` and `iconset.d.mts` files
  .changeset/metal-mugs-join.md
  components/icon/src/build.js
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add missing tokens.json files
  components/alternate-lang-nav/src/tokens.json
  components/body/src/tokens.json
  components/combobox/src/tokens.json
  components/html-content/src/tokens.json
  components/page-layout/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add `tokens.mjs` and `tokens.d.mts` files to CSS packages
  .changeset/breezy-moles-flash.md
  packages/build-utils-css/src/index.mjs
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: remove old `defaultViewport` config for Storybook React
  packages/storybook-helpers/src/addon-viewport.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add `list.mjs` and `list.d.mts` files to the design-tokens package
  .changeset/plenty-turtles-boil.md
  proprietary/design-tokens/style-dictionary-config.mjs
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: lint issues
  packages/storybook-react/src/stories/VegaVisualization.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: add build script to `heading` CSS component
  components/heading/package.json
  components/heading/src/index.scss
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: correct `stroke-width` syntax in SVG icon
  .changeset/selfish-pumas-enjoy.md
  packages/component-library-react/src/Accordion.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

style: add utrecht textbox size mixin
  components/textbox/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

style: add name attribute to index scss and add utrecht textbox size
  components/textbox/src/_mixin.scss
  components/textbox/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: add open forms container
  packages/storybook-react/src/stories/open-forms/OpenFormsContainer.tsx
  packages/storybook-react/src/stories/open-forms/StoryUtil.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: add mixin utrecht textbox size to open forms container
  packages/storybook-react/src/stories/open-forms/OpenFormsContainer.scss
Due: prettier --check, stylelint --allow-empty-input

style: add textbox sizes
  components/textbox/src/_mixin.scss
  packages/storybook-react/src/stories/open-forms/OpenFormsContainer.scss
Due: prettier --check, stylelint --allow-empty-input

feat: add aantal markten en bedrag verlening velden to open forms container file
  packages/storybook-react/src/stories/open-forms/UtrechtOpenForms.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: add utrecht open forms scss input size
  packages/storybook-react/src/stories/open-forms/OpenFormsContainer.scss
Due: prettier --check, stylelint --allow-empty-input

style: add textbox size to Geboorte plaats en datum Huis nummer letter en toevoeging
  components/textbox/src/_mixin.scss
  packages/storybook-react/src/stories/open-forms/OpenFormsContainer.scss
Due: prettier --check, stylelint --allow-empty-input

feat: add utrecht open forms stories to storybook
  packages/storybook-react/src/stories/open-forms/UtrechtOpenForms.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: rename or add defaultValue
  packages/storybook-react/src/stories/open-forms/UtrechtOpenForms.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add omschrijf producten en SAP velden
  packages/storybook-react/src/stories/open-forms/UtrechtOpenForms.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: autocomplete-ui-size change to 0px and all css change to correct value
  components/textbox/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

refactor: change or rename defaultValue
  packages/storybook-react/src/stories/open-forms/UtrechtOpenForms.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add textbox css to bedragverlening en SAP nummer
  packages/storybook-react/src/stories/open-forms/OpenFormsContainer.scss
Due: prettier --check, stylelint --allow-empty-input

feat: oops I accidentally the whole Storybook
  apps/preact/index.html
  apps/preact/package.json
  apps/preact/story-react.mjs
  packages/components-react/body-react/tsconfig.build.json
  packages/storybook-react/log
  packages/storybook-react/package.json
  packages/storybook-react/src/stories/Button.stories.tsx
  packages/storybook-react/tsconfig.build.json
  packages/storybook-react/tsconfig.json
  packages/web-component-library-stencil/src/index.html
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: oops I accidentally the whole Storybook
  apps/preact/index.html
  apps/preact/story-react.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: icon docusaurus
  packages/docusaurus/docs/componenten/icons/Iconen overzicht.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: update experiments
  apps/experiments/amsterdam-theme.css
  apps/experiments/purmerend-theme.css
  apps/experiments/rijkshuisstijl-theme.css
  apps/experiments/rods-theme.css
  apps/experiments/style.css
  apps/experiments/utrecht-theme.css
  apps/experiments/utrecht.html
Due: prettier --check, stylelint --allow-empty-input

feat: add 4 new web components: root/body/page-layout/page-body
  .changeset/flat-spoons-remember.md
  packages/web-component-library-stencil/package.json
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/body.scss
  packages/web-component-library-stencil/src/components/body.tsx
  packages/web-component-library-stencil/src/components/nav-bar.scss
  packages/web-component-library-stencil/src/components/nav-bar.tsx
  packages/web-component-library-stencil/src/components/page-body.scss
  packages/web-component-library-stencil/src/components/page-body.tsx
  packages/web-component-library-stencil/src/components/page-content.scss
  packages/web-component-library-stencil/src/components/page-footer.scss
  packages/web-component-library-stencil/src/components/page-header.tsx
  packages/web-component-library-stencil/src/components/page-layout.scss
  packages/web-component-library-stencil/src/components/page-layout.tsx
  packages/web-component-library-stencil/src/components/root.scss
  packages/web-component-library-stencil/src/components/root.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add styling for `body`, `nav-bar`, `page-body`, `page-footer`, `page-header` and `root`
  .changeset/fair-impalas-sort.md
  proprietary/design-tokens/src/component/utrecht/body.tokens.json
  proprietary/design-tokens/src/component/utrecht/nav-bar.tokens.json
  proprietary/design-tokens/src/component/utrecht/page-body.tokens.json
  proprietary/design-tokens/src/component/utrecht/page-footer.tokens.json
  proprietary/design-tokens/src/component/utrecht/root.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern
