Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,mjs,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

feat: add npm package with design token JSON definitions for all components
  packages/component-library-design-tokens/README.md
  packages/component-library-design-tokens/package.json
  packages/component-library-design-tokens/project.json
  packages/component-library-design-tokens/src/build.mjs
  packages/component-library-design-tokens/src/lib.mjs
  packages/component-library-design-tokens/src/lint-build.mjs
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/build-property-css.md
  .changeset/design-token-library.md
  .changeset/friendly-ducks-dress.md
  .changeset/green-mirrors-kneel.md
  .changeset/lucky-rivers-approve.md
  .changeset/many-meals-carry.md
  .changeset/mighty-eagles-join.md
  .changeset/pink-coins-jog.md
  .changeset/popular-rules-scream.md
  .changeset/sweet-dolphins-design.md
  .changeset/wild-insects-beg.md
  components/badge-counter/CHANGELOG.md
  components/badge-counter/package.json
  components/blockquote/CHANGELOG.md
  components/blockquote/package.json
  components/code-block/CHANGELOG.md
  components/code-block/package.json
  components/code/CHANGELOG.md
  components/code/package.json
  components/color-sample/CHANGELOG.md
  components/color-sample/package.json
  components/drawer/CHANGELOG.md
  components/drawer/package.json
  components/form-field-error-message/CHANGELOG.md
  components/form-field-error-message/package.json
  components/link/CHANGELOG.md
  components/link/package.json
  components/mapcontrolbutton/CHANGELOG.md
  components/mapcontrolbutton/package.json
  components/mark/CHANGELOG.md
  components/mark/package.json
  components/pre-heading/CHANGELOG.md
  components/pre-heading/package.json
  packages/component-library-design-tokens/CHANGELOG.md
  packages/component-library-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: creating PDFs with Prince
  packages/storybook-pdf/src/prince-xml.md
  packages/storybook-pdf/src/prince-xml.stories.mdx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: make build script more robus, do not assume order
  packages/component-library-design-tokens/src/build-property.mjs
  packages/component-library-design-tokens/src/build-tokens.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: add missing bundled CSS for the React Button and Calendar components
  .changeset/chilly-mayflies-float.md
  packages/component-library-react/rollup-component-package.mjs
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: copy new pnpm workspace settings to `package.json`
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: remove `next` dependency for the Jest configuration
  packages/component-library-react/jest.config.mjs
  packages/component-library-react/jest.config.ts
  packages/component-library-react/package.json
  packages/component-library-react/rollup.config.mjs
  packages/component-library-react/src/setupJest.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/chilly-mayflies-float.md
  .changeset/fair-eagles-swim.md
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  packages/components-react/button-react/CHANGELOG.md
  packages/components-react/button-react/package.json
  packages/components-react/calendar-react/CHANGELOG.md
  packages/components-react/calendar-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

test: add test for accordion provider
  packages/component-library-react/src/Accordion.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/tidy-wolves-thank.md
Due: markdownlint, prettier --check

feat: add heading level to accordion provider
  packages/component-library-react/src/Accordion.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: consistently use new "Number Badge" name
  packages/storybook-css/src/NumberBadge.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: radio button disabled fallback variables
  .changeset/tough-eggs-do.md
  components/radio-button/src/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

feat: add `required` state to React `Fieldset`
  .changeset/popular-spoons-collect.md
  .changeset/silent-snails-rescue.md
  packages/component-library-react/src/Fieldset.test.tsx
  packages/component-library-react/src/Fieldset.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add `utrecht.select.line-height` token
  .changeset/sharp-parrots-tease.md
  components/select/src/_mixin.scss
  components/select/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: support label and icon in button web component
  packages/storybook-web-component/src/Button.stories.tsx
  packages/web-component-library-stencil/src/components/button.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changesets for button changes
  .changeset/prickly-roses-cry.md
  .changeset/red-roses-blush.md
  .changeset/slimy-roses-scream.md
  .changeset/white-roses-shine.md
Due: markdownlint, prettier --check

test: add button tests for label prop
  .changeset/slimy-roses-scream.md
  packages/components-react/button-react/src/index.test.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: simplify icon slot for button web component
  packages/storybook-web-component/src/Button.stories.tsx
  packages/web-component-library-stencil/src/components/button.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add utrecht-button-column-gap
  .changeset/slimy-roses-scream.md
  components/button/src/_mixin.scss
  components/button/src/index.scss
  components/button/src/tokens.json
  packages/components-react/button-react/src/index.tsx
  packages/storybook-react/package.json
  packages/storybook-react/src/stories/Button.stories.tsx
  pnpm-lock.yaml
  proprietary/design-tokens/src/component/utrecht/button.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: add icon support to button stories
  packages/storybook-react/src/stories/Button.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add number badge border design tokens
  .changeset/good-rice-cover.md
  components/number-badge/src/_mixin.scss
  components/number-badge/src/index.scss
  components/number-badge/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: remove `utrecht-link--icon-left` class name
  components/link/src/_mixin.scss
  components/link/src/index.scss
  components/link/src/story-template.jsx
  packages/docusaurus/docs/componenten/typografie/link.mdx
  proprietary/design-tokens/src/background-image-icon.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: introduce 3 `focus-visible` tokens for Skip Link
  .changeset/olive-numbers-smile.md
  components/skip-link/src/_mixin.scss
  components/skip-link/src/index.scss
  components/skip-link/src/tokens.json
  packages/storybook-css/src/SkipLink.stories.tsx
  proprietary/design-tokens/src/component/utrecht/skip-link.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: remove SCSS code for `:focus-visible` polyfill
  .changeset/forty-months-dress.md
  components/focus-ring/src/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

style: move the Link `text-underline` effect from `focus` to `focus-visible`
  .changeset/famous-seahorses-smell.md
  components/link/src/_mixin.scss
  components/link/src/tokens.json
  proprietary/design-tokens/src/component/utrecht/link.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

style: start using `:focus-visible`, Safari support has caught up
  .changeset/three-emus-juggle.md
  components/button/src/index.scss
  components/checkbox/src/_mixin.scss
  components/checkbox/src/index.scss
  components/link/src/_mixin.scss
  components/link/src/html/_mixin.scss
  components/link/src/index.scss
  components/mapcontrolbutton/src/index.scss
  components/menulijst/src/index.scss
  components/navigatie sidenav/src/index.scss
  components/navigatie topnav/src/index.scss
  components/pagination/src/_mixin.scss
  components/pagination/src/index.scss
  components/select/src/_mixin.scss
  components/textarea/src/_mixin.scss
  components/textbox/src/_mixin.scss
  components/toptask-link/src/index.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

docs: small fix to Textbox story for React
  packages/storybook-css/src/Textbox.stories.tsx
  packages/storybook-react/src/stories/Textbox.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

test: add test for disabled listbox in React
  packages/component-library-react/src/Listbox.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/big-three-ape.md
Due: markdownlint, prettier --check

build(deps): bump wagoid/commitlint-github-action from 5.5.1 to 6.1.2
  .commitlintrc.json
  .github/workflows/commit-lint.yml
  .github/workflows/semantic-pull-requests.yml
  commitlint.config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern
