Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,mjs,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

feat(contact-card-wc): implement responsive grid layout using Utrecht Grid CSS
  packages/web-component-library-stencil/package.json
  packages/web-component-library-stencil/src/components/contact-card.scss
  packages/web-component-library-stencil/src/components/contact-card.tsx
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor(storybook-css): use React components for headings, links and paragraphs in ContactCard stories
  packages/storybook-css/src/ContactCard.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(contact-card-react): fix failing tests after socials wrapper refactor
  packages/components-react/contact-card-react/src/index.test.tsx
  packages/components-react/contact-card-react/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

test(contact-card-react): add tests for socialLinks and richText props
  packages/components-react/contact-card-react/src/index.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: use Heading component for ContactCard title
  packages/components-react/contact-card-react/package.json
  packages/components-react/contact-card-react/src/index.tsx
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat(contact-card-react): place social links in separate column for single-section layout
  packages/components-react/contact-card-react/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade pnpm to 11.15.1
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix(deps): patch tar CVE GHSA-23hp-3jrh-7fpw via pnpm override
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: configure dependabot groups
  .github/dependabot.yml
Due: none

AMS-grid
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

DH side-nav
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: remove unused contact-card-template/css/index.scss superseded by contact-card-css
  components/templates/contact-card-template/css/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: correct typo NTV to NVT for spotlight-section in spacing matrix
  components/rich-text/src/spacing-matrix.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(deps): update @vitest/browser >=4.1.10 (GHSA-p63j-vcc4-9vmv)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(storybook-react): add spacing debug toolbar button with global toggle
  packages/storybook-react/config/manager.ts
  packages/storybook-react/config/manager.tsx
  packages/storybook-react/config/preview.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(storybook-react): add canvas-based spacing matrix overlay as alternative to ::after
  packages/storybook-react/src/stories/template/SpacingMatrixCanvas.stories.tsx
  packages/storybook-react/src/stories/template/spacing-story-kit-canvas.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(storybook-react): add spacing matrix prototype stories with ::after overlay
  packages/storybook-react/src/stories/template/SpacingMatrix.stories.tsx
  packages/storybook-react/src/stories/template/spacing-story-kit.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(storybook-react): fix spacing matrix control panel responsiveness and option labels
  packages/storybook-react/src/stories/template/spacing-story-kit-canvas.tsx
  packages/storybook-react/src/stories/template/spacing-story-kit.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: form field error message position
  .changeset/fuzzy-ears-allow.md
  .changeset/swift-horses-rescue.md
  packages/components-react/form-field-react/src/index.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix(storybook-react): redraw spacing canvas on container resize
  packages/storybook-react/src/stories/template/spacing-story-kit-canvas.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(link-list): minimale touch/hit area op link
  .changeset/yellow-rabbits-play.md
  components/link-list/src/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

chore: move vercel configuration to vercel.json
  packages/storybook/vercel.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Update inline-start-padding Panel accordion
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

upadte panel padding
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: add changeset for removal of redundant nested modifier in UnorderedList
  .changeset/grumpy-gifts-chew.md
Due: markdownlint, prettier --check

refactor: remove nested modifier and multiline prop from unordered list mixins and stories
  components/unordered-list/src/_mixin.scss
  components/unordered-list/src/index.scss
  packages/storybook-css/src/UnorderedList.stories.tsx
  packages/storybook-css/src/UnorderedList.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: remove unneeded changeset for storybook-css
  .changeset/grumpy-gifts-chew.md
Due: markdownlint, prettier --check

Apply suggestions from code review
  .changeset/grumpy-gifts-chew.md
Due: markdownlint, prettier --check

feat: remove nested token from unordered-list
  .changeset/witty-pumas-arrive.md
  proprietary/design-tokens/src/component/utrecht/unordered-list.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add arrow container and arrow styles to card component
  components/card/src/_mixin.scss
  components/card/src/index.scss
  packages/components-react/card-react/src/index.tsx
  proprietary/design-tokens/src/component/utrecht/card.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: update card component styles and adjust design tokens for improved layout
  components/card/src/_mixin.scss
  packages/components-react/card-react/src/index.tsx
  packages/storybook-css/src/Card.stories.tsx
  proprietary/design-tokens/src/component/utrecht/card.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: update card stories to use componentContainerStyle for consistent layout
  packages/storybook-css/src/Card.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add appearance variants (primary, secondary, tertiary) to card component
  components/card/src/_mixin.scss
  components/card/src/index.scss
  packages/components-react/card-react/src/index.tsx
  packages/storybook-css/src/Card.stories.tsx
  proprietary/design-tokens/src/component/utrecht/card.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input
