Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: upgrade storybook (in storybook-angular) to 9
  packages/storybook-angular/config/main.ts
  packages/storybook-angular/config/manager.ts
  packages/storybook-angular/config/preview.ts
  packages/storybook-angular/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: fix type after upgrading @types/react
  packages/component-library-react/src/Accordion.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade @testing-library/* to latest in react packages
  packages/component-library-pdf/package.json
  packages/component-library-react/package.json
  packages/components-react/action-group-react/package.json
  packages/components-react/body-react/package.json
  packages/components-react/button-group-react/package.json
  packages/components-react/button-react/package.json
  packages/components-react/calendar-react/package.json
  packages/components-react/card-react/package.json
  packages/components-react/checkbox-group-react/package.json
  packages/components-react/checkbox-react/package.json
  packages/components-react/combobox-react/package.json
  packages/components-react/data-badge-react/package.json
  packages/components-react/fieldset-react/package.json
  packages/components-react/form-field-checkbox-react/package.json
  packages/components-react/form-field-description-react/package.json
  packages/components-react/form-field-error-message-react/package.json
  packages/components-react/form-field-react/package.json
  packages/components-react/form-label-react/package.json
  packages/components-react/grid-react/package.json
  packages/components-react/link-react/package.json
  packages/components-react/listbox-react/package.json
  packages/components-react/nav-bar-react/package.json
  packages/components-react/open-forms-container-react/package.json
  packages/components-react/page-body-react/package.json
  packages/components-react/page-footer-react/package.json
  packages/components-react/page-header-react/package.json
  packages/components-react/page-layout-react/package.json
  packages/components-react/radio-button-react/package.json
  packages/components-react/radio-group-react/package.json
  packages/components-react/root-react/package.json
  packages/components-react/select-combobox-react/package.json
  packages/components-react/textbox-react/package.json
  packages/components-react/tooltip-react/package.json
  packages/components-react/youtube-video-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

test: test Root component in a different way
  packages/components-react/root-react/src/index.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: valid CSS syntax in `tokens.json` definition
  .changeset/clever-cameras-bake.md
  components/page-footer/src/tokens.json
  components/search-bar/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: use modern CSS color syntax
  .changeset/chatty-masks-dance.md
  packages/docusaurus/src/styles/custom.scss
  packages/icon/README.md
  proprietary/design-tokens/src/component/of/progress-indicator.tokens.json
  proprietary/design-tokens/src/component/utrecht/form-toggle.tokens.json
  proprietary/design-tokens/src/dark/component/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: changesets for CSS improvements
  .changeset/breezy-hats-beg.md
Due: markdownlint, prettier --check

refactor: remove redundant nested style rule
  components/backdrop/src/_mixin.scss
  components/checkbox/src/_mixin.scss
  components/color-sample/src/_mixin.scss
  components/data-placeholder/src/_mixin.scss
  components/listbox/src/_mixin.scss
  components/mark/src/_mixin.scss
  components/radio-button/src/_mixin.scss
  components/select/src/_mixin.scss
  components/textarea/src/_mixin.scss
  components/textbox/src/_mixin.scss
  components/tooltip/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

chore: upgrade stylelint to 17
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: replace deprecated "word-break: break-word" with modern equivalent
  components/root/src/_mixin.scss
  documentation/components/CustomIcomGallery/index.scss
  packages/storybook/stories/icon/CustomIconGallery.css
Due: prettier --check, stylelint --allow-empty-input

chore: skip no-invalid-position-declaration when a mixin declares it
  .stylelintrc.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: remove deprecated propertly
  components/form-toggle/src/_mixin.scss
  components/form-toggle/src/index.scss
  components/number-data/src/_mixin.scss
  components/table/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

refactor: autofix lint issues
  components/data-list/src/_mixin.scss
  components/form-field/src/_mixin.scss
  components/form-fieldset/src/_mixin.scss
  components/heading-1/src/_mixin.scss
  components/heading-2/src/_mixin.scss
  components/heading-3/src/_mixin.scss
  components/heading-4/src/_mixin.scss
  components/heading-5/src/_mixin.scss
  components/heading-6/src/_mixin.scss
  components/heading/src/_mixin.scss
  components/table-of-contents/src/_mixin.scss
  components/table/src/_mixin.scss
  components/url-data/src/_mixin.scss
  packages/storybook-react/src/stories/prototype-src/index.css
  packages/web-component-library-stencil/src/components/table-caption.scss
Due: prettier --check, stylelint --allow-empty-input

refactor: use new token format for dark mode tokens
  proprietary/design-tokens/src/brand/utrecht/color.tokens.json
  proprietary/design-tokens/src/dark/common/tokens.json
  proprietary/design-tokens/src/dark/component/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: changelog
  .changeset/yellow-fireants-prove.md
Due: markdownlint, prettier --check

None variants
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: use new DTCG format in code
  documentation/components/DesignTokensTable.jsx
  documentation/components/SpaceTokensTable.jsx
  packages/storybook/stories/design-tokens/typography.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: update packages
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
  proprietary/design-tokens/style-dictionary-build-dark.mjs
  proprietary/design-tokens/style-dictionary-build.mjs
  proprietary/design-tokens/style-dictionary-config.mjs
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: support new DTCG tokens format in build scripts
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
  proprietary/design-tokens/style-dictionary-build-dark.mjs
  proprietary/design-tokens/style-dictionary-build.mjs
  proprietary/design-tokens/style-dictionary-config.mjs
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: tokens correction
  components/unordered-list/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: update token structure to use "$value" key for dimensions and values
  components/unordered-list/src/tokens.json
  proprietary/design-tokens/src/component/utrecht/unordered-list.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add support for multiline text in unordered list and update padding for centered lists
  components/unordered-list/src/_mixin.scss
  packages/storybook-css/src/UnorderedList.stories.tsx
  proprietary/design-tokens/src/component/utrecht/unordered-list.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add line-height property to ordered list tokens
  proprietary/design-tokens/src/component/utrecht/ordered-list.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Feat/ul style update (#3058)
  .changeset/silver-planets-tell.md
  components/unordered-list/src/_mixin.scss
  components/unordered-list/src/html/_mixin.scss
  components/unordered-list/src/index.scss
  components/unordered-list/src/tokens.json
  packages/component-library-react/src/UnorderedList.test.tsx
  packages/storybook-css/src/OrderedList.stories.tsx
  packages/storybook-css/src/OrderedList.tsx
  packages/storybook-css/src/UnorderedList.stories.tsx
  packages/storybook-css/src/UnorderedList.tsx
  packages/storybook-html/src/UnorderedList.stories.tsx
  packages/storybook-react/src/stories/UnorderedList.stories.tsx
  proprietary/design-tokens/src/component/utrecht/ordered-list.tokens.json
  proprietary/design-tokens/src/component/utrecht/unordered-list.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs(release): design system packages
  .changeset/silver-planets-tell.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/unordered-list/CHANGELOG.md
  components/unordered-list/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/component-library-design-tokens/CHANGELOG.md
  packages/component-library-design-tokens/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  packages/storybook-helpers/CHANGELOG.md
  packages/storybook-helpers/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: aanpassing na review joram
  packages/storybook-react/src/stories/prototype-src/introductie_scenarios/IntroductieVolgorde.tsx
  packages/storybook-react/src/stories/prototype-src/introductie_scenarios/ScenarioVolgorde.tsx
  packages/storybook-react/src/stories/prototype-src/variables.tsx
  packages/storybook-react/src/stories/prototype-volgorde-content/volgorde.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
