Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: update NavBar stories with label prop and inlineSizeAuto
  packages/storybook-css/src/NavBar.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(NavBar): move restProps to end to prevent overriding other props
  packages/component-library-react/src/NavBar.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor(NavList): rename current prop to isCurrent and simplify aria-current handling
  packages/component-library-react/src/NavList.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(NavList): update tests for isCurrent prop and ensure consistent class naming
  packages/component-library-react/src/NavList.tsx
  packages/component-library-react/src/NavListLink.test.tsx
  packages/component-library-react/src/NavListLinkButton.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor(NavList): remove isCurrent prop, use CSS-only aria-current attribute styling
  components/nav-list/src/index.scss
  packages/component-library-react/src/NavList.tsx
  packages/component-library-react/src/NavListLink.test.tsx
  packages/component-library-react/src/NavListLinkButton.test.tsx
  packages/storybook-css/src/NavBar.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: replace all aria-current values with just "page" and "true" for active item styling
  components/nav-list/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix(NavBar): call useId unconditionally
  packages/component-library-react/src/NavBar.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: add missing error token to status badge
  components/status-badge/src/_mixin.scss
  packages/storybook-web-component/src/StatusBadge.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: enhance tile component with new props for active, hover, focus, and appearance states
  components/tile/src/_mixin.scss
  packages/storybook-css/src/Tile.stories.tsx
  packages/storybook-css/src/Tile.tsx
  proprietary/design-tokens/src/component/utrecht/tile.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: astro docs gist tasks
  packages/astro/docs/pages/designers/_index.mdx
  packages/astro/docs/pages/designers/aan-de-slag-met-figma.md
  packages/astro/docs/pages/designers/aan-de-slag-met-figma.mdx
  packages/astro/docs/pages/developer/_index.md
  packages/astro/docs/pages/richtlijnen/_index.md
  packages/astro/docs/pages/richtlijnen/content-ontwerp.md
  packages/astro/docs/pages/richtlijnen/richtlijnen-voor-leesbaarheid.mdx
  packages/astro/docs/pages/richtlijnen/taalregels-en-grammatica.md
  packages/astro/docs/pages/richtlijnen/voor-wie-schrijven-we.md
  packages/astro/docs/pages/vragen.md
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore: replace SVG favicon with ICO favicon in layout
  packages/astro/public/favicon.ico
  packages/astro/public/favicon.svg
  packages/astro/src/layouts/Layout.astro
Due: none

chore: update heading classes to use 'utrecht' prefix and enhance mobile nav drawer with close button
  packages/astro/plugins/rehype-nlds-components/heading.ts
  packages/astro/src/assets/styles.css
  packages/astro/src/components/MobileNavDrawer.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

style(nav-list): update index.scss
  components/nav-list/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Update packages/component-library-react/src/NavListLinkButton.test.tsx
  packages/component-library-react/src/NavListLinkButton.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore(navbar): remove test case
  packages/component-library-react/src/NavListLinkButton.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore(nav-list): better var name
  components/nav-list/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

chore(nav-list): better alignment of search
  components/nav-list/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

chore: add actiongroup and searchwidget story
  packages/storybook-css/src/NavBar.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(nav-list): add current prop
  components/nav-list/src/index.scss
  packages/component-library-react/src/NavList.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: remove redundant story
  packages/storybook-css/src/NavBar.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: use aria-labelledby with heading for NavBar landmark accessibility
  components/nav-bar/src/_mixin.scss
  components/nav-bar/src/index.scss
  packages/component-library-react/src/NavBar.test.tsx
  packages/component-library-react/src/NavBar.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: add tests for NavBar
  packages/component-library-react/src/NavBar.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(nav-bar): change div to nav element
  packages/component-library-react/src/NavBar.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: add tests
  packages/component-library-react/src/NavList.test.tsx
  packages/component-library-react/src/NavListLink.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add inlineSizeAuto prop to NavList for auto width sizing
  components/nav-list/src/index.scss
  packages/component-library-react/src/NavList.test.tsx
  packages/component-library-react/src/NavList.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add current active item prop and styling
  components/nav-list/src/index.scss
  packages/component-library-react/src/NavList.tsx
  packages/storybook-css/src/NavBar.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
