Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": "markdownlint",
  "*.{js,json,jsx,mdx,ts,tsx}": "eslint --no-error-on-unmatched-pattern",
  "*.{css,scss}": "stylelint --allow-empty-input"
}

build(deps-dev): install npm-check-updates
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

build(deps-dev): upgrade to webpack 5 for Storybook
  package-lock.json
  package.json
  packages/storybook/.storybook/main.js
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

build(deps-dev): minor updates
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  components/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

fix: use correct casing in form.io package
  packages/component-library-formio/README.md
  packages/component-library-formio/src/index.ts
Due: markdownlint, eslint --no-error-on-unmatched-pattern

feat: submit button
  components/button/stencil.stories.mdx
  components/button/stencil.tsx
Due: eslint --no-error-on-unmatched-pattern

feat: add autocomplete/required/type properties to form-field-textbox
  components/form-field-textbox/stencil.stories.mdx
  components/form-field-textbox/stencil.tsx
Due: eslint --no-error-on-unmatched-pattern

refactor: extend `form-field`
  components/form-field-checkbox-group/bem.stories.mdx
  components/form-field-checkbox/bem.scss
  components/form-field-checkbox/bem.stories.mdx
  components/form-field-checkbox/stencil.tsx
  components/form-field/bem.scss
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: submit button story
  components/button/stencil.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

feat: form-field-textarea web component
  components/form-field-textarea/stencil.scss
  components/form-field-textarea/stencil.stories.mdx
  components/form-field-textarea/stencil.tsx
  components/form-field-textbox/stencil.stories.mdx
  packages/component-library-formio/src/index.ts
  packages/web-component-library-angular/src/index.module.ts
  packages/web-component-library-stencil/stencil.config.ts
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: README story names
  components/form-field-textbox/readme.stories.mdx
  components/textbox/readme.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

feat: support more properties for textbox
  components/form-field-textbox/stencil.stories.mdx
  components/form-field-textbox/stencil.tsx
  components/textbox/bem.stories.mdx
  components/textbox/html.scss
  components/textbox/readme.stories.mdx
  components/textbox/stencil.stories.mdx
  components/textbox/stencil.tsx
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: add .idea to .gitignore
  .gitignore
Due: none

feat: Style Dictionary formatter for Figma Tokens JSON
  proprietary/design-tokens/src/figma-tokens-formatter.js
  proprietary/design-tokens/src/style-dictionary-config.js
Due: eslint --no-error-on-unmatched-pattern

tmp: example output
  proprietary/design-tokens/dist/figma-tokens.json
Due: eslint --no-error-on-unmatched-pattern

tmp: include new tokens
  proprietary/design-tokens/dist/figma-tokens.json
Due: eslint --no-error-on-unmatched-pattern

docs: fix example code for form.io
  packages/component-library-formio/README.md
Due: markdownlint

docs: remove `label` from textbox Story
  components/textbox/stencil.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

docs: fix `control: "array"` issues
  components/alternate-lang-nav/stories.mdx
  components/breadcrumb/bem.stories.mdx
  components/breadcrumb/stencil.stories.mdx
  components/button/stencil.stories.mdx
  components/form-field-checkbox-group/bem.stories.mdx
  components/nav-top/bem.stories.mdx
  components/navigatie sidenav/bem.stories.mdx
  components/navigatie topnav/bem.stories.mdx
  components/select/bem.stories.mdx
  components/select/html.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

docs: improve default story arguments
  components/alternate-lang-link/bem.stories.mdx
  components/alternate-lang-link/html.stories.mdx
  components/blockquote/bem.stories.mdx
  components/button/bem.stories.mdx
  components/button/html.stories.mdx
  components/emphasis/bem.stories.mdx
  components/emphasis/html.stories.mdx
  components/form-field-checkbox/stencil.stories.mdx
  components/form-field-description/bem.stories.mdx
  components/form-fieldset/bem.stories.mdx
  components/form-fieldset/html.stories.mdx
  components/link/bem.stories.mdx
  components/mapcontrolbutton/bem.stories.mdx
  components/pagination/bem.stories.mdx
  components/paragraph/bem.stories.mdx
  components/paragraph/stencil.stories.mdx
  components/select/bem.stories.mdx
  components/textbox/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

fix: no margins on headings and paragraphs by default
  components/heading-1/bem.css
  components/heading-2/bem.css
  components/heading-3/bem.css
  components/heading-4/bem.css
  components/heading-5/bem.css
  components/heading-6/bem.css
  components/paragraph/bem.css
Due: stylelint --allow-empty-input

feat: contact card template
  components/templates/contact-card-template/bem.scss
  components/templates/contact-card-template/bem.stories.mdx
  components/templates/contact-card-template/stencil.scss
  components/templates/contact-card-template/stencil.stories.mdx
  components/templates/contact-card-template/stencil.tsx
  packages/web-component-library-angular/src/index.module.ts
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input
