Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

chore: update pnpm lock
  pnpm-lock.yaml
Due: none

chore: update components
  packages/component-library-react/tsconfig.test.tsbuildinfo
  packages/web-component-library-stencil/src/components.d.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: updated dev dependency rollup/plugin-json
  packages/component-library-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

chore: add missing variables (empty)
  packages/storybook-helpers/src/storybook-theme.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: set dependency back for Angular
  packages/component-library-angular/package.json
  packages/storybook-angular/package.json
  packages/web-component-library-angular/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

chore: new patch for stencil core 4.8.2
  package.json
  patches/@stencil__core@4.8.2.patch
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

chore: revert storybook-react dependencies
  packages/storybook-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

chore: dependencies update minor
  components/icon/package.json
  components/package.json
  documentation/package.json
  package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/docusaurus/package.json
  packages/storybook-angular/package.json
  packages/storybook-css/package.json
  packages/storybook-helpers/package.json
  packages/storybook-html/package.json
  packages/storybook-react/package.json
  packages/storybook-vue/package.json
  packages/storybook-web-component/package.json
  packages/storybook/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: add zone.js to ignore file minor
  .ncurc.minor.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: rechecked minor update
  package.json
  packages/component-library-vue/package.json
  packages/docusaurus/package.json
  packages/storybook-angular/package.json
  packages/storybook-css/package.json
  packages/storybook-html/package.json
  packages/storybook-vue/package.json
  packages/storybook-web-component/package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

chore: update major name various
  .ncurc.major.js
  .ncurc.minor.js
  components/package.json
  documentation/package.json
  package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/design-system-website/package.json
  packages/docusaurus/package.json
  packages/storybook-angular/package.json
  packages/storybook-css/package.json
  packages/storybook-helpers/package.json
  packages/storybook-html/package.json
  packages/storybook-react/package.json
  packages/storybook-vue/package.json
  packages/storybook-web-component/package.json
  packages/storybook/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: minor update
  components/package.json
  documentation/package.json
  package.json
  packages/component-library-angular/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/docusaurus/package.json
  packages/storybook-angular/package.json
  packages/storybook-css/package.json
  packages/storybook-helpers/package.json
  packages/storybook-html/package.json
  packages/storybook-vue/package.json
  packages/storybook-web-component/package.json
  packages/storybook/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

chore: storybook react WIP
  packages/storybook-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: revert nrwl packages
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

chore: fix stencil version
  .ncurc.minor.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: add missing lint script vue?
  packages/component-library-vue/package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: fix stylelint rules
  .stylelintrc.json
Due: none

chore: update minor packages and migrate nx
  components/package.json
  documentation/package.json
  migrations.json
  package.json
  packages/component-library-react/package.json
  packages/component-library-react/tsconfig.test.tsbuildinfo
  packages/component-library-vue/package.json
  packages/design-system-website/project.json
  packages/docusaurus/project.json
  packages/storybook-angular/package.json
  packages/storybook-angular/project.json
  packages/storybook-css/package.json
  packages/storybook-css/project.json
  packages/storybook-helpers/package.json
  packages/storybook-html/package.json
  packages/storybook-html/project.json
  packages/storybook-react/package.json
  packages/storybook-react/project.json
  packages/storybook-vue/package.json
  packages/storybook-vue/project.json
  packages/storybook-web-component/package.json
  packages/storybook-web-component/project.json
  packages/storybook/package.json
  packages/storybook/project.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

chore: ignore nrwl workspace and web
  .gitignore
  .ncurc.major.js
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  pnpm-lock.yaml
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: rolled back problematic updates
  packages/component-library-angular/package.json
  packages/component-library-vue/package.json
  packages/storybook-angular/package.json
  packages/storybook-react/package.json
  packages/web-component-library-angular/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

chore: make error messages go away
  packages/component-library-angular/tsconfig.spec.json
  packages/docusaurus/docusaurus.config.js
  packages/storybook-react/babel.config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: add .nx/cache to gitignore
  .gitignore
Due: none

chore: update Angular
  packages/storybook-angular/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

chore: copy tsconfig
  packages/storybook-angular/angular.json
  packages/storybook-angular/tsconfig.prod.json
  packages/storybook-angular/tsconfig.spec.json
Due: none

chore: update TypeScript
  packages/component-library-angular/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

chore: downgrade TypeScript
  packages/component-library-angular/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

chore: removed "jest-preset-angular": "12.2.6"
  packages/component-library-angular/package.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: change dependabot review team
  .github/dependabot.yml
Due: none

ci: change lockfile review team
  .github/CODEOWNERS
Due: none

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: update angular from component-library-angular
  packages/component-library-angular/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

chore: fix webpack build error for storybook-angular
  packages/storybook-angular/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

docs: add more i18n stories to badge counter
  packages/storybook-css/src/BadgeCounter.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: nieuwsbrieven svg icon
  components/icon/src/svg/nieuwsbrieven.svg
  packages/storybook/stories/icon/icon-gallery-toptask.stories.mdx
  packages/storybook/stories/icon/icon-gallery.stories.mdx
  packages/web-component-library-stencil/src/components.d.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern
