Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

build(dev-deps): install `@stencil/angular-output-target`
  package-lock.json
  packages/web-component-library-stencil/package.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: revert allow tmp branch publishing
  lerna.json
Due: none

docs(release): design system packages
  packages/component-library-css/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Update styling :focus
  proprietary/design-tokens/src/common/utrecht/focus.style-dictionary.json
Due: none

Add the real focus to the topnav
  components/navigatie topnav/bem.scss
  components/navigatie topnav/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

Update styling :focus (#230)
  proprietary/design-tokens/src/common/utrecht/focus.style-dictionary.json
Due: none

Add the real focus to the topnav (#231)
  components/navigatie topnav/bem.scss
  components/navigatie topnav/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

Update bem.scss
  components/navigatie topnav/bem.scss
Due: none

Update bem.scss (#232)
  components/navigatie topnav/bem.scss
Due: none

docs: design token docs
  proprietary/design-tokens/README.md
Due: markdownlint

docs: update README with packages from cdn
  README.md
Due: markdownlint

ci: configure ESLint for Design Tokens package
  proprietary/design-tokens/.eslintrc.json
Due: none

feat: design tokens get CSS `@property` output from Style Dictionary
  proprietary/design-tokens/package.json
  proprietary/design-tokens/src/css-property-formatter.js
  proprietary/design-tokens/src/style-dictionary-config.js
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

feat: CSS property definitions in Style Dictionary JSON
  components/article/block.style-dictionary.json
  components/badge-data/block.style-dictionary.json
  components/badge-status/block.style-dictionary.json
  components/badge/block.style-dictionary.json
  components/blockquote/block.style-dictionary.json
  components/blockquote/element.style-dictionary.json
  components/button/block.style-dictionary.json
  components/button/modifier.style-dictionary.json
  components/document/block.style-dictionary.json
  components/emphasis/modifier.style-dictionary.json
  components/feedback/block.style-dictionary.json
  components/feedback/modifier.style-dictionary.json
  components/focus/block.style-dictionary.json
  components/form-field-radio-group/block.style-dictionary.json
  components/form-field/block.style-dictionary.json
  components/form-fieldset/block.style-dictionary.json
  components/form-fieldset/element.style-dictionary.json
  components/form-label/block.style-dictionary.json
  components/form-label/modifier.style-dictionary.json
  components/heading/block.style-dictionary.json
  components/link/block.style-dictionary.json
  components/link/modifier.style-dictionary.json
  components/mapcontrolbutton/block.style-dictionary.json
  components/mapcontrolbutton/modifier.style-dictionary.json
  components/page-footer/block.style-dictionary.json
  components/paragraph/block.style-dictionary.json
  components/paragraph/modifier.style-dictionary.json
  components/separator/block.style-dictionary.json
  components/space/modifier.style-dictionary.json
  components/table/block.style-dictionary.json
  components/table/element-modifier.style-dictionary.json
  components/textarea/block.style-dictionary.json
  components/textarea/modifier.style-dictionary.json
  components/textbox/block.style-dictionary.json
  components/textbox/modifier.style-dictionary.json
  components/unordered-list/block.style-dictionary.json
  components/unordered-list/element.style-dictionary.json
Due: none

feat: enable CSS Houdini in Storybook
  packages/storybook/.storybook/preview.js
Due: eslint --no-error-on-unmatched-pattern

feat: Storybook Design Token addon `@presenter` output from Style Dictionary
  proprietary/design-tokens/src/storybook-design-token-formatter.js
  proprietary/design-tokens/src/style-dictionary-config.js
Due: eslint --no-error-on-unmatched-pattern

docs: button component design token documentation
  components/button/bem.stories.mdx
  components/button/design-token.css
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: fix npm package name
  proprietary/design-tokens/README.md
Due: markdownlint

docs: CSS `@property` for design tokens
  proprietary/design-tokens/README.md
Due: markdownlint

WIP
  components/button/bem.stories.mdx
  packages/storybook/.storybook/preview.js
  proprietary/design-tokens/src/storybook-design-token-formatter.js
  proprietary/design-tokens/src/style-dictionary-config.js
Due: eslint --no-error-on-unmatched-pattern

docs: remove template docs
  README.md
Due: markdownlint

docs: improve contributing instructions
  README.md
Due: markdownlint

docs: fix npm package name
  README.md
  proprietary/design-tokens/README.md
Due: markdownlint

build(deps-dev): bump markdownlint-cli from 0.27.1 to 0.28.1
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
