Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs(release): design system packages
  components/package.json
  packages/component-library-css/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

refactor: simplify BEM structure of sidenav
  components/navigatie sidenav/bem.scss
  components/navigatie sidenav/bem.stories.mdx
  components/navigatie sidenav/stencil.tsx
  components/navigatie topnav/bem.scss
  components/navigatie topnav/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

fixup! refactor: simplify BEM structure of sidenav
  components/navigatie sidenav/bem.scss
Due: none

🎉 Documentatie toegevoegd
  components/link/docs/ux-guidelines.md
  components/link/docs/ux-guidelines.stories.mdx
Due: markdownlint, eslint --no-error-on-unmatched-pattern

🎉 Documentatie toegevoegd (#297)
  components/link/docs/ux-guidelines.md
  components/link/docs/ux-guidelines.stories.mdx
Due: markdownlint, eslint --no-error-on-unmatched-pattern

feat: form field description component
  components/form-field-description/README.md
  components/form-field-description/bem.scss
  components/form-field-description/bem.stories.mdx
  components/form-field-description/block.style-dictionary.json
  components/form-field-description/modifier.style-dictionary.json
  components/form-field-description/readme.stories.mdx
  components/form-field-description/stencil.stories.mdx
  components/form-field-description/stencil.tsx
  packages/web-component-library-angular/src/index.module.ts
Due: markdownlint, eslint --no-error-on-unmatched-pattern

ci: start linting SCSS files too
  .lintstagedrc.json
  .stylelintrc.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

build(deps-dev): install stylelint-scss
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: resolve SCSS linting errors
  components/breadcrumb/bem.scss
  components/form-fieldset/html.scss
  components/link-social/bem.scss
  components/navigatie sidenav/bem.scss
  components/paragraph/html.scss
  components/table/html.scss
  components/textbox/html.scss
Due: none

build(deps-dev): install and configure stylelint-order
  .stylelintrc.json
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: order CSS properties alphabetically
  components/blockquote/bem.css
  components/breadcrumb/bem.scss
  components/button/bem.scss
  components/checkbox/bem.css
  components/focus/_bem.scss
  components/form-field-checkbox-group/bem.css
  components/form-field-checkbox/bem.css
  components/form-field-description/bem.scss
  components/form-field-radio-group/bem.css
  components/form-field-radio/bem.css
  components/form-fieldset/bem.css
  components/form-fieldset/html.scss
  components/form-label/bem.css
  components/heading-1/bem.css
  components/heading-2/bem.css
  components/heading-3/bem.css
  components/heading-4/bem.css
  components/heading-5/bem.css
  components/heading-6/bem.css
  components/icon/stencil.css
  components/link-social/bem.scss
  components/link/bem.scss
  components/logo/bem.css
  components/mapcontrolbutton/bem.scss
  components/menulijst/bem.scss
  components/nav-top/bem.css
  components/navigatie sidenav/bem.scss
  components/navigatie topnav/bem.scss
  components/page-footer/bem.css
  components/pagination/bem.scss
  components/paragraph/bem.css
  components/radio-button/bem.css
  components/separator/bem.css
  components/static/storybook.css
  components/table/bem.css
  components/textbox/bem.scss
  components/unordered-list/bem.css
  packages/storybook/src/style/storybook.css
Due: stylelint --allow-empty-input

fix: errors in CSS component code snippets
  components/alternate-lang-link/bem.stories.mdx
  components/alternate-lang-nav/stories.mdx
  components/blockquote/bem.stories.mdx
  components/breadcrumb/bem.stories.mdx
  components/form-field-radio-group/bem.stories.mdx
  components/mapcontrolbutton/bem.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

docs: fix Heading 6 readme in Storybook
  components/heading-6/readme.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

form-Select
  components/form-select/README.md
  components/form-select/bem.scss
  components/form-select/block.style-dictionary.json
  components/form-select/html.scss
  components/form-select/html.stories.mdx
  components/form-select/modifier.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/select/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/select/modifier.style-dictionary.json
Due: markdownlint, eslint --no-error-on-unmatched-pattern

Improvements to Form Select component
  components/form-select/README.md
  components/form-select/bem.scss
  components/form-select/block.style-dictionary.json
  components/form-select/html.scss
  components/form-select/html.stories.mdx
  components/form-select/modifier.style-dictionary.json
  components/select/README.md
  components/select/bem.scss
  components/select/bem.stories.mdx
  components/select/block.style-dictionary.json
  components/select/html.scss
  components/select/html.stories.mdx
  components/select/modifier.style-dictionary.json
  components/select/readme.stories.mdx
  proprietary/design-tokens/src/arrow-dropdown.svg
  proprietary/design-tokens/src/component/utrecht/form-input/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/select/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/textbox/block.style-dictionary.json
  proprietary/design-tokens/src/custom.scss
Due: markdownlint, eslint --no-error-on-unmatched-pattern

feat: add `@utrecht/web-component-library-vue` to workspace
  package-lock.json
  packages/web-component-library-vue/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build(deps-dev): install `@stencil/vue-output-target`
  package-lock.json
  packages/web-component-library-stencil/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: Vue.js 3 web component library
  .eslintignore
  .prettierignore
  package-lock.json
  packages/web-component-library-stencil/stencil.config.ts
  packages/web-component-library-vue/.gitignore
  packages/web-component-library-vue/package.json
  packages/web-component-library-vue/tsconfig.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

fix: patch Vue.js output library to not lowercase event names
  packages/web-component-library-stencil/patch-vue.ts
  packages/web-component-library-stencil/stencil.config.ts
Due: eslint --no-error-on-unmatched-pattern

fix: use Prop instead of State to fix form bindings
  components/checkbox/stencil.tsx
  components/form-field-textbox/stencil.tsx
  components/textbox/stencil.tsx
Due: eslint --no-error-on-unmatched-pattern

docs: Vue.js component libary readme
  documentation/vue-component.stories.mdx
  packages/web-component-library-vue/README.md
Due: markdownlint, eslint --no-error-on-unmatched-pattern

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
