Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: container svg name and more icons added
  components/icon/src/svg/afval-container.svg
  components/icon/src/svg/afval-containerpas.svg
  components/icon/src/svg/afval-scheiden.svg
  components/icon/src/svg/brandgevaar.svg
  components/icon/src/svg/container-bio.svg
  components/icon/src/svg/containerpas.svg
  components/icon/src/svg/dementie copy 3.svg
  components/icon/src/svg/eikenprocessie.svg
  components/icon/src/svg/energietransitie.svg
  components/icon/src/svg/horeca.svg
  components/icon/src/svg/hulp-huishouden.svg
  components/icon/src/svg/kerstbomen.svg
  components/icon/src/svg/markt.svg
  components/icon/src/svg/natuur.svg
  components/icon/src/svg/openingstijden.svg
  components/icon/src/svg/parkeren-betalen.svg
  components/icon/src/svg/stookverbod.svg
  components/icon/src/svg/vaccinatie.svg
  components/icon/src/svg/vergoeding.svg
  components/icon/src/svg/verslaving.svg
Due: none

fix: for icons pull
  packages/web-component-library-angular/src/index.module.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: create custom icon gallery component
  documentation/components/CustomIcomGallery/index.jsx
  documentation/components/CustomIcomGallery/index.scss
  package-lock.json
  packages/storybook/stories/icon/icon-gallery.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: update the storybook tokens
  components/link-social/tokens.json
Due: none

fix: remove unnecessarily tokens
  components/link-social/css/index.scss
  components/link-social/css/stories/tokens.stories.mdx
  proprietary/design-tokens/src/component/utrecht/link-social.tokens.json
Due: prettier --check, stylelint --allow-empty-input

feat: improve link social component
  components/link-social/css/index.scss
  components/link-social/css/stories/tokens.stories.mdx
  components/link-social/tokens.json
  proprietary/design-tokens/src/component/utrecht/link-social.tokens.json
Due: prettier --check, stylelint --allow-empty-input

fix: toptask icon size
  proprietary/design-tokens/src/component/utrecht/toptask-link.tokens.json
Due: none

fix: new icons and size showcase on toptasks buttons
  components/toptask-nav/css/template.js
  packages/storybook/stories/icon/icon-gallery.stories.mdx
  proprietary/design-tokens/src/component/utrecht/toptask-link.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: error in icon stories
  packages/storybook/stories/icon/icon-gallery.stories.mdx
Due: none

fix: toptask icon-size: value to 2,25rem (36px)
  proprietary/design-tokens/src/component/utrecht/toptask-link.tokens.json
Due: none

fix: toptask icon size (#1041)
  components/toptask-nav/css/template.js
  packages/storybook/stories/icon/icon-gallery.stories.mdx
  proprietary/design-tokens/src/component/utrecht/toptask-link.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(design): design richtlijnen toegevoegd
  documentation/website/designrichtlijnen/designrichtlijnen-algemeen.md
  documentation/website/designrichtlijnen/designrichtlijnen-commonground.md
  documentation/website/designrichtlijnen/designrichtlijnen-gebruikercentraal.md
  documentation/website/designrichtlijnen/designrichtlijnen-utrechtdesignsystem.md
  documentation/website/designrichtlijnen/designrichtlijnen-uxprincipes.md
  standalone/docusaurus/navigationConfig.js
  standalone/docusaurus/sidebarConfig.js
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(design): design richtlijnen toegevoegd (#1042)
  documentation/website/designrichtlijnen/designrichtlijnen-algemeen.md
  documentation/website/designrichtlijnen/designrichtlijnen-commonground.md
  documentation/website/designrichtlijnen/designrichtlijnen-gebruikercentraal.md
  documentation/website/designrichtlijnen/designrichtlijnen-utrechtdesignsystem.md
  documentation/website/designrichtlijnen/designrichtlijnen-uxprincipes.md
  standalone/docusaurus/navigationConfig.js
  standalone/docusaurus/sidebarConfig.js
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

build: make web components available in Docusaurus
  standalone/docusaurus/package-lock.json
  standalone/docusaurus/package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: use lowercase filename for icons
  components/icon/src/svg/vervoersvoorziening.svg
Due: none

chore: remove unused file from Stencil experiment
  components/icon/svgo.config.mjs
Due: none

fix: rename icon with incorrect name to `blad`
  components/icon/src/svg/blad.svg
  packages/web-component-library-angular/src/index.module.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: remove `style` attributes from SVG icons
  components/icon/src/svg/milieu-ontheffing.svg
  components/icon/src/svg/omgevingswet.svg
  components/icon/src/svg/openingstijden.svg
  components/icon/src/svg/zwemmen.svg
Due: none

feat: include `dist/index.json` in icons build
  components/icon/CONTRIBUTING.md
  components/icon/README.md
  components/icon/src/build.js
  components/icon/src/component_templates.js
  components/icon/web-component/stories/default.stories.mdx
  components/mapcontrolbutton/css/stories/01-default.stories.mdx
  components/toptask-link/css/stories/default.stories.mdx
  packages/storybook/stories/icon/icon-gallery.stories.mdx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: take the svgo config back and remove unused stencil config
  components/icon/stencil.config.ts
  components/icon/svgo.config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
