Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: move documentation to own npm package
  .storybook/main.js
  documentation/accessibility.md
  documentation/colours.md
  documentation/colours.stories.mdx
  documentation/content-richtlijnen.md
  documentation/content.stories.mdx
  documentation/form-patterns.md
  documentation/introductie.md
  documentation/introduction.stories.mdx
  documentation/package-lock.json
  documentation/package.json
  documentation/permission.stories.mdx
  documentation/research.md
  documentation/research.stories.mdx
  documentation/research_0001.md
  documentation/research_0001.stories.mdx
  documentation/utils.js
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, eslint --no-error-on-unmatched-pattern

build: upgrade to npm 7 / lerna 4 / Node.js 16 and use workspaces
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  lerna.json
  package-lock.json
  package.json
  packages/component-library/package-lock.json
Due: npmPkgJsonLint --allowEmptyTargets

Update nav
  proprietary/design-tokens/brand/color.css
  proprietary/design-tokens/component/navigatie.css
  src/navigatie/index.css
  src/navigatie/stories.mdx
Due: stylelint --allow-empty-input

Update index.css
  src/navigatie/index.css
Due: stylelint --allow-empty-input

update nav
  proprietary/design-tokens/component/navigatie.css
  src/navigatie/index.css
  src/navigatie/stories.mdx
Due: stylelint --allow-empty-input

Refactor GitHub Pages deploy to use GitHub Action
  .github/workflows/cd.yml
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: run CI scripts for both root package and workspaces
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

refactor: move Storybook to own package
  .github/workflows/cd.yml
  package-lock.json
  package.json
  packages/storybook/.storybook/customTheme.js
  packages/storybook/.storybook/main.js
  packages/storybook/.storybook/manager.js
  packages/storybook/.storybook/preview-head.html
  packages/storybook/.storybook/preview.js
  packages/storybook/package-lock.json
  packages/storybook/package.json
  packages/storybook/src/style/storybook.css
  proprietary/.npmpackagejsonlintrc.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

ci: rely on npm workspaces for linting all packages
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: format files using Prettier
  documentation/research.md
  documentation/research_0001.md
  lerna.json
  packages/storybook/.storybook/preview.js
  src/button/button-html.stories.mdx
Due: markdownlint, eslint --no-error-on-unmatched-pattern

ci: enable Prettier linting
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

Update topnav
  proprietary/design-tokens/brand/color.css
  proprietary/design-tokens/component/navigatie.css
  src/navigatie/index.css
  src/navigatie/stories.mdx
Due: stylelint --allow-empty-input

Update BG topnav
  proprietary/design-tokens/component/navigatie.css
  src/navigatie/stories.mdx
Due: stylelint --allow-empty-input

ci: monitor dependency updates with Dependabot
  .github/dependabot.yml
Due: none

docs: Use new Storybook addon feature for status description
  packages/storybook/.storybook/preview.js
Due: eslint --no-error-on-unmatched-pattern

chore: Rename "in development" status to "work in progress"
  components/blockquote/html.stories.mdx
  components/blockquote/stories.mdx
  components/button/button-html.stories.mdx
  components/button/button.stories.mdx
  components/favicon/stories.mdx
  components/form-field-checkbox/stories.mdx
  components/form-field-radio-group/stories.mdx
  components/form-field-radio/stories.mdx
  components/form-label/html.stories.mdx
  components/form-label/stories.mdx
  components/heading/html.stories.mdx
  components/heading/stories.mdx
  components/link/link-html.stories.mdx
  components/link/link.stories.mdx
  components/logo/README.md
  components/logo/logo.stories.mdx
  components/menulijst/README.md
  components/menulijst/menulijst.stories.mdx
  components/paragraph/html.stories.mdx
  components/paragraph/stories.mdx
  components/separator/html.stories.mdx
  components/separator/stories.mdx
  components/textarea/html.stories.mdx
  components/textbox/html.stories.mdx
  components/unordered-list/html.stories.mdx
  components/unordered-list/stories.mdx
  documentation/accessibility.md
  documentation/form-patterns.md
Due: markdownlint

ci: upgrade stylelint configuration to match breaking change
  .stylelintrc.json
Due: none

fix: remove accidentally included publish scripts
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: clean up npm workspace paths
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: make `npm run storybook` available in the root package again
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

:focus on button an link
  proprietary/design-tokens/component/button.css
  proprietary/design-tokens/component/link.css
  src/button/button.stories.mdx
  src/button/style.css
  src/link/link.stories.mdx
  src/link/style.css
Due: stylelint --allow-empty-input

docs: improve paragraph component docs
  components/paragraph/README.md
Due: markdownlint

docs: add pull requests description as basis for README
  components/blockquote/README.md
  components/form-label/README.md
  components/heading/README.md
  components/link/README.md
  components/separator/README.md
  components/unordered-list/README.md
Due: markdownlint

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
