Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

test: breadcrumb navigation in React
  packages/component-library-react/src/BreadcrumbNav.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add rel to breadcrumb link
  packages/component-library-react/src/BreadcrumbNav.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: required using `aria-required`
  components/form-field-description/README.md
  components/textbox/css/stories/_required.md
  components/textbox/css/stories/states.stories.mdx
Due: markdownlint, prettier --check

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

style: new border-radius tokens
  proprietary/design-tokens/src/common/utrecht/border.tokens.json
Due: none

docs: never use a link for side effects
  components/link/README.md
Due: markdownlint, prettier --check

docs: design of focus-visible link
  components/link/css/stories/state.stories.mdx
Due: none

docs: password and URL textbox
  components/textbox/css/stories/autocomplete.stories.mdx
  components/textbox/css/story-template.jsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: avoid redundant entry
  components/form-field/README.md
Due: markdownlint, prettier --check

docs: include Jest tests in React Storybook
  packages/component-library-react/package.json
  packages/storybook-react/config/main.js
  packages/storybook-react/config/preview.js
  packages/storybook-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: upgrade patch versions
  components/icon/package.json
  components/package.json
  documentation/package.json
  package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/docusaurus/package.json
  packages/storybook-angular/package.json
  packages/storybook-react/package.json
  packages/storybook-vue/package.json
  packages/storybook/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  patches/@stencil__core@2.17.4.patch
  patches/@storybook__angular@6.5.15.patch
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs: add missing form field template
  components/form-field/css/story-template.jsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: add peer dependencies for storybook-addon-html
  packages/storybook/config/main.js
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: update to new ProcessSteps API
  packages/storybook-react/src/stories/ProcessSteps/default.stories.mdx
  proprietary/design-tokens/src/component/den-haag/process-steps.tokens.json
Due: none

build: upgrade minor versions
  components/package.json
  documentation/package.json
  package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/docusaurus/package.json
  packages/storybook-angular/package.json
  packages/storybook-react/package.json
  packages/storybook-vue/package.json
  packages/storybook/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  patches/@stencil__core@2.20.0.patch
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: format code using new version of Prettier
  components/navigatie sidenav/css/index.scss
Due: prettier --check, stylelint --allow-empty-input

build: upgrade major versions
  components/icon/package.json
  package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/storybook-vue/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

refactor: use ES Modules for component-library-react
  packages/component-library-react/babel.config.mjs
  packages/component-library-react/jest.config.mjs
  packages/component-library-react/rollup.config.mjs
  packages/web-component-library-react/babel.config.mjs
  packages/web-component-library-react/rollup.config.mjs
Due: none

chore: switch to complex CSS :not syntax
  components/button/css/index.scss
  components/button/html/_mixin.scss
  components/mapcontrolbutton/css/index.scss
  components/navigatie sidenav/css/index.scss
Due: prettier --check, stylelint --allow-empty-input

ci: configure Prettier for .mjs files
  .prettierrc.json
  components/icon/svgo.config.mjs
  proprietary/design-tokens/build-stylelint.mjs
Due: none

ci: upgrade Jest config to new style
  packages/component-library-vue/jest.config.json
Due: none

chore: fix web component story IDs
  packages/storybook/stories/web-component/badge-counter/readme.stories.mdx
  packages/storybook/stories/web-component/digid-button/tokens.stories.mdx
  packages/storybook/stories/web-component/form-field-textbox/tokens.stories.mdx
Due: none

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
