Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: danger/warning/ready hint in React button component
  packages/component-library-react/src/Button.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages %v
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: button group component for React
  packages/component-library-react/src/ButtonGroup.tsx
  packages/component-library-react/src/index.ts
  packages/storybook-react/src/stories/ButtonGroup/ButtonGroup.stories.tsx
  packages/storybook-react/src/stories/ButtonGroup/argTypes.ts
  packages/storybook-react/src/stories/ButtonGroup/docs.stories.mdx
  packages/storybook-react/src/stories/ButtonGroup/token.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: pixels moved
  components/icon/src/svg/schild-gemeente-utrecht.svg
  components/icon/src/svg/verkeerslicht.svg
Due: none

fix: New icons (#1277)
  components/icon/src/svg/schild-gemeente-utrecht.svg
  components/icon/src/svg/verkeerslicht.svg
Due: none

feat(calendar-css): create calendar css component
  components/calendar/css/_mixin.scss
  components/calendar/css/index.scss
  components/index.scss
  proprietary/design-tokens/src/component/utrecht/calendar.tokens.json
Due: prettier --check, stylelint --allow-empty-input

feat(calendar-react): create calendar react component & storybook
  packages/component-library-react/package.json
  packages/component-library-react/src/Calendar/CalendarButton.tsx
  packages/component-library-react/src/Calendar/CalendarIcon.tsx
  packages/component-library-react/src/Calendar/CalendarNavigation.tsx
  packages/component-library-react/src/Calendar/CalendarNavigationButtons.tsx
  packages/component-library-react/src/Calendar/CalendarNavigationLabel.tsx
  packages/component-library-react/src/Calendar/CalendarTableDaysContainer.tsx
  packages/component-library-react/src/Calendar/CalendarTableDaysItem.tsx
  packages/component-library-react/src/Calendar/CalendarTableDaysItemDay.tsx
  packages/component-library-react/src/Calendar/CalendarTableWeeksContainer.tsx
  packages/component-library-react/src/Calendar/CalendarTableWeeksItem.tsx
  packages/component-library-react/src/Calendar/IconArrowLeft.tsx
  packages/component-library-react/src/Calendar/IconArrowLeftDouble.tsx
  packages/component-library-react/src/Calendar/IconArrowRight.tsx
  packages/component-library-react/src/Calendar/IconArrowRightDouble.tsx
  packages/component-library-react/src/Calendar/index.tsx
  packages/component-library-react/src/index.ts
  packages/storybook-react/src/stories/Calendar/Calendar.stories.tsx
  packages/storybook-react/src/stories/Calendar/argTypes.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build(docusaurus): install @babel/runtime as dev dependency
  packages/docusaurus/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

feat: add react Heading component for variable heading level
  packages/component-library-react/src/Heading.tsx
  packages/component-library-react/src/index.ts
  packages/storybook-react/src/stories/Heading/Heading.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: add missing date-fns dependency
  packages/storybook-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

ci: fix Docusaurus deployment
  .github/workflows/continuous-delivery.yml
Due: none

ci: restore `BASE_URL` for Docusaurus build
  .github/workflows/continuous-delivery.yml
Due: none

feat: add `line-height` token for textarea
  components/textarea/css/_mixin.scss
  components/textarea/tokens.json
  proprietary/design-tokens/src/component/utrecht/textarea.tokens.json
Due: prettier --check, stylelint --allow-empty-input

fix: harden textbox/textarea CSS against 3rd party styles
  components/textarea/css/_mixin.scss
  components/textbox/css/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

style: numeric textbox styling based on `pattern`
  components/textbox/css/index.scss
Due: prettier --check, stylelint --allow-empty-input

style: allow to use breadcrumb component overrides
  components/breadcrumb/css/_mixin.scss
  proprietary/design-tokens/src/component/utrecht/breadcrumb.tokens.json
Due: prettier --check, stylelint --allow-empty-input

fix(design-tokens): fix a typo
  proprietary/design-tokens/src/component/utrecht/calendar.tokens.json
Due: none

docs(calendar-css): add an example design tokens json
  components/calendar/tokens.json
Due: none

docs(calendar-react-storybook): add design tokens story
  packages/storybook-react/src/stories/Calendar/tokens.stories.mdx
Due: none

fix: errors in design tokens JSON
  components/heading/tokens.json
  components/search-bar/tokens.json
  proprietary/design-tokens/src/component/den-haag/process-steps.tokens.json
  proprietary/design-tokens/src/component/utrecht/custom-checkbox.tokens.json
  proprietary/design-tokens/src/component/utrecht/icon.tokens.json
  proprietary/design-tokens/src/component/utrecht/list-social.tokens.json
  proprietary/design-tokens/src/component/utrecht/unordered-list/block.tokens.json
  proprietary/design-tokens/src/component/utrecht/unordered-list/element.tokens.json
Due: none

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
