Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": "markdownlint",
  "*.{js,jsx,ts,tsx}": "eslint --no-error-on-unmatched-pattern",
  "*.css": "stylelint --allow-empty-input"
}

refactor: migrate design tokens from CSS to SCSS
  .storybook/preview.js
  proprietary/design-tokens/component/index.css
  proprietary/design-tokens/src/brand/_color.scss
  proprietary/design-tokens/src/brand/_index.scss
  proprietary/design-tokens/src/brand/_misc.scss
  proprietary/design-tokens/src/brand/_typography.scss
  proprietary/design-tokens/src/common/_document.scss
  proprietary/design-tokens/src/common/_index.scss
  proprietary/design-tokens/src/common/_space.scss
  proprietary/design-tokens/src/component/_blockquote.scss
  proprietary/design-tokens/src/component/_button.scss
  proprietary/design-tokens/src/component/_form.scss
  proprietary/design-tokens/src/component/_heading.scss
  proprietary/design-tokens/src/component/_index.scss
  proprietary/design-tokens/src/component/_link.scss
  proprietary/design-tokens/src/component/_menulijst.scss
  proprietary/design-tokens/src/component/_paragraph.scss
  proprietary/design-tokens/src/component/_separator.scss
  proprietary/design-tokens/src/component/_textarea.scss
  proprietary/design-tokens/src/component/_textbox.scss
  proprietary/design-tokens/src/component/_unordered-list.scss
  proprietary/design-tokens/src/index.scss
  proprietary/design-tokens/src/misc/_index.scss
  proprietary/design-tokens/src/misc/_responsive.scss
  proprietary/design-tokens/src/misc/_todo.scss
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

build: create npm package for design tokens
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  package.json
  proprietary/.npmpackagejsonlintrc.json
  proprietary/design-tokens/package-lock.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: add component library package
  src/component-library/package-lock.json
  src/component-library/package.json
  src/component-library/src/components.scss
  src/component-library/src/utrecht-theme.scss
Due: npmPkgJsonLint --allowEmptyTargets

build: switch to the `@utrecht` npm scope
  .npmpackagejsonlintrc.json
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: linting should ignore generated CSS files
  .stylelintignore
Due: none

ci: make component library package public
  .npmpackagejsonlintrc.json
  proprietary/.npmpackagejsonlintrc.json
  src/component-library/package.json
Due: npmPkgJsonLint --allowEmptyTargets

WIP
  lerna.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

fixup! WIP
  .github/workflows/cd.yml
Due: none

fixup! fixup! WIP
  .github/workflows/cd.yml
Due: none

debug choosing version automatically
  lerna.json
Due: none

fixup! fixup! fixup! WIP
  .github/workflows/cd.yml
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: upgrade to lerna 4
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

debug
  .github/workflows/cd.yml
Due: none

WIP
  .github/workflows/cd.yml
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs(release): monorepository packages
  src/component-library/package-lock.json
  src/component-library/package.json
Due: npmPkgJsonLint --allowEmptyTargets

WIP
  .github/workflows/cd.yml
Due: none

WIP
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: upgrade to npm 7 with workspaces and Node.js 16
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  lerna.json
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

refactor: move Storybook to separate package
  package-lock.json
  package.json
  packages/storybook/.storybook/customTheme.js
  packages/storybook/.storybook/main.js
  packages/storybook/.storybook/manager.js
  packages/storybook/.storybook/preview-head.html
  packages/storybook/.storybook/preview.js
  packages/storybook/package-lock.json
  packages/storybook/package.json
  packages/storybook/src/style/storybook.css
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: use GitHub action to deploy to GitHub pages
  .github/workflows/cd.yml
  packages/storybook/package-lock.json
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: remove unused imports
  src/button/button-html.stories.mdx
  src/button/button.stories.mdx
  src/form-field-checkbox/stories.mdx
  src/form-field-radio-group/stories.mdx
  src/form-field-radio/stories.mdx
  src/form-label/html.stories.mdx
  src/form-label/stories.mdx
  src/heading/html.stories.mdx
  src/heading/stories.mdx
  src/link/link-html.stories.mdx
  src/link/link.stories.mdx
  src/logo/logo.stories.mdx
  src/menulijst/menulijst.stories.mdx
  src/paragraph/html.stories.mdx
  src/paragraph/stories.mdx
  src/textarea/html.stories.mdx
  src/textbox/html.stories.mdx
  src/unordered-list/html.stories.mdx
  src/unordered-list/stories.mdx
Due: none

chore: move documentation to own npm package
  __stories__/2-colours.stories.mdx
  documentation/0-introduction.stories.mdx
  documentation/1-content.stories.mdx
  documentation/2-colours.stories.mdx
  documentation/3-permission.stories.mdx
  documentation/accessibility.md
  documentation/colours.md
  documentation/content-richtlijnen.md
  documentation/form-patterns.md
  documentation/introductie.md
  documentation/package-lock.json
  documentation/package.json
  documentation/utils.js
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, eslint --no-error-on-unmatched-pattern

fixup! build: upgrade to npm 7 with workspaces and Node.js 16
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

fixup! fixup! build: upgrade to npm 7 with workspaces and Node.js 16
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

WIP
  lerna.json
Due: none

component library package can be published publicly
  src/component-library/package.json
Due: npmPkgJsonLint --allowEmptyTargets
