Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

style: rename `breadcrumb.separator.icon.color` to `breadcrumb.separator.color`
  components/breadcrumb/css/_mixin.scss
  components/breadcrumb/tokens.json
  packages/storybook-css/src/BreadcrumbNav.stories.tsx
  packages/storybook-css/src/BreadcrumbNavAlternate.stories.tsx
  proprietary/design-tokens/src/component/utrecht/breadcrumb.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

ci: configure Stencil demo page `baseUrl` for GitHub Pages
  .github/workflows/continuous-delivery.yml
  packages/web-component-library-stencil/stencil.config.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

WIP
  packages/web-component-library-stencil/test/dist-custom-elements-esm.html
  packages/web-component-library-stencil/test/dist-custom-elements.html
  packages/web-component-library-stencil/test/dist.html
  packages/web-component-library-stencil/test/loader.html
Due: none

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs: add stories for breadcrumb nav with only link to homepage
  packages/storybook-css/src/BreadcrumbNav.stories.tsx
  packages/storybook-css/src/BreadcrumbNavAlternate.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: fix inert cursor of current disabled breadcrumb link
  components/breadcrumb/css/index.scss
Due: prettier --check, stylelint --allow-empty-input

style: add `font-weight` token to current breadcrumb link
  components/breadcrumb/css/_mixin.scss
  components/breadcrumb/tokens.json
Due: prettier --check, stylelint --allow-empty-input

style: apply `currentColor` to `<svg>` slotted in `<utrecht-icon>`
  components/icon/css/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

style: remove tooltip from SVG `<title>` element in `<utrecht-icon>`
  components/icon/css/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

WIP
  packages/component-library-react/src/BreadcrumbNav.tsx
  packages/web-component-library-stencil/src/components/breadcrumb.scss
  packages/web-component-library-stencil/src/components/breadcrumb.tsx
  packages/web-component-library-stencil/src/index.html
  packages/web-component-library-stencil/src/loader.html
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: multiline data component
  components/index.scss
  components/multiline-data/README.md
  components/multiline-data/css/_mixin.scss
  components/multiline-data/css/index.scss
  components/multiline-data/tokens.json
  packages/component-library-react/src/MultilineData.tsx
  packages/component-library-react/src/css-module/MultilineData.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/storybook-css/src/MultilineData.stories.tsx
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/multiline-data.scss
  packages/web-component-library-stencil/src/components/multiline-data.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: column layout component
  components/column-layout/README.md
  components/column-layout/css/_mixin.scss
  components/column-layout/css/index.scss
  components/column-layout/tokens.json
  components/index.scss
  packages/component-library-react/src/ColumnLayout.tsx
  packages/component-library-react/src/css-module/ColumnLayout.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/storybook-css/src/ColumnLayout.stories.tsx
  packages/storybook-web-component/src/ColumnLayout.stories.tsx
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/column-layout.scss
  packages/web-component-library-stencil/src/components/column-layout.tsx
  proprietary/design-tokens/src/component/utrecht/column-layout.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: data-list web component
  components/data-list/css/_mixin.scss
  components/data-list/css/index.scss
  packages/storybook-web-component/src/DataList.stories.tsx
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/data-list-actions.scss
  packages/web-component-library-stencil/src/components/data-list-actions.tsx
  packages/web-component-library-stencil/src/components/data-list-item.scss
  packages/web-component-library-stencil/src/components/data-list-item.tsx
  packages/web-component-library-stencil/src/components/data-list-key.scss
  packages/web-component-library-stencil/src/components/data-list-key.tsx
  packages/web-component-library-stencil/src/components/data-list-value.scss
  packages/web-component-library-stencil/src/components/data-list-value.tsx
  packages/web-component-library-stencil/src/components/data-list.scss
  packages/web-component-library-stencil/src/components/data-list.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: add right-to-left stories to data list
  packages/storybook-css/src/DataList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: avoid break inside columns
  components/accordion/css/_mixin.scss
  components/data-list/css/_mixin.scss
  components/form-field/css/_mixin.scss
  components/form-fieldset/css/_mixin.scss
  components/heading/css/_mixin.scss
  components/table/css/_mixin.scss
  components/url/css/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

build: install minor updates
  components/package.json
  documentation/package.json
  package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-react/tsconfig.test.tsbuildinfo
  packages/component-library-vue/package.json
  packages/docusaurus/package.json
  packages/storybook-angular/package.json
  packages/storybook-css/package.json
  packages/storybook-helpers/package.json
  packages/storybook-html/package.json
  packages/storybook-react/package.json
  packages/storybook-vue/package.json
  packages/storybook-web-component/package.json
  packages/storybook/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: export types in React component-library
  packages/component-library-react/src/Accordion.tsx
  packages/component-library-react/src/BreadcrumbNav.tsx
  packages/component-library-react/src/ButtonGroup.tsx
  packages/component-library-react/src/VegaVisualization.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: consistently import from `component-library-react` and use `import type`
  packages/storybook-css/src/AlertDialog.stories.tsx
  packages/storybook-css/src/AlternateLangNav.tsx
  packages/storybook-css/src/Backdrop.stories.tsx
  packages/storybook-css/src/ButtonLink.stories.tsx
  packages/storybook-css/src/Code.stories.tsx
  packages/storybook-css/src/CodeBlock.stories.tsx
  packages/storybook-css/src/DataPlaceholder.stories.tsx
  packages/storybook-css/src/Document.stories.tsx
  packages/storybook-css/src/Figure.stories.tsx
  packages/storybook-css/src/FormFieldDescription.stories.tsx
  packages/storybook-css/src/FormFieldset.stories.tsx
  packages/storybook-css/src/Icon.stories.tsx
  packages/storybook-css/src/IndexCharNav.stories.tsx
  packages/storybook-css/src/Link.stories.tsx
  packages/storybook-css/src/Link.tsx
  packages/storybook-css/src/LinkButton.tsx
  packages/storybook-css/src/LinkList.tsx
  packages/storybook-css/src/LinkSocial.stories.tsx
  packages/storybook-css/src/ListSocial.stories.tsx
  packages/storybook-css/src/LogoButton.stories.tsx
  packages/storybook-css/src/MapControlButton.stories.tsx
  packages/storybook-css/src/Mark.stories.tsx
  packages/storybook-css/src/MultilineData.stories.tsx
  packages/storybook-css/src/OrderedList.stories.tsx
  packages/storybook-css/src/RadioButton.stories.tsx
  packages/storybook-css/src/Select.stories.tsx
  packages/storybook-css/src/SkipLink.stories.tsx
  packages/storybook-css/src/Table.stories.tsx
  packages/storybook-css/src/Textarea.stories.tsx
  packages/storybook-css/src/Textbox.stories.tsx
  packages/storybook-css/src/TopNav.stories.tsx
  packages/storybook-css/src/ToptaskLink.stories.tsx
  packages/storybook-css/src/URLValue.stories.tsx
  packages/storybook-css/src/accordion/Accordion.tsx
  packages/storybook-css/src/util/ExampleMarkMatches.tsx
  packages/storybook-css/src/util/useFullscreenButton.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern
