Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: refactor spacing-matrix build script to work with ESM and new file structure
  components/rich-text/package.json
  components/rich-text/src/getSpacingCSS.mjs
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: replace fs/path with node:fs/node:path per Sonar recommendation
  components/rich-text/src/getSpacingCSS.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(astro): implement mobile drawer
  packages/astro/package.json
  packages/astro/src/components/MobileNavDrawer.tsx
  packages/astro/src/layouts/Layout.astro
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: update pnpm-lock
  pnpm-lock.yaml
Due: none

feat: astro responsive nav (#2979)
  packages/astro/package.json
  packages/astro/src/components/MobileNavDrawer.tsx
  packages/astro/src/layouts/Layout.astro
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat(astro): implement flex-wrap-fallback
  packages/astro/src/layouts/Layout.astro
Due: none

feat(astro): implement mobile drawer
  packages/astro/src/layouts/Layout.astro
  pnpm-lock.yaml
Due: none

chore(astro): rework navigation and content structure
  packages/astro/README.md
  packages/astro/docs/components/button.mdx
  packages/astro/docs/components/link.mdx
  packages/astro/pages/design-system/_index.mdx
  packages/astro/pages/developer/_index.md
  packages/astro/pages/developer/tokens.md
  packages/astro/src/content.config.ts
  packages/astro/src/layouts/ContentPage.astro
  packages/astro/src/layouts/Layout.astro
  packages/astro/src/layouts/NavigationPage.astro
  packages/astro/src/pages/[...slug].astro
  packages/astro/src/pages/componenten/[slug].astro
  packages/astro/src/pages/componenten/iconen/index.astro
  packages/astro/src/pages/componenten/index.astro
  packages/astro/src/pages/design-system/index.astro
  packages/astro/src/pages/designers/index.astro
  packages/astro/src/pages/developers/[slug].astro
  packages/astro/src/pages/developers/index.astro
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat(astro): add consistent breadcrumbs in all paths
  packages/astro/pages/designers/_index.mdx
  packages/astro/pages/designers/aan-de-slag-met-figma.md
  packages/astro/pages/designers/branding-componenten.md
  packages/astro/pages/designers/prototypen-met-figma.md
  packages/astro/pages/designers/vragen.md
  packages/astro/src/layouts/ContentPage.astro
  packages/astro/src/layouts/NavigationPage.astro
  packages/astro/src/pages/[...slug].astro
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix(astro): tile list inconsistent styling
  packages/astro/src/layouts/NavigationPage.astro
Due: none

fix(astro): broken icon gallery import
  packages/astro/src/pages/componenten/iconen/index.astro
Due: none

feat(astro): add preview image to component tiles
  packages/astro/docs/components/button.mdx
  packages/astro/docs/components/link.mdx
  packages/astro/public/component-previews/button.png
  packages/astro/src/components/ComponentCard.astro
  packages/astro/src/content.config.ts
  packages/astro/src/pages/componenten/index.astro
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: serie kleine fixes
  packages/storybook-react/src/stories/prototype-src/accordionteksten/trouwen/MogelijkhedenCeremonie.tsx
  packages/storybook-react/src/stories/prototype-src/accordionteksten/trouwen/RegelenTrouwambtenaar.tsx
  packages/storybook-react/src/stories/prototype-src/accordionteksten/trouwen/RegelenTrouwdatum.tsx
  packages/storybook-react/src/stories/prototype-src/trouwen/IntroductieTrouwen.tsx
  packages/storybook-react/src/stories/prototype-src/trouwen/ScenarioTrouwen.tsx
  packages/storybook-react/src/stories/prototype-src/variables.tsx
  packages/storybook-react/src/stories/prototype-trouwen-webteksten/FormPage1.stories.tsx
  packages/storybook-react/src/stories/prototype-trouwen-webteksten/introductie.stories.tsx
  packages/storybook-react/src/stories/prototype-trouwen-webteksten/scenario.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore(tokens): update token values to match stakeholder requirements
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: fix the mixins for link focus and focus-visible states in the navigation component
  .changeset/strong-mugs-draw.md
  components/navigation/src/_mixin.scss
  components/navigation/src/index.scss
  components/navigation/src/tokens.json
  packages/storybook-css/src/Navigation/NavigationIconLink.scss
  proprietary/design-tokens/src/component/utrecht/navigation.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs(release): design system packages
  .changeset/brown-rabbits-fail.md
  .changeset/strong-mugs-draw.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/badge-status/CHANGELOG.md
  components/badge-status/package.json
  components/navigation/CHANGELOG.md
  components/navigation/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/component-library-angular/CHANGELOG.md
  packages/component-library-angular/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/component-library-design-tokens/CHANGELOG.md
  packages/component-library-design-tokens/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  packages/component-library-vue/CHANGELOG.md
  packages/component-library-vue/package.json
  packages/storybook-helpers/CHANGELOG.md
  packages/storybook-helpers/package.json
  packages/web-component-library-angular/CHANGELOG.md
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/CHANGELOG.md
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/CHANGELOG.md
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/CHANGELOG.md
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: update tile mixins, tokens, and storybook options for color variants
  components/tile/src/_mixin.scss
  components/tile/src/index.scss
  packages/storybook-css/src/Tile.stories.tsx
  packages/storybook-css/src/Tile.tsx
  proprietary/design-tokens/src/component/utrecht/tile.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add focus and hover states to tile component with corresponding design tokens
  components/tile/README.md
  components/tile/package.json
  components/tile/src/_mixin.scss
  components/tile/src/index.scss
  packages/storybook-css/src/Tile.stories.tsx
  pnpm-lock.yaml
  proprietary/design-tokens/src/component/utrecht/tile.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: refactor tile component styles for improved structure and readability
  components/tile/src/index.scss
  packages/storybook-css/src/Tile.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

style: update token values to match stakeholder requirements
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: align focus color values
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

ci: disable chromatic for dependabot
  .github/workflows/publish.yml
Due: none

feat: add spotlight-section to richtext component spacing matrix
  components/rich-text/src/_mixin.scss
  components/rich-text/src/index.scss
  components/rich-text/src/spacing-matrix.json
  packages/storybook-css/src/rich-text/RichText.stories.tsx
  packages/storybook-css/src/rich-text/RichText.utils.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add spotlight section relatie to spacing matrix
  components/rich-text/src/spacing-matrix.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: add changeset
  .changeset/spicy-trains-check.md
  pnpm-lock.yaml
Due: markdownlint, prettier --check

refactor: spotlight-section relation value rename volgens spacing matrix
  components/rich-text/src/_mixin.scss
  components/rich-text/src/spacing-matrix.json
  packages/storybook-css/src/rich-text/RichText.utils.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add spotlight section to richtext
  components/rich-text/src/_mixin.scss
  components/rich-text/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: refactor spacing-matrix build script to work with ESM and new file structure
  components/rich-text/src/getSpacingCSS.mjs
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: add changeset
  pnpm-lock.yaml
Due: none

chore: lock file update
  pnpm-lock.yaml
Due: none

chore: update lock file
  pnpm-lock.yaml
Due: none

feat: add spotlight-section to richtext component spacing matrix (#2987)
  .changeset/spicy-trains-check.md
  components/rich-text/package.json
  components/rich-text/src/_mixin.scss
  components/rich-text/src/getSpacingCSS.mjs
  components/rich-text/src/index.scss
  components/rich-text/src/spacing-matrix.json
  packages/storybook-css/src/rich-text/RichText.stories.tsx
  packages/storybook-css/src/rich-text/RichText.utils.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix(astro): use button-link in hero
  packages/astro/src/pages/index.astro
Due: none

chore: add changeset for calender navigation patch
  .changeset/slimy-dolls-wash.md
Due: markdownlint, prettier --check

fix(calendar): fix calendar navigation label (#2996)
  .changeset/slimy-dolls-wash.md
  packages/components-react/calendar-react/src/index.test.tsx
  packages/components-react/calendar-react/src/index.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
