Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: prototype volgorde teksten toegevoegd (#3081)
  packages/storybook-react/src/stories/prototype-src/variables.tsx
  packages/storybook-react/src/stories/prototype-volgorde-content/volgorde.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: removed duplicated FloDecision map
  packages/storybook-react/src/stories/FloDecision.stories.tsx
  packages/storybook-react/src/stories/FloDecision/afval-beslisboom-regelhulp.json
  packages/storybook-react/src/stories/FloDecision/encodeHtmlEntities.ts
  packages/storybook-react/src/stories/FloDecision/index.tsx
  packages/storybook-react/src/stories/FloDecision/voorbeeld-toelichtingen-data.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added FloDecision to storybook-react
  packages/storybook-react/config/main.ts
  packages/storybook-react/package.json
  packages/storybook-react/src/stories/FloDecision.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: basepath storybook-react
  packages/storybook-css/src/FloDecision/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: globalThis instead of window
  .editorconfig
  .eslintrc.js
  packages/storybook-css/src/FloDecision/index.tsx
  tsconfig.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add OrderedList component and integrate with UnorderedList stories for nested list support
  packages/storybook-css/src/OrderedList.stories.tsx
  packages/storybook-css/src/OrderedList.tsx
  packages/storybook-css/src/UnorderedList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: update marker styling to prevent nested ordered lists from being affected
  components/unordered-list/src/html/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

fix: es2022 instead of es2023
  tsconfig.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Borders 0px
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

voor 11.3.0
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

update 12.0.0
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: update unordered list mixins for improved nested list support and marker styling
  components/unordered-list/src/_mixin.scss
  components/unordered-list/src/html/_mixin.scss
  components/unordered-list/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: enhance unordered list tokens with detailed marker levels and list-style types
  components/unordered-list/src/tokens.json
  proprietary/design-tokens/src/component/utrecht/unordered-list.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: enhance nested list structure in UnorderedList stories for improved clarity and depth
  packages/storybook-css/src/UnorderedList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: add comment to clarify property choice of list-style-type vs ::marker
  components/unordered-list/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

feat: huisstijl toegevoegd
  packages/astro/docs/pages/huisstijl/1_merk.md
  packages/astro/docs/pages/huisstijl/_index.mdx
  packages/astro/docs/pages/huisstijl/huisstijlelementen.md
  packages/astro/docs/pages/huisstijl/middelen.md
  packages/astro/src/layouts/Layout.astro
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: elementen toegevoegd
  packages/astro/docs/pages/huisstijl/elementen/_index.mdx
  packages/astro/docs/pages/huisstijl/elementen/film.md
  packages/astro/docs/pages/huisstijl/elementen/foto.md
  packages/astro/docs/pages/huisstijl/elementen/infographic.md
  packages/astro/docs/pages/huisstijl/elementen/kleur.md
  packages/astro/docs/pages/huisstijl/elementen/lettertype.md
  packages/astro/docs/pages/huisstijl/elementen/logo.md
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: nieuwe elementen toegevoegd
  packages/astro/docs/pages/huisstijl/elementen/Illustratie.md
  packages/astro/docs/pages/huisstijl/elementen/grafiek_diagram_tabel.md
  packages/astro/docs/pages/huisstijl/elementen/icoon.md
  packages/astro/docs/pages/huisstijl/elementen/kleur.md
  packages/astro/docs/pages/huisstijl/elementen/oproep_tot_actie.md
  packages/astro/docs/pages/huisstijl/huisstijlelementen.md
  packages/astro/docs/pages/huisstijl/logo.mdx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: hulp en contact uitgewerkt
  packages/astro/docs/pages/huisstijl/1_merk.md
  packages/astro/docs/pages/huisstijl/elementen/Illustratie.md
  packages/astro/docs/pages/huisstijl/elementen/film.md
  packages/astro/docs/pages/huisstijl/elementen/foto.md
  packages/astro/docs/pages/huisstijl/elementen/grafiek_diagram_tabel.md
  packages/astro/docs/pages/huisstijl/elementen/icoon.md
  packages/astro/docs/pages/huisstijl/elementen/infographic.md
  packages/astro/docs/pages/huisstijl/elementen/kleur.md
  packages/astro/docs/pages/huisstijl/elementen/lettertype.md
  packages/astro/docs/pages/huisstijl/elementen/logo.md
  packages/astro/docs/pages/huisstijl/elementen/oproep_tot_actie.md
  packages/astro/docs/pages/huisstijl/huisstijlelementen.md
  packages/astro/docs/pages/huisstijl/middelen.md
Due: markdownlint, prettier --check

fix: small typos
  packages/astro/docs/pages/huisstijl/huisstijlelementen.md
  packages/astro/docs/pages/huisstijl/middelen.md
Due: markdownlint, prettier --check

chore: upgrade @storybook/theming in shared package to match root package.json
  packages/storybook-helpers/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade vega-related packages to latest
  packages/component-library-react/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: update VegaVisualization to handle breaking changes of react-vega upgrade
  .changeset/polite-eyes-film.md
  packages/component-library-react/src/VegaVisualization.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade to gatsby@5.16.1
  packages/component-library-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

test: update test to avoid <body> being rendered inside <div>
  packages/components-react/body-react/src/index.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: refactor jest config to ESM
  packages/component-library-pdf/jest.config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade @testing-library/* to latest in react packages
  packages/component-library-pdf/package.json
  packages/component-library-react/package.json
  packages/components-react/action-group-react/package.json
  packages/components-react/body-react/package.json
  packages/components-react/button-group-react/package.json
  packages/components-react/button-react/package.json
  packages/components-react/calendar-react/package.json
  packages/components-react/card-react/package.json
  packages/components-react/checkbox-group-react/package.json
  packages/components-react/checkbox-react/package.json
  packages/components-react/combobox-react/package.json
  packages/components-react/data-badge-react/package.json
  packages/components-react/fieldset-react/package.json
  packages/components-react/form-field-checkbox-react/package.json
  packages/components-react/form-field-description-react/package.json
  packages/components-react/form-field-error-message-react/package.json
  packages/components-react/form-field-react/package.json
  packages/components-react/form-label-react/package.json
  packages/components-react/grid-react/package.json
  packages/components-react/link-react/package.json
  packages/components-react/listbox-react/package.json
  packages/components-react/nav-bar-react/package.json
  packages/components-react/open-forms-container-react/package.json
  packages/components-react/page-body-react/package.json
  packages/components-react/page-footer-react/package.json
  packages/components-react/page-header-react/package.json
  packages/components-react/page-layout-react/package.json
  packages/components-react/radio-button-react/package.json
  packages/components-react/radio-group-react/package.json
  packages/components-react/root-react/package.json
  packages/components-react/select-combobox-react/package.json
  packages/components-react/textbox-react/package.json
  packages/components-react/tooltip-react/package.json
  packages/components-react/youtube-video-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

test: test Root component in a different way
  packages/components-react/root-react/src/index.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade @gemeente-denhaag/process-steps
  packages/storybook-react/package.json
  packages/storybook-react/src/stories/ProcessSteps.stories.tsx
  packages/web-component-library-stencil/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: add explicit dependency to types to ensure the correct versions are pulled in
  documentation/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: remove unused components and dependency
  documentation/button-types.stories.mdx
  documentation/components/Markdown.jsx
  documentation/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: fix type after upgrading @types/react
  packages/component-library-react/src/Accordion.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: remove incompatible storybook plugin
  packages/storybook-css/config/main.ts
  packages/storybook-web-component/config/main.ts
  packages/storybook-web-component/package.json
  packages/storybook/config/main.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: skip type-checking of external files
  packages/storybook-angular/tsconfig.json
  packages/storybook-helpers/tsconfig.dist.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade storybook (in storybook-angular) to 9
  packages/storybook-angular/config/main.ts
  packages/storybook-angular/config/manager.ts
  packages/storybook-angular/config/preview.ts
  packages/storybook-angular/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
