Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,mjs,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

feat(textarea): add hover state tokens (#3184)
  .changeset/gentle-panthers-accept.md
  .changeset/textarea-hover-tokens.md
  components/textarea/src/_mixin.scss
  components/textarea/src/index.scss
  components/textarea/src/tokens.json
  proprietary/design-tokens/src/component/utrecht/textarea.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix(accordion): apply accordion button icon size token (#3174)
  .changeset/accordion-button-icon-size.md
  components/accordion/src/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

fix(custom-checkbox): keep checked and indeterminate fill on hover and active
  components/custom-checkbox/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

ci: lint changeset
  .github/workflows/publish.yml
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs: fix changeset
  .changeset/gentle-panthers-accept.md
Due: markdownlint, prettier --check

feat(checkbox): add checked and indeterminate hover and active state tokens (#3185)
  .changeset/checkbox-checked-state-tokens.md
  components/checkbox/src/tokens.json
  components/custom-checkbox/src/_mixin.scss
  components/custom-checkbox/src/index.scss
  packages/storybook-css/src/Checkbox.stories.tsx
  proprietary/design-tokens/src/component/utrecht/checkbox.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix(storybook-css): fix invalid empty tag error in LinkSocial story
  packages/storybook-css/src/LinkSocial.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(deps): patch websocket-driver CVE GHSA-xv26-6w52-cph6 via pnpm override
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: improve contact-card story accessibility and add heading level example
  packages/storybook-css/src/ContactCard.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: bump changeset to major for contact-card breaking changes
  .changeset/tame-otters-dance.md
Due: markdownlint, prettier --check

feat: add background-position and background-size tokens to contact-card
  components/contact-card/src/tokens.json
  packages/storybook-css/src/ContactCard.stories.tsx
  proprietary/design-tokens/src/component/utrecht/contact-card.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: update contact-card-template web component for heading/subtitle props and grid layout
  components/templates/contact-card-template/css/index.scss
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/contact-card-template.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add @utrecht/contact-card-css component
  components/contact-card/README.md
  components/contact-card/package.json
  components/contact-card/src/_forward.scss
  components/contact-card/src/_mixin.scss
  components/contact-card/src/index.scss
  components/contact-card/src/tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add @utrecht/contact-card-react component and Storybook stories
  .changeset/tame-otters-dance.md
  packages/components-react/contact-card-react/babel.config.cjs
  packages/components-react/contact-card-react/jest.config.mjs
  packages/components-react/contact-card-react/package.json
  packages/components-react/contact-card-react/rollup.config.mjs
  packages/components-react/contact-card-react/src/css.tsx
  packages/components-react/contact-card-react/src/index.tsx
  packages/components-react/contact-card-react/src/insert-style.ts
  packages/components-react/contact-card-react/tsconfig.build.json
  packages/components-react/contact-card-react/tsconfig.json
  packages/components-react/contact-card-react/tsconfig.test.json
  packages/storybook-css/package.json
  packages/storybook-css/src/ContactCard.stories.tsx
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add contact-card design tokens
  proprietary/design-tokens/src/component/utrecht/contact-card.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add headingLevel and content slot to contact-card-template
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/contact-card-template.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: align contact-card tokens with mixin
  components/contact-card/src/tokens.json
  proprietary/design-tokens/src/component/utrecht/contact-card.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: apply background-position and background-size properties in contact-card mixin
  components/contact-card/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

fix: use valid CSS property syntax for contact-card shorthand tokens
  components/contact-card/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: correct contact-card readme title and version
  components/contact-card/README.md
  components/contact-card/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: use Heading component for ContactCard title
  packages/components-react/contact-card-react/package.json
  packages/components-react/contact-card-react/src/index.tsx
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: scope contact-card phone number sizing to grid-cell modifier
  components/contact-card/src/_mixin.scss
  components/contact-card/src/index.scss
  components/templates/contact-card-template/css/index.scss
  packages/components-react/contact-card-react/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add --utrecht-contact-card-socials-margin-block-start token
  components/contact-card/src/_mixin.scss
  components/contact-card/src/tokens.json
  proprietary/design-tokens/src/component/utrecht/contact-card.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat(storybook-css): add socialLinks argTypes to ContactCard stories
  packages/storybook-css/src/ContactCard.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor(storybook-css): use React components for headings, links and paragraphs in ContactCard stories
  packages/storybook-css/src/ContactCard.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add --utrecht-contact-card-social-links-gap design token
  components/contact-card/src/_mixin.scss
  components/contact-card/src/tokens.json
  proprietary/design-tokens/src/component/utrecht/contact-card.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add social links to contact-card with LinkSocial, column behavior, and switchable heading
  components/contact-card/src/_mixin.scss
  components/contact-card/src/index.scss
  components/templates/contact-card-template/css/index.scss
  packages/components-react/contact-card-react/src/index.tsx
  packages/web-component-library-stencil/src/components/contact-card-template.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: image source to relative path
  packages/storybook-css/src/ContactCard.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: rename social-links token to socials-links
  components/contact-card/src/tokens.json
  proprietary/design-tokens/src/component/utrecht/contact-card.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: rename social-links to socials and add socials-links container
  components/contact-card/src/_mixin.scss
  components/contact-card/src/index.scss
  components/templates/contact-card-template/css/index.scss
  packages/components-react/contact-card-react/src/index.tsx
  packages/web-component-library-stencil/src/components/contact-card-template.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add social links stories to contact-card
  packages/storybook-css/src/ContactCard.stories.tsx
  packages/storybook-web-component/src/ContactCardTemplate.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: add xs=12 breakpoint and rename hasIconLinksColumn to hasSocialLinksColumn
  packages/components-react/contact-card-react/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: update pnpm lockfile after rebase
  pnpm-lock.yaml
Due: none

fix(contact-card-react): use full-width columns at sm breakpoint
  packages/components-react/contact-card-react/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: aria-label to aria-labelledby and removal of icon fallback, __content to __body
  packages/web-component-library-stencil/src/components/contact-card-template.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(contact-card-react): place social links in separate column for single-section layout
  packages/components-react/contact-card-react/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(contact-card-react): add moduleNameMapper for component-library-react in jest config
  packages/components-react/contact-card-react/jest.config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern
