Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,mjs,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

chore: upgrade typescript to ^5
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: increase allowed Node.js version range to 24-25
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

ci: cleanup workaround
  .github/workflows/publish.yml
Due: none

chore: equalize build configuration with component-library-vue
  packages/web-component-library-vue/package.json
  packages/web-component-library-vue/tsconfig.json
  packages/web-component-library-vue/tsconfig.lib.json
  packages/web-component-library-vue/tsconfig.vite-config.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: update @vue/tsconfig
  .changeset/quick-mayflies-chew.md
  packages/component-library-vue/package.json
  packages/component-library-vue/src/Image.vue
  packages/component-library-vue/tsconfig.jest.json
  packages/component-library-vue/tsconfig.lib.json
  packages/web-component-library-vue/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore: ignore stencil generated files in prettier
  .prettierignore
Due: none

chore: upgrade @types/node to match the used Node.js version
  packages/component-library-pdf/package.json
  packages/component-library-vue/package.json
  packages/flolegal-decision-tree-client/package.json
  packages/storybook-angular/package.json
  packages/storybook-html/package.json
  packages/storybook-pdf/package.json
  packages/storybook-vue/package.json
  packages/storybook-web-component/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: update unordered list marker characters for improved clarity
  proprietary/design-tokens/src/component/utrecht/unordered-list.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: feedback Joram
  packages/astro/docs/pages/onderzoekers/_index.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: update list item content for improved storytelling and clarity
  packages/storybook-css/src/UnorderedList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: update unordered list marker font sizes for improved consistency
  components/unordered-list/src/_mixin.scss
  proprietary/design-tokens/src/component/utrecht/unordered-list.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: remove commit linting workflow
  .github/workflows/commit-lint.yml
Due: none

feat: onderzoeker pagina toegevoegd bij onboarding (#3054)
  packages/astro/README.md
  packages/astro/docs/pages/onderzoekers/_index.mdx
  packages/astro/src/layouts/Layout.astro
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: update nested list item content and add documentation for nested list story
  packages/storybook-css/src/UnorderedList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add missing test properties
  packages/components-react/calendar-react/src/index.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add padding to NarrowContainerWithCenteredText for improved layout
  packages/storybook-css/src/UnorderedList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade @storybook/theming in shared package to match root package.json
  packages/storybook-helpers/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade vega-related packages to latest
  packages/component-library-react/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: update VegaVisualization to handle breaking changes of react-vega upgrade
  .changeset/polite-eyes-film.md
  packages/component-library-react/src/VegaVisualization.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade to gatsby@5.16.1
  packages/component-library-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: refactor jest config to ESM
  packages/component-library-pdf/jest.config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade @testing-library/* to latest in react packages
  packages/component-library-pdf/package.json
  packages/component-library-react/package.json
  packages/components-react/action-group-react/package.json
  packages/components-react/body-react/package.json
  packages/components-react/button-group-react/package.json
  packages/components-react/button-react/package.json
  packages/components-react/calendar-react/package.json
  packages/components-react/card-react/package.json
  packages/components-react/checkbox-group-react/package.json
  packages/components-react/checkbox-react/package.json
  packages/components-react/combobox-react/package.json
  packages/components-react/data-badge-react/package.json
  packages/components-react/fieldset-react/package.json
  packages/components-react/form-field-checkbox-react/package.json
  packages/components-react/form-field-description-react/package.json
  packages/components-react/form-field-error-message-react/package.json
  packages/components-react/form-field-react/package.json
  packages/components-react/form-label-react/package.json
  packages/components-react/grid-react/package.json
  packages/components-react/link-react/package.json
  packages/components-react/listbox-react/package.json
  packages/components-react/nav-bar-react/package.json
  packages/components-react/open-forms-container-react/package.json
  packages/components-react/page-body-react/package.json
  packages/components-react/page-footer-react/package.json
  packages/components-react/page-header-react/package.json
  packages/components-react/page-layout-react/package.json
  packages/components-react/radio-button-react/package.json
  packages/components-react/radio-group-react/package.json
  packages/components-react/root-react/package.json
  packages/components-react/select-combobox-react/package.json
  packages/components-react/textbox-react/package.json
  packages/components-react/tooltip-react/package.json
  packages/components-react/youtube-video-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

test: update test to avoid <body> being rendered inside <div>
  packages/components-react/body-react/src/index.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

test: alternatively test Root component
  packages/components-react/root-react/src/index.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: better story text
  packages/storybook-css/src/UnorderedList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: refactor unordered list mixins for improved marker handling and consistency
  components/unordered-list/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

feat: update unordered list mixins for improved marker content handling and add font size tokens
  components/unordered-list/src/_mixin.scss
  components/unordered-list/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add test for nested unordered lists in UnorderedList component
  packages/component-library-react/src/UnorderedList.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: update nested unordered list mixin to prevent conflict between nested and center modifiers
  components/unordered-list/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

feat: enhance UnorderedList component with detailed documentation and update design tokens for improved styling
  packages/storybook-css/src/UnorderedList.stories.tsx
  proprietary/design-tokens/src/component/utrecht/unordered-list.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: processed PR feedback
  packages/components-react/calendar-react/src/index.test.tsx
  packages/components-react/calendar-react/src/index.tsx
  packages/storybook-react/src/stories/Calendar.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: update button to allow table header to set alignment through tokens
  components/button/src/_mixin.scss
  components/table/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: add functionality for not showing weekends and year navigation buttons
  packages/components-react/calendar-react/src/index.test.tsx
  packages/components-react/calendar-react/src/index.tsx
  packages/storybook-react/src/stories/Calendar.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: added changeset
  .changeset/five-garlics-joke.md
  .changeset/nasty-sheep-sell.md
Due: markdownlint, prettier --check

fix: update button to allow table header to set alignment through tokens (#3072)
  .changeset/five-garlics-joke.md
  .changeset/nasty-sheep-sell.md
  components/button/src/_mixin.scss
  components/table/src/index.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

docs(release): design system packages
  .changeset/five-garlics-joke.md
  .changeset/nasty-sheep-sell.md
  .changeset/plenty-jokes-smile.md
  .changeset/quick-mayflies-chew.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/button/CHANGELOG.md
  components/button/package.json
  components/table/CHANGELOG.md
  components/table/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/component-library-design-tokens/CHANGELOG.md
  packages/component-library-design-tokens/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  packages/component-library-vue/CHANGELOG.md
  packages/component-library-vue/package.json
  packages/components-react/button-react/CHANGELOG.md
  packages/components-react/button-react/package.json
  packages/components-react/calendar-react/CHANGELOG.md
  packages/components-react/calendar-react/package.json
  packages/components-react/select-combobox-react/CHANGELOG.md
  packages/components-react/select-combobox-react/package.json
  packages/storybook-helpers/CHANGELOG.md
  packages/storybook-helpers/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages (#3053)
  .changeset/five-garlics-joke.md
  .changeset/nasty-sheep-sell.md
  .changeset/plenty-jokes-smile.md
  .changeset/quick-mayflies-chew.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/button/CHANGELOG.md
  components/button/package.json
  components/table/CHANGELOG.md
  components/table/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/component-library-design-tokens/CHANGELOG.md
  packages/component-library-design-tokens/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  packages/component-library-vue/CHANGELOG.md
  packages/component-library-vue/package.json
  packages/components-react/button-react/CHANGELOG.md
  packages/components-react/button-react/package.json
  packages/components-react/calendar-react/CHANGELOG.md
  packages/components-react/calendar-react/package.json
  packages/components-react/select-combobox-react/CHANGELOG.md
  packages/components-react/select-combobox-react/package.json
  packages/storybook-helpers/CHANGELOG.md
  packages/storybook-helpers/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore: added changeset for Calendar packages
  .changeset/quick-tables-drive.md
Due: markdownlint, prettier --check
