Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: no br
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieA.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: styling footer
  packages/storybook-react/src/stories/template-klachtenformulier/FooterKlachtenFormulier.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/index.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: verwijzingen naar src bestand gemaakt in introductie en scenario
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/introductie.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/scenario.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/introductie.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/scenario.stories.tsx
  packages/storybook-react/src/stories/prototype-src/IntroductieKlachtenFormulier.tsx
  packages/storybook-react/src/stories/prototype-src/ScenarioKlachtenFormulier.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: bottom links
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieA.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieB.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/speeltuin.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: red error
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieA.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieB.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: files location
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage1.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage2.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieA.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieB.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: textarea counter
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieB.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: breadcrumb
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage1.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage2.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieA.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieB.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: klachtenformulier setup Jeroen
  packages/storybook-react/src/stories/form-page2/FormPage1.stories.tsx
  packages/storybook-react/src/stories/form-page2/FormPage2.stories.tsx
  packages/storybook-react/src/stories/form-page2/FormPage3VersieA.stories.tsx
  packages/storybook-react/src/stories/form-page2/FormPage3VersieB.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: upload functionaliteit toegevoegd
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieA.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieB.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: css update
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, stylelint --allow-empty-input

fix: buttonlink added
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage1.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage2.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: field size
  packages/storybook-react/src/stories/template-klachtenformulier/index.css
Due: prettier --check, stylelint --allow-empty-input

fix: twee scenarios gemaakt
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FooterKlachtenFormulier.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage1.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage2.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage3.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage4.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/index.css
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/introductie.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/scenario.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/speeltuin.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FooterKlachtenFormulier.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage1.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage2.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage3.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage4.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/index.css
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/introductie.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/scenario.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/speeltuin.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: added url variables and references
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage1.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage2.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage3.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage4.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/introductie.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/scenario.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage1.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage2.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage3.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage4.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/introductie.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/scenario.stories.tsx
  packages/storybook-react/src/stories/prototype-src/variables.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: url referentie in formulier 1 scenario a
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage1.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add `utrecht-page-body` CSS component
  components/page-body/README.md
  components/page-body/package.json
  components/page-body/src/_mixin.scss
  components/page-body/src/index.scss
  components/page-body/src/tokens.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

test: add placeholder test for new React components
  packages/components-react/body-react/src/index.test.tsx
  packages/components-react/nav-bar-react/src/index.test.tsx
  packages/components-react/page-body-react/src/index.test.tsx
  packages/components-react/page-footer-react/src/index.test.tsx
  packages/components-react/page-header-react/src/index.test.tsx
  packages/components-react/page-layout-react/src/index.test.tsx
  packages/components-react/root-react/src/index.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: link formulier 1
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage1.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: borders background and form input styling
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage1.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage2.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage3.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/FormPage4.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/introductie.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/scenario.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-a/speeltuin.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage1.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage2.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage3.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/FormPage4.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/introductie.stories.tsx
  packages/storybook-react/src/stories/prototype-klachtenformulier-scenario-b/scenario.stories.tsx
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: add nextjs app
  apps/next/.eslintrc.json
  apps/next/.gitignore
  apps/next/README.md
  apps/next/next.config.ts
  apps/next/package.json
  apps/next/public/file.svg
  apps/next/public/globe.svg
  apps/next/public/next.svg
  apps/next/public/vercel.svg
  apps/next/public/window.svg
  apps/next/src/app/favicon.ico
  apps/next/src/app/fonts/GeistMonoVF.woff
  apps/next/src/app/fonts/GeistVF.woff
  apps/next/src/app/globals.css
  apps/next/src/app/layout.tsx
  apps/next/src/app/page.tsx
  apps/next/src/components/index.tsx
  apps/next/tsconfig.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

ci: add `pnpm run build-vercel`
  README.md
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

ci: begrudgingly allow Node 20 for Vercel
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: use ES Modules for `component-library-design-tokens`
  packages/component-library-design-tokens/package.json
  packages/component-library-design-tokens/src/build-property.mjs
  packages/component-library-design-tokens/src/lib.mjs
  packages/component-library-design-tokens/src/lint-build.mjs
  packages/component-library-design-tokens/src/lint-theme.mjs
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fixup! ci: add `pnpm run build-vercel`
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fixup! fixup! ci: add `pnpm run build-vercel`
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fixup! fixup! fixup! ci: add `pnpm run build-vercel`
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: create `PageLayout` React component
  .changeset/new-mice-march.md
  packages/components-react/page-layout-react/.eslintrc.json
  packages/components-react/page-layout-react/babel.config.cjs
  packages/components-react/page-layout-react/jest.config.mjs
  packages/components-react/page-layout-react/package.json
  packages/components-react/page-layout-react/rollup.config.mjs
  packages/components-react/page-layout-react/src/css.tsx
  packages/components-react/page-layout-react/src/index.tsx
  packages/components-react/page-layout-react/tsconfig.build.json
  packages/components-react/page-layout-react/tsconfig.json
  packages/components-react/page-layout-react/tsconfig.test.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: npm package for `NavBar` React component
  .changeset/famous-boats-walk.md
  packages/components-react/nav-bar-react/.eslintrc.json
  packages/components-react/nav-bar-react/babel.config.cjs
  packages/components-react/nav-bar-react/jest.config.mjs
  packages/components-react/nav-bar-react/package.json
  packages/components-react/nav-bar-react/rollup.config.mjs
  packages/components-react/nav-bar-react/src/css.tsx
  packages/components-react/nav-bar-react/src/index.tsx
  packages/components-react/nav-bar-react/tsconfig.build.json
  packages/components-react/nav-bar-react/tsconfig.json
  packages/components-react/nav-bar-react/tsconfig.test.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: create new `utrecht-page-layout` CSS component
  .changeset/seven-vans-obey.md
  components/page-layout/README.md
  components/page-layout/package.json
  components/page-layout/src/_mixin.scss
  components/page-layout/src/index.scss
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: new `utrecht-root` CSS component
  .changeset/cool-pumpkins-breathe.md
  components/root/README.md
  components/root/docs/anatomy.md
  components/root/package.json
  components/root/src/_mixin.scss
  components/root/src/index.scss
  components/root/src/tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: new `utrecht-body` CSS component
  .changeset/tall-seahorses-provide.md
  components/body/README.md
  components/body/package.json
  components/body/src/_mixin.scss
  components/body/src/index.scss
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: raise `z-index` of focus-visible elements
  .changeset/lucky-carrots-cheat.md
  components/focus-ring/src/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

feat: npm package for `PageHeader` React component
  .changeset/honest-singers-visit.md
  packages/components-react/page-header-react/.eslintrc.json
  packages/components-react/page-header-react/babel.config.cjs
  packages/components-react/page-header-react/jest.config.mjs
  packages/components-react/page-header-react/package.json
  packages/components-react/page-header-react/rollup.config.mjs
  packages/components-react/page-header-react/src/css.tsx
  packages/components-react/page-header-react/src/index.tsx
  packages/components-react/page-header-react/tsconfig.build.json
  packages/components-react/page-header-react/tsconfig.json
  packages/components-react/page-header-react/tsconfig.test.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: avoid column breaks inside a Button Group
  .changeset/old-candles-attend.md
  components/button-group/src/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

feat: new `Body` React component
  packages/components-react/body-react/.eslintrc.json
  packages/components-react/body-react/babel.config.cjs
  packages/components-react/body-react/jest.config.mjs
  packages/components-react/body-react/package.json
  packages/components-react/body-react/rollup.config.mjs
  packages/components-react/body-react/src/css.tsx
  packages/components-react/body-react/src/index.tsx
  packages/components-react/body-react/tsconfig.build.json
  packages/components-react/body-react/tsconfig.json
  packages/components-react/body-react/tsconfig.test.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
