Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,mjs,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

feat: add metadata for rich text
  components/rich-text/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added metadata for search bar
  components/search-bar/src/_mixin.scss
  components/search-bar/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: add changeset
  .changeset/star-honor-sin.md
Due: markdownlint, prettier --check

docs: add changeset
  .changeset/stock-solve-cow.md
Due: markdownlint, prettier --check

Update .changeset/stock-solve-cow.md
  .changeset/stock-solve-cow.md
Due: markdownlint, prettier --check

feat: added tokens from mixin
  components/page-header/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Update components/page-header/src/tokens.json
  components/page-header/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/hot-spill-sick.md
Due: markdownlint, prettier --check

feat: add metadata for separator
  components/separator/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/piano-arrow-level.md
Due: markdownlint, prettier --check

feat: add metadata for skip-link component
  components/skip-link/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/am-gasp-major.md
Due: markdownlint, prettier --check

fix: updated syntax of focus text-decoration
  components/skip-link/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/green-months-tickle.md
Due: markdownlint, prettier --check

style: changed min block size to 44px
  components/digid-button/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: add Number badge as a replacement of Badge counter
  .changeset/new-impalas-wink.md
  components/index.scss
  components/number-badge/CHANGELOG.md
  components/number-badge/README.md
  components/number-badge/package.json
  components/number-badge/src/_mixin.scss
  components/number-badge/src/index.scss
  components/number-badge/src/tokens.json
  components/package.json
  packages/component-library-react/package.json
  packages/component-library-react/src/NumberBadge.test.tsx
  packages/component-library-react/src/NumberBadge.tsx
  packages/component-library-react/src/css-module/NumberBadge.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/component-library-vue/package.json
  packages/component-library-vue/src/NumberBadge.test.ts
  packages/component-library-vue/src/NumberBadge.vue
  packages/component-library-vue/src/index.ts
  packages/storybook-css/package.json
  packages/storybook-css/src/NumberBadge.stories.tsx
  packages/storybook-react/package.json
  packages/storybook-react/src/stories/NumberBadge.stories.tsx
  packages/storybook-vue/package.json
  packages/storybook-vue/src/stories/NumberBadge.stories.ts
  packages/storybook-web-component/src/NumberBadge.stories.tsx
  packages/web-component-library-stencil/package.json
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/number-badge.scss
  packages/web-component-library-stencil/src/components/number-badge.tsx
  pnpm-lock.yaml
  proprietary/design-tokens/src/component/utrecht/number-badge.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Update .changeset/star-honor-sin.md
  .changeset/star-honor-sin.md
Due: markdownlint, prettier --check

feat: add metadata for search bar (#2449)
  .changeset/star-honor-sin.md
  components/search-bar/src/_mixin.scss
  components/search-bar/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Update components/select/src/tokens.json
  components/select/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add metadata for select (#2450)
  .changeset/hot-spill-sick.md
  components/select/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

Apply suggestions from code review
  .changeset/scrap-meal-heal.md
Due: markdownlint, prettier --check

Update components/form-control/src/tokens.json
  components/form-control/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add metadata for form control (#2388)
  .changeset/commission-nose-premium.md
  components/form-control/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add metadata for rich text (#2448)
  .changeset/text-even-stake.md
  components/rich-text/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: metadata for button component (#2443)
  .changeset/scrap-meal-heal.md
  components/button/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add metadata for page-header (#2430)
  .changeset/stock-solve-cow.md
  components/page-header/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add metadata for page-content (#2428)
  .changeset/team-grant-thaw.md
  components/page-content/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add metadata for map-marker (#2417)
  .changeset/disco-sum-gate.md
  components/map-marker/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add metadata for link-social (#2411)
  .changeset/delicate-dark-coin.md
  components/link-social/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: form toggle token variable name (#2397)
  .changeset/dominant-first-poor.md
  components/form-toggle/src/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

feat: icon component for Angular
  packages/component-library-angular/package.json
  packages/component-library-angular/src/components.ts
  packages/component-library-angular/src/icon/Icon.spec.ts
  packages/component-library-angular/src/icon/component.ts
  packages/component-library-angular/src/icon/index.html
  packages/component-library-angular/src/icon/index.scss
  packages/component-library-angular/src/icon/public-api.ts
  packages/component-library-angular/src/index.module.ts
  packages/storybook-angular/src/stories/Icon.stories.ts
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

build: upgrade to Style Dictionary v4 and experimental design token package layout
  .changeset/famous-knives-sparkle.md
  .changeset/popular-mugs-drop.md
  pnpm-lock.yaml
  proprietary/design-tokens/config.json
  proprietary/design-tokens/package.json
  proprietary/design-tokens/src/css-property-formatter.js
  proprietary/design-tokens/src/css-property-formatter.mjs
  proprietary/design-tokens/src/index.scss
  proprietary/design-tokens/src/style-dictionary-config-dark.js
  proprietary/design-tokens/src/style-dictionary-config.js
  proprietary/design-tokens/style-dictionary-build-dark.mjs
  proprietary/design-tokens/style-dictionary-build.mjs
  proprietary/design-tokens/style-dictionary-config.mjs
  proprietary/design-tokens/style-dictionary.config.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add npm package with design token JSON definitions for all components
  packages/component-library-design-tokens/README.md
  packages/component-library-design-tokens/package.json
  packages/component-library-design-tokens/project.json
  packages/component-library-design-tokens/src/build.mjs
  packages/component-library-design-tokens/src/lib.mjs
  packages/component-library-design-tokens/src/lint-build.mjs
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

update: changeset
  .changeset/sheet-shock-round.md
Due: markdownlint, prettier --check

feat: add metadata for sportlight section
  components/spotlight-section/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: figma support for margin
  components/separator/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add metadata for surface
  components/surface/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern
