Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

build(storybook-vue): support SCSS absolute import
  packages/storybook-vue/config/main.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: remove CSS component library dependencies from Angular Storybook
  packages/storybook-angular/package.json
  packages/storybook-angular/src/index.scss
  packages/storybook-angular/src/stories/Button/docs/accessibility.stories.mdx
  packages/storybook-angular/src/stories/Button/docs/onderzoek.stories.mdx
  packages/storybook-angular/src/stories/Button/docs/ux-guidelines.stories.mdx
  packages/storybook-angular/src/stories/Link/docs.stories.mdx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, stylelint --allow-empty-input

build: more CSS component dependencies
  components/alert-dialog/css/_mixin.scss
  components/code-block/css/_mixin.scss
  components/drawer/css/_mixin.scss
  components/heading-1/css/_mixin.scss
  components/heading-2/css/_mixin.scss
  components/heading-3/css/_mixin.scss
  components/heading-4/css/_mixin.scss
  components/heading-5/css/_mixin.scss
  components/heading-6/css/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

feat(css): create vega-visualization package
  components/vega-visualization/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

build: add single CSS dependencies to React component library
  packages/component-library-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

build(storybook-react): add @utrecht/focus-ring-css
  packages/storybook-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build(storybook-angular): support JSON extension in TS
  packages/storybook-angular/config/typings.d.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

ci: allow using Node.js features in Storybook config files
  packages/storybook-angular/config/.eslintrc.json
  packages/storybook-css/config/.eslintrc.json
  packages/storybook-html/config/.eslintrc.json
  packages/storybook-react/config/.eslintrc.json
  packages/storybook-vue/config/.eslintrc.json
  packages/storybook-web-component/config/.eslintrc.json
  packages/storybook/config/.eslintrc.json
Due: none

fix: enable to have dist folder for each css package
  components/form-toggle/css/_mixin.scss
  components/form-toggle/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, stylelint --allow-empty-input

build(component-react): handle external deps from package.json
  packages/component-library-react/package.json
  packages/component-library-react/rollup.config.mjs
Due: npmPkgJsonLint --allowEmptyTargets

chore: remove unused SCSS mixin imports
  packages/storybook-helpers/package.json
  packages/storybook-helpers/src/storybook-docs.scss
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, stylelint --allow-empty-input

build(component-angular): fix jest output issue
  packages/component-library-angular/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: build pnpm.lock
  pnpm-lock.yaml
Due: none

refactor(storybook-helpers): import css from npm package
  packages/storybook-helpers/package.json
  packages/storybook-helpers/src/storybook-docs.scss
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, stylelint --allow-empty-input

build(storybook-react): support SCSS absolute import
  packages/storybook-react/config/main.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: describe changes for CSS component packages
  .changeset/clever-jobs-clean.md
  .changeset/silly-islands-cheer.md
  .changeset/swift-mirrors-wait.md
  components/form-toggle/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

chore: remove unecessary CSS imports
  packages/storybook-css/src/Alert.stories.tsx
  packages/storybook-css/src/Alert.tsx
  packages/storybook-css/src/DataPlaceholder.stories.tsx
  packages/storybook-css/src/Icon.stories.tsx
  packages/storybook-css/src/IndexCharNav.stories.tsx
  packages/storybook-css/src/LinkList.tsx
  packages/storybook-css/src/Listbox.stories.tsx
  packages/storybook-css/src/Select.stories.tsx
  packages/storybook-css/src/Table.stories.tsx
  packages/storybook-css/src/accordion/Accordion.tsx
  packages/storybook-react/src/stories/AlternateLangNav.stories.tsx
  packages/storybook-react/src/stories/DataPlaceholder.stories.tsx
  packages/storybook-react/src/stories/IndexCharNav.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: switch from sass to rollup for component-library-css
  components/package.json
  packages/component-library-css/package.json
  packages/component-library-css/rollup.config.mjs
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

feat: add 5 missing CSS components to CSS component library bundle
  .changeset/rather-extravagant-schwoopy.md
  components/index.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

build(component-stencil): add @utrecht/focus-ring-css
  packages/web-component-library-stencil/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: specify devDependencies in workspace for CSS components
  components/alert-dialog/package.json
  components/badge-counter/package.json
  components/badge-data/package.json
  components/badge-status/package.json
  components/button-link/package.json
  components/code-block/package.json
  components/drawer/package.json
  components/heading-1/package.json
  components/heading-2/package.json
  components/heading-3/package.json
  components/heading-4/package.json
  components/heading-5/package.json
  components/heading-6/package.json
  components/html-content/package.json
  components/link-button/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets
