Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,mjs,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

fix: css file
  packages/storybook-react/src/stories/template-klachtenformulier/StartForm.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/index.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: added css
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage1.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage2.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieA.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieB.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: better name
  packages/storybook-react/src/stories/template-klachtenformulier/speeltuin.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: added speeltuin
  packages/storybook-react/src/stories/template-klachtenformulier/speeltuin.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: breadcrumb
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage1.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage2.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieA.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieB.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: css
  packages/storybook-react/src/stories/template-klachtenformulier/index.css
Due: prettier --check, stylelint --allow-empty-input

feat: add utrecht open forms stories to storybook
  packages/storybook-react/src/stories/open-forms/UtrechtOpenForms.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: add utrecht open forms scss input size
  packages/storybook-react/src/stories/open-forms/OpenFormsContainer.scss
Due: prettier --check, stylelint --allow-empty-input

feat: add open forms container
  packages/storybook-react/src/stories/open-forms/OpenFormsContainer.tsx
  packages/storybook-react/src/stories/open-forms/StoryUtil.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: add utrecht textbox size mixin
  components/textbox/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

fix: klachten formulier
  packages/storybook-react/src/stories/template-klachtenformulier/FooterKlachtenFormulier.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage1.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage2.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieA.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieB.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/index.css
  packages/storybook-react/src/stories/template-klachtenformulier/speeltuin.stories.tsx
  packages/storybook-react/src/stories/template/PageStep-4.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix(react-storybook): fix style issue
  packages/storybook-react/config/preview.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: buttonlink added
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage1.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage2.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: correct TypeScript definitions for `FormFieldCheckbox` event handlers
  .changeset/tender-crabs-love.md
  packages/components-react/form-field-checkbox-react/src/index.test.tsx
  packages/components-react/form-field-checkbox-react/src/index.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/tender-crabs-love.md
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  packages/components-react/checkbox-group-react/CHANGELOG.md
  packages/components-react/checkbox-group-react/package.json
  packages/components-react/form-field-checkbox-react/CHANGELOG.md
  packages/components-react/form-field-checkbox-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: footer layout
  packages/storybook-react/src/stories/template-klachtenformulier/FooterKlachtenFormulier.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/speeltuin.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: styling footer
  packages/storybook-react/src/stories/template-klachtenformulier/FooterKlachtenFormulier.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/index.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: kleine fixes voor klachtenformulier stap 1
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage1.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: textarea conter
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieA.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: kleine fixes klachtenformulier stap 2
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage2.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: textarea counter
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieB.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: datefield
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieB.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: eindpagina van het onderzoek toegevoegd
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage4.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: error red
  packages/storybook-react/src/stories/template-klachtenformulier/index.css
  packages/storybook-react/src/stories/template-klachtenformulier/speeltuin.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: red error
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieA.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieB.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: form field description grijs gemaakt
  packages/storybook-react/src/stories/template-klachtenformulier/index.css
Due: prettier --check, stylelint --allow-empty-input

fix: upload functionaliteit toegevoegd
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieA.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieB.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: add name attribute to index scss and add utrecht textbox size
  components/textbox/src/_mixin.scss
  components/textbox/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style: add mixin utrecht textbox size to open forms container
  packages/storybook-react/src/stories/open-forms/OpenFormsContainer.scss
Due: prettier --check, stylelint --allow-empty-input

feat: add aantal markten en bedrag verlening velden to open forms container file
  packages/storybook-react/src/stories/open-forms/UtrechtOpenForms.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: add textbox size to Geboorte plaats en datum Huis nummer letter en toevoeging
  components/textbox/src/_mixin.scss
  packages/storybook-react/src/stories/open-forms/OpenFormsContainer.scss
Due: prettier --check, stylelint --allow-empty-input

fix: updates
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage1.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieB.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/index.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: no br
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage2.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: no br
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieA.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: styling
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieA.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: paddings
  packages/storybook-react/src/stories/template-klachtenformulier/index.css
Due: prettier --check, stylelint --allow-empty-input

fix: not bold
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieA.stories.tsx
  packages/storybook-react/src/stories/template-klachtenformulier/FormPage3VersieB.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern
