Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

docs: story for document languages
  components/document/README.md
  components/document/css/stories/default.stories.mdx
  components/document/css/stories/language.stories.mdx
  components/document/css/story-template.jsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: `tabindex="-1"` use case
  components/heading-1/css/story-template.jsx
  components/heading-2/css/story-template.jsx
  components/heading-3/css/story-template.jsx
  components/heading-4/css/story-template.jsx
  components/heading-5/css/story-template.jsx
  components/heading-6/css/story-template.jsx
  components/link/README.md
  components/link/css/stories/tabindex.stories.mdx
  components/link/css/story-template.jsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore: automatically open Storybook in browser again
  packages/storybook-react/project.json
  packages/storybook-vue/project.json
  packages/storybook/project.json
Due: none

docs: update README with pnpm and debugging instructions
  README.md
Due: markdownlint, prettier --check

docs(release): design system packages %v
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

style: restyling process-steps (#1412)
  proprietary/design-tokens/src/component/den-haag/process-steps.tokens.json
Due: none

docs: add Alert README to Storybook
  components/alert/README.md
  components/alert/css/stories/readme.stories.mdx
Due: markdownlint, prettier --check

fix: revert to browser focus ring without design tokens
  components/common/focus/README.md
  components/common/focus/_mixin.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

docs: accessibility concerns for the heading group
  components/heading-group/README.md
Due: markdownlint, prettier --check

chore: fix typo in Storybook default story argument
  components/link/css/story-template.jsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: page header accessibility concerns
  components/page-header/README.md
Due: markdownlint, prettier --check

docs: no minlength for names
  components/textbox/css/stories/autocomplete.stories.mdx
Due: none

fix: install lodash.chunk instead of the whole package
  packages/component-library-react/package.json
  packages/component-library-react/src/Calendar/index.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs: import NL Design System docs for paragraph
  components/package.json
  components/paragraph/README.md
  components/paragraph/css/stories/readme.stories.mdx
  components/paragraph/html/stories/readme.stories.mdx
  packages/docusaurus/docs/componenten/typografie/paragraaf.mdx
  packages/docusaurus/package.json
  packages/storybook-angular/package.json
  packages/storybook-react/package.json
  packages/storybook-react/src/stories/Paragraph/docs.stories.mdx
  packages/storybook-vue/package.json
  packages/storybook-vue/src/stories/Paragraph/docs.stories.mdx
  packages/storybook/package.json
  packages/storybook/stories/web-component/paragraph/readme.stories.mdx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

feat: add `inert` cursor
  proprietary/design-tokens/src/common/utrecht/action.tokens.json
Due: none

build: update to latest Process Steps component
  packages/storybook-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

build: move `lodash.chunk` to dependencies
  packages/component-library-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

docs: examples of common form fields
  components/form-field/css/stories/_email.md
  components/form-field/css/stories/_new-password.md
  components/form-field/css/stories/_tel.md
  components/form-field/css/stories/example.stories.mdx
  components/form-field/css/stories/textbox.stories.mdx
  components/form-field/css/stories/voorvoegsels-tabel-36.json
  components/textbox/css/stories/_achternaam.md
  components/textbox/css/stories/_naam.md
  components/textbox/css/stories/_postcode.md
  components/textbox/css/stories/_voornaam.md
  components/textbox/css/stories/_voorvoegsel.md
  components/textbox/css/stories/autocomplete.stories.mdx
  components/textbox/css/story-template.jsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: toolbar option to disable Storybook CSS or only design tokens
  packages/storybook/config/preview.js
  packages/storybook/config/storybook.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: inzichten toegevoegd
  documentation/website/gebruikersonderzoek/research.md
  documentation/website/gebruikersonderzoek/research_0013.md
Due: markdownlint, prettier --check

docs: spelfouten verbetered in overzicht
  documentation/website/gebruikersonderzoek/research.md
Due: markdownlint, prettier --check

docs: Iconen onderzoek november (#1425)
  documentation/website/gebruikersonderzoek/research.md
  documentation/website/gebruikersonderzoek/research_0011.md
  documentation/website/gebruikersonderzoek/research_0013.md
  packages/docusaurus/static/img/onderzoek_betaaldparkeren.png
  packages/docusaurus/static/img/onderzoek_energietoeslag.png
  packages/docusaurus/static/img/onderzoek_milieuzone.png
  packages/docusaurus/static/img/onderzoek_milieuzone_ontheffing.png
  packages/docusaurus/static/img/onderzoek_omgevingsvisie.png
  packages/docusaurus/static/img/onderzoek_rioolheffing.png
  packages/docusaurus/static/img/onderzoek_thuiswerken.png
Due: markdownlint, prettier --check

fix: adding fieldset grid with section styles
  components/form-fieldset/css/_mixin.scss
  components/form-fieldset/css/index.scss
  components/form-fieldset/tokens.json
  packages/component-library-react/src/Fieldset.tsx
  proprietary/design-tokens/src/component/utrecht/form-fieldset.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: moved subtle label value to the field component
  components/form-field/css/_mixin.scss
  components/form-field/css/index.scss
  components/form-field/css/story-template.jsx
  components/form-fieldset/css/index.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input
