Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: remove form.io components
  .eslintrc.js
  packages/component-library-formio/README.md
  packages/component-library-formio/package.json
  packages/component-library-formio/project.json
  packages/component-library-formio/src/button/index.ts
  packages/component-library-formio/src/button/template.ts
  packages/component-library-formio/src/checkbox/index.ts
  packages/component-library-formio/src/checkbox/template.ts
  packages/component-library-formio/src/currency/index.ts
  packages/component-library-formio/src/date-time/index.ts
  packages/component-library-formio/src/email/index.ts
  packages/component-library-formio/src/form-fieldset/template.ts
  packages/component-library-formio/src/form-label/template.ts
  packages/component-library-formio/src/html-content/index.ts
  packages/component-library-formio/src/index.ts
  packages/component-library-formio/src/number/index.ts
  packages/component-library-formio/src/password/index.ts
  packages/component-library-formio/src/phone/index.ts
  packages/component-library-formio/src/radio-button/index.ts
  packages/component-library-formio/src/radio-button/template.ts
  packages/component-library-formio/src/textarea/index.ts
  packages/component-library-formio/src/textbox/index.ts
  packages/component-library-formio/src/time/index.ts
  packages/component-library-formio/src/url/index.ts
  packages/component-library-formio/tsconfig.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore: delete formio story
  packages/storybook/stories/formio-component/component-library-formio.stories.mdx
Due: none

chore: remove formio package from README
  README.md
Due: markdownlint, prettier --check

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  pnpm-lock.yaml
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: change token used semantic PR
  .github/workflows/semantic-pull-requests.yml
Due: none

chore: exclude generated files from linting
  .prettierignore
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: lint-html deleted
  package.json
  project.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: nx files in prettierignore
  .prettierignore
Due: none

feat: add nav bar and nav list components
  components/nav-bar/README.md
  components/nav-bar/css/index.scss
  components/nav-bar/tokens.json
  components/nav-list/README.md
  components/nav-list/css/index.scss
  components/nav-list/tokens.json
  packages/component-library-react/src/NavBar.tsx
  packages/component-library-react/src/NavList.tsx
  packages/component-library-react/src/css-module/NavBar.tsx
  packages/component-library-react/src/css-module/NavList.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/storybook-css/src/NavBar.stories.tsx
  proprietary/design-tokens/src/component/utrecht/nav-bar.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: dependencies update minor
  components/icon/package.json
  components/package.json
  documentation/package.json
  package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/docusaurus/package.json
  packages/storybook-angular/package.json
  packages/storybook-css/package.json
  packages/storybook-helpers/package.json
  packages/storybook-html/package.json
  packages/storybook-react/package.json
  packages/storybook-vue/package.json
  packages/storybook-web-component/package.json
  packages/storybook/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: set dependency back for Angular
  packages/component-library-angular/package.json
  packages/storybook-angular/package.json
  packages/web-component-library-angular/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

chore: updated dev dependency rollup/plugin-json
  packages/component-library-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

chore: new patch for stencil core 4.8.2
  package.json
  patches/@stencil__core@4.8.2.patch
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

chore: add missing variables (empty)
  packages/storybook-helpers/src/storybook-theme.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: nav bar with icons
  packages/component-library-react/src/NavList.tsx
  packages/storybook-css/src/NavBar.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: update version numbers
  components/package.json
  packages/component-library-css/package.json
  packages/component-library-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: add link list react component
  components/link-list/css/index.scss
  components/link-list/tokens.json
  packages/component-library-react/src/LinkList.tsx
  packages/component-library-react/src/css-module/LinkList.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/storybook-css/src/LinkList.stories.tsx
  packages/storybook-css/src/LinkList.tsx
  proprietary/design-tokens/src/component/utrecht/link-list.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: use svg in link list
  components/link-list/css/index.scss
  components/link-list/tokens.json
  packages/storybook-css/src/LinkList.tsx
  proprietary/design-tokens/src/component/utrecht/link-list.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs(release): design system packages [skip ci]
  .changeset/clever-hairs-visit.md
  .changeset/cold-plums-fetch.md
  .changeset/itchy-seals-tan.md
  .changeset/lazy-rivers-stare.md
  .changeset/many-tomatoes-pay.md
  .changeset/ninety-chicken-fail.md
  .changeset/popular-mice-accept.md
  .changeset/quiet-cows-dream.md
  .changeset/short-jeans-greet.md
  .changeset/tidy-eggs-move.md
  components/CHANGELOG.md
  components/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  packages/web-component-library-react/CHANGELOG.md
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/CHANGELOG.md
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/CHANGELOG.md
  packages/web-component-library-vue/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

chore: revert storybook-react dependencies
  packages/storybook-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

feat: add Link list to React component library
  components/link-list/css/index.scss
  packages/component-library-react/src/LinkList.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/storybook-css/src/LinkList.tsx
  packages/storybook-react/src/stories/LinkList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: add zone.js to ignore file minor
  .ncurc.minor.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: rechecked minor update
  package.json
  packages/component-library-vue/package.json
  packages/docusaurus/package.json
  packages/storybook-angular/package.json
  packages/storybook-css/package.json
  packages/storybook-html/package.json
  packages/storybook-vue/package.json
  packages/storybook-web-component/package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
