Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: correct the footer `padding-inline`
  proprietary/design-tokens/src/component/utrecht/page-footer.tokens.json
Due: none

feat: web component for badge list
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/badge-list.scss
  packages/web-component-library-stencil/src/components/badge-list.stencil.tsx
  packages/web-component-library-stencil/src/utils/utils.spec.ts
  packages/web-component-library-stencil/src/utils/utils.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: create mixins for status badge CSS
  components/badge-status/css/_mixin.scss
  components/badge-status/css/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: add missing surface stencil component
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/surface.scss
  packages/web-component-library-stencil/src/components/surface.stencil.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: web component for IBAN data
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/iban-data.scss
  packages/web-component-library-stencil/src/components/iban-data.stencil.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: add missing stencil types
  packages/web-component-library-stencil/src/components.d.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

style: add minimum and maximum size for badge components
  components/badge/css/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

chore: improve mirgation of badge counter story to tsx
  packages/storybook/stories/components/BadgeCounter.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: re-add descriptions to stories
  packages/storybook/src/utrecht-design-tokens.d.ts
  packages/storybook/stories/components/Backdrop.stories.tsx
  packages/storybook/stories/components/BadgeCounter.stories.tsx
  packages/storybook/stories/components/BreadcrumbNav.stories.tsx
  packages/storybook/stories/components/ButtonGroup.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: migratie button group component naar tsx, linting fixes
  components/alternate-lang-nav/css/story-template.jsx
  components/button-group/css/stories/default.stories.mdx
  components/button-group/css/stories/direction.stories.mdx
  components/button-group/css/stories/readme.stories.mdx
  components/button-group/css/stories/tokens.stories.mdx
  components/button-group/css/story-template.jsx
  components/button/css/stories/description.stories.mdx
  components/link/css/stories/tabindex.stories.mdx
  packages/storybook/stories/components/AlertDialog.stories.tsx
  packages/storybook/stories/components/Article.stories.tsx
  packages/storybook/stories/components/Backdrop.stories.tsx
  packages/storybook/stories/components/ButtonGroup.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: use utrecht button in button group story, instead of html button
  packages/storybook/stories/components/ButtonGroup.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: migratie css badge counter component to tsx
  components/badge-counter/css/stories/default.stories.mdx
  components/badge-counter/css/stories/empty.stories.mdx
  components/badge-counter/css/stories/multiple-digits.stories.mdx
  components/badge-counter/css/stories/tokens.stories.mdx
  components/badge-counter/css/story-template.jsx
  packages/storybook/stories/components/BadgeCounter.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: added custom css to utrecht design tokens and reworded children name on backdrop component
  packages/storybook/src/utrecht-design-tokens.d.ts
  packages/storybook/stories/components/Backdrop.stories.tsx
  packages/storybook/stories/components/BadgeCounter.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: improve migration of breadcrumb navigation stories to tsx
  packages/storybook/stories/components/BreadcrumbNav.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: improve button group stories tsx migration
  packages/storybook/stories/components/ButtonGroup.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: re-add status parameter
  packages/storybook/stories/components/AlertDialog.stories.tsx
  packages/storybook/stories/components/Article.stories.tsx
  packages/storybook/stories/components/Backdrop.stories.tsx
  packages/storybook/stories/components/BadgeCounter.stories.tsx
  packages/storybook/stories/components/BreadcrumbNav.stories.tsx
  packages/storybook/stories/components/ButtonGroup.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: undo removal of CC0 license comment
  components/link/css/stories/tabindex.stories.mdx
Due: none

chore: fix design token story for badge counter and reset decorator in design token story function
  packages/storybook/stories/components/BadgeCounter.stories.tsx
  packages/storybook/stories/components/util.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: improve utrecht design token definition to match stylelintrc
  packages/storybook/src/utrecht-design-tokens.d.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: revert removal of form logic in alert dialog stories
  packages/storybook/config/preview.tsx
  packages/storybook/stories/components/AlertDialog.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: use custom Article component in tabindex story
  components/link/css/stories/tabindex.stories.mdx
Due: none

chore: remove references to component-library-react
  components/alternate-lang-nav/css/story-template.jsx
  components/button/css/stories/description.stories.mdx
  components/button/css/story-template.jsx
  components/link/css/stories/tabindex.stories.mdx
  components/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: use decorator for rtl breadcrumb story
  packages/storybook/stories/components/BreadcrumbNav.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: checkout lockfile from origin
  pnpm-lock.yaml
Due: none

chore: fixing linting and prettier errors
  components/alternate-lang-nav/css/story-template.jsx
  components/breadcrumb/css/story-template.jsx
  components/button/css/stories/description.stories.mdx
  components/link/css/stories/tabindex.stories.mdx
  components/package.json
  components/page-content/css/stories/with-breadcrumb.stories.mdx
  components/page-content/css/story-template.jsx
  packages/storybook/stories/components/AlertDialog.stories.tsx
  packages/storybook/stories/components/BadgeCounter.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: wip of tsx migration
  components/alert-dialog/css/stories/default.stories.mdx
  components/alert-dialog/css/stories/tokens.stories.mdx
  components/alert-dialog/css/stories/type.stories.mdx
  components/alert-dialog/css/story-template.jsx
  components/alert/css/story-template.jsx
  components/article/css/stories/default.stories.mdx
  components/article/css/stories/tokens.stories.mdx
  components/article/css/story-template.jsx
  components/backdrop/css/stories/default.stories.mdx
  components/backdrop/css/stories/readme.stories.mdx
  components/backdrop/css/stories/reduced-motion.stories.mdx
  components/backdrop/css/stories/reduced-transparency.stories.mdx
  components/backdrop/css/stories/tokens.stories.mdx
  components/backdrop/css/story-template.jsx
  packages/storybook/stories/components/AlertDialog.stories.tsx
  packages/storybook/stories/components/Article.stories.tsx
  packages/storybook/stories/components/Backdrop.stories.tsx
  packages/storybook/stories/components/BadgeCounter.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: improve backdrop migration to tsx
  packages/storybook/stories/components/Backdrop.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: fix storybook code preview for components outside of current package
  packages/storybook/config/preview.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: align migration to tsx for alert dialog
  packages/storybook/stories/components/AlertDialog.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: fix alert dialog story height in docs
  packages/storybook/stories/components/AlertDialog.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: migratie breadcrumb story component naar tsx
  components/breadcrumb/css/stories/default.stories.mdx
  components/breadcrumb/css/stories/readme.stories.mdx
  components/breadcrumb/css/stories/rel.stories.mdx
  components/breadcrumb/css/stories/rtl.stories.mdx
  components/breadcrumb/css/stories/tokens.stories.mdx
  components/page-content/css/stories/with-breadcrumb.stories.mdx
  packages/storybook/stories/components/BreadcrumbNav.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
