Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

style: support padding and background color in error message, to look like an alert
  components/form-field-error-message/css/_mixin.scss
  components/form-field-error-message/tokens.json
Due: prettier --check, stylelint --allow-empty-input

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: rename incorrect `form-field-error-message` token
  components/form-field-error-message/css/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

fix: ensure `hidden` attribute still works for every HTML component
  components/button/html/_mixin.scss
  components/code-block/html/_mixin.scss
  components/form-fieldset/css/_reset.scss
  components/form-fieldset/html/_mixin.scss
  packages/storybook-html/src/Article.stories.tsx
  packages/storybook-html/src/Blockquote.stories.tsx
  packages/storybook-html/src/Button.stories.tsx
  packages/storybook-html/src/Checkbox.stories.tsx
  packages/storybook-html/src/Code.stories.tsx
  packages/storybook-html/src/CodeBlock.stories.tsx
  packages/storybook-html/src/Document.stories.tsx
  packages/storybook-html/src/Emphasis.stories.tsx
  packages/storybook-html/src/FormFieldset.stories.tsx
  packages/storybook-html/src/FormLabel.stories.tsx
  packages/storybook-html/src/Heading1.stories.tsx
  packages/storybook-html/src/Heading2.stories.tsx
  packages/storybook-html/src/Heading3.stories.tsx
  packages/storybook-html/src/Heading4.stories.tsx
  packages/storybook-html/src/Heading5.stories.tsx
  packages/storybook-html/src/Heading6.stories.tsx
  packages/storybook-html/src/Link.stories.tsx
  packages/storybook-html/src/Mark.stories.tsx
  packages/storybook-html/src/OrderedList.stories.tsx
  packages/storybook-html/src/Paragraph.stories.tsx
  packages/storybook-html/src/RadioButton.stories.tsx
  packages/storybook-html/src/Select.stories.tsx
  packages/storybook-html/src/Separator.stories.tsx
  packages/storybook-html/src/Strong.stories.tsx
  packages/storybook-html/src/Table.stories.tsx
  packages/storybook-html/src/Textarea.stories.tsx
  packages/storybook-html/src/Textbox.stories.tsx
  packages/storybook-html/src/UnorderedList.stories.tsx
  packages/storybook-html/src/_hidden.md
  packages/storybook-html/src/util/htmlArgTypes.ts
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: the woes of `display` properties and the `hidden` attribute
  documentation/css.md
Due: markdownlint, prettier --check

feat: drawer component
  components/drawer/README.md
  components/drawer/css/_mixin.scss
  components/drawer/css/index.scss
  components/drawer/tokens.json
  components/index.scss
  packages/component-library-react/src/Drawer.tsx
  packages/component-library-react/src/css-module/Drawer.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/storybook-css/src/Drawer.stories.tsx
  packages/storybook-react/src/stories/Drawer.stories.tsx
  packages/storybook-web-component/src/Drawer.stories.tsx
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/drawer.scss
  packages/web-component-library-stencil/src/components/drawer.tsx
  proprietary/design-tokens/src/component/utrecht/drawer.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: display web component drawer full size
  packages/web-component-library-stencil/src/components/drawer.scss
Due: prettier --check, stylelint --allow-empty-input

fix: custom class name can now be added
  packages/component-library-react/src/Drawer.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: drawer test.tsx made
  packages/component-library-react/src/Drawer.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: div to dialog element changed
  packages/component-library-react/src/Drawer.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: last test for open added
  packages/component-library-react/src/Drawer.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: changed test title
  packages/component-library-react/src/Drawer.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

test: add tests for open drawer
  packages/component-library-react/src/Drawer.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: flex-wrap fallback component
  components/flex-wrap-fallback/README.md
  components/flex-wrap-fallback/tokens.json
  packages/storybook-web-component/src/FlexWrapFallback.stories.tsx
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/flex-wrap-fallback.scss
  packages/web-component-library-stencil/src/components/flex-wrap-fallback.tsx
  packages/web-component-library-stencil/src/index.html
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: `expanded` and `pressed` state for web component button
  packages/storybook-web-component/src/Button.stories.tsx
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/button.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

ci: detect unstaged changes after build before merging
  .github/workflows/continuous-delivery.yml
Due: none

fix(css): reset the spacing for the accordion header
  components/accordion/css/_mixin.scss
  components/accordion/css/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix(design-tokens): modify the spacing for the accordion item
  proprietary/design-tokens/src/component/utrecht/accordion.tokens.json
Due: none

docs(react-storybook): add multiple accordion story
  packages/storybook-react/src/stories/Accordion.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: fix the spacing for the accordion header (#1968)
  components/accordion/css/_mixin.scss
  components/accordion/css/index.scss
  packages/storybook-react/src/stories/Accordion.stories.tsx
  proprietary/design-tokens/src/component/utrecht/accordion.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
