Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": "markdownlint",
  "*.{js,json,jsx,mdx,ts,tsx}": "eslint --no-error-on-unmatched-pattern",
  "*.{css,scss}": "stylelint --allow-empty-input"
}

docs: Vue.js component libary readme
  documentation/vue-component.stories.mdx
  packages/web-component-library-vue/README.md
Due: markdownlint, eslint --no-error-on-unmatched-pattern

build(deps-dev): install `@stencil/vue-output-target`
  package-lock.json
  packages/web-component-library-stencil/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

fix: use Prop instead of State to fix form bindings
  components/checkbox/stencil.tsx
  components/form-field-textbox/stencil.tsx
  components/textbox/stencil.tsx
Due: eslint --no-error-on-unmatched-pattern

feat: Vue.js 3 web component library
  .eslintignore
  .prettierignore
  package-lock.json
  packages/web-component-library-stencil/stencil.config.ts
  packages/web-component-library-vue/.gitignore
  packages/web-component-library-vue/package.json
  packages/web-component-library-vue/tsconfig.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

fix: patch Vue.js output library to not lowercase event names
  packages/web-component-library-stencil/patch-vue.ts
  packages/web-component-library-stencil/stencil.config.ts
Due: eslint --no-error-on-unmatched-pattern

feat: add `@utrecht/web-component-library-vue` to workspace
  package-lock.json
  packages/web-component-library-vue/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  components/package.json
  packages/component-library-css/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

build(deps-dev): install Storybook CLI
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

build(deps-dev) upgrade to Storybook 6.3.7
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

build(deps-dev): many updates
  package-lock.json
  package.json
  packages/web-component-library-angular/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

ci: prevent upgrading to @angular/forms 12
  .github/dependabot.yml
Due: none

fix: allow React 17 as peer dependency
  packages/web-component-library-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

refactor: configure ESLint using only overrides
  .eslintrc.js.json
  .eslintrc.json
  .eslintrc.react.json
  packages/web-component-library-stencil/tsconfig.stencil.json
Due: eslint --no-error-on-unmatched-pattern

feat: add form.io components package
  .eslintrc.json
  package-lock.json
  packages/component-library-formio/package.json
  packages/component-library-formio/src/button/index.ts
  packages/component-library-formio/src/button/template.ts
  packages/component-library-formio/src/checkbox/index.ts
  packages/component-library-formio/src/checkbox/template.ts
  packages/component-library-formio/src/currency/index.ts
  packages/component-library-formio/src/date-time/index.ts
  packages/component-library-formio/src/email/index.ts
  packages/component-library-formio/src/form-fieldset/template.ts
  packages/component-library-formio/src/form-label/template.ts
  packages/component-library-formio/src/html-content/index.ts
  packages/component-library-formio/src/index.ts
  packages/component-library-formio/src/number/index.ts
  packages/component-library-formio/src/password/index.ts
  packages/component-library-formio/src/phone/index.ts
  packages/component-library-formio/src/radio-button/index.ts
  packages/component-library-formio/src/radio-button/template.ts
  packages/component-library-formio/src/textarea/index.ts
  packages/component-library-formio/src/textbox/index.ts
  packages/component-library-formio/src/time/index.ts
  packages/component-library-formio/src/url/index.ts
  packages/component-library-formio/tsconfig.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  components/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

ci: enable Dependabot updates for GitHub Actions
  .github/dependabot.yml
Due: none

build(deps-dev): bump @percy/storybook from 3.3.1 to 4.0.1
  package-lock.json
  package.json
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

build: update configuration for `@percy/storybook@4.0`
  .github/workflows/continuous-delivery.yml
  package.json
  packages/storybook/.storybook/preview.js
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

fix: configure Percy via JSON instead of Storybook
  .percy.json
  packages/storybook/.storybook/preview.js
Due: eslint --no-error-on-unmatched-pattern

build(deps-dev): install npm-check-updates
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

build(deps-dev): minor updates
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

build(deps-dev): upgrade to webpack 5 for Storybook
  package-lock.json
  package.json
  packages/storybook/.storybook/main.js
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

docs: include link to form.io package on npm
  README.md
Due: markdownlint

docs: Form.io component README
  documentation/formio-component.stories.mdx
  packages/component-library-formio/README.md
  packages/storybook/.storybook/preview.js
Due: markdownlint, eslint --no-error-on-unmatched-pattern

feat: include `sanitizeConfig` in form.io package
  packages/component-library-formio/src/index.ts
Due: eslint --no-error-on-unmatched-pattern
