Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: use react template for heading-4
  components/heading-4/css/stories/default.stories.mdx
  components/heading-4/css/stories/distanced.stories.mdx
  components/heading-4/css/story-template.jsx
  components/heading-4/css/template.js
  components/heading-4/html/stories/default.stories.mdx
  components/heading-4/html/story-template.jsx
  components/heading-4/html/template.js
  components/heading-4/web-component/stories/default.stories.mdx
  components/heading-4/web-component/story-template.jsx
  components/heading-4/web-component/template.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: use react template for icon
  components/icon/web-component/stories/default.stories.mdx
  components/icon/web-component/stories/inline-svg.stories.mdx
  components/icon/web-component/story-template.jsx
  components/icon/web-component/template.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: use react template for eidas-logo
  components/eidas-logo/web-component/stories/default.stories.mdx
  components/eidas-logo/web-component/story-template.jsx
  components/eidas-logo/web-component/template.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: use react template for custom-radio-button
  components/custom-radio-button/css/stories/default.stories.mdx
  components/custom-radio-button/css/stories/states.stories.mdx
  components/custom-radio-button/css/story-template.jsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: use react template for page-content
  components/page-content/css/stories/default.stories.mdx
  components/page-content/css/stories/with-aside.stories.mdx
  components/page-content/css/stories/with-breadcrumb.stories.mdx
  components/page-content/css/story-template.jsx
  components/page-content/web-component/stories/default.stories.mdx
  components/page-content/web-component/story-template.jsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: cache .npm/ directory in GitHub Actions
  .github/workflows/continuous-delivery.yml
Due: none

ci: `prefer-offline` to resist npm registry outages using cache
  .github/workflows/continuous-delivery.yml
Due: none

fix: lead paragraph styles fallback to paragraph styles
  components/paragraph/css/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

refactor: remove dependencies on `@utrecht/storybook`
  package-lock.json
  packages/storybook-angular/config/manager.js
  packages/storybook-angular/package.json
  packages/storybook-helpers/storybook-theme.json
  packages/storybook-react/config/manager.js
  packages/storybook-react/package.json
  packages/storybook-vue/config/manager.js
  packages/storybook-vue/package.json
  packages/storybook/config/customTheme.js
  packages/storybook/config/manager.js
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: fix output path of compodoc
  packages/storybook-angular/angular.json
Due: none

build: use nx to start framework Storybooks from workspace root
  components/icon/project.json
  components/project.json
  package-lock.json
  package.json
  packages/component-library-angular/project.json
  packages/component-library-css/project.json
  packages/component-library-formio/project.json
  packages/component-library-react/project.json
  packages/component-library-vue/project.json
  packages/design-system-website/project.json
  packages/docusaurus/project.json
  packages/storybook-angular/project.json
  packages/storybook-react/project.json
  packages/storybook-vue/project.json
  packages/storybook/project.json
  packages/web-component-library-angular/project.json
  packages/web-component-library-react/project.json
  packages/web-component-library-stencil/project.json
  packages/web-component-library-vue/project.json
  proprietary/design-tokens/project.json
Due: npmPkgJsonLint --allowEmptyTargets

docs: fix logo in sidebar in Storybook for Angular
  packages/storybook-angular/config/main.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: overview of commonly used npm scripts
  README.md
Due: markdownlint, prettier --check

refactor: move `ProcessSteps` stories to storybook-react
  components/package.json
  packages/storybook-react/package.json
  packages/storybook-react/src/stories/ProcessSteps/default.stories.mdx
  packages/storybook-react/src/stories/ProcessSteps/readme.stories.mdx
  packages/storybook-react/src/stories/ProcessSteps/tokens.stories.mdx
Due: npmPkgJsonLint --allowEmptyTargets

build: move vue/test-utils dependency to component-library-vue
  package.json
  packages/component-library-vue/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: install missing peerDependencies
  components/package.json
  documentation/package.json
  package.json
  packages/component-library-angular/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/component-library-vue/tsconfig.jest.json
  packages/docusaurus/package.json
  packages/storybook-angular/package.json
  packages/storybook-react/package.json
  packages/storybook-vue/package.json
  packages/storybook/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-vue/package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: update path to work with `pnpm` instead of `npm`
  packages/storybook-react/bin/build-storybook.js
  packages/storybook-react/bin/start-storybook.js
  packages/storybook-react/package.json
  packages/storybook-vue/bin/build-storybook.js
  packages/storybook-vue/bin/start-storybook.js
  packages/storybook-vue/package.json
  packages/storybook/bin/build-storybook.js
  packages/storybook/bin/start-storybook.js
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: exclude unit test from Stencil components build
  components/icon/src/build.js
  packages/web-component-library-stencil/tsconfig.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: typescript config for Stencil
  .eslintrc.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-stencil/tsconfig.json
  packages/web-component-library-stencil/tsconfig.stencil.json
Due: npmPkgJsonLint --allowEmptyTargets

build: update package-lock.json
  package-lock.json
Due: none

wip
  packages/docusaurus/navigationConfig.js
  packages/docusaurus/sidebarConfig.js
  packages/docusaurus/src/styles/custom.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
