Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs(release): design system packages
  .changeset/silent-guests-listen.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  packages/components-react/checkbox-group-react/CHANGELOG.md
  packages/components-react/checkbox-group-react/package.json
  packages/components-react/form-field-checkbox-react/CHANGELOG.md
  packages/components-react/form-field-checkbox-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages (#2930)
  .changeset/silent-guests-listen.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  packages/components-react/checkbox-group-react/CHANGELOG.md
  packages/components-react/checkbox-group-react/package.json
  packages/components-react/form-field-checkbox-react/CHANGELOG.md
  packages/components-react/form-field-checkbox-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat(pagination): add `text-decoration` token for `relative-link--disabled`
  components/pagination/src/_mixin.scss
  components/pagination/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat(pagination): add `text-decoration` token for `page-link--current`
  components/pagination/src/_mixin.scss
  components/pagination/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat(pagination): add `line-height` design token
  components/pagination/src/_mixin.scss
  components/pagination/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor(pagination): transform `:focus-visible` styles into mixin
  components/pagination/src/_mixin.scss
  components/pagination/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

docs(pagination): add changeset
  .changeset/smart-dolphins-compete.md
Due: markdownlint, prettier --check

feat(pagination): add `background-color` and `color` tokens for `focus` styles
  components/pagination/src/_mixin.scss
  components/pagination/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix(astro): not resolving bable runtime helpers esm
  packages/astro/astro.config.ts
  packages/astro/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat(pagination): add support for additional pagination tokens (#2929)
  .changeset/smart-dolphins-compete.md
  components/pagination/src/_mixin.scss
  components/pagination/src/index.scss
  components/pagination/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs(release): design system packages
  .changeset/smart-dolphins-compete.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/pagination/CHANGELOG.md
  components/pagination/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/component-library-design-tokens/CHANGELOG.md
  packages/component-library-design-tokens/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore(pagination): add `:any-link` to `:hover` selectors
  components/pagination/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

docs(pagination): add changeset
  .changeset/short-apples-deny.md
Due: markdownlint, prettier --check

fix(pagination): remove hover styles for non links (#2928)
  .changeset/short-apples-deny.md
  components/pagination/src/index.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

docs(release): design system packages (#2933)
  .changeset/smart-dolphins-compete.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/pagination/CHANGELOG.md
  components/pagination/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/component-library-design-tokens/CHANGELOG.md
  packages/component-library-design-tokens/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/short-apples-deny.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/pagination/CHANGELOG.md
  components/pagination/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/component-library-design-tokens/CHANGELOG.md
  packages/component-library-design-tokens/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add grid-css component
  components/grid/README.md
  components/grid/package.json
  components/grid/src/tokens.json
  packages/component-library-css/package.json
  packages/component-library-css/src/index.scss
  packages/storybook-css/package.json
  packages/storybook-css/src/Grid.stories.tsx
  packages/storybook-css/src/Grid.tsx
  pnpm-lock.yaml
  proprietary/design-tokens/src/component/utrecht/grid.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add grid react-component
  packages/components-react/grid-react/.eslintrc.json
  packages/components-react/grid-react/babel.config.cjs
  packages/components-react/grid-react/jest.config.mjs
  packages/components-react/grid-react/package.json
  packages/components-react/grid-react/rollup.config.mjs
  packages/components-react/grid-react/src/css.tsx
  packages/components-react/grid-react/src/index.test.tsx
  packages/components-react/grid-react/src/index.tsx
  packages/components-react/grid-react/src/insert-style.ts
  packages/components-react/grid-react/tsconfig.build.json
  packages/components-react/grid-react/tsconfig.json
  packages/components-react/grid-react/tsconfig.test.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fixup! feat: add grid-css component
  components/grid/README.md
  components/grid/src/_mixin.scss
  components/grid/src/index.scss
  components/grid/src/tokens.json
  packages/storybook-css/package.json
  packages/storybook-css/src/Grid.stories.tsx
  packages/storybook-css/src/Grid.tsx
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

style: grid spacing and breakpoints styling
  components/grid/src/_mixin.scss
  components/grid/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

docs(release): design system packages (#2934)
  .changeset/short-apples-deny.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/pagination/CHANGELOG.md
  components/pagination/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/component-library-design-tokens/CHANGELOG.md
  packages/component-library-design-tokens/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

update
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

colors update
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: token koppeling
  components/tile/src/_mixin.scss
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/design-tokens/src/component/utrecht/tile.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

style: link social background update
  proprietary/design-tokens/src/component/utrecht/link-social.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: link social background update (#2935)
  proprietary/design-tokens/src/component/utrecht/link-social.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: add changeset
  .changeset/heavy-lizards-bow.md
Due: markdownlint, prettier --check

fix: social icon component gebruikt en instructie
  packages/storybook-react/src/stories/prototype-src/contactformulier/ScenarioContactFormulier.tsx
  packages/storybook-react/src/stories/prototype-src/webpaginablokken/HulpEnContact.tsx
  packages/storybook-react/src/stories/prototype-src/webpaginablokken/HulpEnContact2.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: changeset reword
  .changeset/heavy-lizards-bow.md
Due: markdownlint, prettier --check

fix: fix grid-css component
  components/grid/README.md
  components/grid/src/_mixin.scss
  components/grid/src/index.scss
  components/grid/src/tokens.json
  packages/storybook-css/package.json
  packages/storybook-css/src/Grid.stories.tsx
  packages/storybook-css/src/Grid.tsx
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
