Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add `dist/property.css` file with `@property` definitions for design tokens
  .changeset/build-property-css.md
  packages/component-library-design-tokens/package.json
  packages/component-library-design-tokens/src/build-property.mjs
  packages/component-library-design-tokens/src/build-tokens.mjs
  packages/storybook-css/config/preview.tsx
  packages/storybook-css/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fixup! feat: add `dist/property.css` file with `@property` definitions for design tokens
  packages/component-library-design-tokens/src/build-property.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(spotlight-section-css): add `error` and `ok` types
  .changeset/five-bikes-explain.md
  components/spotlight-section/src/_mixin.scss
  components/spotlight-section/src/index.scss
  components/spotlight-section/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat(component-library-react/SpotlightSection): add `error` and `ok` types
  .changeset/tender-spies-look.md
  packages/component-library-react/src/SpotlightSection.test.tsx
  packages/component-library-react/src/SpotlightSection.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(storybook-css): update SpotlightSection stories by adding new types
  packages/storybook-css/src/SpotlightSection.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(storybook-react): update SpotlightSection stories by adding new types
  packages/storybook-react/src/stories/SpotlightSection.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(design-tokens): add new design tokens to spotlight-section component
  .changeset/dull-clocks-trade.md
  proprietary/design-tokens/src/component/utrecht/spotlight-section.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

ci: do not use lowercase keywords for Prince XML tags
  .stylelintrc.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: support nested TOC
  packages/component-library-pdf/src/TableOfContents.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: add postcss plugin to optimize for Prince XML
  packages/component-library-css/rollup.config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: table of contents component
  .changeset/empty-icons-deliver.md
  components/index.scss
  components/table-of-contents/README.md
  components/table-of-contents/docs/technology-pdf.nl.md
  components/table-of-contents/package.json
  components/table-of-contents/src/_mixin.scss
  components/table-of-contents/src/index.scss
  components/table-of-contents/src/tokens.json
  packages/component-library-pdf/src/TableOfContents.test.tsx
  packages/component-library-react/package.json
  packages/component-library-react/src/TableOfContents.tsx
  packages/component-library-react/src/css-module/TableOfContents.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/storybook-pdf/package.json
  packages/storybook-pdf/src/TableOfContents.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs(release): design system packages
  .changeset/aap-noot-mies.md
  .changeset/clever-houses-rescue.md
  .changeset/dull-clocks-trade.md
  .changeset/empty-icons-deliver.md
  .changeset/five-bikes-explain.md
  .changeset/kind-chicken-look.md
  .changeset/kind-rabbit-look.md
  .changeset/lemon-adults-allow.md
  .changeset/spooky-houses-rescue.md
  .changeset/strange-spies-taste.md
  .changeset/tender-spies-look.md
  .changeset/weak-olives-collect.md
  components/CHANGELOG.md
  components/code-block/CHANGELOG.md
  components/code-block/package.json
  components/code/CHANGELOG.md
  components/code/package.json
  components/color-sample/CHANGELOG.md
  components/color-sample/package.json
  components/drawer/CHANGELOG.md
  components/drawer/package.json
  components/package.json
  components/pre-heading/CHANGELOG.md
  components/pre-heading/package.json
  components/spotlight-section/CHANGELOG.md
  components/spotlight-section/package.json
  components/subscript/CHANGELOG.md
  components/subscript/package.json
  components/superscript/CHANGELOG.md
  components/superscript/package.json
  components/table-of-contents/CHANGELOG.md
  components/table-of-contents/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/component-library-pdf/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat(components-library-react): deprecate lead and small in favor of appearance
  packages/component-library-react/src/Paragraph.test.tsx
  packages/component-library-react/src/Paragraph.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: add Figma design token support for drawer
  .changeset/pink-coins-jog.md
Due: markdownlint, prettier --check

refactor: move common design token metadata to src/ dir
  components/common/src/action/tokens.json
  components/common/src/feedback/tokens.json
  components/common/src/motion/tokens.json
  components/common/src/pointer-target/tokens.json
  components/common/src/space/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: remove design token metadata for tokens that are not implemented
  .changeset/mighty-eagles-join.md
  components/mapcontrolbutton/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore: add Figma design token support for mark
  .changeset/wild-insects-beg.md
  components/mark/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: small fixes to design token metadata
  .changeset/popular-rules-scream.md
  components/badge-counter/src/tokens.json
  components/blockquote/src/tokens.json
  components/form-field-error-message/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset for new component-library-design-tokens package
  .changeset/design-token-library.md
Due: markdownlint, prettier --check

build: upgrade from Node 20 to Node 22
  .nvmrc
  package.json
  packages/component-library-vue/package.json
  packages/storybook-angular/package.json
  packages/storybook-vue/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: add Figma design token support for pre-heading
  .changeset/lucky-rivers-approve.md
Due: markdownlint, prettier --check

feat: define cursor token metadata for `activate` and `inert`
  components/common/src/action/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: token glob now includes common tokens
  packages/component-library-design-tokens/src/lib.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add theme linter
  packages/component-library-design-tokens/package.json
  packages/component-library-design-tokens/src/lint-theme.mjs
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: add Figma design token support for code block
  .changeset/green-mirrors-kneel.md
Due: markdownlint, prettier --check

chore: add Figma design token support for code
  .changeset/many-meals-carry.md
Due: markdownlint, prettier --check

chore: add Figma design token support for color sample
  .changeset/sweet-dolphins-design.md
Due: markdownlint, prettier --check

fix: add missing metadata for `utrecht.link.focus.background-color`
  .changeset/friendly-ducks-dress.md
  components/link/src/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: use `readFile` instead of `import ... assert`
  packages/component-library-angular/test-exports.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
