Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": "markdownlint",
  "*.{js,jsx,mdx,ts,tsx}": "eslint --no-error-on-unmatched-pattern",
  "*.css": "stylelint --allow-empty-input"
}

docs(release): design system packages
  packages/component-library-css/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: alternate language link component
  components/alternate-lang-link/README.md
  components/alternate-lang-link/bem.css
  components/alternate-lang-link/bem.stories.mdx
  components/alternate-lang-link/html.scss
  components/alternate-lang-link/html.stories.mdx
  components/html-content/html.scss
Due: markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

ci: use GitHub Actions setup from rijkshuisstijl
  .github/workflows/continuous-delivery.yml
  .github/workflows/continuous-integration.yml
Due: none

ci: skip visual regression tests for draft PRs (budget CI minutes)
  .github/workflows/continuous-delivery.yml
Due: none

feat: alternate language navigation component
  components/alternate-lang-nav/README.md
  components/alternate-lang-nav/stories.mdx
Due: markdownlint, eslint --no-error-on-unmatched-pattern

build: upgrade to Storybook 6.3.4
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: remove Storybook from dismantled package
  package-lock.json
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: uninstall unused testing packages
  components/package.json
  package-lock.json
Due: npmPkgJsonLint --allowEmptyTargets

build: remove unused packages from `web-component-library-react`
  package-lock.json
  packages/web-component-library-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: upgrade css-loader
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

build(deps-dev): bump @typescript-eslint/eslint-plugin from 4.28.1 to 4.28.4
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: ignore Dependabot updates for React 17
  .github/dependabot.yml
Due: none

build(deps-dev): bump lint-staged from 11.0.0 to 11.0.1
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

build(deps-dev): bump typescript from 3.9.10 to 4.3.5
  package-lock.json
  packages/web-component-library-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build(dev-deps): install `@stencil/angular-output-target`
  package-lock.json
  packages/web-component-library-stencil/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: Angular package for web components
  package-lock.json
  packages/web-component-library-angular/.gitignore
  packages/web-component-library-angular/package.json
  packages/web-component-library-stencil/stencil.config.ts
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

fixup! feat: Angular package for web components
  package-lock.json
  packages/web-component-library-angular/angular.json
  packages/web-component-library-angular/ng-package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-angular/src/index.module.ts
  packages/web-component-library-angular/src/public-api.ts
  packages/web-component-library-angular/tsconfig.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern

fixup! fixup! feat: Angular package for web components
  packages/web-component-library-angular/src/index.module.ts
Due: eslint --no-error-on-unmatched-pattern

x
  package-lock.json
  packages/web-component-library-angular/package.json
Due: npmPkgJsonLint --allowEmptyTargets

showcase stories
  components.stories.mdx
  form.stories.mdx
  page-layout.stories.mdx
  rich-text.stories.mdx
Due: eslint --no-error-on-unmatched-pattern

ci: revert allow tmp branch publishing
  lerna.json
Due: none

feat: Angular package for web components
  .prettierignore
  package-lock.json
  package.json
  packages/web-component-library-angular/.gitignore
  packages/web-component-library-angular/angular.json
  packages/web-component-library-angular/ng-package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-angular/src/index.module.ts
  packages/web-component-library-angular/src/public-api.ts
  packages/web-component-library-angular/tsconfig.json
  packages/web-component-library-stencil/stencil.config.ts
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern
