Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": "markdownlint",
  "*.{js,jsx,mdx,ts,tsx}": "eslint --no-error-on-unmatched-pattern",
  "*.css": "stylelint --allow-empty-input"
}

chore: group design tokens per prefix
  proprietary/design-tokens/src/brand/utrecht/color.style-dictionary.json
  proprietary/design-tokens/src/brand/utrecht/typography.style-dictionary.json
  proprietary/design-tokens/src/common/utrecht/border.style-dictionary.json
  proprietary/design-tokens/src/common/utrecht/feedback.style-dictionary.json
  proprietary/design-tokens/src/common/utrecht/focus.style-dictionary.json
  proprietary/design-tokens/src/common/utrecht/space.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/blockquote/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/blockquote/element.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/button/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/button/modifier-state.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/button/modifier.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/button/state.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/document/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/form-field/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/form-input/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/form-input/element.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/form-input/modifier.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/form-label/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/heading/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/link/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/link/modifier.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/menulijst/element-state.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/menulijst/element.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/paragraph/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/paragraph/modifier.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/separator/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/textarea/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/textarea/modifier.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/textbox/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/textbox/modifier.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/unordered-list/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/unordered-list/element.style-dictionary.json
Due: none

build: add Style Dictionary build step
  proprietary/design-tokens/package-lock.json
  proprietary/design-tokens/package.json
  proprietary/design-tokens/style-dictionary.config.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: rename incorrect Blockquote design tokens
  components/blockquote/block.style-dictionary.json
  proprietary/design-tokens/src/component/_blockquote.scss
Due: none

feat: define Utrecht Brand Design Tokens in Style Dictionary
  proprietary/design-tokens/src/brand/color.style-dictionary.json
  proprietary/design-tokens/src/brand/typography.style-dictionary.json
Due: none

feat: button border-radius
  components/button/README.md
  components/button/style.css
Due: markdownlint, stylelint --allow-empty-input

chore: remove CSS design token definitions
  packages/component-library/src/utrecht-theme.scss
  proprietary/design-tokens/src/_responsive.scss
  proprietary/design-tokens/src/brand/_color.scss
  proprietary/design-tokens/src/brand/_index.scss
  proprietary/design-tokens/src/brand/_misc.scss
  proprietary/design-tokens/src/brand/_typography.scss
  proprietary/design-tokens/src/common/_border.scss
  proprietary/design-tokens/src/common/_document.scss
  proprietary/design-tokens/src/common/_index.scss
  proprietary/design-tokens/src/common/_space.scss
  proprietary/design-tokens/src/component/_blockquote.scss
  proprietary/design-tokens/src/component/_button.scss
  proprietary/design-tokens/src/component/_form.scss
  proprietary/design-tokens/src/component/_heading.scss
  proprietary/design-tokens/src/component/_index.scss
  proprietary/design-tokens/src/component/_link.scss
  proprietary/design-tokens/src/component/_menulijst.scss
  proprietary/design-tokens/src/component/_paragraph.scss
  proprietary/design-tokens/src/component/_separator.scss
  proprietary/design-tokens/src/component/_textarea.scss
  proprietary/design-tokens/src/component/_textbox.scss
  proprietary/design-tokens/src/component/_unordered-list.scss
  proprietary/design-tokens/src/custom.scss
  proprietary/design-tokens/src/index.scss
  proprietary/design-tokens/src/misc/_index.scss
  proprietary/design-tokens/src/misc/_todo.scss
  proprietary/design-tokens/utrecht-design-tokens.css
Due: stylelint --allow-empty-input

fix: improve styling of blockquote attribution
  components/blockquote/index.css
  components/blockquote/stories.mdx
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: define common design tokens in Style Dictionary
  proprietary/design-tokens/src/common/border.style-dictionary.json
  proprietary/design-tokens/src/common/feedback.style-dictionary.json
  proprietary/design-tokens/src/common/focus.style-dictionary.json
  proprietary/design-tokens/src/common/space.style-dictionary.json
Due: none

refactor: split up `{padding,margin}-{inline,block}` into `{start,end}` properties
  components/blockquote/README.md
  components/blockquote/index.css
  components/button/README.md
  components/button/style.css
  components/paragraph/README.md
  components/paragraph/index.css
  components/separator/README.md
  components/separator/index.css
  proprietary/design-tokens/src/component/_button.scss
  proprietary/design-tokens/src/misc/_todo.scss
Due: markdownlint, stylelint --allow-empty-input

feat: heading letter-spacing design token
  components/heading/README.md
  components/heading/index.css
Due: markdownlint, stylelint --allow-empty-input

feat: document color as default for heading and paragraph
  components/heading/README.md
  components/heading/index.css
  components/paragraph/README.md
  components/paragraph/index.css
Due: markdownlint, stylelint --allow-empty-input

fix: menulijst component use standard design tokens
  components/menulijst/style.css
Due: stylelint --allow-empty-input

feat: define theme per component in Style Dictionary JSON
  proprietary/design-tokens/src/component/blockquote/block.style-dictionary.json
  proprietary/design-tokens/src/component/blockquote/element.style-dictionary.json
  proprietary/design-tokens/src/component/button/block.style-dictionary.json
  proprietary/design-tokens/src/component/button/modifier-state.style-dictionary.json
  proprietary/design-tokens/src/component/button/modifier.style-dictionary.json
  proprietary/design-tokens/src/component/button/state.style-dictionary.json
  proprietary/design-tokens/src/component/document/block.style-dictionary.json
  proprietary/design-tokens/src/component/form-field/block.style-dictionary.json
  proprietary/design-tokens/src/component/form-input/block.style-dictionary.json
  proprietary/design-tokens/src/component/form-input/element.style-dictionary.json
  proprietary/design-tokens/src/component/form-input/modifier.style-dictionary.json
  proprietary/design-tokens/src/component/form-label/block.style-dictionary.json
  proprietary/design-tokens/src/component/heading/block.style-dictionary.json
  proprietary/design-tokens/src/component/link/block.style-dictionary.json
  proprietary/design-tokens/src/component/link/modifier.style-dictionary.json
  proprietary/design-tokens/src/component/menulijst/element-state.style-dictionary.json
  proprietary/design-tokens/src/component/menulijst/element.style-dictionary.json
  proprietary/design-tokens/src/component/paragraph/block.style-dictionary.json
  proprietary/design-tokens/src/component/paragraph/modifier.style-dictionary.json
  proprietary/design-tokens/src/component/separator/block.style-dictionary.json
  proprietary/design-tokens/src/component/textarea/block.style-dictionary.json
  proprietary/design-tokens/src/component/textarea/modifier.style-dictionary.json
  proprietary/design-tokens/src/component/textbox/block.style-dictionary.json
  proprietary/design-tokens/src/component/textbox/modifier.style-dictionary.json
  proprietary/design-tokens/src/component/unordered-list/block.style-dictionary.json
  proprietary/design-tokens/src/component/unordered-list/element.style-dictionary.json
Due: none

feat: define design tokens in Style Dictionary per component
  components/blockquote/block.style-dictionary.json
  components/blockquote/element.style-dictionary.json
  components/button/block.style-dictionary.json
  components/button/modifier.style-dictionary.json
  components/document/block.style-dictionary.json
  components/form-field-radio-group/block.style-dictionary.json
  components/form-field/block.style-dictionary.json
  components/form-label/block.style-dictionary.json
  components/heading/block.style-dictionary.json
  components/link/block.style-dictionary.json
  components/link/modifier.style-dictionary.json
  components/paragraph/block.style-dictionary.json
  components/paragraph/modifier.style-dictionary.json
  components/separator/block.style-dictionary.json
  components/textarea/block.style-dictionary.json
  components/textarea/modifier.style-dictionary.json
  components/textbox/block.style-dictionary.json
  components/textbox/modifier.style-dictionary.json
  components/unordered-list/block.style-dictionary.json
  components/unordered-list/element.style-dictionary.json
Due: none

feat: use document component as wrapper for all stories
  components/document/bem.css
  packages/storybook/.storybook/preview.js
Due: eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: use renamed color variables
  documentation/colours.md
Due: markdownlint

build: use CSS generated by Style Dictionary in Storybook
  packages/storybook/.storybook/preview.js
Due: eslint --no-error-on-unmatched-pattern

feat: calc() for spacing scale
  proprietary/design-tokens/src/common/_index.scss
  proprietary/design-tokens/src/common/_space-block.scss
  proprietary/design-tokens/src/common/_space-column.scss
  proprietary/design-tokens/src/common/_space-inline.scss
  proprietary/design-tokens/src/common/_space-row.scss
Due: none

build: multiple design token sources
  packages/storybook/.storybook/preview.js
Due: eslint --no-error-on-unmatched-pattern

build: start Style Dictionary watcher along with Storybook
  package.json
  proprietary/design-tokens/package-lock.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: storybook deps
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: configure Netlify in file instead of dashboard
  .netlify.toml
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

fixup! ci: configure Netlify in file instead of dashboard
  netlify.toml
Due: none

ci: configure Netlify in file instead of dashboard (#142)
  netlify.toml
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: page header component
  components/page-header/README.md
  components/page-header/block.style-dictionary.json
  components/page-header/stories.mdx
  components/page-header/style.css
  proprietary/design-tokens/src/component/utrecht/page-header/block.style-dictionary.json
Due: markdownlint, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add reset modifier class names for headings
  components/heading/index.css
Due: stylelint --allow-empty-input

chore: migrate stories to Storybook status addon v4
  components/blockquote/html.stories.mdx
  components/blockquote/stories.mdx
  components/button/button-html.stories.mdx
  components/button/button.stories.mdx
  components/favicon/stories.mdx
  components/form-field-checkbox/stories.mdx
  components/form-field-radio-group/stories.mdx
  components/form-field-radio/stories.mdx
  components/form-label/html.stories.mdx
  components/form-label/stories.mdx
  components/heading/html.stories.mdx
  components/heading/stories.mdx
  components/link/link-html.stories.mdx
  components/link/link.stories.mdx
  components/logo/logo.stories.mdx
  components/menulijst/menulijst.stories.mdx
  components/paragraph/html.stories.mdx
  components/paragraph/stories.mdx
  components/separator/html.stories.mdx
  components/separator/stories.mdx
  components/textarea/html.stories.mdx
  components/textbox/html.stories.mdx
  components/unordered-list/html.stories.mdx
  components/unordered-list/stories.mdx
Due: eslint --no-error-on-unmatched-pattern

chore: migrate Storybook status addon config to v4
  packages/storybook/.storybook/preview.js
Due: eslint --no-error-on-unmatched-pattern
