Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,mjs,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

chore: add Figma design token support for code block
  .changeset/green-mirrors-kneel.md
Due: markdownlint, prettier --check

chore: add Figma design token support for pre-heading
  .changeset/lucky-rivers-approve.md
Due: markdownlint, prettier --check

WIP
  components/button-group/src/_mixin.scss
  components/button-group/src/tokens.json
  components/skip-link/src/_mixin.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: add changeset
  .changeset/big-three-ape.md
Due: markdownlint, prettier --check

docs: split Data Badge README into multiple markdown files
  components/badge-data/README.md
  components/badge-data/docs/technology-css.nl.md
  components/badge-data/docs/technology-html.nl.md
  packages/storybook-css/src/DataBadge.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add errorMessage property to FormField
  .changeset/lemon-adults-allow.md
  .changeset/strange-spies-taste.md
  packages/component-library-react/src/FormField.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore: remove `dist/css-module` imports from Storybook CSS
  packages/storybook-css/src/ColorSample.stories.tsx
  packages/storybook-css/src/Combobox.tsx
  packages/storybook-css/src/DataPlaceholder.stories.tsx
  packages/storybook-css/src/IndexCharNav.stories.tsx
  packages/storybook-css/src/Logo.stories.tsx
  packages/storybook-css/src/NavBar.stories.tsx
  packages/storybook-css/src/Subscript.stories.tsx
  packages/storybook-css/src/Superscript.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: add Storybook PDf to the website build
  packages/design-system-website/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs: split Form Fieldset README into multiple markdown files
  components/form-fieldset/README.md
  components/form-fieldset/docs/anatomy.nl.md
  components/form-fieldset/docs/technology-css.nl.md
  components/form-fieldset/docs/technology-html.nl.md
  components/form-fieldset/docs/wcag.nl.md
  packages/storybook-css/src/FormFieldset.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore: ensure tmp directory exists for Storybook PDF
  packages/component-library-pdf/tmp/.gitignore
Due: none

docs: split Alert Dialog README into multiple markdown files
  components/alert-dialog/README.md
  components/alert-dialog/docs/usage.nl.md
  packages/storybook-css/src/AlertDialog.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: split Textbox README into multiple markdown files
  components/textbox/README.md
  components/textbox/docs/anatomy.nl.md
  components/textbox/docs/input-purpose.nl.md
  components/textbox/docs/privacy.nl.md
  packages/storybook-css/src/Textbox.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add Form Field component to Storybook CSS
  components/form-field/README.md
  components/form-field/docs/anatomy.nl.md
  components/form-field/docs/technology-html.nl.md
  components/form-field/docs/wcag.nl.md
  packages/storybook-css/package.json
  packages/storybook-css/src/FormField.stories.tsx
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add official NL Design System component descriptions
  components/checkbox/README.md
  components/drawer/README.md
  components/heading-1/README.md
  components/heading-2/README.md
  components/heading-3/README.md
  components/heading-4/README.md
  components/heading-5/README.md
  components/heading-6/README.md
Due: markdownlint, prettier --check

docs: split Radio Button README into multiple markdown files
  components/radio-button/README.md
  components/radio-button/docs/anatomy.nl.md
  components/radio-button/docs/visual-design.nl.md
  packages/storybook-css/src/RadioButton.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: move Storybook notes out of Table README
  components/table/README.md
  packages/storybook-css/src/Table.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: split Data List README into multiple markdown files
  components/data-list/README.md
  components/data-list/docs/anatomy.nl.md
  components/data-list/docs/failure.nl.md
  components/data-list/docs/references.nl.md
  components/data-list/docs/technology-html.nl.md
  components/data-list/docs/translate.nl.md
  components/data-list/docs/usage.nl.md
  components/data-list/docs/wcag.nl.md
  packages/storybook-css/src/DataList.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: explain which PDF tags should be used for components
  components/article/docs/technology-pdf.nl.md
  components/blockquote/docs/technology-pdf.nl.md
  components/checkbox/docs/technology-pdf.nl.md
  components/code-block/docs/technology-pdf.nl.md
  components/code/docs/technology-pdf.nl.md
  components/data-list/docs/technology-pdf.nl.md
  components/heading-1/docs/technology-pdf.nl.md
  components/heading-2/docs/technology-pdf.nl.md
  components/heading-3/docs/technology-pdf.nl.md
  components/heading-4/docs/technology-pdf.nl.md
  components/heading-5/docs/technology-pdf.nl.md
  components/heading-6/docs/technology-pdf.nl.md
  components/link/docs/technology-pdf.nl.md
  components/ordered-list/docs/technology-pdf.nl.md
  components/paragraph/docs/technology-pdf.nl.md
  components/radio-button/docs/technology-pdf.nl.md
  components/table/docs/technology-pdf.nl.md
  components/textarea/docs/technology-pdf.nl.md
  components/textbox/docs/technology-pdf.nl.md
  components/unordered-list/docs/technology-pdf.nl.md
Due: markdownlint, prettier --check

docs: split Checkbox README into multiple markdown files
  components/checkbox/README.md
  components/checkbox/docs/anatomy.en.md
  components/checkbox/docs/best-practices.en.md
  components/checkbox/docs/content.nl.md
  components/checkbox/docs/keyboard.en.md
  components/checkbox/docs/references.nl.md
  components/checkbox/docs/related-components.en.md
  components/checkbox/docs/usage.nl.md
  components/checkbox/docs/wcag.nl.md
  packages/storybook-css/src/Checkbox.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add PDF component library
  packages/component-library-pdf/README.md
  packages/component-library-pdf/TESTPLAN.md
  packages/component-library-pdf/jest.config.ts
  packages/component-library-pdf/package.json
  packages/component-library-pdf/src/Article.test.tsx
  packages/component-library-pdf/src/Blockquote.test.tsx
  packages/component-library-pdf/src/Checkbox.test.tsx
  packages/component-library-pdf/src/Code.test.tsx
  packages/component-library-pdf/src/CodeBlock.test.tsx
  packages/component-library-pdf/src/DataList.test.tsx
  packages/component-library-pdf/src/FormFieldTextbox.test.tsx
  packages/component-library-pdf/src/FormLabel.test.tsx
  packages/component-library-pdf/src/Heading.test.tsx
  packages/component-library-pdf/src/Heading1.test.tsx
  packages/component-library-pdf/src/Heading2.test.tsx
  packages/component-library-pdf/src/Heading3.test.tsx
  packages/component-library-pdf/src/Heading4.test.tsx
  packages/component-library-pdf/src/Heading5.test.tsx
  packages/component-library-pdf/src/Heading6.test.tsx
  packages/component-library-pdf/src/LangSpan.test.tsx
  packages/component-library-pdf/src/Link.test.tsx
  packages/component-library-pdf/src/OrderedList.test.tsx
  packages/component-library-pdf/src/Page.test.tsx
  packages/component-library-pdf/src/Paragraph.test.tsx
  packages/component-library-pdf/src/Quote.test.tsx
  packages/component-library-pdf/src/RadioButton.test.tsx
  packages/component-library-pdf/src/Section.test.tsx
  packages/component-library-pdf/src/Table.test.tsx
  packages/component-library-pdf/src/Textarea.test.tsx
  packages/component-library-pdf/src/Textbox.test.tsx
  packages/component-library-pdf/src/UnorderedList.test.tsx
  packages/component-library-pdf/src/lib.tsx
  packages/component-library-pdf/tsconfig.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: split Textarea README into multiple markdown files
  components/textarea/README.md
  components/textarea/docs/anatomy.nl.md
  components/textarea/docs/privacy.nl.md
  components/textarea/docs/technology-html.nl.md
  packages/storybook-css/src/Textarea.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: table of contents component
  .changeset/empty-icons-deliver.md
  components/index.scss
  components/table-of-contents/README.md
  components/table-of-contents/docs/technology-pdf.nl.md
  components/table-of-contents/package.json
  components/table-of-contents/src/_mixin.scss
  components/table-of-contents/src/index.scss
  components/table-of-contents/src/tokens.json
  packages/component-library-pdf/src/TableOfContents.test.tsx
  packages/component-library-react/package.json
  packages/component-library-react/src/TableOfContents.tsx
  packages/component-library-react/src/css-module/TableOfContents.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/storybook-pdf/package.json
  packages/storybook-pdf/src/TableOfContents.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat(component-library-react): deprecate and in favor of
  packages/component-library-react/src/Paragraph.tsx
  packages/storybook-react/src/stories/Paragraph.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: upgrade from Node 20 to Node 22
  .nvmrc
  package.json
  packages/component-library-vue/package.json
  packages/storybook-angular/package.json
  packages/storybook-vue/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset for new component-library-design-tokens package
  .changeset/design-token-library.md
Due: markdownlint, prettier --check

refactor: use `readFile` instead of `import ... assert`
  packages/component-library-angular/test-exports.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern
