Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs(release): design system packages
  .changeset/calm-masks-look.md
  .changeset/chatty-readers-destroy.md
  .changeset/dry-dancers-lick.md
  .changeset/dry-olives-clean.md
  .changeset/light-glasses-carry.md
  .changeset/soft-doors-work.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/body/CHANGELOG.md
  components/body/package.json
  components/root/CHANGELOG.md
  components/root/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/components-react/body-react/CHANGELOG.md
  packages/components-react/body-react/package.json
  packages/components-react/root-react/CHANGELOG.md
  packages/components-react/root-react/package.json
  packages/storybook-helpers/CHANGELOG.md
  packages/storybook-helpers/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: regression in Root component font-size
  .changeset/short-students-hear.md
  components/root/src/_mixin.scss
  components/root/src/html/_mixin.scss
  components/root/src/index.scss
  packages/web-component-library-stencil/src/components/root.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

docs: fix changeset
  .changeset/short-students-hear.md
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/short-students-hear.md
  components/root/CHANGELOG.md
  components/root/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/components-react/root-react/CHANGELOG.md
  packages/components-react/root-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore: migrate VegaVisualization to separate package
  packages/component-library-react/package.json
  packages/component-library-react/src/VegaVisualization.tsx
  packages/components-react/vega-visualization-react/package.json
  packages/components-react/vega-visualization-react/src/index.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: add realistic content to accordion (#3089)
  packages/storybook-react/src/stories/prototype-volgorde-content/volgorde.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: add build scaffolding for vega-visualization-react
  packages/components-react/vega-visualization-react/.eslintrc.json
  packages/components-react/vega-visualization-react/CHANGELOG.md
  packages/components-react/vega-visualization-react/README.md
  packages/components-react/vega-visualization-react/babel.config.cjs
  packages/components-react/vega-visualization-react/jest.config.mjs
  packages/components-react/vega-visualization-react/package.json
  packages/components-react/vega-visualization-react/rollup.config.mjs
  packages/components-react/vega-visualization-react/src/css.tsx
  packages/components-react/vega-visualization-react/src/index.test.tsx
  packages/components-react/vega-visualization-react/src/index.tsx
  packages/components-react/vega-visualization-react/src/insert-style.ts
  packages/components-react/vega-visualization-react/tsconfig.build.json
  packages/components-react/vega-visualization-react/tsconfig.json
  packages/components-react/vega-visualization-react/tsconfig.test.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset to release vega-visualization-react as 1.0.0
  .changeset/sharp-rats-double.md
  packages/components-react/vega-visualization-react/CHANGELOG.md
  packages/components-react/vega-visualization-react/package.json
  packages/components-react/vega-visualization-react/src/index.test.tsx
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: verhuizen pagina toegevoegd
  packages/storybook-react/src/stories/prototype-volgorde-content/volgorde.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: opgeruimd
  packages/storybook-react/src/stories/prototype-volgorde-content/volgorde.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: pass with no tests
  packages/components-react/vega-visualization-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: add vega to devDeps and remove unused dep
  packages/components-react/vega-visualization-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/rare-phones-ring.md
Due: markdownlint, prettier --check

chore: upgrade lodash-es to 4.18.1
  packages/components-react/calendar-react/package.json
  packages/icon/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: remove unused imports
  packages/storybook-css/src/OrderedList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: remove unused 'element' prop
  packages/storybook-css/src/OrderedList.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: simplify nesting component names
  packages/storybook-css/src/UnorderedList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: update list item keys to use children
  packages/storybook-css/src/OrderedList.tsx
  packages/storybook-css/src/UnorderedList.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: add explicit dependency to types to ensure the correct versions are pulled in
  documentation/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: fix typo in component name
  packages/web-component-library-stencil/src/components/body.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade @storybook/theming in shared package to match root package.json
  packages/storybook-helpers/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade html-react-parser to 5 (compatibility with React 19)
  packages/storybook-css/package.json
  packages/storybook-html/package.json
  packages/storybook-web-component/package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade vega-related packages to latest
  packages/component-library-react/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: fix import
  packages/storybook-angular/src/stories/button-accessibility.mdx
  packages/storybook-angular/src/stories/button-onderzoek.mdx
  packages/storybook-angular/src/stories/button-ux-guidelines.mdx
  packages/storybook-angular/src/stories/changelog.mdx
  packages/storybook-angular/src/stories/readme.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: refactor jest config to ESM
  packages/component-library-pdf/jest.config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: update VegaVisualization to handle breaking changes of react-vega upgrade
  .changeset/polite-eyes-film.md
  packages/component-library-react/src/VegaVisualization.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore: remove incompatible storybook plugin
  packages/storybook-css/config/main.ts
  packages/storybook-web-component/config/main.ts
  packages/storybook-web-component/package.json
  packages/storybook/config/main.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: clean up broken/unused docs
  packages/storybook-angular/src/stories/link-docs.mdx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: remove unused dependency
  packages/storybook-pdf/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade to gatsby@5.16.1
  packages/component-library-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

test: update test to avoid <body> being rendered inside <div>
  packages/components-react/body-react/src/index.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: avoid rendering html/body tags in stories
  packages/storybook-css/src/Body.stories.tsx
  packages/storybook-css/src/Document.stories.tsx
  packages/storybook-css/src/Root.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade @gemeente-denhaag/process-steps
  packages/storybook-react/package.json
  packages/storybook-react/src/stories/ProcessSteps.stories.tsx
  packages/web-component-library-stencil/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: remove unused components and dependency
  documentation/button-types.stories.mdx
  documentation/components/Markdown.jsx
  documentation/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: skip type-checking of external files
  packages/storybook-angular/tsconfig.json
  packages/storybook-helpers/tsconfig.dist.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,mjs,json,jsx,mdx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
