Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

style: better placeholder link styling, avoid interaction effects
  components/common/focus/readme.stories.mdx
  components/link-button/css/_mixin.scss
  components/link/css/_mixin.scss
  components/link/css/index.scss
  components/link/html/_mixin.scss
  components/link/tokens.json
  components/templates/contact-card-template/css/story-template.jsx
  packages/component-library-angular/src/link/component.ts
  packages/component-library-react/src/BreadcrumbNav.test.tsx
  packages/component-library-react/src/Link.tsx
  packages/component-library-vue/src/Link.vue
  packages/storybook-css/src/Link.stories.tsx
  packages/storybook-css/src/Link.tsx
  packages/storybook-web-component/src/Icon.stories.tsx
  packages/web-component-library-stencil/src/components/breadcrumb.tsx
  packages/web-component-library-stencil/src/components/contact-card-template.tsx
  packages/web-component-library-stencil/src/components/link.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-angular/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/component-library-react/package.json
  packages/component-library-vue/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: alternative breadcrumb navigation markup
  components/breadcrumb/_hreflang.md
  components/breadcrumb/_lang.md
  components/breadcrumb/_rel.md
  components/breadcrumb/_rtl-separator.md
  components/breadcrumb/css/_mixin.scss
  components/breadcrumb/css/index.scss
  components/breadcrumb/tokens.json
  packages/component-library-vue/src/BreadcrumbNav.vue
  packages/storybook-css/src/BreadcrumbNav.tsx
  packages/storybook-css/src/BreadcrumbNavAlternate.stories.tsx
  packages/web-component-library-stencil/src/components/breadcrumb.tsx
  proprietary/design-tokens/src/component/utrecht/breadcrumb.tokens.json
  proprietary/design-tokens/src/component/utrecht/link.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

style: stack focus-visible links above default
  components/link/css/_mixin.scss
  proprietary/design-tokens/src/common/utrecht/stack.tokens.json
Due: prettier --check, stylelint --allow-empty-input

feat(component-react): create alphabet navigation component
  packages/component-library-react/src/AlphabetNavigation.test.tsx
  packages/component-library-react/src/AlphabetNavigation.tsx
  packages/component-library-react/src/css-module/AlphabetNavigation.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/component-library-react/tsconfig.test.tsbuildinfo
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(css-component): create alphabet-navigation component
  components/alphabet-navigation/README.md
  components/alphabet-navigation/css/_mixin.scss
  components/alphabet-navigation/css/index.scss
  components/alphabet-navigation/tokens.json
  components/index.scss
Due: markdownlint, prettier --check, stylelint --allow-empty-input

docs(storybook-css): add alphabet navigation component
  packages/storybook-css/src/AlphabetNavigation.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(storybook-react): add alphabet-navigation stories
  packages/storybook-react/src/stories/AlphabetNavigation.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(design-tokens): add alphabet-navigation tokens
  proprietary/design-tokens/src/component/utrecht/alphabet-navigation.tokens.json
Due: none

refactor: rename `alphabet-navigation` to `alphabet-nav`
  components/alphabet-nav/README.md
  components/alphabet-nav/css/_mixin.scss
  components/alphabet-nav/css/index.scss
  components/alphabet-nav/tokens.json
  components/alphabet-navigation/css/_mixin.scss
  components/alphabet-navigation/css/index.scss
  components/index.scss
  packages/component-library-react/src/AlphabetNav.test.tsx
  packages/component-library-react/src/AlphabetNav.tsx
  packages/component-library-react/src/css-module/AlphabetNav.tsx
  packages/component-library-react/src/css-module/AlphabetNavigation.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/storybook-css/src/AlphabetNav.stories.tsx
  packages/storybook-react/src/stories/AlphabetNav.stories.tsx
  proprietary/design-tokens/src/component/utrecht/alphabet-nav.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: remove hover/focus/active stories from composite component
  packages/storybook-css/src/AlphabetNav.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: remove custom component stories from CSS story
  packages/storybook-css/src/AlphabetNav.stories.tsx
  packages/storybook-react/src/stories/AlphabetNav.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: rename `availability` to `disabled`
  packages/component-library-react/src/AlphabetNav.test.tsx
  packages/component-library-react/src/AlphabetNav.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: rename `alphabet-nav` to `index-char-nav`
  components/alphabet-nav/README.md
  components/alphabet-nav/css/_mixin.scss
  components/alphabet-nav/css/index.scss
  components/index-char-nav/README.md
  components/index-char-nav/css/_mixin.scss
  components/index-char-nav/css/index.scss
  components/index-char-nav/tokens.json
  components/index.scss
  packages/component-library-react/src/IndexCharNav.test.tsx
  packages/component-library-react/src/IndexCharNav.tsx
  packages/component-library-react/src/css-module/AlphabetNav.tsx
  packages/component-library-react/src/css-module/IndexCharNav.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/storybook-css/src/IndexCharNav.stories.tsx
  packages/storybook-react/src/stories/IndexCharNav.stories.tsx
  proprietary/design-tokens/src/component/utrecht/index-char-nav.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: link naar neutrale bron
  documentation/toegankelijkheid.md
Due: markdownlint, prettier --check

refactor: align index navigation API with web platform
  components/index-char-nav/css/_mixin.scss
  components/index-char-nav/css/index.scss
  components/index-char-nav/tokens.json
  packages/component-library-react/src/IndexCharNav.test.tsx
  packages/component-library-react/src/IndexCharNav.tsx
  packages/storybook-css/src/IndexCharNav.stories.tsx
  packages/storybook-react/src/stories/IndexCharNav.stories.tsx
  proprietary/design-tokens/src/component/utrecht/index-char-nav.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: rename `logo` to `logo-image`, introduce new `logo` component
  components/logo-image/README.md
  components/logo-image/css/index.scss
  components/logo-image/tokens.json
  components/logo/css/_mixin.scss
  components/logo/css/index.scss
  components/logo/tokens.json
  packages/component-library-react/src/Logo.tsx
  packages/component-library-react/src/LogoImage.tsx
  packages/component-library-react/src/css-module/Logo.tsx
  packages/component-library-react/src/css-module/LogoImage.tsx
  packages/component-library-react/src/css-module/index.ts
  packages/component-library-react/src/index.ts
  packages/storybook-css/src/Logo.tsx
  packages/storybook-react/src/stories/Logo.stories.tsx
  packages/storybook-react/src/stories/LogoImage.stories.tsx
  packages/storybook-web-component/src/LogoImage.stories.tsx
  packages/web-component-library-stencil/src/components.d.ts
  packages/web-component-library-stencil/src/components/logo-image.scss
  packages/web-component-library-stencil/src/components/logo-image.tsx
  packages/web-component-library-stencil/src/components/logo.scss
  packages/web-component-library-stencil/src/components/logo.tsx
  packages/web-component-library-stencil/src/index.html
  proprietary/design-tokens/src/component/utrecht/logo.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

style: add fallback values for `cursor` styles
  components/button/css/_mixin.scss
  components/custom-checkbox/css/_mixin.scss
  components/form-toggle/css/_mixin.scss
  components/radio-button/css/_mixin.scss
  components/select/css/_mixin.scss
  components/textarea/css/_mixin.scss
  components/textbox/css/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input
