Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Update toptask card
  components/toptask-card/bem.scss
  components/toptask-card/bem.stories.mdx
  components/toptask-card/stencil.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Add toptask vars
  components/toptask-card/bem.js
  components/toptask-card/bem.scss
  components/toptask-card/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

update
  components/toptask-card/bem.js
  components/toptask-card/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

make toptask icon configurable in Storybook
  components/toptask-card/bem.js
  components/toptask-card/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: fix mapcontrolbutton description
  components/mapcontrolbutton/bem.stories.mdx
Due: none

remove disabled toptask variant
  components/toptask-card/bem.js
  components/toptask-card/bem.scss
  components/toptask-card/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

⚡️ work in progress
  components/accordion/bem.scss
Due: prettier --check, stylelint --allow-empty-input

Work in progress
  components/accordion/bem.scss
  proprietary/design-tokens/src/component/utrecht/accordion/accordion.tokens.json
Due: prettier --check, stylelint --allow-empty-input

refactor design tokens for top task card
  components/toptask-card/README.md
  components/toptask-card/bem.js
  components/toptask-card/bem.scss
  components/toptask-card/bem.stories.mdx
  components/toptask-card/readme.stories.mdx
  components/toptask-card/stencil.scss
  components/toptask-card/stencil.stories.mdx
  components/toptask-card/stencil.tsx
  components/toptask-card/tokens.json
  components/toptask-nav/bem.js
  components/toptask-nav/bem.scss
  components/toptask-nav/bem.stories.mdx
  proprietary/design-tokens/src/component/utrecht/toptask-card.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

push it real good
  components/icon/arrow-down.stencil.tsx
  components/icon/arrow-down.svg
  components/icon/arrow-left.svg
  components/icon/arrow-right.svg
  components/icon/arrow-up.stencil.tsx
  components/icon/arrow-up.svg
  components/icon/icon-set.json
  components/icon/stencil.stories.mdx
  proprietary/design-tokens/src/component/utrecht/accordion/accordion.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: patch Stencil to copy nonce for <style> elements
  .patches/@stencil+core+2.9.0.patch
  package-lock.json
  package.json
  packages/web-component-library-stencil/README.md
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs(release): design system packages
  components/icon/package.json
  components/package.json
  packages/component-library-css/package.json
  packages/component-library-formio/package.json
  packages/web-component-library-angular/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Icons en start Toptask Card
  components/toptask-link/README.md
  components/toptask-link/bem.js
  components/toptask-link/bem.scss
  components/toptask-link/bem.stories.mdx
  components/toptask-link/readme.stories.mdx
  components/toptask-link/tokens.json
  components/toptask-nav/README.md
  components/toptask-nav/bem.js
  components/toptask-nav/bem.scss
  components/toptask-nav/bem.stories.mdx
  components/toptask-nav/readme.stories.mdx
  components/toptask-nav/tokens.json
  proprietary/design-tokens/src/component/utrecht/toptask-link.tokens.json
  proprietary/design-tokens/src/component/utrecht/toptask-nav.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: fix Map Control Button description
  components/mapcontrolbutton/bem.stories.mdx
Due: none

build: install patch updates
  package-lock.json
  package.json
  packages/component-library-formio/package.json
  packages/web-component-library-react/package.json
  packages/web-component-library-stencil/package.json
  packages/web-component-library-vue/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: install minor updates
  components/icon/package.json
  components/package.json
  package-lock.json
  package.json
  packages/storybook/package.json
  packages/web-component-library-stencil/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: install major updates
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: backdrop component
  components/backdrop/README.md
  components/backdrop/bem.js
  components/backdrop/bem.scss
  components/backdrop/bem.stories.mdx
  components/backdrop/checkerboard.js
  components/backdrop/readme.stories.mdx
  components/backdrop/stencil.scss
  components/backdrop/stencil.stories.mdx
  components/backdrop/stencil.tsx
  components/backdrop/tokens.json
  packages/web-component-library-angular/src/index.module.ts
  proprietary/design-tokens/src/component/utrecht/backdrop.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: dialog component
  components/dialog/README.md
  components/dialog/bem.js
  components/dialog/bem.scss
  components/dialog/bem.stories.mdx
  components/dialog/readme.stories.mdx
  components/dialog/stencil.scss
  components/dialog/stencil.stories.mdx
  components/dialog/stencil.tsx
  components/dialog/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: modal component
  components/modal/README.md
  components/modal/bem.js
  components/modal/bem.scss
  components/modal/bem.stories.mdx
  components/modal/readme.stories.mdx
  components/modal/stencil.scss
  components/modal/stencil.stories.mdx
  components/modal/stencil.tsx
  components/modal/tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fixup! feat: dialog component
  packages/web-component-library-angular/src/index.module.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fixup! feat: modal component
  packages/web-component-library-angular/src/index.module.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: backdrop improvements
  components/backdrop/README.md
  components/backdrop/stencil.stories.mdx
Due: markdownlint, prettier --check

feat: provide compiled CSS files for component BEM class names
  components/package.json
  package-lock.json
Due: npmPkgJsonLint --allowEmptyTargets

Sizing update
  components/common/space/tokens.json
  proprietary/design-tokens/src/brand/utrecht/typography.tokens.json
  proprietary/design-tokens/src/common/utrecht/space.tokens.json
Due: none

⚡️ Documentatie toegevoegd voor het consistent gebruiken van links
  components/link/docs/ux-guidelines.md
Due: markdownlint, prettier --check

refactor: change space.inline design tokens
  proprietary/design-tokens/src/component/utrecht/search-bar.tokens.json
Due: none

⚡️ Documentatie toegevoegd voor het consistent gebruiken van links (#523)
  components/link/docs/ux-guidelines.md
Due: markdownlint, prettier --check

Path conditions:
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
