Repository nl-design-system/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,mjs,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

docs(release): design system packages
  .changeset/eighty-oranges-think.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/action-group/CHANGELOG.md
  components/action-group/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/component-library-design-tokens/CHANGELOG.md
  packages/component-library-design-tokens/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  packages/components-react/action-group-react/CHANGELOG.md
  packages/components-react/action-group-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages (#2888)
  .changeset/eighty-oranges-think.md
  apps/preact/CHANGELOG.md
  apps/preact/package.json
  components/action-group/CHANGELOG.md
  components/action-group/package.json
  packages/component-library-css/CHANGELOG.md
  packages/component-library-css/package.json
  packages/component-library-design-tokens/CHANGELOG.md
  packages/component-library-design-tokens/package.json
  packages/component-library-react/CHANGELOG.md
  packages/component-library-react/package.json
  packages/components-react/action-group-react/CHANGELOG.md
  packages/components-react/action-group-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore(storybook-html): upgrade storybook to v9
  packages/storybook-html/config/main.ts
  packages/storybook-html/config/manager.ts
  packages/storybook-html/config/preview.tsx
  packages/storybook-html/package.json
  packages/storybook-html/src/Article.stories.tsx
  packages/storybook-html/src/Blockquote.stories.tsx
  packages/storybook-html/src/Button.stories.tsx
  packages/storybook-html/src/Checkbox.stories.tsx
  packages/storybook-html/src/Code.stories.tsx
  packages/storybook-html/src/CodeBlock.stories.tsx
  packages/storybook-html/src/Document.stories.tsx
  packages/storybook-html/src/Emphasis.stories.tsx
  packages/storybook-html/src/Favicon.stories.tsx
  packages/storybook-html/src/FormFieldset.stories.tsx
  packages/storybook-html/src/FormLabel.stories.tsx
  packages/storybook-html/src/Heading1.stories.tsx
  packages/storybook-html/src/Heading2.stories.tsx
  packages/storybook-html/src/Heading3.stories.tsx
  packages/storybook-html/src/Heading4.stories.tsx
  packages/storybook-html/src/Heading5.stories.tsx
  packages/storybook-html/src/Heading6.stories.tsx
  packages/storybook-html/src/Link.stories.tsx
  packages/storybook-html/src/Mark.stories.tsx
  packages/storybook-html/src/OrderedList.stories.tsx
  packages/storybook-html/src/Paragraph.stories.tsx
  packages/storybook-html/src/RadioButton.stories.tsx
  packages/storybook-html/src/Select.stories.tsx
  packages/storybook-html/src/Separator.stories.tsx
  packages/storybook-html/src/Strong.stories.tsx
  packages/storybook-html/src/Table.stories.tsx
  packages/storybook-html/src/Textarea.stories.tsx
  packages/storybook-html/src/Textbox.stories.tsx
  packages/storybook-html/src/UnorderedList.stories.tsx
  packages/storybook-html/src/design-token-story.tsx
  packages/storybook-html/src/html-component.mdx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: prototype contactformulier
  packages/storybook-react/src/stories/prototype-contactformulier/FormPage1.stories.tsx
  packages/storybook-react/src/stories/prototype-contactformulier/FormPage2.stories.tsx
  packages/storybook-react/src/stories/prototype-contactformulier/FormPage3.stories.tsx
  packages/storybook-react/src/stories/prototype-contactformulier/FormPage4.stories.tsx
  packages/storybook-react/src/stories/prototype-contactformulier/introductie.stories.tsx
  packages/storybook-react/src/stories/prototype-contactformulier/scenario.stories.tsx
  packages/storybook-react/src/stories/prototype-src/contactformulier/IntroductieContactFormulier.tsx
  packages/storybook-react/src/stories/prototype-src/index.css
  packages/storybook-react/src/stories/prototype-src/variables.tsx
  packages/storybook-react/src/stories/prototype-src/webpaginablokken/HulpEnContact.tsx
  packages/storybook-react/src/stories/prototype-src/webpaginablokken/HulpEnContact2.tsx
  packages/storybook-react/src/stories/prototype-src/webpaginablokken/KTO.tsx
  packages/storybook-react/static/prototype-contactformulier__amsterdamsestraatweg-headerimage.jpg
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: name of blockquote margin tokens
  components/blockquote/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

added colors for BBS
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

colors update #2
  proprietary/design-tokens/figma/figma.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add astro package
  packages/astro/.gitignore
  packages/astro/README.md
  packages/astro/astro.config.mjs
  packages/astro/package.json
  packages/astro/public/favicon.svg
  packages/astro/src/assets/astro.svg
  packages/astro/src/assets/background.svg
  packages/astro/src/components/Welcome.astro
  packages/astro/src/layouts/Layout.astro
  packages/astro/src/pages/index.astro
  packages/astro/tsconfig.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

build: add astro command to workspace root
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: typescript and astro build
  packages/astro/astro.config.mjs
  packages/astro/astro.config.ts
  packages/astro/package.json
  packages/astro/plugins/rehype-nlds-components/_add-class-name.ts
  packages/astro/plugins/rehype-nlds-components/blockquote.ts
  packages/astro/plugins/rehype-nlds-components/code.ts
  packages/astro/plugins/rehype-nlds-components/emphasis.ts
  packages/astro/plugins/rehype-nlds-components/heading.ts
  packages/astro/plugins/rehype-nlds-components/hr.ts
  packages/astro/plugins/rehype-nlds-components/image.ts
  packages/astro/plugins/rehype-nlds-components/index.ts
  packages/astro/plugins/rehype-nlds-components/link.ts
  packages/astro/plugins/rehype-nlds-components/ordered-list.ts
  packages/astro/plugins/rehype-nlds-components/paragraph.ts
  packages/astro/plugins/rehype-nlds-components/pre.ts
  packages/astro/plugins/rehype-nlds-components/strong.ts
  packages/astro/plugins/rehype-nlds-components/unordered-list.ts
  packages/astro/tsconfig.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: set up utrecht styling and components
  packages/astro/astro.config.ts
  packages/astro/package.json
  packages/astro/src/assets/astro.svg
  packages/astro/src/assets/background.svg
  packages/astro/src/assets/styles.css
  packages/astro/src/components/Welcome.astro
  packages/astro/src/layouts/Layout.astro
  packages/astro/src/pages/index.astro
  packages/astro/tsconfig.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: custom page loket
  packages/astro/src/content.config.ts
  packages/astro/src/pages/index.astro
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: page layout
  packages/astro/public/logo-md.svg
  packages/astro/src/pages/index.astro
  pnpm-lock.yaml
Due: none

feat: render markdown documentation
  packages/astro/src/content.config.ts
  packages/astro/src/layouts/Layout.astro
  packages/astro/src/pages/index.astro
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: add astro to design-sytem-website build
  packages/astro/src/pages/index.astro
  packages/design-system-website/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: build issue
  packages/astro/package.json
  packages/design-system-website/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: configure base url
  packages/astro/astro.config.ts
  packages/astro/src/layouts/Layout.astro
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: contactgegevens icon size
  packages/storybook-react/src/stories/prototype-src/index.css
Due: prettier --check, stylelint --allow-empty-input

docs: add astro information to design-system-website/readme.md
  packages/design-system-website/README.md
Due: markdownlint, prettier --check

docs: add build step to readme
  README.md
Due: markdownlint, prettier --check

docs: fix list indent
  README.md
Due: markdownlint, prettier --check

docs: fix list indent again
  README.md
Due: markdownlint, prettier --check

docs: rephrase npm run build only needed for storybook
  README.md
Due: markdownlint, prettier --check

docs: add build step to readme (#2898)
  README.md
Due: markdownlint, prettier --check

fix: design-system-website build
  packages/astro/astro.config.ts
  packages/astro/src/layouts/Layout.astro
  packages/design-system-website/README.md
  packages/design-system-website/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern
